Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

please the react key
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

Johanna/5859 remove search button in search bar (#5947)
  frontend/src/app/commonComponents/FormGroup.tsx
  frontend/src/app/testQueue/AoEForm/AoEForm.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-add-to-queue.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-patient-search.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

add johanna's changes for adding act around actions
  frontend/src/patientApp/timeOfTest/DOB.test.tsx
Due: prettier, eslint

add supported disease name to device lookup aria label
  frontend/src/app/uploads/DeviceLookup/DeviceDetails.tsx
Due: prettier, eslint

use react hook validation on DateInput
  frontend/src/app/commonComponents/DateInput.tsx
Due: prettier, eslint

update tests to add focus checks
  frontend/src/patientApp/timeOfTest/DOB.test.tsx
Due: prettier, eslint

add react hook form to dob
  frontend/src/patientApp/timeOfTest/DOB.tsx
Due: prettier, eslint

remove links to LIVD table in the results uploader docs
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

update lookup tool no device found message
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

update error message style
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

use translation keys for errors instead of the error string
  frontend/src/app/commonComponents/DateInput.tsx
  frontend/src/patientApp/timeOfTest/DOB.tsx
Due: prettier, eslint

add supported disease name to device lookup aria label (#5967)
  frontend/src/app/uploads/DeviceLookup/DeviceDetails.tsx
Due: prettier, eslint

remove empty brackets
  frontend/src/app/commonComponents/DateInput.tsx
Due: prettier, eslint

update postgresql parameters for db investigations
  backend/db-setup/reset-db.sql
  ops/services/postgres_db/investigation.tf
  ops/services/postgres_db/main.tf
Due: none

use both search and q results to find a user
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Minor cleanup
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/ResultUploadErrorType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless

use both search and q results in update user privileges
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

highlight headers in errors and guidance for better readability (#5948)
  frontend/src/app/testResults/uploads/Uploads.scss
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint, stylelint

Update lockfile with dependabot changes.
  backend/gradle.lockfile
Due: none

Increase timeout for RS key generation.
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
Due: none

Update lockfile with dependabot changes for azure queue.
  backend/gradle.lockfile
Due: none

Johanna/small clean up frontend tests part2 (#5954)
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/accountCreation/MfaEmailVerify/MfaEmailVerify.test.tsx
  frontend/src/app/accountCreation/MfaGoogleAuthVerify/MfaGoogleAuthVerify.test.tsx
  frontend/src/app/accountCreation/MfaOktaVerify/MfaOktaVerify.test.tsx
  frontend/src/app/accountCreation/MfaPhoneVerify/MfaPhoneVerify.test.tsx
  frontend/src/app/accountCreation/MfaSmsVerify/MfaSmsVerify.test.tsx
  frontend/src/app/accountCreation/SecurityQuestion/SecurityQuestion.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.test.tsx
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.test.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizationsContainer.test.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/TestTimer.test.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
  frontend/src/patientApp/timeOfTest/DOB.test.tsx
Due: prettier, eslint

update aria label for patient launch button
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
Due: prettier, eslint

update snapshots
  frontend/src/app/testResults/__snapshots__/TestResultDetailsModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: none

Update guidance for Bulk uploader and device lookup tool (#5969)
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schemaBuilder.ts
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

Handle focus on adding new email or phone number
  frontend/src/app/commonComponents/Input.tsx
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
Due: prettier, eslint

fix bug adding new user (#5974)
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Updated test cases
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.test.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
Due: prettier, eslint

Fixed i18n warning in CovidResultGuidance test
  frontend/src/app/commonComponents/CovidResultGuidance.test.tsx
  frontend/src/app/commonComponents/__snapshots__/CovidResultGuidance.test.tsx.snap
Due: prettier, eslint

Added null check
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
Due: prettier, eslint

update user input object to add accessAllFacilities and facilities
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UserInput.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

add user input object to addUserToCurrentOrg
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
Due: spotless

update create user with additional fields
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationQueueService.java
Due: spotless

Fixed focus behavior
  frontend/src/app/commonComponents/Input.tsx
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.test.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
Due: prettier, eslint

Updated snapshot
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
Due: none

update roles and facilities for creating and reprovisioning users
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Add test date to Observation.issued for single-entry and bulk upload
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConvertToObservationProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
Due: spotless

Handle input dates with no time (oops)
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

clean up todo
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Fixed i18n warning in CovidResultGuidance test (#5978)
  frontend/src/app/commonComponents/CovidResultGuidance.test.tsx
  frontend/src/app/commonComponents/__snapshots__/CovidResultGuidance.test.tsx.snap
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
