Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

fix code smell
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
Due: spotless

Tweak wide container max-width for test results
  frontend/src/app/testResults/ResultsNavWrapper.tsx
  frontend/src/app/testResults/TestResultsList.scss
Due: prettier, eslint, stylelint

rename to flu to fhir
  ops/dev/main.tf
  ops/dev2/main.tf
  ops/dev3/main.tf
  ops/dev4/main.tf
  ops/dev5/main.tf
  ops/dev6/main.tf
  ops/dev7/main.tf
  ops/prod/main.tf
  ops/test/main.tf
Due: none

Add proper date validation to CSV Validator (#4690)
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/invalidValues.csv
  backend/src/test/resources/patientBulkUpload/valid.csv
Due: spotless

Set max-width of grid-container class to 1200px (75rem) globally (for real this time)
  frontend/src/scss/PrimeStyles.scss
Due: stylelint

Fixed a11y errors in spec 01
  cypress/integration/01-organization_sign_up_spec.js
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/supportAdmin/Components/OrganizationComboDropdown.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessForm.tsx
Due: prettier, eslint

Placed back fontAwesome
  frontend/src/styles/fontAwesome.js
Due: prettier, eslint

Output Dir renamed to build. Removed unnecessary prop origin.
  frontend/.gitignore
  frontend/vite.config.ts
Due: prettier, eslint

update async service with latest changes
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

refactor into TestResultRow
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
Due: spotless

add indices to rows for test result
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultFileValidatorTest.java
Due: spotless

Rework uploader links and nav
  frontend/src/app/App.tsx
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/LinkWithQuery.tsx
  frontend/src/app/testResults/ResultsNav.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/app/uploads/UploadResultsApp.tsx
  frontend/src/app/uploads/UploaderHeader.tsx
Due: prettier, eslint

react router version set as static due to breaking changes in usePrompt
  frontend/package.json
  frontend/yarn.lock
Due: none

Added babel dependencies
  frontend/babel.config.cjs
  frontend/package.json
  frontend/yarn.lock
Due: none

Update code lookup URL and references
  frontend/src/app/App.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/schema.json
Due: prettier, eslint

testing wip
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
Due: spotless

Add back link & remove unused prop
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.tsx
Due: prettier, eslint

Create generic file validator
  backend/src/main/java/gov/cdc/usds/simplereport/config/FileValidatorConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultRow.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultFileValidatorTest.java
Due: spotless

change file row to interface
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultRow.java
Due: spotless

add test for patient upload row.
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
Due: spotless

rename patientRow to rowMap
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
Due: spotless

move test results csv into own folder
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/resources/test-results-upload-invalid-format1.csv
  backend/src/test/resources/test-results-upload-invalid-format2.csv
  backend/src/test/resources/testResultUpload/test-results-upload-invalid-format1.csv
  backend/src/test/resources/testResultUpload/test-results-upload-invalid-format2.csv
  backend/src/test/resources/testResultUpload/test-results-upload-invalid-values.csv
  backend/src/test/resources/testResultUpload/test-results-upload-valid.csv
Due: spotless

Add test for test result row
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultRow.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

react app env variables changed with the vite prefix.
  .env.cypress.sample
  .github/actions/build-frontend/action.yml
  .github/workflows/e2eLocal.yml
  docker-compose.ci.yml
  docker-compose.cypress.yml
  docker-compose.yml
  frontend/.env.production
  frontend/babel.config.cjs
  frontend/jest.config.json
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
  frontend/src/app/VersionService.tsx
  frontend/src/app/commonComponents/ErrorPage.tsx
  frontend/src/app/commonComponents/Page/Page.tsx
  frontend/src/app/signUp/IdentityVerification/Success.tsx
  frontend/src/app/utils/url.ts
  frontend/src/index.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package.json
Due: prettier, eslint

yarn start migrated to yarn dev
  frontend/ci-git-fix.sh
Due: none

add linting and use yarn in our app functions (#4729)
  .github/actions/build-reportstream-functions/action.yml
  .github/workflows/test.yml
  ops/README.md
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/jest.config.js
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

rename file validator
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
Due: spotless

rename file validator
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

remove comments
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
Due: spotless

Removed a11y rule exceptions from spec 03
  cypress/integration/03-conduct_test_spec.js
Due: none

replace supplier with function and new constructor
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultRow.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

fixed postbuild command in package.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

Fixed heading 1 styling to look like h2. Added aria hidden prop to empty table heading.
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
Due: prettier, eslint

Change heading class to be consistent with what is used in other parts of the app.
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
Due: prettier, eslint

Sets current_commit env var in dev command
  frontend/package.json
Due: none

Fixes unused variables and turns on rule in eslint.
  frontend/.eslintrc.cjs
  frontend/src/app/uploads/DeviceLookup/DeviceDetails.tsx
  frontend/src/patientApp/timeOfTest/DOB.tsx
Due: prettier, eslint

Updated ngix config to point to index.html new location
  docker-compose.yml
Due: none

updated msw worker dirrectory
  frontend/package.json
  frontend/yarn.lock
Due: none

use value iterator to get current row
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/invalidValuesMultipleRows.csv
  backend/src/test/resources/patientBulkUpload/malformed.csv
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
