Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Add health checks to db_client container.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Apply results of terraform fmt.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

install curl in the cypress image
  cypress/Dockerfile
  docker-compose.cypress.yml
Due: none

Ports are no longer required.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Revert "Ports are no longer required."
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Add probe delays.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Increase probe delays to eliminate initial failures.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Pre-create health check file.
  ops/services/container_instances/db_client/image/Dockerfile
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Attempt alternate readiness probe.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

upgrade cypress chrome version (#6289)
  cypress/Dockerfile
  docker-compose.cypress.yml
Due: none

Added support link
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.tsx
  frontend/src/app/supportAdmin/ManageFacility/operations.graphql
  frontend/src/app/supportAdmin/SupportHomeLink.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Fixed error import
  frontend/src/app/supportAdmin/SupportHomeLink.tsx
Due: prettier, eslint

Fixed spacing for mobile view
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.tsx
  frontend/src/app/supportAdmin/SupportHomeLink.tsx
Due: prettier, eslint

Fixed import
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  frontend/src/app/signUp/Organization/__snapshots__/UnsupportedStateModal.test.tsx.snap
  frontend/src/app/supportAdmin/SupportHomeLink.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: spotless, prettier, eslint

use test order to get device & specimen information for test updates (#6268)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

add flu guidance to bulk uploader
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

remove references to deprecated result from entity and graphql (#6286)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Add storybook components for ManageDevices dropdown
  frontend/src/app/Settings/Facility/Components/ManageDevices.stories.tsx
  frontend/src/app/Settings/types.d.ts
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
  frontend/src/app/utils/device.ts
Due: prettier, eslint

Put storybook components under `App` heading
  frontend/src/app/Settings/Facility/Components/ManageDevices.stories.tsx
Due: prettier, eslint

update text
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

Manually purge client containers to prevent TF hiccups.
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployDev2.yml
  .github/workflows/deployDev3.yml
  .github/workflows/deployDev4.yml
  .github/workflows/deployDev5.yml
  .github/workflows/deployDev6.yml
  .github/workflows/deployDev7.yml
  .github/workflows/deployPentest.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
Due: none

Correct alternate probe.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Add liveness period. Restore alternate probe to original.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Updated content and fixed backend test
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolverTest.java
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.tsx
  frontend/src/app/supportAdmin/SupportHomeLink.tsx
Due: spotless, prettier, eslint

Added unit testing for FacilityInformation
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.tsx
  frontend/src/app/supportAdmin/ManageFacility/__snapshots__/FacilityInformation.test.tsx.snap
Due: prettier, eslint

Even out vertical spacing around `Add` button; add open-menu storybook component
  frontend/src/app/Settings/Facility/Components/ManageDevices.scss
  frontend/src/app/Settings/Facility/Components/ManageDevices.stories.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint, stylelint

Add health checks to db_client container. (#6290)
  ops/services/container_instances/db_client/image/Dockerfile
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Remove forced-scrollbar hack for consistent table spacing; `scrollbar-gutter` to the rescue
  frontend/src/app/Settings/Facility/Components/ManageDevices.scss
Due: stylelint

Added unit testing for FacilitySelectFilter
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.test.tsx
Due: prettier, eslint

Clean up code smell (unnecessary type assertion)
  frontend/src/app/utils/device.ts
Due: prettier, eslint

move showDeleteUserModal to userDetail
  frontend/src/app/Settings/Users/DeleteUserModal.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

move showReactivateUserModal to UserDetail.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/ReactivateUserModal.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

move showResetUserMfaModal to UserDetail.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/ResetUserMfaModal.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

move showEditUserNameModal to UserDetail.tsx
  frontend/src/app/Settings/Users/EditUserNameModal.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

move showEditeEmailModal to UserDetail.tsx
  frontend/src/app/Settings/Users/EditUserEmailModal.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

move ResetUserPasswordModal to UserDetail.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/ResetUserPasswordModal.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

move showResendActivationEmail to UserDetail.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/ResendActivationEmailModal.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

move show inProgressModal to ManageUsers
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

fix codesmells
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
