Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Make patient name an h2 on test card, adjust results radio header down to h3 (#4410)
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/CovidResultInputForm.tsx
Due: prettier, eslint

update test result bulk upload guide (#4406)
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.scss
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.test.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schema.json
Due: prettier, eslint, stylelint

indent only the example text (#4448)
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schema.json
Due: none

update create issue job, add a close issue job (#4444)
  .github/workflows/dependabotClosePRIssue.yml
Due: none

update backend tests
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/UploadServiceTest.java
  backend/src/test/resources/test-upload-invalid-ethnicity.csv
  backend/src/test/resources/test-upload-invalid-phone-type.csv
  backend/src/test/resources/test-upload-invalid-phone.csv
  backend/src/test/resources/test-upload-invalid-race.csv
  backend/src/test/resources/test-upload-invalid-zipcode.csv
  backend/src/test/resources/test-upload-no-country.csv
  backend/src/test/resources/test-upload-no-ethnicity.csv
  backend/src/test/resources/test-upload-no-phone-type.csv
  backend/src/test/resources/test-upload-no-race.csv
  backend/src/test/resources/test-upload-one-invalid-row.csv
  backend/src/test/resources/test-upload-valid-no-header.csv
  backend/src/test/resources/test-upload.csv
Due: spotless

update facilityId name to be clearer
  frontend/src/fileUploadService/FileUploadService.ts
Due: prettier, eslint

consolidate main into page (#4399)
  frontend/src/app/Settings/Settings.tsx
  frontend/src/app/analytics/Analytics.tsx
  frontend/src/app/commonComponents/Page/Page.tsx
  frontend/src/app/commonComponents/PageNotFound.tsx
  frontend/src/app/patients/AddPatient.tsx
  frontend/src/app/patients/EditPatient.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/signUp/SignUpApp.tsx
  frontend/src/app/supportAdmin/AddOrganizationAdmin/AddOrganizationAdminForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessForm.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/ResultsNavWrapper.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
  frontend/src/patientApp/PatientApp.tsx
  frontend/src/patientApp/selfRegistration/SelfRegistration.tsx
  frontend/src/patientApp/timeOfTest/DOB.tsx
  frontend/src/patientApp/timeOfTest/TermsOfService.tsx
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

make testing_lab_phone_number required in results uploader docs
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schema.json
Due: none

Remove unnecessary `classnames` usages
  frontend/src/app/Settings/Facility/Components/FacilityInformation.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/Settings/Facility/Components/OrderingProvider.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup2.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

updating snapshot
  frontend/src/app/uploads/DeviceLookup/__snapshots__/DeviceLookupContainer.test.tsx.snap
Due: none

Remove accidentally-committed files
  frontend/src/app/uploads/DeviceLookup/DeviceLookup2.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

device lookup page
  frontend/src/app/App.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.scss
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.tsx
  frontend/src/app/uploads/DeviceLookup/__snapshots__/DeviceLookupContainer.test.tsx.snap
Due: prettier, eslint, stylelint

enable dependabot for backend (#4445)
  .github/dependabot.yml
Due: none

make testing_lab_phone_number required in results uploader docs (#4470)
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schema.json
Due: none

Restrict access to function app.
  ops/dev3/api.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

update tests and run spotless
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/UploadServiceTest.java
  frontend/src/fileUploadService/FileUploadService.test.ts
Due: spotless, prettier, eslint

remove graphQLIllegalArgumentException catch
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
Due: spotless

clean up some of the facility id logic on UploadServiceTest
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/UploadServiceTest.java
Due: spotless

run prettier for the nth time
  frontend/src/app/patients/PatientUpload.test.tsx
  frontend/src/fileUploadService/FileUploadService.ts
Due: prettier, eslint

Track template download
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

Track upload success/failures
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

Improve telemtry warning message
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Get org and user for upload success/failure events
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

correctly show uploading status for big files
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

pr feedback
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.test.tsx
Due: prettier, eslint

update gradle lock
  backend/gradle.lockfile
Due: none

fix imports
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

correctly show uploading status for big files (#4486)
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

switch bulk results uploader to async
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
Due: spotless

fix tests
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

fix small oops
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

fix org field key
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

add card to DOB input
  frontend/src/patientApp/timeOfTest/DOB.tsx
Due: prettier, eslint

update snapshots to reflect to aria property on select
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: none

Test out teams / round robin review for backend dependabot PRs
  .github/dependabot.yml
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
