Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/

Update test correction status
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Fix multiplex inference logic
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Update specimen comment
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Set patient internal and external id
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Fix sonar issues
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Populate XAD-8 for county
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Populate tribal citizenship as text
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Populate callback phone number with provider info
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Add HL7 queue reporting service
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/TestEventSerializationFailureException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/AzureStorageQueueReportingProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReportToAIMSEventListener.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingServiceTest.java
Due: spotless

Add feature flag for AIMS reporting
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Support sending to both RS and AIMS
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Enable HL7 queue on lower dev environments
  backend/src/main/resources/application-azure-dev.yaml
  backend/src/main/resources/application-azure-dev2.yaml
  backend/src/main/resources/application-azure-dev3.yaml
  backend/src/main/resources/application-azure-dev4.yaml
  backend/src/main/resources/application-azure-dev5.yaml
  backend/src/main/resources/application-azure-dev6.yaml
Due: none

Enable AIMS reporting for non-prod
  backend/src/main/resources/application.yaml
Due: none

conditional toast copy
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/constants.ts
Due: prettier, eslint

Add flag for data retention
  frontend/src/app/analytics/Analytics.test.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

Add warning if input date is out of retention range
  frontend/src/app/analytics/Analytics.test.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

Change flag name
  frontend/src/app/analytics/Analytics.test.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

fix checkboxes
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/testResults/viewResults/DownloadResultsCsvButton.tsx
  frontend/src/scss/base/_prime-styles.scss
  frontend/src/scss/settings/_uswds-theme.scss
Due: prettier, eslint, stylelint

fix issue with lowercase npe
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Convert single entry TestEvents to HL7 messages (#9080)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/ProviderReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application-okta-local.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

initial
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataRetentionService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DataRetentionServiceTest.java
Due: spotless

added controller to manually trigger chron for testing purposes
  backend/src/main/java/gov/cdc/usds/simplereport/api/DataRetentionController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataRetentionService.java
  backend/src/main/resources/application-azure-dev4.yaml
  backend/src/main/resources/application.yaml
Due: spotless

linting fixes
  backend/src/main/java/gov/cdc/usds/simplereport/api/DataRetentionController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataRetentionService.java
Due: spotless

linting fixes 2
  backend/src/main/java/gov/cdc/usds/simplereport/api/DataRetentionController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataRetentionService.java
Due: spotless

edited the url
  backend/src/main/java/gov/cdc/usds/simplereport/api/DataRetentionController.java
Due: spotless

Fix test after rebase
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

rename metadata to reportedDiseases
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/HL7BatchMessage.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7Test.java
Due: spotless

use right processing mode code
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
Due: spotless

always send to RS
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

Add service test
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingServiceTest.java
Due: spotless

import constants from other files
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

use patientExternalId
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
Due: spotless

refactor form section with condition/lab filtering into its own component
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabResultsFormSection.tsx
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailFormSubsection.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
Due: prettier, eslint

turn test order select into combo box
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/LabResultsFormSection.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
Due: prettier, eslint

remove condition select fix tests
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/LoincController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/LabRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/universalreporting/LoincServiceTest.java
  frontend/src/app/universalReporting/LabReportForm.scss
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/LabResultsFormSection.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint, stylelint

retain lab section choices when navigating back to lab section
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/LabResultsFormSection.tsx
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
Due: prettier, eslint
