Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

update graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

add new fields to deviceType & graphql
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/FacilityRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

added more test coverage
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

use test performed code for observation code
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
Due: spotless

remove provenance.target
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Add test performed loinc to device creation (#5189)
  cypress/integration/09-multiplex_testing_spec.js
  frontend/src/app/commonComponents/Select.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: prettier, eslint

added new column to report_stream_response table (#5219)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

update jobs to used as workflow calls
  .github/workflows/buildCypressImage.yml
  .github/workflows/buildDatabaseImage.yml
  .github/workflows/checkForChanges.yml
  .github/workflows/e2eLocal.yml
  .github/workflows/getDockerBranchTag.yml
  .github/workflows/testDBChangelog.yml
  docker-compose.yml
Due: none

Integrated call to report stream
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
Due: none

Fixed unit test
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
Due: none

Added references to fetch from node-fetch library
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
Due: none

Fixed warning
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
Due: none

default observation code to device loinc
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

pull out getTestPerformedLoincCode for result
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

Added unit testing for ndjson converter
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.test.ts
Due: none

Added alignment of app settings fields
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

update state required field error message
  frontend/src/app/signUp/Organization/utils.tsx
Due: prettier, eslint

Throw helpful err msg when creating user w/ existing email
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  frontend/src/app/Settings/Users/CreateUserForm.tsx
  frontend/src/app/utils/__snapshots__/srGraphQLErrorMessage.test.tsx.snap
  frontend/src/app/utils/srGraphQLErrorMessage.test.tsx
  frontend/src/app/utils/srGraphQLErrorMessage.tsx
Due: spotless, prettier, eslint

add fields to device_test_performed_loinc_code instad of device_type table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Commented out unit testing until code is cleaned up
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
Due: none

commented out variables until unit test is cleaned up
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
Due: none

Fixed the building of the publishing promises
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
Due: none

Address PR comments
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Change list headings to <p>
  frontend/src/app/testResults/uploads/Uploads.scss
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint, stylelint

Add aria label to button
  frontend/src/app/commonComponents/Button/Button.test.tsx
  frontend/src/app/commonComponents/Button/Button.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

update message header source
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingServiceTest.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

add identifier to patient
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/patient.json
Due: spotless

Cleaned code that handles the bundles in parallel
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
Due: none

make ethnicity return null
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Added prettier to the left hook
  lefthook.yml
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/types.d.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
Due: none

Fixed log message
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
Due: none

remove optional from tribal extension
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Throw helpful err msg when creating user w/ existing email (#5201)
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  frontend/src/app/Settings/Users/CreateUserForm.tsx
  frontend/src/app/utils/__snapshots__/srGraphQLErrorMessage.test.tsx.snap
  frontend/src/app/utils/srGraphQLErrorMessage.test.tsx
  frontend/src/app/utils/srGraphQLErrorMessage.tsx
Due: spotless, prettier, eslint

add fields to device_test_performed_loinc_code instad of device_type table (#5233)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

fix reporting test by passing git properties
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingServiceTest.java
Due: spotless

Add aria label to button (#5236)
  frontend/src/app/commonComponents/Button/Button.test.tsx
  frontend/src/app/commonComponents/Button/Button.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

Change list headings to <p> (#5235)
  frontend/src/app/testResults/uploads/Uploads.scss
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint, stylelint

Properly passed test event id for log
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.ts
Due: none

Fixed naming of data elements
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
Due: none
