Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

parallelize successful message deletion
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

remove faker in org info form
  frontend/cypress/integration/01-organization_sign_up_spec.js
Due: prettier, eslint

add group search mapping
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_groups-490abe65-91be-420d-81a7-e8984d89db85.json
Due: none

fixing snapshots
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: none

change request to be url path pattern
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_groups-490abe65-91be-420d-81a7-e8984d89db85.json
Due: none

delete not working groups stub
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_groups-490abe65-91be-420d-81a7-e8984d89db85.json
Due: none

add new groups api stub
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_groups-87a1bd7b-0205-4fc4-b971-3472692d6c5c.json
Due: none

use a known working body in groups response body
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_groups-87a1bd7b-0205-4fc4-b971-3472692d6c5c.json
Due: none

remove postServeActions json param because it breaks wiremock.
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_groups-87a1bd7b-0205-4fc4-b971-3472692d6c5c.json
Due: none

add additional logs to wiremock in cypress
  frontend/cypress/plugins/index.js
Due: prettier, eslint

add provider to be false to post users
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_users-d2c41957-0331-4c20-a597-7002630980ab.json
Due: none

update okta sdk to 8.2.1
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

remove unused faker
  frontend/cypress/integration/01-organization_sign_up_spec.js
Due: prettier, eslint

clean up logging of wiremock
  frontend/cypress/plugins/index.js
Due: prettier, eslint

Frontend multiplex refactor for multiplex result types
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/types.d.ts
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/TestResult.stories.tsx
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
Due: prettier, eslint

add pager duty for stg, remove twilio service integration
  ops/global/_output.tf
  ops/global/main.tf
  ops/prod/persistent/main.tf
  ops/services/pagerduty/_data.tf
  ops/services/pagerduty/main.tf
  ops/stg/alerts.tf
  ops/stg/persistent/main.tf
Due: none

split up the different results for clarity
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

Add ARIA labels and role
  frontend/src/app/testQueue/TestTimer.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

Refactor frontend and backend to use MultiplexResultInput instead of DiseaseResult
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/MultiplexResultInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/queries/add-test-result-multiplex-mutation
  backend/src/test/resources/queries/edit-queue-item-multiplex
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/operations.graphql
  frontend/src/app/testResults/CovidResultInputForm.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/app/testResults/types.d.ts
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

add additional email translation
  frontend/src/lang/es.ts
Due: prettier, eslint

update test
  frontend/src/app/patients/Components/ManageEmails.test.tsx
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
Due: prettier, eslint

Run codegen for graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Clean up linting errors
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/MultiplexResultInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

fixed test and updated dependencies versions
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/tsconfig.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

add pointer styling and trim whitespace
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
  frontend/src/app/patients/ManagePatients.scss
Due: prettier, eslint, stylelint

remove extra class
  frontend/src/app/patients/ManagePatients.scss
Due: stylelint

Add enum types
  frontend/src/app/constants/index.tsx
  frontend/src/app/testResults/types.d.ts
Due: prettier, eslint

update sonar command to exit with true if it fails
  .github/workflows/test.yml
Due: none

fixed out of alignment issue when skipping messages based on Merethe feedback
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
Due: none

Use the new enum constants
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/constants/index.tsx
  frontend/src/app/testResults/CovidResultInputForm.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/constants.ts
  frontend/src/app/utils/testResults.test.ts
Due: prettier, eslint

Bump spring-boot-starter-thymeleaf from 2.4.2 to 2.5.8
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

fixing the test to verify the logged message
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/tsconfig.json
Due: none

2.7.2
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

fix the styling of the limit variable
  backend/src/main/java/gov/cdc/usds/simplereport/service/dataloader/PatientPrimaryPhoneDataLoader.java
Due: spotless

remove debugging in startWiremock function
  frontend/cypress/plugins/index.js
Due: prettier, eslint

add comment with okta issue for the reason why we are combining search and q
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

update sonar command to exit with true if it fails (#4162)
  .github/workflows/test.yml
Due: none

bob/3986 fix trashcan icon (#4139)
  frontend/src/app/patients/Components/ManageEmails.test.tsx
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
  frontend/src/app/patients/ManagePatients.scss
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint, stylelint

rename isEmpty to throwErrorIfEmpty
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

add model name to variable exclusion
  ops/services/web_application_firewall/main.tf
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
