Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Fixed bug of user not found if email had spaces at the beginning or end.
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/UserSearch.tsx
Due: prettier, eslint

Azure alert custom property to Pagerduty (#6323)
  ops/dev2/alerts.tf
  ops/dev4/alerts.tf
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/database.tf
  ops/services/alerts/app_service_metrics/exceptions.tf
  ops/services/alerts/app_service_metrics/function_triggers.tf
  ops/services/alerts/app_service_metrics/main.tf
  ops/services/alerts/app_service_metrics/uptime.tf
  ops/services/alerts/db_metrics/_var.tf
  ops/services/alerts/db_metrics/main.tf
  ops/services/alerts/url_ping_test/_var.tf
  ops/services/alerts/url_ping_test/main.tf
Due: none

make returns and errors better
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedFacilityException.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

refactor returns
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

add a space
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

fix code smell
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

don't kick off tests workflow on PRs
  .github/workflows/testingWorkflow.yml
Due: none

assign users to group one by one
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

remove group id when creating user
  wiremock/stubs/mappings/org/api_v1_users-d2c41957-0331-4c20-a597-7002630980ab.json
Due: none

add group api calls to wiremock
  wiremock/stubs/mappings/org/api_v1_groups_00g228nrj9QDJ10y61d7_users_00u228n97qLeXJKqT1d7.json
  wiremock/stubs/mappings/org/api_v1_groups_00g228nyd7uuGaG1L1d7_users_00u228n97qLeXJKqT1d7.json
Due: none

move error handling into graphql config
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
Due: spotless

assign users to group one by one (#6416)
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  wiremock/stubs/mappings/org/api_v1_groups_00g228nrj9QDJ10y61d7_users_00u228n97qLeXJKqT1d7.json
  wiremock/stubs/mappings/org/api_v1_groups_00g228nyd7uuGaG1L1d7_users_00u228n97qLeXJKqT1d7.json
  wiremock/stubs/mappings/org/api_v1_users-d2c41957-0331-4c20-a597-7002630980ab.json
Due: spotless

First draft implementation of the copy update
  frontend/src/app/accountCreation/MfaSecurityKey/MfaSecurityKey.tsx
  frontend/src/scss/base/_utilities.scss
Due: prettier, eslint, stylelint

fix code smells
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/NonexistentQueueItemException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedFacilityException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedUserException.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

Updated copy and unit testing
  frontend/src/app/accountCreation/MfaSecurityKey/MfaSecurityKey.test.tsx
  frontend/src/app/accountCreation/MfaSecurityKey/__snapshots__/MfaSecurityKey.test.tsx.snap
  frontend/src/app/accountCreation/MfaSelect/MfaSelect.test.tsx
Due: prettier, eslint

replace list users with getUser
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

Fixed code smell
  frontend/src/app/accountCreation/MfaSecurityKey/MfaSecurityKey.tsx
Due: prettier, eslint

minor version updates
  ops/demo/.terraform.lock.hcl
  ops/demo/persistent/.terraform.lock.hcl
  ops/dev/.terraform.lock.hcl
  ops/dev/persistent/.terraform.lock.hcl
  ops/dev2/.terraform.lock.hcl
  ops/dev2/persistent/.terraform.lock.hcl
  ops/dev3/.terraform.lock.hcl
  ops/dev3/persistent/.terraform.lock.hcl
  ops/dev4/.terraform.lock.hcl
  ops/dev4/persistent/.terraform.lock.hcl
  ops/dev5/.terraform.lock.hcl
  ops/dev5/persistent/.terraform.lock.hcl
  ops/dev6/.terraform.lock.hcl
  ops/dev6/persistent/.terraform.lock.hcl
  ops/dev7/.terraform.lock.hcl
  ops/dev7/persistent/.terraform.lock.hcl
  ops/global/.terraform.lock.hcl
  ops/pentest/.terraform.lock.hcl
  ops/pentest/persistent/.terraform.lock.hcl
  ops/prod/.terraform.lock.hcl
  ops/prod/persistent/.terraform.lock.hcl
  ops/stg/.terraform.lock.hcl
  ops/stg/persistent/.terraform.lock.hcl
  ops/test/.terraform.lock.hcl
  ops/test/persistent/.terraform.lock.hcl
  ops/training/.terraform.lock.hcl
  ops/training/persistent/.terraform.lock.hcl
Due: none

feat(terraform): update terraform provider versions and lock files
  ops/dev/.terraform.lock.hcl
  ops/dev/persistent/.terraform.lock.hcl
  ops/dev2/.terraform.lock.hcl
  ops/dev2/persistent/.terraform.lock.hcl
  ops/dev3/.terraform.lock.hcl
  ops/upgradetf.sh
Due: none

feat: remove CORS configurations from app service and staging slot
  ops/services/app_service/main.tf
Due: none

update test to mock getUser insted of listUser
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add backlink to escalation page
  frontend/src/app/supportAdmin/Escalations/Escalations.tsx
  frontend/src/app/supportAdmin/Escalations/__snapshots__/Escalations.test.tsx.snap
Due: prettier, eslint

align styles to other pages
  frontend/src/app/supportAdmin/Escalations/Escalations.tsx
  frontend/src/app/supportAdmin/Escalations/__snapshots__/Escalations.test.tsx.snap
Due: prettier, eslint

Upgraded i18n and i18next-react to latest version. Removed t prop from trans component.
  frontend/package.json
  frontend/src/app/commonComponents/CovidResultGuidance.tsx
  frontend/src/app/commonComponents/MultiplexResultsGuidance.tsx
  frontend/yarn.lock
Due: prettier, eslint

chore(github): change permissions and authentication for updateGradleLocks workflow
  .github/workflows/updateGradleLocks.yml
Due: none

chore(github): remove specific actor restriction in updateGradleLocks.yml workflow
  .github/workflows/updateGradleLocks.yml
Due: none

make update user privileges and group access mutation (#6359)
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/NonexistentQueueItemException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedFacilityException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedUserException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Organization.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

add backlink to escalation page (#6435)
  frontend/src/app/supportAdmin/Escalations/Escalations.tsx
  frontend/src/app/supportAdmin/Escalations/__snapshots__/Escalations.test.tsx.snap
Due: prettier, eslint

Update Gradle lock workflow change (#6436)
  .github/workflows/updateGradleLocks.yml
Due: none

Add unarchive patient functionality for support admins
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientFilters.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientFilters.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientModal.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/operations.graphql
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

MFA Setup: update copy for security key setup step (#6417)
  frontend/src/app/accountCreation/MfaSecurityKey/MfaSecurityKey.test.tsx
  frontend/src/app/accountCreation/MfaSecurityKey/MfaSecurityKey.tsx
  frontend/src/app/accountCreation/MfaSecurityKey/__snapshots__/MfaSecurityKey.test.tsx.snap
  frontend/src/app/accountCreation/MfaSelect/MfaSelect.test.tsx
  frontend/src/scss/base/_utilities.scss
Due: prettier, eslint, stylelint

set orgId before loading
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.tsx
Due: prettier, eslint

make errors more specific
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/PrivilegeUpdateFacilityAccessException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

lint
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

run linter
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

fix tests that still use listUser
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

use getUser instead of listUsers (#6418)
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Modified multiselect component so the required prop gets set as aria-required
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: prettier, eslint

Removed the implementation of the updating state
  frontend/src/app/Settings/Users/UserDetailUtils.tsx
  frontend/src/app/Settings/Users/UserInfoTab.tsx
  frontend/src/app/commonComponents/UserDetails/SpecialStatusNotice.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
  frontend/src/app/utils/user.ts
Due: prettier, eslint
