Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Fix error in main.graphqls
  backend/src/main/resources/graphql/main.graphqls
Due: none

Create dev2 environment files. Add github actions.
  .github/workflows/deployDev2.yml
  .github/workflows/deployDev3.yml
  .github/workflows/deployDev4.yml
  ops/dev2/_config.tf
  ops/dev2/_data.tf
  ops/dev2/_var.tf
  ops/dev2/alerts.tf
  ops/dev2/api.tf
  ops/dev2/container_instances.tf
  ops/dev2/main.tf
  ops/dev2/metabase.tf
  ops/dev2/persistent/_config.tf
  ops/dev2/persistent/_data.tf
  ops/dev2/persistent/_output.tf
  ops/dev2/persistent/main.tf
  ops/dev2/persistent/okta.tf
Due: none

Minor copy, formatting changes for patient link DOB verification page (#3593)
  frontend/cypress/integration/04-get_result_from_patient_link_spec.js
  frontend/src/app/utils/date.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/timeOfTest/DOB.test.tsx
  frontend/src/patientApp/timeOfTest/DOB.tsx
  frontend/src/patientApp/timeOfTest/ToS.tsx
Due: prettier, eslint

Use existing diseases in DeviceTypeServiceTest
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

Fix assertions
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

Expand test correction modal to allow for test corrections to be issued - Formerly only handled removals
  frontend/src/app/testQueue/QueueItem.scss
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint, stylelint

Codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Add tf files for dev3 and dev4.
  ops/dev3/_config.tf
  ops/dev3/_data.tf
  ops/dev3/_var.tf
  ops/dev3/alerts.tf
  ops/dev3/api.tf
  ops/dev3/container_instances.tf
  ops/dev3/main.tf
  ops/dev3/metabase.tf
  ops/dev3/persistent/_config.tf
  ops/dev3/persistent/_data.tf
  ops/dev3/persistent/_output.tf
  ops/dev3/persistent/main.tf
  ops/dev3/persistent/okta.tf
  ops/dev4/_config.tf
  ops/dev4/_data.tf
  ops/dev4/_var.tf
  ops/dev4/alerts.tf
  ops/dev4/api.tf
  ops/dev4/container_instances.tf
  ops/dev4/main.tf
  ops/dev4/metabase.tf
  ops/dev4/persistent/_config.tf
  ops/dev4/persistent/_data.tf
  ops/dev4/persistent/_output.tf
  ops/dev4/persistent/main.tf
  ops/dev4/persistent/okta.tf
Due: none

Tidy test correction reason/action enums for better usability - No more magic strings!
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.tsx
Due: prettier, eslint

Add new confirmation modal copy when canceling a test correction
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Fix responsive widths and make table row lines light gray
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint, stylelint

Update snapshot
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: none

trying to reduce code duplication
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ConsoleApiAuditEvent.java
Due: spotless

use async appender for logging
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuditingConfig.java
Due: spotless

logging audit log to console and changed all logs to json
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuditingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/resources/application.yaml
Due: spotless

sonar feedback
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiAuditEvent.java
Due: spotless

checkstyle feedback
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ConsoleApiAuditEvent.java
Due: spotless

added a audit log type identifier
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiAuditEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
Due: spotless

removed writing to the audit log table
  backend/src/main/java/gov/cdc/usds/simplereport/api/AuditDebuggingEndpoint.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ConsoleApiAuditEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditLoggerService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AuditServiceTest.java
Due: spotless

more sonar changes
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiAuditEvent.java
Due: spotless

removed requiredArgsConstructor
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
Due: spotless

handled printing json exception
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
Due: spotless

fixing to not alter the original ApiAuditEvent
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiAuditEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ConsoleApiAuditEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
Due: spotless

removed commented out config and cleaned code
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuditingConfig.java
Due: spotless

checkstyle: parameterize queue size for async log appender
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuditingConfig.java
  backend/src/main/resources/application.yaml
Due: spotless

Capture existing App Service state not in TF (#3620)
  ops/services/app_service/_data.tf
  ops/services/app_service/main.tf
Due: none

Clean up commented-out code
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.tsx
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

Clean up/add comments
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuditingConfig.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Due: spotless

Audit log to console and all logs as JSON (#3643)
  backend/src/main/java/gov/cdc/usds/simplereport/api/AuditDebuggingEndpoint.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuditingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ConsoleApiAuditEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditLoggerService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AuditServiceTest.java
Due: spotless

Revert "Audit log to console and all logs as JSON (#3643)"
  backend/src/main/java/gov/cdc/usds/simplereport/api/AuditDebuggingEndpoint.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuditingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ConsoleApiAuditEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditLoggerService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AuditServiceTest.java
Due: spotless

Copy location state to React state for easier management
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
Due: prettier, eslint

Reliably clear selected patient ID from react state
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/__snapshots__/TestResultCorrectionModal.test.tsx.snap
Due: prettier, eslint

Revert "Reliably clear selected patient ID from react state"
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/__snapshots__/TestResultCorrectionModal.test.tsx.snap
Due: prettier, eslint

Revert "Audit log to console and all logs as JSON (#3643)" (#3648)
  backend/src/main/java/gov/cdc/usds/simplereport/api/AuditDebuggingEndpoint.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuditingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ConsoleApiAuditEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditLoggerService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AuditService.java
  backend/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AuditServiceTest.java
Due: spotless

cleanup and fixing tests
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-add-to-queue.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-new-patient-start.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-patient-search.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/stories/testQueue/QueueItem.stories.tsx
Due: prettier, eslint

oops, missed a spot
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

unused import
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Switch to percentages
  frontend/src/app/testResults/TestResultsList.scss
Due: stylelint

Add information about new dev environments.
  README.md
Due: none
