Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Update db.changelog-master.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

more todo comments
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
Due: spotless

Update SpecimenService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenService.java
Due: spotless

remove plpgsql extension (#8722)
  ops/services/postgres_db/main.tf
Due: none

todos
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
Due: spotless

Update sync labs logging
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
Due: spotless

Ensure specimens are stored and looked up using both loincsystemcode and snomedcode
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenService.java
Due: spotless

spotless
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/SpecimenBodySite.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenBodySiteRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenService.java
Due: spotless

Adjust file size limits to a reasonable size (#8718)
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/testResults/uploads/UploadForm.test.tsx
  frontend/src/app/testResults/uploads/UploadForm.tsx
  frontend/src/config/constants.ts
Due: prettier, eslint

allow datetimes without time or timezones
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

Log total loinc pages
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
Due: spotless

Add initial universal lab report form
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/ProviderReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/LabReportMutationResolver.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/universalReporting/FacilityFormSection.tsx
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/PatientFormSection.tsx
  frontend/src/app/universalReporting/ProviderFormSection.tsx
  frontend/src/app/universalReporting/SpecimenFormSection.tsx
  frontend/src/app/universalReporting/TestDetailSection.scss
  frontend/src/app/universalReporting/TestDetailSection.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint, stylelint

Hide universal reporting based on feature flag
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/LabReportMutationResolver.java
  frontend/src/app/ReportingApp.tsx
Due: spotless, prettier, eslint

Handle times as part of date fields
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/SpecimenFormSection.tsx
  frontend/src/app/universalReporting/TestDetailSection.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Fetch condition list
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/ConditionController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Autofill provider and facility
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Filter test order selection by condition
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/LoincController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Update frontend with specimen list
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/SpecimenFormSection.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Handle loading and empty states for labs and specimens
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/SpecimenFormSection.tsx
Due: prettier, eslint

Sort LOINCs by display
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
Due: spotless

Filter test orders after selection
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/TestOrderFormSection.tsx
Due: prettier, eslint

Populate specimen list from db
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/SpecimenController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenService.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/TestOrderFormSection.tsx
Due: spotless, prettier, eslint

Fix parentheses
  frontend/src/app/universalReporting/FacilityFormSection.tsx
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/PatientFormSection.tsx
  frontend/src/app/universalReporting/ProviderFormSection.tsx
  frontend/src/app/universalReporting/TestDetailSection.tsx
Due: prettier, eslint

Filter labs without specimens
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenService.java
Due: spotless

Use result SNOMEDs and long common name
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/ResultScaleType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/testResults/constants.ts
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/TestDetailSection.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Rename to universal report mutation resolver
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/UniversalReportMutationResolver.java
Due: spotless

use parseLocalDateTime and add test for convertToZonedTime
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/DateTimeUtilsTest.java
Due: spotless

use url prefix when public url is not defined
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

suppress todo warnings
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/SpecimenController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenService.java
Due: spotless

update repo / model to reflect db schema
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/SpecimenBodysite.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenBodySiteRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenBodysiteRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenService.java
Due: spotless

remove duped line
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

testing something in CI
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
Due: spotless

resolves #8630 support for Positive/Negative in bulk upload
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

whitespace/formatting
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

resolves #8626: symptom onset date code and description
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

add corrected flag to all observations 8632 (#8682)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless
