Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add log message for enroll security key
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

Use provider address for specimen collection date
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

deprecate includeArchived field (#6164)
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientResolver.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/patient/PatientResolverTest.java
Due: spotless

adding test ordered code to bulk upload api
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid.csv
Due: spotless

add log message for activating security key
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

enable dependabot for cypress and db_client deps (#6157)
  .github/dependabot.yml
Due: none

only save Upload result when we have a report id
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ResultUploadError.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

Fix csv transforms in covid pipeline (#6138)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-blank-dates.csv
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-escaped-commas-expected-transform.csv
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-escaped-commas.csv
Due: spotless

adding test ordered code to the bulk upload guide
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

updating snapshot for bulk upload guide changes
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

update semver version
  frontend/yarn.lock
Due: none

update json5 version
  frontend/yarn.lock
Due: none

Upgrade spring packages to close security vulnerability
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Correct bad dependency write.
  backend/gradle.lockfile
Due: none

updates the description for the maintenance banner action
  .github/actions/maintenance-banner-deploy/action.yml
Due: none

removing unnecessary comment
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

Upgrade spring packages to close security vulnerability (#6184)
  backend/build.gradle
  backend/gradle.lockfile
Due: none

change organization of homepage
  frontend/src/app/supportAdmin/SupportAdmin.tsx
Due: prettier, eslint

changes from laura
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessForm.tsx
Due: prettier, eslint

update tests
  cypress/e2e/03-add_devices.cy.js
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: none

missed one
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
Due: prettier, eslint

one more
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessForm.tsx
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessFormContainer.tsx
Due: prettier, eslint

pull page titles into a common file
  cypress/e2e/03-add_devices.cy.js
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/supportAdmin/AddOrganizationAdmin/AddOrganizationAdminForm.tsx
  frontend/src/app/supportAdmin/AddOrganizationAdmin/AddOrganizationAdminFormContainer.test.tsx
  frontend/src/app/supportAdmin/AddOrganizationAdmin/AddOrganizationAdminFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessFormContainer.tsx
  frontend/src/app/supportAdmin/pageTitles.ts
Due: prettier, eslint

add log message for password failed to set
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

Implemented first draft of integration testing
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
  backend/src/test/resources/fhir/bundles-upload-integration-testing.json
  backend/src/test/resources/testResultUpload/test-results-upload-integration.csv
Due: spotless

Remove unneccesary library
  backend/build.gradle
Due: none

[bug fix] show RS bulk uploader errors (#6169)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ResultUploadError.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

update json5 version (#6183)
  frontend/yarn.lock
Due: none

update usparsergs version
  frontend/yarn.lock
Due: none

Emails via Sendgrid (#6044)
  .github/actions/maintenance-banner-deploy/action.yml
  .github/workflows/deployDev.yml
  .github/workflows/maintenance.yml
  backend/src/main/resources/application-azure-dev.yaml
  ops/dev/_data.tf
  ops/dev2/_data.tf
  ops/dev3/_data.tf
  ops/dev4/_data.tf
  ops/dev5/_data.tf
  ops/dev6/_data.tf
  ops/dev7/_data.tf
  ops/pentest/_data.tf
  ops/stg/_data.tf
  ops/test/_data.tf
  ops/training/_data.tf
Due: none

Fixed commit id mock
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
  backend/src/test/resources/fhir/bundles-upload-integration-testing.json
Due: spotless

remove bad import
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessForm.tsx
Due: prettier, eslint

lint
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
Due: prettier, eslint

one last snapshot upgrade
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: none

Bump Metabase to patched version.
  ops/services/metabase/service/main.tf
Due: none

remove list
  frontend/src/app/supportAdmin/SupportAdmin.tsx
Due: prettier, eslint

Bump Metabase to patched version. (#6191)
  ops/services/metabase/service/main.tf
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
