Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

get backend tests to compile
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

lint
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

lint gql
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

refactor with builders
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
Due: spotless

one more
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add debug log back
  cypress/e2e.sh
Due: none

turn on isolation and remove recording
  cypress/cypress.config.js
  cypress/e2e.sh
Due: none

comment
  cypress/cypress.config.js
Due: none

try another comment
  cypress/cypress.config.js
Due: none

Refactor result csv download
  frontend/src/app/testResults/mocks/resultsCovid.mock.tsx
  frontend/src/app/testResults/viewResults/DownloadResultsCsvModal.tsx
  frontend/src/app/utils/testResultCSV.test.ts
  frontend/src/app/utils/testResultCSV.ts
Due: prettier, eslint

Update error message
  frontend/src/app/testResults/viewResults/DownloadResultsCsvModal.tsx
Due: prettier, eslint

syphilis test card support backend (#7589)
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/AskOnEntrySurvey.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/graphql-test/queue-dates-query.graphql
  backend/src/test/resources/graphql-test/update-time-of-test-questions.graphql
  frontend/src/app/testQueue/addToQueue/operations.graphql
  frontend/src/app/testQueue/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

use new config
  cypress/cypress.config.js
  cypress/e2e.sh
Due: none

add alias and error toasts clicks
  cypress/e2e/06-self_registration.cy.js
Due: none

commit the change
  cypress/e2e/011-06-self_registration.cy.js
Due: none

Upgrade trussworks
  frontend/package.json
  frontend/src/app/commonComponents/ComboBox.tsx
  frontend/yarn.lock
Due: prettier, eslint

add aria-describedby
  frontend/src/app/testQueue/TestCard/CloseTestCardModal.tsx
  frontend/src/app/testQueue/TestCardForm/IncompleteAOEWarningModal.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
Due: prettier, eslint

wip add mock
  frontend/__mocks__/focus-trap-react.js
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
Due: prettier, eslint

wip
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
Due: prettier, eslint

wip
  frontend/__mocks__/focus-trap-react.js
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/setupTests.js
Due: prettier, eslint

Update ResultCsvRow type
  frontend/src/app/utils/testResultCSV.ts
Due: prettier, eslint

use new config
  cypress/cypress.config.js
Due: none

remove aliasing
  cypress/e2e/011-06-self_registration.cy.js
Due: none

enable test isolation
  cypress/e2e/06-self_registration.cy.js
Due: none

comment out extra jobs
  .github/workflows/checkGraphql.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/e2eLocal.yml
  .github/workflows/terraformChecks.yml
  .github/workflows/testingWorkflow.yml
  .github/workflows/tfsec.yml
  cypress/cypress.config.js
Due: none

remove key
  .github/workflows/e2eLocal.yml
Due: none

remove extra env var
  .github/workflows/testingWorkflow.yml
Due: none

wip
  cypress/e2e/06-self_registration.cy.js
Due: none

base branch with debug logs
  .github/workflows/checkGraphql.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/terraformChecks.yml
  .github/workflows/testingWorkflow.yml
  .github/workflows/tfsec.yml
  cypress/cypress.config.js
  cypress/e2e.sh
Due: none

contains, then get
  cypress/e2e/06-self_registration.cy.js
Due: none

commit the deletion
  cypress/e2e/06-self_registration.cy.js
Due: none

cleanup config and spec 1
  cypress/cypress.config.js
  cypress/e2e/01-organization_sign_up.cy.js
Due: none

remove dfault config options
  cypress/cypress.config.js
Due: none

add videos back in
  cypress/cypress.config.js
Due: none

return setting for compression
  cypress/cypress.config.js
Due: none
