Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

localize touchpoints load scripts to deal with flashing page issue
  frontend/public/touchpoints.js
  frontend/src/app/analytics/TouchpointsButton.scss
  frontend/src/app/analytics/TouchpointsButton.tsx
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint, stylelint

add env variable to touchpoints src
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

change url prefix to function call
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

switch to public url env
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

Use correct relative path to submissions list from submission view
  frontend/src/app/testResults/submissions/Submission.tsx
Due: prettier, eslint

Add exclusions for Okta and Azure insights. (#3868)
  ops/services/web_application_firewall/main.tf
Due: none

Store additional results for removed and corrected events (#3853)
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

add postbuild step to move touchpoints to static file
  frontend/package.json
  frontend/src/app/commonComponents/Page/Page.tsx
  frontend/src/app/utils/url.ts
Due: prettier, eslint

updating to use new report stream sender
  backend/src/main/resources/application.yaml
Due: none

fix url prefix matching
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

Don't send exceptions without a test event id to the publishing-exceptions queue
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
Due: none

add public url falsy check to unbreak e2e's
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

add check for cypress env
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

make postbuild script more specific
  frontend/package.json
Due: none

conflicts update
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Use new simple_report client name for CSV uploads to RS
  backend/output.log
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/application.yaml
Due: spotless

styling changes post pairing w/ Kenny
  frontend/public/touchpoints.js
Due: prettier, eslint

Add `DATAHUB_SIGNING_KEY` environment variable to `test` Terraform config
  backend/output.log
  ops/test/api.tf
Due: none

Add WAF documentation and specific argument exclusions.
  ops/services/web_application_firewall/main.tf
Due: none

Terraform format changes.
  ops/services/web_application_firewall/main.tf
Due: none

Fix naming convention for CSV upload scope
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

extract out css from js file
  frontend/package.json
  frontend/public/touchpoints.css
  frontend/public/touchpoints.js
Due: prettier, eslint

pathing fixes for local
  frontend/public/touchpoints.css
  frontend/public/touchpoints.js
Due: prettier, eslint

remove unneeded space
  frontend/src/app/analytics/TouchpointsButton.tsx
Due: prettier, eslint

Move storybook component to dedicated stories directory; remove unused CSS class
  frontend/src/app/testResults/submissions/Submissions.scss
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/stories/testResults/Submission.stories.tsx
  frontend/src/stories/testResults/Uploads.stories.tsx
Due: prettier, eslint, stylelint

Content review of contribution guidelines
  CONTRIBUTING.md
Due: none

Content review of code of conduct
  code-of-conduct.md
Due: none

Remove unused stylesheet
  backend/src/main/resources/application-dev.yaml
  frontend/src/app/testResults/submissions/Submissions.scss
  frontend/src/app/testResults/submissions/Submissions.stories.tsx
  frontend/src/stories/testResults/Uploads.stories.tsx
Due: prettier, eslint, stylelint

updating to use new report stream sender (#3889)
  backend/src/main/resources/application.yaml
Due: none

spelling correction for Braille
  frontend/src/app/constants/constants.d.ts
  frontend/src/config/constants.ts
Due: prettier, eslint

preferred language sync with RS expectations
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportTest.java
Due: spotless

Was accidentally deleting request bodies for upload submissions, so do not do that
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataHubClientConfiguration.java
Due: spotless

touchpoints app configuration (#3865)
  frontend/package.json
  frontend/public/index.html
  frontend/public/touchpoints.css
  frontend/public/touchpoints.js
  frontend/src/app/analytics/TouchpointsButton.scss
  frontend/src/app/analytics/TouchpointsButton.tsx
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/Page/Page.tsx
  frontend/src/app/utils/url.ts
Due: prettier, eslint, stylelint

Move InvalidRSAPrivateKeyException to `service` directory; fix exception declaration in TokenAuthentication methods
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/errors/InvalidBulkTestResultUploadException.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/TokenAuthentication.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

Uptake new shape of ReportStreamError (#3867)
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/rs-response.ts
Due: none

Turn off rules instead of blanket query actions.
  ops/services/web_application_firewall/main.tf
Due: none

Add request-specific exclusions to Azure WAF ruleset. (#3894)
  ops/services/web_application_firewall/main.tf
Due: none

Added covid and multiplex results forms.
  frontend/src/app/testQueue/QueueItem.scss
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/operations.graphql
  frontend/src/app/testResults/CovidResultInputForm.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/app/testResults/TestResultInput.test.tsx
  frontend/src/app/testResults/TestResultInputForm.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint, stylelint

Updated snapshot with grid fixes.
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
