Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker run --rm -v ${PWD}:/app/backend prime-simplereport_backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker run --rm -v ${PWD}:/app/frontend prime-simplereport_frontend sh -c "npx prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker run --rm -v ${PWD}:/app/frontend -v $(dirname $PWD)/backend/src/main/resources/graphql:/app/backend/src/main/resources/graphql prime-simplereport_frontend sh -c "npx eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {s
  ...

stylelint:
  run: docker run --rm -v ${PWD}:/app/frontend prime-simplereport_frontend sh -c "npx stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

send "W" Test_result_status to report stream when order removed
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Fix stuff from flexible db changes
  backend/Dockerfile
  docker-compose.yml
Due: none

Initialize blank new patient in AddPerson component as PhoneNumber array with blank number/type values - This allows the phone number fields to be highlighted in red upon validation failure
  frontend/src/app/patients/AddPatient.tsx
Due: prettier, eslint

Update g-e-ticket.md (#3409)
  .github/ISSUE_TEMPLATE/g-e-ticket.md
Due: none

disable rs error reporting function
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/function.json
Due: none

Final cleanup
  README.md
  backend/.dockerignore
  backend/schemaspy.conf
  backend/src/main/resources/application-db-dockerized.yaml
  frontend/.dockerignore
Due: none

disable rs error reporting function (#3441)
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/function.json
Due: none

Update ReportStream callback interface on backend
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ReportStreamCallbackRequest.java
Due: spotless

testing env var behavior
  .github/actions/health-checks/action.yml
  .github/actions/run-e2e-checks/action.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/e2eDev.yml
  .github/workflows/e2eDevEnvironment.yml
Due: none

adjust env
  .github/workflows/deployDev.yml
Due: none

run e2e against dev
  .github/actions/run-e2e-checks/action.yml
  .github/workflows/deployDev.yml
  .github/workflows/e2eDevEnvironment.yml
  .github/workflows/e2eLocal.yml
Due: none

fix env var usage
  .github/actions/run-e2e-checks/action.yml
  .github/workflows/deployDev.yml
  .github/workflows/e2eDev.yml
Due: none

include workflow-dispatch
  .github/workflows/deployDev.yml
Due: none

remove test file
  .github/workflows/deployDev.yml
  .github/workflows/e2eDev.yml
Due: none

rename and remove vars that were not needed
  .github/actions/run-e2e-checks/action.yml
  .github/workflows/deployDev.yml
Due: none

add header value to the maintenance page
  .github/workflows/maintenance.yml
Due: none

Add touchpoints to CSP so survey will show up (#3402)
  frontend/.env
  frontend/public/index.html
Due: none

remove init call
  backend/src/main/java/gov/cdc/usds/simplereport/config/TwilioDisabledConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/SmsProviderWrapper.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/SmsService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
Due: spotless

Disable daily training DB reset
  .github/workflows/resetTrainingDB.yml
Due: none

fix failing test
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/SmsServiceTest.java
Due: spotless

Make suggested changes
  README.md
  backend/run.sh
Due: none

disable azure function through azure configs
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/function.json
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

Update validation error messages on the person form (#3422)
  frontend/src/app/patients/AddPatient.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/personSchema.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

Patient upload service supports `PhoneNumberType` column in input CSV (#3406)
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PhoneNumberRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/UploadServiceTest.java
  backend/src/test/resources/test-upload-invalid-phone-type.csv
  backend/src/test/resources/test-upload-invalid-phone.csv
  backend/src/test/resources/test-upload-invalid-race.csv
  backend/src/test/resources/test-upload-invalid-zipcode.csv
  backend/src/test/resources/test-upload-no-phone-type.csv
  backend/src/test/resources/test-upload-valid-no-header.csv
  backend/src/test/resources/test-upload.csv
Due: spotless

Disable daily training DB reset (#3444)
  .github/workflows/resetTrainingDB.yml
Due: none

adding quotes
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

adding quotes again
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

add twilio init call back
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
Due: spotless

remove superfluous properties file
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/TwilioProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
  backend/src/main/resources/application.yaml
Due: spotless

fixed tf formatting
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

Track md5 of RS function source bundle
  .github/actions/build-reportstream-functions/action.yml
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

2nd try
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

disable azure rs function through azure configs (#3445)
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/function.json
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

add header value to the maintenance page (#3442)
  .github/workflows/maintenance.yml
Due: none

remove bad id in application.yaml
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/TwilioProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapperTest.java
  ops/demo/_data.tf
  ops/dev/_data.tf
  ops/pentest/_data.tf
  ops/prod/_data.tf
  ops/stg/_data.tf
  ops/test/_data.tf
  ops/training/_data.tf
Due: spotless

add fake id back to test fallback logic
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapperTest.java
Due: spotless

increase log from debug to info
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapperTest.java
Due: spotless

clean up wrapper impl
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapperTest.java
Due: spotless

take out fallback logic
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
Due: spotless

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
