Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

remove empty line
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

added wait check before asserting for the page title
  cypress/integration/06-organization_settings.js
  ops/services/app_functions/report_stream_batched_publisher/common/rs-response.ts
Due: none

reverted changed
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/rs-response.ts
Due: none

add dash to rollback to make it proper yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Revert "reverted changed"
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/rs-response.ts
Due: none

untangle git stuff
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/rs-response.ts
Due: none

add equipment_uid and testkit_name_id to device_type table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

wip
  frontend/src/app/commonComponents/Checkboxes.tsx
  frontend/src/app/commonComponents/Modal.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
  frontend/src/app/signUp/Organization/UnsupportedStateModal.tsx
  frontend/src/app/signUp/Organization/utils.tsx
Due: prettier, eslint

Spec 06 failing: Adds wait check before asserting for manage organizations title (#5117)
  cypress/integration/06-organization_settings.js
Due: none

make field nullable=false
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

rename column to be more descriptive
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

rename table to be more descriptive
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

rename table in other places
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Refactored code to move common logic into an independent module and created first draft of queue
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/function.json
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/rs-response.ts
Due: none

always generate video/screenshots
  .github/workflows/e2eLocal.yml
Due: none

remove device specimen type from TestOrder/TestEvent/Facility (#5012)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiFacility.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Facility.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceSpecimenTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/FacilityRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/OrganizationFacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/FacilityRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Fixed current unit testing
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/function.json
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.test.ts
Due: none

add equipment_uid and testkit_name_id to device_type table (#5119)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

drop data hub upload table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

create table test performed table (#5109)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

add rollback and also remove unused type
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

add new input for supported disease - test performed
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/SupportedDiseaseTestPerformedInput.java
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

add device test performed connections
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceTestPerformedLoincCode.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/SupportedDisease.java
Due: spotless

save test performed loinc during device type creation
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTestPerformedLoincCodeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

Added new queues names as env variables
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

Fix formatting of variables declaration
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

Fixed code smells and added queue information to logs
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
Due: none

refactor creation to use list of device test performed loinc
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
Due: spotless

Updated unit testing
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
Due: none

upgrade to spring 2.7.8 (#5103)
  backend/build.gradle
  backend/gradle.lockfile
Due: none

set cascade type to all
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

set supportedDiseaseTestPerformed to optional until front end uses it
  backend/src/main/resources/graphql/main.graphqls
Due: none

update lockfile
  backend/gradle.lockfile
Due: none

adding 'x' button
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
  frontend/src/app/signUp/Organization/UnsupportedStateModal.tsx
Due: prettier, eslint

Drop data_hub_upload table (#5122)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Update device test performed loinc list
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

remove redundant transactional params
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
Due: spotless

fix hanging javadoc
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
Due: spotless

Fixed fhir queue names
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
