Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

make application api return application
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

fix assertion on "update user email resource exception error test"
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add groups to group list in createUser_illegalGraphqlArgumentError_noGroupsFound
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

loosen the restrictions on matchers for listGroupUsers in getAllUsersForOrganization
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

mock group repsonse for "createUser_illegalGraphqlArgumentError_withoutLastName"
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

mock group repsonse for "createUser_illegalGraphqlArgumentError_withoutEmail"
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

update the mock to accept false param in "updateUserEmail_conflictingUser_error"
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

mock id from group in "getAllUsersWithStatusForOrganization"
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add user to list in "getUserStatus"
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

fix mocks for update user privileges
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

clean up unused client variable and autowired constructor
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Removed shared-key implementation and references to the shared key in key vault
  ops/demo/_data.tf
  ops/demo/api.tf
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/dev2/_data.tf
  ops/dev2/api.tf
  ops/dev3/_data.tf
  ops/dev3/api.tf
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev5/_data.tf
  ops/dev5/api.tf
  ops/dev6/_data.tf
  ops/dev6/api.tf
  ops/dev7/_data.tf
  ops/dev7/api.tf
  ops/pentest/_data.tf
  ops/pentest/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
  ops/training/_data.tf
  ops/training/api.tf
Due: none

Removed simple report redundant text from sign up page titles
  frontend/src/app/signUp/IdentityVerification/Consent.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
  frontend/src/app/signUp/Organization/RequestAccess.tsx
  frontend/src/app/signUp/Organization/RequestTestResult.tsx
  frontend/src/app/signUp/Organization/SignUpGoals.tsx
Due: prettier, eslint

Track user id or patient link id in Azure (#5324)
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/TelemetryService.ts
  frontend/src/app/telemetry.test.tsx
  frontend/src/patientApp/PatientApp.test.tsx
  frontend/src/patientApp/PatientApp.tsx
Due: prettier, eslint

Removed extra text from titles
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsForm.tsx
  frontend/src/app/signUp/IdentityVerification/Success.tsx
Due: prettier, eslint

add back in missing default styles
  frontend/src/app/accountCreation/MfaSelect/MfaSelect.tsx
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

fixed client and scope
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
Due: none

move form render in mfa to radio group
  frontend/src/app/accountCreation/MfaSelect/MfaSelect.tsx
Due: prettier, eslint

dynamically set the start and expiry on azurerm_storage_account_sas (#5282)
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
Due: none

added check to abort execution if no messages are dequeued.
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
Due: none

add hour duration to start for sas
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
Due: none

cleaned logging
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
Due: none

add hour duration to start for sas (#5360)
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
Due: none

update okta and pagerduty providers in config (#5328)
  ops/demo/persistent/_config.tf
  ops/dev/persistent/_config.tf
  ops/dev2/persistent/_config.tf
  ops/dev3/persistent/_config.tf
  ops/dev4/persistent/_config.tf
  ops/dev5/persistent/_config.tf
  ops/dev6/persistent/_config.tf
  ops/dev7/persistent/_config.tf
  ops/global/_config.tf
  ops/pentest/persistent/_config.tf
  ops/prod/persistent/_config.tf
  ops/services/okta-app/_config.tf
  ops/services/okta-global/_config.tf
  ops/services/okta-global/main.tf
  ops/services/pagerduty/_config.tf
  ops/stg/persistent/_config.tf
  ops/test/persistent/_config.tf
  ops/training/persistent/_config.tf
Due: none

Remove okta_policy_rule_signon from global config
  ops/services/okta-global/main.tf
Due: none

fix authentication to work with new okta sdk
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthenticationTest.java
Due: spotless

Cypress build on main (#5333)
  .github/workflows/buildCypressImage.yml
Due: none

change processing system
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

Replace OktaClientProperties with strings because it's giving an error of bean not found
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

fix code smells
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

update rhino package to resolve vulnerability
  backend/build.gradle
  backend/gradle.lockfile
Due: none

move apiclient to be local variable
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthenticationTest.java
Due: spotless

remove useless initialize method
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

move validation into a separate method
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

Add additional alerts to the batched uploader function app (#5316)
  ops/demo/alerts.tf
  ops/dev/alerts.tf
  ops/dev2/alerts.tf
  ops/dev3/alerts.tf
  ops/dev4/alerts.tf
  ops/dev5/alerts.tf
  ops/dev6/alerts.tf
  ops/dev7/alerts.tf
  ops/prod/alerts.tf
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
  ops/test/alerts.tf
Due: none

Reworked logic to download file with test results.
  frontend/src/app/testResults/DownloadResultsCsvModal.tsx
  frontend/src/app/utils/hooks.tsx
  frontend/yarn.lock
Due: prettier, eslint

Adding eslint inline exception
  frontend/src/app/testResults/DownloadResultsCsvModal.tsx
Due: prettier, eslint

disable memory alert in stage
  ops/stg/alerts.tf
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
