Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

fix regression of error message
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

add resetUserPassword tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add resetUserMfa tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add setUserIsActive tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add getUserStatus tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add reactivateUser tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Parallelize queue successful message deletion - take 2 (#4186)
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/tsconfig.json
Due: none

add resendActivationEmail tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add createOrganization tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add deleteFacility tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add deleteOrganization tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

remove times(1) in verify assertions
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

remove comment
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add additional accessibility properties to icon in the header
  frontend/src/app/commonComponents/Header.tsx
Due: prettier, eslint

add skipnav link to Page element
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

remove alt text for flag
  frontend/src/app/commonComponents/USAGovBanner.tsx
Due: prettier, eslint

update the label on the user button to be my account
  frontend/src/app/commonComponents/Header.tsx
Due: prettier, eslint

be consistent with caps
  frontend/src/app/commonComponents/Header.tsx
Due: prettier, eslint

update the language on the error messages
  frontend/src/lang/en.ts
Due: prettier, eslint

We do not actually have backwards-compatibility concerns around the `getPatients` resolver, so get rid of the superfluous method
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientResolver.java
Due: spotless

add live okta repository tests (#4189)
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Add error messages on race, ethnicity, and gender questions
  frontend/src/app/patients/Components/PersonForm.tsx
Due: prettier, eslint

update the errors in the tests
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/patients/EditPatient.test.tsx
Due: prettier, eslint

update graphql generated for frontend
  .gitignore
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

add skipnav link to Page element (#4191)
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

remove alt text for flag (#4192)
  frontend/src/app/commonComponents/USAGovBanner.tsx
Due: prettier, eslint

Rename patient search params for better clarity
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
Due: spotless

add additional accessibility properties to icon in the header (#4190)
  frontend/src/app/commonComponents/Header.tsx
Due: prettier, eslint

update error messages (#4193)
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/lang/en.ts
Due: prettier, eslint

refresh lock
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
Due: none

Stop redirect hiding toast
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
Due: prettier, eslint

Fix redirect hiding toast in facility form
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
Due: prettier, eslint

Update mocks on frontend tests
  frontend/src/app/Settings/Facility/FacilityFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
Due: prettier, eslint

Remove questionable import
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
Due: prettier, eslint

Multiplex refactor - backend (#4194)
  .gitignore
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/MultiplexResultInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/queries/add-multiplex-result-mutation
  backend/src/test/resources/queries/edit-queue-item-multiplex-result-mutation
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Include correction test events
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
Due: spotless

change the spanish translation from "Work and housing" to "Housing and work"
  frontend/src/lang/es.ts
Due: prettier, eslint

Oops - don't double up on auth checks for the overloaded method
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
Due: spotless

updating the scope per a conversation with report stream
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/TokenAuthentication.java
Due: spotless
