Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/

Revert "Fix default processing mode code"
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingService.java
Due: spotless

Revert "Update processing mode code default in universal report service"
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
Due: spotless

Send single entry results to HL7 queue (#9134)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/TestEventSerializationFailureException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/AzureStorageQueueReportingProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReportToAIMSEventListener.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application-azure-dev.yaml
  backend/src/main/resources/application-azure-dev2.yaml
  backend/src/main/resources/application-azure-dev3.yaml
  backend/src/main/resources/application-azure-dev4.yaml
  backend/src/main/resources/application-azure-dev5.yaml
  backend/src/main/resources/application-azure-dev6.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

adding work from Arin and modifying
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataRetentionService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/DataRetentionServiceTest.java
Due: spotless

test fix
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingServiceTest.java
Due: spotless

Update dev to node 24
  .github/workflows/deployDev.yml
Due: none

Use facility name for MSH-4.1 Namespace ID
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

unit testing
  backend/src/test/java/gov/cdc/usds/simplereport/service/DataRetentionServiceTest.java
Due: spotless

remove patientupload changes
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
  backend/src/test/resources/patientBulkUpload/alternateValues.csv
  backend/src/test/resources/patientBulkUpload/emptyRow.csv
  backend/src/test/resources/patientBulkUpload/missingHeaders.csv
  backend/src/test/resources/patientBulkUpload/validRequiredOnly.csv
Due: spotless

Update remaining actions to Node 24
  .github/workflows/deployDemo.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
  .github/workflows/maintenance.yml
Due: none

ignoring pii_deleted json testResultUpload
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestResultUpload.java
Due: spotless

fix import
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
Due: spotless

fix tests
  backend/src/test/resources/patientBulkUpload/alternateValues.csv
  backend/src/test/resources/testResultUpload/test-results-upload-valid-required-only.csv
Due: none

undo changes again
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/resources/patientBulkUpload/alternateValues.csv
  cypress/e2e/02a-bulk_upload_patient.cy.js
Due: spotless

adding json ignore and overrides
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PatientAnswers.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PhoneNumber.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ReportStreamResponse.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ResultUploadError.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
Due: spotless

fallback when assigning patientGender; split validation for patient upload
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
Due: spotless

wrong stringutils
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
Due: spotless

remove val from set
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

fix tests using patient_gender
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

changing banner color for data retention
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint

updating snapshot
  frontend/src/app/universalReporting/__snapshots__/LabReportForm.test.tsx.snap
Due: none

fix testresultrow tests
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

update test result docs
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/specificSchemaBuilder.ts
Due: prettier, eslint

Use facility name for MSH-4.1 Namespace ID (#9246)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

update links to spreadsheet template
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
Due: prettier, eslint

update snapshots
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/__snapshots__/DiseaseSpecificUploadContainer.test.tsx.snap
Due: none

changing banner color for data retention (#9248)
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint

Update mid-turbinate nasal swab coding (#9226)
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
Due: spotless

Sonar fixes
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AimsReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

Bump nvmrc and node types to 24
  .nvmrc
  frontend/package.json
  frontend/yarn.lock
Due: none

shortening method names, adding comments
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PatientAnswersRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PhoneNumberRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ReportStreamResponseRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultUploadErrorRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestResultUploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataRetentionService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DataRetentionServiceTest.java
Due: spotless

Update explicit types for header segments
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

simplifiy bool
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
Due: spotless

Refactor AIMS reporting service (#9219)
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/AimsUploadException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AimsProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AimsReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/S3UploadResponse.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/AimsReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7Test.java
Due: spotless

testing restored database
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev4/metabase.tf
Due: none

modified postgres_server_fqdn and postgres_server_name to test value
  ops/dev4/metabase.tf
Due: none

fix: nginx/Dockerfile to reduce vulnerabilities
  nginx/Dockerfile
Due: none

fix: nginx/Dockerfile to reduce vulnerabilities (#9251)
  nginx/Dockerfile
Due: none

updating data retention messaging, removing banners
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.scss
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/commonComponents/DataRetentionModal.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testResults/ResultsNavWrapper.tsx
Due: prettier, eslint, stylelint
