Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

regenerated codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Fix page & result count display; Tidy comments & un-used code
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultService.java
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
Due: spotless, prettier, eslint

replace getGenericSpecimen() with genericSpecimenType
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Fixed sonar cloud smell
  frontend/src/app/signUp/IdentityVerification/utils.ts
  frontend/src/app/utils/clia.ts
Due: prettier, eslint

fix total entries value
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestResultRepository.java
  frontend/src/app/testResults/TestResultsList.tsx
Due: spotless, prettier, eslint

clean up
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestResultRepository.java
Due: spotless

tests
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

fix tests for results page w/ multiplex
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

fix for testimer test
  frontend/src/app/testQueue/TestTimer.test.tsx
Due: prettier, eslint

Fixed feedback
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/commonComponents/SingleFileInput.test.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientModal.tsx
Due: prettier, eslint

Fixed feedback
  frontend/src/app/patients/ManagePatients.test.tsx
Due: prettier, eslint

update checksums based on merge to main and deploy
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Upgraded all codegen related packages (#6681)
  frontend/package.json
  frontend/src/generated/graphql.tsx
  frontend/yarn.lock
Due: prettier, eslint

Johanna/6596 clean up act warnings part2 (#6655)
  frontend/src/app/OperationMocks.ts
  frontend/src/app/ReportingApp.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.test.tsx
  frontend/src/app/commonComponents/SingleFileInput.test.tsx
  frontend/src/app/commonComponents/SingleFileInput.tsx
  frontend/src/app/patients/AddPatientAddressVerification.test.tsx
  frontend/src/app/patients/AddPatientStartsTest.test.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.test.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/Escalations/Escalations.test.tsx
  frontend/src/app/supportAdmin/Escalations/__snapshots__/Escalations.test.tsx.snap
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientFilters.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientModal.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/testUtils.ts
  frontend/src/app/testResults/DownloadResultsCsvModal.test.tsx
  frontend/src/app/testResults/__snapshots__/DownloadResultsCsvModal.test.tsx.snap
Due: prettier, eslint

Remove reference to non-existent generated GraphQL method
  frontend/src/app/testResults/mocks/queries.mock.tsx
Due: prettier, eslint

Merged with main
  frontend/src/app/testQueue/TestTimer.test.tsx
Due: prettier, eslint

Act clean up part 1 (#6680)
  frontend/src/app/accountCreation/MfaGoogleAuthVerify/MfaGoogleAuthVerify.test.tsx
  frontend/src/app/accountCreation/MfaOktaVerify/MfaOktaVerify.test.tsx
  frontend/src/app/accountCreation/MfaPhone/MfaPhone.test.tsx
  frontend/src/app/accountCreation/MfaPhoneVerify/MfaPhoneVerify.test.tsx
  frontend/src/app/accountCreation/MfaSelect/MfaSelect.test.tsx
  frontend/src/app/accountCreation/MfaSms/MfaSms.test.tsx
  frontend/src/app/accountCreation/MfaSmsVerify/MfaSmsVerify.test.tsx
  frontend/src/app/accountCreation/SecurityQuestion/SecurityQuestion.test.tsx
  frontend/src/app/commonComponents/ActionsMenu.test.tsx
  frontend/src/app/commonComponents/Pagination.test.tsx
Due: prettier, eslint

Fixed code smell
  frontend/src/app/signUp/IdentityVerification/utils.ts
Due: prettier, eslint

add @Repository to OrganizationRepository
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/OrganizationRepository.java
Due: spotless

Revert "add @Repository to OrganizationRepository"
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/OrganizationRepository.java
Due: spotless

upgrade to hibernate 6.3.1.FINAL
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Replace @Type(PostgreSQLEnumType.class) with @JdbcTypeCode(SqlTypes.NAMED_ENUM)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PhoneNumber.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ResultUploadError.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestResultUpload.java
Due: spotless

fix the time comparison and use current_timestamp() instead of NOW()
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TenantDataAccessRepository.java
Due: spotless

Add private endpoint for SimpleReport app.
  ops/pentest/main.tf
  ops/services/app_service/_var.tf
  ops/services/app_service/main.tf
Due: none

Upgrade postgres to 14.8-bookworm.
  backend/db-setup/Dockerfile
Due: none

Switch to debian command syntax.
  backend/db-setup/Dockerfile
Due: none

Switch to debian postgres and python packages.
  backend/db-setup/Dockerfile
Due: none

Try an update first.
  backend/db-setup/Dockerfile
Due: none

Use apt-get for stability.
  backend/db-setup/Dockerfile
Due: none

Fixed sonar cloud smell (#6684)
  frontend/src/app/signUp/IdentityVerification/utils.ts
  frontend/src/app/utils/clia.ts
Due: prettier, eslint

Map all AOE fields in the FHIR bundle (#6608)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/fhir/bundle-integration-testing.json
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/bundles-upload-integration-testing.ndjson
  backend/src/test/resources/fhir/observationAllAoe.json
  backend/src/test/resources/fhir/observationEmployedInHealthcare.json
  backend/src/test/resources/fhir/observationPregnancyStatus.json
  backend/src/test/resources/fhir/observationResidesInCongregateSetting.json
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-comments.ndjson
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-flu-only.ndjson
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-specimenType-loinc.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-different-results.csv
Due: spotless

testing the testing library
  frontend/src/app/testQueue/TestInputs.test.tsx
  frontend/src/app/testQueue/TestInputs.tsx
Due: prettier, eslint

Test changes - update many, many mocks and fudge some typing to get things to build (for now)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/TestResultsListItem.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/testResults/mocks/resultForCorrection.ts
  frontend/src/app/testResults/mocks/resultForEmail.ts
  frontend/src/app/testResults/mocks/resultForPrint.ts
  frontend/src/app/testResults/mocks/resultForViewing.ts
  frontend/src/app/testResults/mocks/resultsByAllFacilities.mock.tsx
  frontend/src/app/testResults/mocks/resultsByFacility.mock.tsx
  frontend/src/app/testResults/mocks/resultsByPatient.mock.tsx
  frontend/src/app/testResults/mocks/resultsByResultValue.mock.tsx
  frontend/src/app/testResults/mocks/resultsByRole.mock.tsx
  frontend/src/app/testResults/mocks/resultsByStartDate.mock.tsx
  frontend/src/app/testResults/mocks/resultsCovid.mock.tsx
  frontend/src/app/testResults/mocks/resultsMultiplex.mock.tsx
  frontend/src/app/testResults/operations.graphql
  frontend/src/app/testResults/resultsTable/ResultsTable.test.tsx
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Partially fix pagination on Results page (#6659)
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

Fix reference to test id in mock
  frontend/src/app/testResults/mocks/queries.mock.tsx
Due: prettier, eslint

Update some more test results mocks
  frontend/src/app/testResults/mocks/queries.mock.tsx
Due: prettier, eslint

fix: hardcode environment names in deployStg and deployTest workflows
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
Due: none

Fix act warnings in frontend tests
  frontend/src/app/signUp/IdentityVerification/QuestionsForm.test.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsFormContainer.test.tsx
  frontend/src/app/signUp/Organization/UnsupportedStateModal.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.test.tsx
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessForm.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.test.tsx
Due: prettier, eslint

fix: hardcode environment names in deployStg and deployTest workflows (#6690)
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
Due: none

fix: hardcode environment details for demo and training deployment workflows
  .github/workflows/deployDemo.yml
  .github/workflows/deployTraining.yml
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
