Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

fix imports for real this time again
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add gradle locks script to intellij (#4998)
  .run/write gradle locks.run.xml
Due: none

update json dependency
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Fix test queue card word wrap in Safari (#4990)
  frontend/src/app/testQueue/TestQueue.scss
Due: stylelint

Don't cancel ongoing test jobs, to prevent loss of TF lock control. (#4988)
  .github/workflows/deployTest.yml
Due: none

make extra uneeded fields in device_specimen_type optional (#4983)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

liquibase update create shedlock table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

grant select for no phi user
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

update json dependency (#4999)
  backend/build.gradle
  backend/gradle.lockfile
Due: none

create fhir bundle (#4928)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Facility.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Provider.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/FacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/ProviderTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestOrderTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/organization.json
  backend/src/test/resources/fhir/patient.json
  backend/src/test/resources/fhir/practitioner.json
Due: spotless

remove DeviceSpecimenType
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiFacility.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Facility.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceSpecimenTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/FacilityRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/OrganizationFacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/FacilityRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

fix backend tests
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

clean up import
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
Due: spotless

fix alignment
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add rollback for the column
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

add file size limits to patient uploader
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

Revert "add rollback for the column"
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

copy change: setup -> set up
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

update screenshots and e2e with new set up content
  cypress/integration/02-add_patient_spec.js
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
Due: none

add some imports back
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

clean up
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

add test performed code column (#4984)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

add test performed code
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceSupportedDisease.java
Due: spotless

set test timeout
  cypress/integration/02-add_patient_spec.js
Due: none

fix typo
  cypress/integration/02-add_patient_spec.js
Due: none

put a log in the generate patient
  cypress/integration/02-add_patient_spec.js
  cypress/support/index.js
Due: none

Update failing snapshots in CI
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: none

Update failing snapshots in CI (#5014)
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: none

Apply nowrap only to test queue radio buttons
  frontend/src/app/testQueue/TestQueue.scss
Due: stylelint

handle null device specimen type
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
Due: spotless

add cypress logs
  cypress/integration/02-add_patient_spec.js
  cypress/support/index.js
Due: none

move patient generation into before
  cypress/integration/02-add_patient_spec.js
  cypress/support/index.js
Due: none

Apply nowrap only to test queue radio buttons (#5015)
  frontend/src/app/testQueue/TestQueue.scss
Due: stylelint

fix naming patient
  cypress/integration/02-add_patient_spec.js
Due: none

Added user information and stripped query params from page names.
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Changes access of properties
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Setting account as empty in the user context
  frontend/src/app/ReportingApp.tsx
Due: prettier, eslint

Added appInsights object in dependency array.
  frontend/src/app/ReportingApp.tsx
Due: prettier, eslint

move test outside of top level describe
  cypress/integration/02-add_patient_spec.js
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
