Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

lint pt 2
  frontend/src/app/commonComponents/Checkboxes.test.tsx
Due: prettier, eslint

rerename
  frontend/src/app/commonComponents/Checkboxes.test.ts
Due: prettier, eslint

padding zero across the board
  frontend/src/app/commonComponents/Checkboxes.tsx
  frontend/src/app/signUp/Organization/__snapshots__/UnsupportedStateModal.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

update issue for facilities form checkboxes
  frontend/src/app/Settings/Users/UserFacilitiesSettings.tsx
  frontend/src/app/Settings/Users/UserFacilitiesSettingsForm.tsx
Due: prettier, eslint

Add waiting delay on smoke test (#7770)
  .github/workflows/deployProd.yml
  frontend/deploy-smoke.js
Due: prettier, eslint

fix e2e
  cypress/e2e/04-covid_only_tests.cy.js
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
Due: prettier, eslint

but actually this time
  cypress/e2e/04-covid_only_tests.cy.js
Due: none

Bob and bobby/7768 fix checkbox multiselect bug (#7771)
  cypress/e2e/04-covid_only_tests.cy.js
  frontend/src/app/Settings/Users/UserFacilitiesSettings.tsx
  frontend/src/app/Settings/Users/UserFacilitiesSettingsForm.tsx
  frontend/src/app/commonComponents/Checkboxes.tsx
  frontend/src/app/signUp/Organization/__snapshots__/UnsupportedStateModal.test.tsx.snap
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCard/testMocks.ts
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/testUtils/submissionMocks.ts
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
Due: prettier, eslint

Add TextWithTooltipButton component
  frontend/src/app/commonComponents/TextWithTooltipButton.tsx
Due: prettier, eslint

Update multiselect styling props
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
Due: prettier, eslint

Add tooltip modals for sensitive topics and results
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/WhereResultsAreSentModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
Due: prettier, eslint

Appease eslint
  frontend/src/app/commonComponents/TextWithTooltipButton.tsx
Due: prettier, eslint

Add props on sensitive topics modal
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
Due: prettier, eslint

Remove syphilis tooltip questions for HIV AOE
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
Due: prettier, eslint

Update select all that apply text color
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
Due: prettier, eslint

Add sensitive topics modal to syphilis
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
Due: prettier, eslint

Update spacing on modals
  frontend/src/app/testQueue/TestCardForm/WhereResultsAreSentModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
Due: prettier, eslint

Update snapshots
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: none

Update tests and snapshots
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/WhereResultsAreSentModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
  frontend/src/app/testQueue/TestCardForm/testUtils/testConstants.ts
Due: prettier, eslint

Update spacing
  frontend/src/app/testQueue/TestCardForm/WhereResultsAreSentModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
Due: prettier, eslint

Fix sonar smells
  frontend/src/app/commonComponents/TextWithTooltipButton.tsx
  frontend/src/app/testQueue/TestCardForm/WhereResultsAreSentModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
Due: prettier, eslint

Add props to results modal
  frontend/src/app/testQueue/TestCardForm/WhereResultsAreSentModal.tsx
Due: prettier, eslint

Update heading hierarchy
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
Due: prettier, eslint

Use explicit max width override
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
Due: prettier, eslint

Resolve snapshot conflict
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
Due: none

Add info icon modals to indicate additional context is available (#7765)
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/commonComponents/TextWithTooltipButton.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/WhereResultsAreSentModal.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/testUtils/testConstants.ts
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

migrate API's to v2 syntax
  frontend/src/app/testResults/submissions/Submissions.stories.tsx
  frontend/src/stories/storyMocks.tsx
Due: prettier, eslint

configure msw to work with frontend public
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/mockServiceWorker.js
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/yarn.lock
Due: prettier, eslint

Use and add/edit storybook mocks
  frontend/package.json
  frontend/src/app/patients/AddPatient.stories.tsx
  frontend/src/app/testQueue/TestCard/TestCard.stories.tsx
  frontend/src/app/testResults/submissions/Submissions.stories.tsx
  frontend/src/stories/Checkboxes.stories.tsx
  frontend/src/stories/storyMocks.tsx
Due: prettier, eslint

Limit high urgency prod page to only when staging was successful
  .github/workflows/deployProd.yml
Due: none

Limit high urgency prod page to only when staging was successful (#7775)
  .github/workflows/deployProd.yml
Due: none

Elisa/upgrade storybook (#7774)
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/mockServiceWorker.js
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/app/patients/AddPatient.stories.tsx
  frontend/src/app/testQueue/TestCard/TestCard.stories.tsx
  frontend/src/stories/Checkboxes.stories.tsx
  frontend/src/stories/storyMocks.tsx
  frontend/yarn.lock
Due: prettier, eslint

Add covid only flag for resend mutation
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolverTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

comment chang bc linter lol
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
Due: prettier, eslint

add missing mock
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/testMocks.ts
Due: prettier, eslint

Update conditionals
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
Due: spotless

Make booleans conditional for resend mutation
  backend/src/main/resources/graphql/admin.graphqls
Due: none

Update graphql codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

consolidate test constants into shared files
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/testMocks.ts
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.test.tsx
  frontend/src/app/testQueue/TestCardForm/testUtils/submissionMocks.ts
  frontend/src/app/testQueue/TestCardForm/testUtils/testConstants.ts
  frontend/src/app/testQueue/testCardTestConstants.ts
Due: prettier, eslint

some more cleanup
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
