Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

hide rsv on manage devices (#6539)
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/Settings/Facility/Components/RSVFiltering.test.ts
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedCovid.ts
Due: spotless, prettier, eslint

Hide RSV from test card in queue
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/utils/rsvHelper.test.ts
  frontend/src/app/utils/rsvHelper.ts
Due: prettier, eslint

replace ts ignore with generic
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/utils/rsvHelper.ts
Due: prettier, eslint

lint
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

use variable better
  frontend/src/app/utils/rsvHelper.ts
Due: prettier, eslint

add backend rsv feature flag
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
Due: spotless

lint
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
Due: spotless

remove redundant case
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

add null check
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

switch to request body
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

add test
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

switch colon out for equal
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
Due: spotless

chore(github): change token in updateGradleLocks workflow
  .github/workflows/updateGradleLocks.yml
Due: none

Bump com.microsoft.azure:applicationinsights-core from 3.4.15 to 3.4.16 in /backend
  .github/workflows/updateGradleLocks.yml
  backend/build.gradle
  backend/gradle.lockfile
Due: none

try some more stuff
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
Due: spotless

change reference to clone
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

refactor: use single variable for Okta domain in Header component
  frontend/src/app/commonComponents/Header.tsx
Due: prettier, eslint

put limits for chromatic build
  .github/workflows/chromatic.yml
Due: none

add path on pr
  .github/workflows/chromatic.yml
Due: none

rename upload to upload form
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/testResults/uploads/UploadForm.test.tsx
  frontend/src/app/testResults/uploads/UploadForm.tsx
  frontend/src/stories/testResults/Uploads.stories.tsx
Due: prettier, eslint

refactor to pull out uploadResults function and alerts into property
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.test.tsx
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
  frontend/src/app/testResults/uploads/UploadForm.test.tsx
  frontend/src/app/testResults/uploads/UploadForm.tsx
Due: prettier, eslint

debug logs
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

turn on MH
  frontend/src/config/constants.ts
Due: prettier, eslint

add upload type to upload form
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
  frontend/src/app/testResults/uploads/UploadForm.test.tsx
  frontend/src/app/testResults/uploads/UploadForm.tsx
Due: prettier, eslint

fix app insight test for upload type and add property for spreadsheetTemplate
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
  frontend/src/app/testResults/uploads/UploadForm.test.tsx
  frontend/src/app/testResults/uploads/UploadForm.tsx
Due: prettier, eslint

change branches to ** for pull_request
  .github/workflows/chromatic.yml
Due: none

only run chromatic job on prs and merge to main (#6548)
  .github/workflows/chromatic.yml
Due: none

add snapshot
  frontend/src/app/testResults/uploads/__snapshots__/DiseaseSpecificUploadContainer.test.tsx.snap
Due: none

refactor: use single variable for Okta domain in Header component (#6547)
  frontend/src/app/commonComponents/Header.tsx
Due: prettier, eslint

fix upload form story
  frontend/src/stories/testResults/UploadForm.stories.tsx
Due: prettier, eslint

add agnostic upload container and route
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/testResults/uploads/AgnosticUploadContainer.test.tsx
  frontend/src/app/testResults/uploads/AgnosticUploadContainer.tsx
Due: prettier, eslint

prefix unused variable with underscore
  frontend/src/app/testResults/uploads/AgnosticUploadContainer.tsx
  frontend/src/app/testResults/uploads/__snapshots__/AgnosticUploadContainer.test.tsx.snap
Due: prettier, eslint

add a property for upload guide location
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
  frontend/src/app/testResults/uploads/UploadForm.tsx
  frontend/src/app/testResults/uploads/__snapshots__/AgnosticUploadContainer.test.tsx.snap
Due: prettier, eslint

turn on MH (#6549)
  frontend/src/config/constants.ts
Due: prettier, eslint

tweak request formatting
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

lint
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

fix stub
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
Due: spotless

undo debug var assignments
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

swith toekn matcher
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
