Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

turn off sendgrid
  backend/src/main/resources/application-azure-dev5.yaml
Due: none

patient bulk upload ui (#4874)
  cypress/integration/02-add_patient_spec.js
  cypress/integration/08-save_and_start_test_spec.js
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/app/commonComponents/IconLabel.tsx
  frontend/src/app/commonComponents/MenuButton.scss
  frontend/src/app/commonComponents/MenuButton.tsx
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/commonComponents/__snapshots__/Pagination.test.tsx.snap
  frontend/src/app/patients/AddPatient.tsx
  frontend/src/app/patients/Components/AddPatientsHeader.test.tsx
  frontend/src/app/patients/Components/AddPatientsHeader.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/patients/PatientUpload.test.tsx
  frontend/src/app/patients/PatientUpload.tsx
  frontend/src/app/patients/PatientsNav.tsx
  frontend/src/app/patients/UploadPatients.scss
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/DownloadResultsCsvModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/img/loader.svg
  frontend/src/scss/PrimeStyles.scss
  frontend/yarn.lock
  lighthouserc.yml
Due: prettier, eslint, stylelint

Email notification for Patient Bulk Upload (#4852)
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/email/EmailProviderTemplate.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/email/EmailServiceTest.java
Due: spotless

remove zipkin dependencies
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Re-enable touchpoints and update form (#4862)
  frontend/public/touchpoints.js
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

add facility to organization
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Facility.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/FacilityTest.java
  backend/src/test/resources/fhir/organization.json
Due: spotless

search apiuser table with okta login username field, not primary email
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

search Okta users by username properly
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

fix search term and try again
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

fix getting role claims search as well
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

fix reference to person test
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/FacilityTest.java
Due: spotless

facility to fhir (#4903)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Facility.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/FacilityTest.java
  backend/src/test/resources/fhir/organization.json
Due: spotless

add provider to practitioner
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Provider.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/ProviderTest.java
  backend/src/test/resources/fhir/practitioner.json
Due: spotless

fix a bug where assertion was not strict
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/FacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
Due: spotless

fix other searches and update auto
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

lint
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Address PR comments
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
Due: spotless

stop using duplicate string literals
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

string to device
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

fix code smells
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

Set max-widths for patients, test cards, manage users
  frontend/src/app/Settings/Users/ManageUsers.scss
  frontend/src/app/patients/ManagePatients.scss
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testQueue/QueueItem.scss
Due: prettier, eslint, stylelint

Solved merge conflicts with main and replaces input file component in patient bulk upload flow
  frontend/package.json
  frontend/src/app/commonComponents/SingleFileInput.scss
  frontend/src/app/commonComponents/SingleFileInput.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/UploadPatients.scss
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/yarn.lock
Due: prettier, eslint, stylelint

add toFhir method for device specimen type
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenType.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenTypeTest.java
  backend/src/test/resources/fhir/device.json
Due: spotless

change px to rem
  frontend/src/app/patients/ManagePatients.scss
Due: stylelint

make assertion strict
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenTypeTest.java
Due: spotless

remove min-width on card dob
  frontend/src/app/testQueue/QueueItem.scss
Due: stylelint

fix codesmells
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Remove facilities on org deletion (#4829)
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Set max-widths for UI Elements (#4905)
  frontend/src/app/Settings/Users/ManageUsers.scss
  frontend/src/app/patients/ManagePatients.scss
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testQueue/QueueItem.scss
Due: prettier, eslint, stylelint

rename function
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenType.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenTypeTest.java
Due: spotless

remove specimen type on fhir device
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenType.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

remove device code as we do not actually have that information
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/device.json
Due: spotless

add convert to specimen
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

refactor null values to device test
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

convert specimen type to specimen
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

convert specimenType to specimen in DeviceSpecimenType
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenType.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenTypeTest.java
  backend/src/test/resources/fhir/specimen.json
Due: spotless

remove print line
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/ProviderTest.java
Due: spotless

add result to observation
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add null tests
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless
