Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add debug log statements
  cypress/cypress.config.js
  cypress/e2e.sh
Due: none

comment out extraneous jobs
  .github/workflows/checkGraphql.yml
  .github/workflows/chromatic.yml
  .github/workflows/codeql.yml
  .github/workflows/terraformChecks.yml
  .github/workflows/testingWorkflow.yml
  .github/workflows/tfsec.yml
Due: none

comment
  cypress/cypress.config.js
Due: none

Fix useDisabledFeatureDiseaseList hook
  frontend/src/app/utils/disease.ts
Due: prettier, eslint

Add syphilis support on results page (#7539)
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/testResults/constants.ts
  frontend/src/app/testResults/viewResults/DownloadResultsCsvModal.tsx
  frontend/src/app/testResults/viewResults/TestResultsFilters.tsx
  frontend/src/app/utils/disease.ts
  frontend/src/app/utils/testResultCSV.test.ts
  frontend/src/app/utils/testResultCSV.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

add syphilis to disease constants
  frontend/src/app/utils/testResults.ts
Due: prettier, eslint

merge conflict fix
  frontend/src/app/analytics/Analytics.test.tsx
Due: prettier, eslint

Upgrade to node 20
  .github/workflows/checkGraphql.yml
  .github/workflows/chromatic.yml
  .github/workflows/coverity.yml
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
  .github/workflows/maintenance.yml
  .github/workflows/smokeTestDeployProd.yml
  .github/workflows/test.yml
  .nvmrc
  cypress/yarn.lock
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: none

do it correctly this time
  .github/workflows/e2eLocal.yml
  .github/workflows/testingWorkflow.yml
  cypress/cypress.config.js
  cypress/e2e.sh
  docker-compose.cypress.yml
Due: none

err maybe uncomment those?
  .github/workflows/e2eLocal.yml
  .github/workflows/test.yml
  .github/workflows/testingWorkflow.yml
  cypress/cypress.config.js
  cypress/e2e.sh
  docker-compose.cypress.yml
Due: none

modify docker bash command env
  docker-compose.cypress.yml
Due: none

uncomment some testing blocks
  .github/workflows/testingWorkflow.yml
Due: none

set up record infra
  .github/workflows/e2eLocal.yml
  .github/workflows/testingWorkflow.yml
  cypress/cypress.config.js
  cypress/e2e.sh
  docker-compose.cypress.yml
Due: none

test
  cypress/cypress.config.js
Due: none

reorg spec 1
  cypress/e2e/01-organization_sign_up.cy.js
Due: none

turn on feature flags in dev4
  backend/src/main/resources/application-azure-dev4.yaml
Due: none

remove unneeded change
  frontend/src/app/utils/testResults.ts
Due: prettier, eslint

only have syphilis flag on
  backend/src/main/resources/application-azure-dev4.yaml
Due: none

Upgrade to node 20 (#7549)
  .github/workflows/checkGraphql.yml
  .github/workflows/chromatic.yml
  .github/workflows/coverity.yml
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
  .github/workflows/maintenance.yml
  .github/workflows/smokeTestDeployProd.yml
  .github/workflows/test.yml
  .nvmrc
  cypress/yarn.lock
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: none

Use testing lab if ordering facility values blank in UP
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

Upgrade to node version 20
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

wip
  ops/demo/.terraform.lock.hcl
  ops/demo/persistent/.terraform.lock.hcl
  ops/dev/.terraform.lock.hcl
  ops/dev/persistent/.terraform.lock.hcl
  ops/dev2/.terraform.lock.hcl
  ops/dev2/persistent/.terraform.lock.hcl
  ops/dev3/.terraform.lock.hcl
  ops/dev3/persistent/.terraform.lock.hcl
  ops/dev4/.terraform.lock.hcl
  ops/dev4/persistent/.terraform.lock.hcl
  ops/dev5/.terraform.lock.hcl
  ops/dev5/persistent/.terraform.lock.hcl
  ops/dev6/.terraform.lock.hcl
  ops/dev6/persistent/.terraform.lock.hcl
  ops/global/.terraform.lock.hcl
  ops/pentest/.terraform.lock.hcl
  ops/pentest/persistent/.terraform.lock.hcl
  ops/prod/.terraform.lock.hcl
  ops/prod/persistent/.terraform.lock.hcl
  ops/stg/.terraform.lock.hcl
  ops/stg/persistent/.terraform.lock.hcl
  ops/test/.terraform.lock.hcl
  ops/test/persistent/.terraform.lock.hcl
  ops/training/.terraform.lock.hcl
  ops/training/persistent/.terraform.lock.hcl
Due: none

card UI pass one
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
Due: prettier, eslint

codemod mdx file
  frontend/.storybook/main.js
  frontend/package.json
  frontend/src/stories/Introduction.stories.mdx
Due: prettier, eslint

new file
  frontend/src/stories/Introduction.mdx
Due: none

add glob back to export config
  frontend/.storybook/main.js
Due: prettier, eslint

turn off some unneeded configs
  cypress/cypress.config.js
Due: none

import
  cypress/cypress.config.js
Due: none

best guess of syphilis snomed codes
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
  frontend/src/app/utils/symptoms.ts
  frontend/src/patientApp/timeOfTest/constants.ts
Due: prettier, eslint

remove feature flag config
  backend/src/main/resources/application-azure-dev4.yaml
Due: none

Use testing lab if ordering facility values blank in UP (#7567)
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

Add Syphilis to dashboard (#7514)
  backend/src/main/resources/application-azure-dev4.yaml
  frontend/src/app/analytics/Analytics.test.tsx
Due: prettier, eslint

get schema mapping to wrapped order working
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/AskOnEntrySurvey.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/graphql-test/queue-dates-query.graphql
  backend/src/test/resources/graphql-test/update-time-of-test-questions.graphql
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/addToQueue/operations.graphql
  frontend/src/app/testQueue/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

backend and graphql
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/AskOnEntrySurvey.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/graphql-test/queue-dates-query.graphql
  backend/src/test/resources/graphql-test/update-time-of-test-questions.graphql
  frontend/src/app/testQueue/addToQueue/operations.graphql
  frontend/src/app/testQueue/operations.graphql
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
