Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

get initial wiring added
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
  backend/src/main/resources/graphql/admin.graphqls
Due: spotless

rename test specs
  cypress/e2e/04-covid-only-test-main-flow.js
  cypress/e2e/04b-covid-only-test-alternate-flows.js
  cypress/e2e/10-support-manage-facility.cy.js
Due: none

match the pattern correctly
  cypress/e2e/04-covid_only_test_main_flow.cy.js
  cypress/e2e/04b-covid_only_test_alternate_flows.cy.js
Due: none

rename test
  cypress/e2e/04-covid_only_test_main_flow.cy.js
Due: none

fix spec 9
  cypress/e2e/04-covid_only_test_main_flow.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

fix spec 04
  backend/src/main/resources/application-e2e.yaml
  cypress/e2e/04-covid_only_test_main_flow.cy.js
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

css adjustments from design feedback
  frontend/src/app/Settings/Users/ManageUsers.scss
  frontend/src/app/Settings/Users/UsersSideNav.tsx
Due: prettier, eslint, stylelint

rename test specs (#7013)
  cypress/e2e/04-covid_only_test_main_flow.cy.js
  cypress/e2e/04b-covid_only_test_alternate_flows.cy.js
  cypress/e2e/10-support-manage-facility.cy.js
Due: none

some more work on the alternate flows
  cypress/e2e/04b-covid_only_test_alternate_flows.cy.js
  frontend/src/app/patients/AddPatient.test.tsx
Due: prettier, eslint

move action menu into main spec and refactor alternate specs
  cypress/e2e/04-covid_only_test_main_flow.cy.js
  cypress/e2e/04b-covid_only_test_alternate_flows.cy.js
Due: none

fix frontend tests
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

add modal dismissals to e2es
  cypress/e2e/04-covid_only_test_main_flow.cy.js
  cypress/e2e/04b-covid_only_test_alternate_flows.cy.js
Due: none

remove unused import
  cypress/e2e/04-covid_only_test_main_flow.cy.js
Due: none

dedupe test id
  cypress/e2e/09-multiplex_testing.cy.js
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

jk remove the extra styles for submit
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

add force true
  cypress/e2e/04-covid_only_test_main_flow.cy.js
Due: none

maybe consolidate tests
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/04b-covid_only_test_alternate_flows.cy.js
Due: none

add update type and endpoint
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateSpecimenType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedSpecimenTypeException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

add tests and move some error handling around
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateSpecimenType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenTypeServiceTest.java
Due: spotless

lint codegen file
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

update comment and switch error handling order
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedSpecimenTypeException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
Due: spotless

update error message
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
Due: spotless

typo
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedSpecimenTypeException.java
Due: spotless

typo v2
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedSpecimenTypeException.java
Due: spotless

fix code smells
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateSpecimenType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenTypeServiceTest.java
Due: spotless

show RSV in PXP/print page * dynamically populate diseases on view results modal
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/testResults/types.d.ts
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/utils/testResults.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

clean up code smell (?)
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
Due: prettier, eslint

clean up duplicate code in testResultCSV.test.ts
  frontend/src/app/utils/testResultCSV.test.ts
Due: prettier, eslint

Fix phone number remove button
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
Due: prettier, eslint

add updateSpecimenType mutation (#7017)
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateSpecimenType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/UnidentifiedSpecimenTypeException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenTypeServiceTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Reformat file
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
Due: prettier, eslint

Fix with intellij prettier config setting
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
Due: prettier, eslint

Remove FHIR feature flags
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReportTestEventToRSEventListener.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

unit tests
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
  frontend/src/app/Settings/Users/UsersSideNav.tsx
Due: prettier, eslint

update detailsmodal test
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultDetailsModal.test.tsx.snap
Due: prettier, eslint

print modal test coverage
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: prettier, eslint

Clean up fhir-enabled usages
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadConditionAgnosticResultsIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
  backend/src/test/resources/application-test.yaml
Due: spotless

test for RSV in result page filter dropdown
  frontend/src/app/testResults/viewResults/TestResultsList.test.tsx
Due: prettier, eslint

Fix remove email button
  frontend/src/app/patients/Components/ManageEmails.tsx
Due: prettier, eslint

remove act
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
Due: prettier, eslint
