Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

check if function_id is null, then just set as empty array
  ops/services/alerts/app_service_metrics/main.tf
Due: none

Added unit testing and removed unnecessary loading state
  frontend/src/app/testResults/DownloadResultsCsvModal.test.tsx
  frontend/src/app/testResults/DownloadResultsCsvModal.tsx
Due: prettier, eslint

Removed simple report redundant text from sign up page titles (#5354)
  frontend/src/app/signUp/IdentityVerification/Consent.tsx
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsForm.tsx
  frontend/src/app/signUp/IdentityVerification/Success.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
  frontend/src/app/signUp/Organization/RequestAccess.tsx
  frontend/src/app/signUp/Organization/RequestTestResult.tsx
  frontend/src/app/signUp/Organization/SignUpGoals.tsx
Due: prettier, eslint

Fixed formatting
  frontend/src/app/testResults/DownloadResultsCsvModal.test.tsx
Due: prettier, eslint

fix function app memory alert in stage (#5367)
  ops/services/alerts/app_service_metrics/main.tf
  ops/stg/alerts.tf
Due: none

refactor local init devices to create deviceTestPerformedLoincCodes (#5317)
  backend/lombok.config
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceSpecimenTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTestPerformedLoincCodeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DeviceTestLengthConverter.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application-e2e.yaml
  backend/src/main/resources/application-okta-local.yaml
  backend/src/test/resources/application-default.yaml
Due: spotless

remove mem alert
  ops/services/alerts/app_service_metrics/main.tf
Due: none

remove mem alert (#5368)
  ops/services/alerts/app_service_metrics/main.tf
Due: none

change processing system (#5364)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

disable stage alerts
  ops/stg/alerts.tf
Due: none

Remove okta_policy_rule_signon from global config (#5363)
  ops/services/okta-global/main.tf
Due: none

disable fhir alerts in all lower envs
  ops/demo/alerts.tf
  ops/stg/alerts.tf
  ops/test/alerts.tf
  ops/training/alerts.tf
Due: none

rename _client to client
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

Modified StepIndicator component to accept custom heading configuration
  frontend/src/app/commonComponents/StepIndicator.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsForm.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

Migration of FHIR function to token-based auth (#5313)
  ops/demo/_data.tf
  ops/demo/api.tf
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/dev2/_data.tf
  ops/dev2/api.tf
  ops/dev3/_data.tf
  ops/dev3/api.tf
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev5/_data.tf
  ops/dev5/api.tf
  ops/dev6/_data.tf
  ops/dev6/api.tf
  ops/dev7/_data.tf
  ops/dev7/api.tf
  ops/pentest/_data.tf
  ops/pentest/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/types.d.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
  ops/training/_data.tf
  ops/training/api.tf
Due: none

disable stage alerts (#5370)
  ops/demo/alerts.tf
  ops/stg/alerts.tf
  ops/test/alerts.tf
  ops/training/alerts.tf
Due: none

REMOVE - add logging for cypress
  cypress/plugins/index.js
Due: none

Added logic to the dropdown compoentn sot aria-selected gets set in option elements
  frontend/src/app/analytics/Analytics.tsx
  frontend/src/app/commonComponents/Dropdown.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultCorrectionModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

update ubuntu apt sources
  .github/workflows/e2eLocal.yml
  .github/workflows/lighthouse.yml
Due: none

Johanna/fixes apollo client upgrade (#5366)
  frontend/package.json
  frontend/src/app/testResults/DownloadResultsCsvModal.test.tsx
  frontend/src/app/testResults/DownloadResultsCsvModal.tsx
  frontend/src/app/utils/hooks.tsx
  frontend/yarn.lock
Due: prettier, eslint

update ubuntu apt sources (#5376)
  .github/workflows/e2eLocal.yml
  .github/workflows/lighthouse.yml
Due: none

block evaluation of the azurerm_monitor_metric_alert block unless we want to create one
  ops/services/alerts/app_service_metrics/main.tf
Due: none

add tf plan stg
  .github/workflows/terraform_checks.yml
Due: none

Update gradle.lockfile with dependabot changes.
  backend/gradle.lockfile
Due: none

update dep to use new location
  backend/build.gradle
  backend/gradle.lockfile
Due: none

remove expected body in mappings
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228nrj9qdj10y61d7-b82e4e55-9c33-4d17-98cb-6ffce901143d.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228nuk4y75yit11d7-0610ce14-a0ac-4d94-8d98-263a4af7a34f.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228nyd7uugag1l1d7-233e5353-4ebf-4748-bf83-760bf1cf1376.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228od2fuscasdm1d7-139b14a9-4fe9-430d-88a5-36bd2136dc53.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228ofzf89lvr8s1d7-ddde229c-13fc-4245-aa68-0ae096224667.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228orh0j8unens1d7-5a69690f-16d0-48b9-9bbb-f2c85171a681.json
Due: none

REMOVE BODY MATCHING
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228nrj9qdj10y61d7-b82e4e55-9c33-4d17-98cb-6ffce901143d.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228nuk4y75yit11d7-0610ce14-a0ac-4d94-8d98-263a4af7a34f.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228nyd7uugag1l1d7-233e5353-4ebf-4748-bf83-760bf1cf1376.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228od2fuscasdm1d7-139b14a9-4fe9-430d-88a5-36bd2136dc53.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228ofzf89lvr8s1d7-ddde229c-13fc-4245-aa68-0ae096224667.json
  cypress/stubs/orgSignUp/mappings/api_v1_apps_0oa1k0163nawfvxnw1d7_groups_00g228orh0j8unens1d7-5a69690f-16d0-48b9-9bbb-f2c85171a681.json
Due: none

Basic unit tests are passing, added device sync to resolver for testing
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceIntegrationTest.java
Due: spotless

Add page titles to test results bulk upload
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.test.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.tsx
Due: prettier, eslint

Add dependencies to useEffect
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint

Try to remove unnecessary dependencies
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint

Use useLocation
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.test.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint

move meta to message header
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

Make requester the PractitionerRole
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

move search parameter in right position
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add mapping for list groups
  cypress/stubs/orgSignUp/mappings/api_v1_groups-list-groups-q.json
Due: none

Cleaned up logic to set the form or div element in card and radio group components
  frontend/src/app/commonComponents/Card/Card.tsx
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

Add page titles to test results bulk upload (#5336)
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.test.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.tsx
Due: prettier, eslint

WIP
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
