Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

fix some touchpoints eslint things
  frontend/public/touchpoints.js
Due: prettier, eslint

Apply suggestions from code review
  frontend/src/app/commonComponents/Button/Button.test.tsx
Due: prettier, eslint

Explicitly grant `TEST_RESULT_UPLOAD_USER` role to spoofed users - Trying this for now, but will consider flexibly granting -all- super-admin roles that may exist
  backend/src/main/java/gov/cdc/usds/simplereport/service/TenantDataAccessService.java
Due: spotless

Force json-smart to invulnerable version. (#4230)
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

set all elements to aria-hidden when date modal is active (#4223)
  frontend/src/app/analytics/TouchpointsButton.tsx
  frontend/src/app/commonComponents/Button/Button.test.tsx
  frontend/src/app/commonComponents/Button/Button.tsx
  frontend/src/app/commonComponents/Card/Card.test.tsx
  frontend/src/app/commonComponents/Card/Card.tsx
  frontend/src/app/commonComponents/DatePicker.tsx
  frontend/src/app/commonComponents/Page/Page.test.tsx
  frontend/src/app/commonComponents/Page/Page.tsx
  frontend/src/app/commonComponents/StepIndicator.tsx
  frontend/src/app/signUp/IdentityVerification/Consent.test.tsx
  frontend/src/app/signUp/IdentityVerification/Consent.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.test.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/SignUpApp.tsx
  frontend/src/app/utils/observeDatePicker.test.ts
  frontend/src/app/utils/observeDatePicker.ts
Due: prettier, eslint

Upgrade several Azure packages resolving nine Snyk findings in dependencies.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

add date picker tests
  frontend/src/app/commonComponents/DatePicker.test.tsx
Due: prettier, eslint

add required field to datepicker
  frontend/src/app/commonComponents/DatePicker.test.tsx
  frontend/src/app/commonComponents/DatePicker.tsx
Due: prettier, eslint

add disabled to datepicker
  frontend/src/app/commonComponents/DatePicker.test.tsx
  frontend/src/app/commonComponents/DatePicker.tsx
Due: prettier, eslint

remove unused param
  frontend/public/touchpoints.js
Due: prettier, eslint

test change wip
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

wip
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpVerifyResponseV2.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

Update unit test assertions
  backend/src/test/java/gov/cdc/usds/simplereport/service/TenantDataAccessServiceTest.java
Due: spotless

add aria hidden attribute to footer to fix test introduced in Boban's modal hiding pR
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

Add legend to the fieldset for Sign Up
  frontend/src/app/signUp/Organization/SignUpGoals.tsx
Due: prettier, eslint

Bob/4002 touchpoints in landmark (#4232)
  frontend/public/touchpoints.js
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

change the old resolvers to the new way and start updating the dataloaders
  .run/Backend.run.xml
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceSpecimenTypeResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientLinkMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientRegistrationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlSchemaDirectiveConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/LocalDateScalar.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/PhoneNumberInput.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/graphql/main.graphqls
  backend/src/main/resources/graphql/wiring.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolverTest.java
  frontend/src/app/analytics/Analytics.tsx
Due: spotless, prettier, eslint

migrating graphql data loaders to spring graphql lib
  backend/src/main/java/gov/cdc/usds/simplereport/api/ExceptionWrappingManager.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/PersonNameResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/User.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/ApiFacilityDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/ApiOrganizationDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ApiUserAwareGraphQlContextBuilder.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/UploadScalarType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/AuditLoggingInstrumentation.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/QueryLoggingInstrumentation.java
  backend/src/test/java/gov/cdc/usds/simplereport/config/ApiUserAwareGraphQlContextBuilderTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

adding the correct datetime scalar
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlSchemaDirectiveConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/LocalDateScalar.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/datetime/DateTimeScalar.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/datetime/DateTimeScalarCoercion.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/localdate/FlexibleDateCoercion.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/localdate/LocalDateScalar.java
  backend/src/main/resources/graphql/wiring.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/FlexibleDateScalarTypeTest.java
Due: spotless

fixed multiplex test order results endpoint
  .run/db down -v.run.xml
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
Due: spotless

fixed test results resolvers
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/ApiUserDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/datetime/DateTimeScalarCoercion.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/AuditedEntity.java
Due: spotless

add graph instrumentation back, sort of
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/HttpRequestDetails.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/AuditLoggingInstrumentation.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/GraphQlInterceptor.java
Due: spotless

working on audit intercepter
  backend/src/main/java/gov/cdc/usds/simplereport/api/InternalIdResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/PersonNameResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/ApiUserDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/HttpRequestDetails.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/AuditLoggingInstrumentation.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/GraphQlInterceptor.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/RequestAttributesAccessor.java
Due: spotless

formatting
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlSchemaDirectiveConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/datetime/DateTimeScalar.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/datetime/DateTimeScalarCoercion.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/localdate/FlexibleDateCoercion.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/localdate/LocalDateScalar.java
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

removed duplicate dependency
  backend/build.gradle
Due: none

fixed permissions and instrumentation
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/AuditLoggingInstrumentation.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/GraphQlInterceptor.java
Due: spotless

fixed some tests
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/datetime/DateTimeScalarCoercion.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/localdate/FlexibleDateCoercion.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientSelfRegistrationLinkService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
Due: spotless

fixed all failing tests in ApiUserManagementTest
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/GenericGraphqlException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlSchemaDirectiveConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
Due: spotless

debugging default argument value
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/supporteddisease/SupportedDiseaseResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/HttpRequestDetails.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
Due: spotless

working on PatientManagementTest tests
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
Due: spotless

fixed TestResultTest
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestDescription.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestDescriptionTest.java
Due: spotless

fixed PatientManagementTest
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
Due: spotless

fixed tests in AuditLoggingFailuresTest and improved security
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/GenericGraphqlException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlSchemaDirectiveConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/AuditLoggingInstrumentation.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
