Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

extract async service
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwareCallable.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

try/catch scope
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwareCallable.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
Due: spotless

remove unnecessary executor bean and friends
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwareCallable.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwarePoolExecutor.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ExecutorConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
Due: spotless

sync with latest changes from george/4662-batch-save-patients
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

have I mentioned how much I dislike rebasing
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwareCallable.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwarePoolExecutor.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ExecutorConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

add isDeleted to person equals method
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
Due: spotless

add isDeleted to hashcode
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
Due: spotless

add report stream client name
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
Due: none

use client & topic in the request to rs
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
Due: none

add report stream client to variables
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

remove extra line
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
Due: none

Device lookup page - support additional search fields (#4593)
  frontend/src/app/commonComponents/CopyTooltip.tsx
  frontend/src/app/testQueue/addToQueue/SearchInput.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceDetails.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
  frontend/src/app/uploads/DeviceLookup/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Address high-priority vulnerabilities. (#4715)
  backend/build.gradle
  backend/gradle.lockfile
  frontend/package.json
  frontend/yarn.lock
Due: none

graphql regenerated
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Fixed formatting
  frontend/src/app/uploads/DeviceLookup/DeviceDetails.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
Due: prettier, eslint

Fixed lgtm warnings
  frontend/src/app/App.tsx
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
  frontend/src/app/Settings/ManageSelfRegistrationLinks.tsx
Due: prettier, eslint

batch save for patients on bulk upload (#4702)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/resources/patientBulkUpload/duplicatePatients.csv
  backend/src/test/resources/patientBulkUpload/noPhoneNumberTypes.csv
Due: spotless

CurrentCommit env variable passed in cli
  frontend/package.json
Due: none

fix the way process.env var is accessed
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
Due: none

Fix page max-width to 1200px app-wide
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testResults/ResultsNavWrapper.tsx
Due: prettier, eslint, stylelint

move from npm to yarn
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

add DOD clia validation (#4719)
  frontend/src/app/utils/clia.ts
Due: prettier, eslint

fix parsing
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
  backend/src/test/resources/patientBulkUpload/valid.csv
Due: spotless

clean up logging and add comments
  frontend/src/app/App.tsx
  frontend/src/app/commonComponents/ProtectedRoute.tsx
  frontend/src/app/uploads/UploadResultsApp.tsx
Due: prettier, eslint

add prettier
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

run lint:write
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/jest.config.js
Due: none

add translator test
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
Due: spotless

first stab at deleting add test
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Clean up Header refactor
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/MainHeader.tsx
  frontend/src/app/uploads/UploaderHeader.tsx
Due: prettier, eslint

update from PR feedback
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
Due: spotless

more header refactoring
  frontend/src/app/PrimeErrorBoundary.tsx
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/MainHeader.tsx
  frontend/src/app/uploads/UploaderHeader.tsx
Due: prettier, eslint

add eslint
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

fix eslint rules
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.test.ts
Due: none

replace npm with yarn in docs
  .github/actions/build-reportstream-functions/action.yml
  .github/workflows/test.yml
  ops/README.md
Due: none

Make test result list `Testing facility` filter input narrower
  frontend/src/app/commonComponents/Select.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/scss/PrimeStyles.scss
Due: prettier, eslint, stylelint

make indices a list rather than an array
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/FeedbackMessage.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultFileValidatorTest.java
Due: spotless

Provide default select element classname in Dropdown component
  frontend/src/app/commonComponents/Dropdown.tsx
Due: prettier, eslint

Code clean up
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/index.tsx
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

remove todo
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
