Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/

fixed failing test
  frontend/src/app/ReportingApp.test.tsx
Due: prettier, eslint

Update package private methods
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

removing redundant trim
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

Exception for non-ordinal result types
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Inline setting observation value
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Add max length check for email
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Move validation checks to top of methods
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Revert "Add max length check for email"
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

reusing existing method
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/utils/testResultCSV.ts
Due: prettier, eslint

Patient data download for data retention (#8981)
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientExportController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/CsvExportServiceTest.java
  frontend/src/app/Settings/ManageOrganization.test.tsx
  frontend/src/app/Settings/ManageOrganization.tsx
  frontend/src/app/commonComponents/MenuButton.tsx
  frontend/src/app/patients/DownloadPatientsCsvModal.tsx
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/patients/ManagePatientsContainer.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Create test-event-metadata table Populate it from existing test_event data Add indexes for efficient querying
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/db/scripts/delete_test_data.sql
  backend/src/main/resources/db/scripts/import_test_data.sql
  backend/src/main/resources/db/scripts/populate_test_event_metadata_down.sql
  backend/src/main/resources/db/scripts/populate_test_event_metadata_up.sql
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/GenerateDataForPerfTest.java
Due: spotless

minor code clean up
  backend/src/test/java/gov/cdc/usds/simplereport/utils/GenerateDataForPerfTest.java
Due: spotless

Update exceptions for email/phone and use one message timestamp
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

adding data retention limits banner
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.scss
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testResults/ResultsNavWrapper.tsx
Due: prettier, eslint, stylelint

frontend warnings cleanup
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/patients/ManagePatients.tsx
Due: prettier, eslint

fixing link to static site
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
Due: prettier, eslint

linking in dev5
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
Due: prettier, eslint

adding app insights
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
Due: prettier, eslint

import order
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
Due: prettier, eslint

open link in new tab and simplify divs
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.scss
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
Due: prettier, eslint, stylelint

bump all storybook packages
  frontend/package.json
  frontend/yarn.lock
Due: none

update references to moved around packages
  frontend/.storybook/main.js
  frontend/src/stories/Introduction.mdx
Due: prettier, eslint

Generate HL7v2 messages from pilot form data (#9006)
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Constants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HapiContextProvider.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/UniversalReportMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/DateTimeUtilsTest.java
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/PatientFormSection.tsx
  frontend/src/app/universalReporting/SpecimenFormSection.tsx
Due: spotless, prettier, eslint

oops need docs addon for mdx file
  frontend/.storybook/main.js
Due: prettier, eslint

changing margin on banner body
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.scss
Due: stylelint

cleanup and prod static site link
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
Due: prettier, eslint

draft for function app changes
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
  ops/services/app_functions/test_data_publisher/functions/package.json
  ops/services/app_functions/test_data_publisher/functions/yarn.lock
Due: prettier-test-data-func, eslint-test-data-func

merge changes from david's PR(manage pat conflict)
  frontend/src/app/patients/ManagePatients.tsx
Due: prettier, eslint

import fix
  frontend/src/app/patients/ManagePatients.tsx
Due: prettier, eslint

updated snapshot
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: none

fixing failing tests
  frontend/src/app/commonComponents/Alert.tsx
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint

Addressed PR fixes alignment online
  frontend/src/app/commonComponents/DataRetentionModal.scss
  frontend/src/app/commonComponents/DataRetentionModal.tsx
Due: prettier, eslint, stylelint

Addressed PR fixes learn more spacing
  frontend/src/app/commonComponents/DataRetentionModal.scss
Due: stylelint

snapshot update + linting fixes
  frontend/src/app/commonComponents/DataRetentionModal.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint

linting fix
  frontend/src/app/commonComponents/DataRetentionModal.tsx
Due: prettier, eslint

nav wrapper update
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: none

updated flaky test
  frontend/src/app/testResults/ResultsNavWrapper.test.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint

update linting on flaky test
  frontend/src/app/testResults/ResultsNavWrapper.test.tsx
Due: prettier, eslint
