Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

shift order of dependabot reviewers for backend
  .github/dependabot.yml
Due: none

add OK
  frontend/src/config/constants.ts
Due: prettier, eslint

Validate bulk test result CSV in full instead of stopping on first invalid row
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
Due: spotless

add OK (#4683)
  frontend/src/config/constants.ts
Due: prettier, eslint

Add information about CSV file size limits on upload page and guide
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: prettier, eslint

shift order of dependabot reviewers for backend (#4682)
  .github/dependabot.yml
Due: none

Add information about CSV file size limits on upload page and guide (#4686)
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: prettier, eslint

add country validation
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/invalidValues.csv
Due: spotless

Fixed a11y errors in e2e spec 08 (#4659)
  cypress/integration/08-save_and_start_test_spec.js
  frontend/src/app/Settings/ManageOrganization.test.tsx
  frontend/src/app/commonComponents/Alert.tsx
  frontend/src/app/commonComponents/SRToastContainer.test.tsx
  frontend/src/app/commonComponents/__snapshots__/SRToastContainer.test.tsx.snap
  frontend/src/app/testQueue/AoEForm/AoEModalForm.tsx
  frontend/src/app/testQueue/AoEForm/SymptomInputs.tsx
  frontend/src/app/testQueue/AoEForm/__snapshots__/AoEModalForm.test.tsx.snap
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

change location of failure
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
Due: spotless

updating error messaging
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/CsvProcessingException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/FeedbackMessage.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
Due: spotless

Add SQL exclusions for proper metabase operation.
  ops/services/web_application_firewall/main.tf
Due: none

Add SQL exclusions for proper metabase operation. (#4689)
  ops/services/web_application_firewall/main.tf
Due: none

add strict date validation to csv validator
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

making exception fields final
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/CsvProcessingException.java
Due: spotless

Improved validation for patient bulk upload (#4652)
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/PatientBulkUploadResponse.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/empty.csv
  backend/src/test/resources/patientBulkUpload/emptyRow.csv
  backend/src/test/resources/patientBulkUpload/extraColumns.csv
  backend/src/test/resources/patientBulkUpload/invalidValues.csv
  backend/src/test/resources/patientBulkUpload/missingHeaders.csv
  backend/src/test/resources/patientBulkUpload/missingOptionalFields.csv
  backend/src/test/resources/patientBulkUpload/missingRequiredFields.csv
  backend/src/test/resources/patientBulkUpload/valid.csv
  backend/src/test/resources/test-upload-invalid-ethnicity.csv
  backend/src/test/resources/test-upload-invalid-phone-type.csv
  backend/src/test/resources/test-upload-invalid-phone.csv
  backend/src/test/resources/test-upload-invalid-race.csv
  backend/src/test/resources/test-upload-invalid-zipcode.csv
  backend/src/test/resources/test-upload-no-country.csv
  backend/src/test/resources/test-upload-no-ethnicity.csv
  backend/src/test/resources/test-upload-no-phone-type.csv
  backend/src/test/resources/test-upload-no-race.csv
  backend/src/test/resources/test-upload-one-invalid-row.csv
  backend/src/test/resources/test-upload-valid-no-header.csv
  backend/src/test/resources/test-upload.csv
Due: spotless

Remove SR logo on test result print
  frontend/src/app/testResults/TestResultPrintModal.scss
  frontend/src/app/testResults/TestResultPrintModal.tsx
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: prettier, eslint, stylelint

Port updated dependency versions to new envs.
  .github/workflows/deployDev5.yml
  .github/workflows/deployDev6.yml
  .github/workflows/deployDev7.yml
Due: none

Update NODE_VERSION to 18.
  .github/workflows/deployDev5.yml
  .github/workflows/deployDev6.yml
  .github/workflows/deployDev7.yml
Due: none

Remove SR logo on test result print (#4691)
  frontend/src/app/testResults/TestResultPrintModal.scss
  frontend/src/app/testResults/TestResultPrintModal.tsx
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: prettier, eslint, stylelint

testing
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

Validate bulk test result CSV in full instead of stopping on first invalid row (#4684)
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
Due: spotless

updating the error messaging and adding testing
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultFileValidatorTest.java
  backend/src/test/resources/test-results-upload-invalid-format1.csv
  backend/src/test/resources/test-results-upload-invalid-format2.csv
Due: spotless

preliminary fix for saving results (#4685)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

correcting display of row numbers
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

removing unnecessary comment
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
Due: spotless

New upload spreadsheet app and authenticateduser component
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/MainHeader.tsx
  frontend/src/app/commonComponents/__test__/MainHeader.test.tsx
  frontend/src/app/uploads/UploadResultsApp.tsx
  frontend/src/app/uploads/UploaderHeader.tsx
  frontend/src/app/withAuthenticatedUser/WithAuthenticatedUser.tsx
  frontend/src/index.tsx
Due: prettier, eslint

remove comment
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

make active facility the default facility when one facility is selected
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

Update makefile to support new dev environments
  ops/Makefile
Due: none

Properly capitalize env names.
  .github/workflows/deployDev6.yml
  .github/workflows/deployDev7.yml
Due: none

fix import order
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

accept short dates
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/invalidValues.csv
Due: spotless

Unblock new environments for deployment! (#4698)
  .github/workflows/deployDev5.yml
  .github/workflows/deployDev6.yml
  .github/workflows/deployDev7.yml
  ops/Makefile
Due: none

fix country code list to be lowercase
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

clean up
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

PR feedback, copy changes
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/CsvProcessingException.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: spotless, prettier, eslint

correcting tests
  frontend/src/app/testResults/uploads/Uploads.test.tsx
Due: prettier, eslint

handle upload patient response from backend
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
