Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add mock for create rsa jwt
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
Due: spotless

fix access denied error message
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
Due: spotless

add org util query to simplify selectors
  cypress/e2e/11-support-manage-facility.cy.js
  cypress/utils/testing-data-utils.js
Due: none

fix org signup form error focus issue (#6466)
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

try to set up unit tests part 1
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/SupportedDiseaseRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
Due: spotless

add flu guidance to bulk uploader (#6293)
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

add gender identity field to patients
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/PersonUpdate.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientSelfRegistrationController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/PatientSelfRegistration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/PatientSelfRegistrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  frontend/src/app/constants/constants.d.ts
  frontend/src/app/constants/index.tsx
  frontend/src/app/patients/AddPatient.tsx
  frontend/src/app/patients/Components/ManageEmails.test.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/EditPatient.tsx
  frontend/src/app/patients/personSchema.ts
  frontend/src/generated/graphql.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: spotless, prettier, eslint

add spanish translations
  frontend/src/lang/es.ts
Due: prettier, eslint

make the new field optional
  frontend/src/app/patients/personSchema.ts
Due: prettier, eslint

fix backend tests
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/PersonUpdateTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/PersonRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

better backend test coverage
  backend/src/test/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolverTest.java
  frontend/src/app/patients/Components/PersonForm.tsx
Due: spotless, prettier, eslint

fix frontend tests
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
Due: prettier, eslint

fix frontend tests
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/QueueItem.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/patientApp/selfRegistration/SelfRegistration.test.tsx
Due: prettier, eslint

update codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

revert @Getter addition for some fields
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
Due: spotless

correct an import
  frontend/src/patientApp/selfRegistration/SelfRegistration.test.tsx
Due: prettier, eslint

more e2e fix
  cypress/e2e/10-save_and_start_covid_test.cy.js
Due: none

fix e2e
  cypress/e2e/02-add_patient.cy.js
  cypress/e2e/06-self_registration.cy.js
Due: none

get repo integration test working
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseCacheService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/SupportedDiseaseRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
Due: spotless

Refactor results table - each multiplex result on own row
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/resultsTable/ResultsTable.test.tsx
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
  frontend/src/app/testResults/types.d.ts
Due: prettier, eslint, stylelint

Added integration with backend
  frontend/src/app/Settings/Users/CreateUserForm.tsx
  frontend/src/app/Settings/Users/UserFacilitiesSettings.tsx
  frontend/src/app/commonComponents/UserDetails/UserOrganizationFormField.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/UserAccessTab.tsx
Due: prettier, eslint

code cleanup
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseCacheService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
Due: spotless, prettier, eslint

lint
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseCacheService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
Due: spotless

check if device & specimen type are null before init
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

upgrade to spring 3.1.3 and pin hibernate version
  backend/build.gradle
  backend/gradle.lockfile
Due: none

fix bug where name update was not updating side panel
  frontend/src/app/Settings/Users/ManageUsers.tsx
Due: prettier, eslint

try tweaks to init service
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseCacheService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
Due: spotless

refetch user instead of update local user state
  frontend/src/app/Settings/Users/ManageUsers.tsx
Due: prettier, eslint

fix test context config
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseCacheService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
Due: spotless

lint
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
Due: spotless

Rename TestResultsList test titles to reflect refactor; remove obsoleted test
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

add extracted combo box component
  frontend/src/app/commonComponents/ComboBox.tsx
Due: prettier, eslint

actually fix bug where side panel wasn't updating with name
  frontend/src/app/Settings/Users/ManageUsers.tsx
Due: prettier, eslint

strengthen tests and cleanup uneeded pojos
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/PersonUpdate.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientSelfRegistrationController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/PatientSelfRegistration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/ExistingPatientCheckRequestBody.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/ResourceLinks.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/PersonUpdateTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientSelfRegistrationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/PatientSelfRegistrationTest.java
Due: spotless

Added org update confirmation modal
  frontend/src/app/commonComponents/UserDetails/UserOrganizationFormField.tsx
  frontend/src/app/commonComponents/UserDetails/UserRoleFormField.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/UserAccessTab.tsx
  frontend/src/app/supportAdmin/ManageUsers/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

remove await from refetchUser
  frontend/src/app/Settings/Users/ManageUsers.tsx
Due: prettier, eslint

Implemented confirmation modal
  frontend/src/app/supportAdmin/ManageUsers/UserAccessTab.tsx
Due: prettier, eslint

add forwardRef hook
  frontend/src/app/commonComponents/ComboBox.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
