Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Update a bunch of snapshots
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDevicesForm.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/DownloadResultsCsvModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultCorrectionModal.test.tsx.snap
Due: none

Add aria-label property to facility select dropdown in header (#4120)
  frontend/src/app/commonComponents/Header.tsx
Due: prettier, eslint

async the right error fields
  frontend/src/app/patients/EditPatient.test.tsx
Due: prettier, eslint

Bob/4044 fix error focus (#4065)
  frontend/src/app/commonComponents/Input.tsx
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/commonComponents/TextInput.tsx
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/patients/personSchema.ts
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/patientApp/selfRegistration/SelfRegistration.tsx
Due: prettier, eslint

DB Anonymization (#3887)
  .github/PULL_REQUEST_TEMPLATE/database_pull_request_template.md
  backend/.gitignore
  backend/db-setup/Dockerfile
  backend/db-setup/README.md
  backend/db-setup/anonymize-db.sh
  backend/db-setup/anonymize-db.sql
  backend/db-setup/anonymize-detect.sh
  backend/db-setup/create-db.sh
  backend/db-setup/generate_db_data.py
  backend/db-setup/generate_db_data.sql
  backend/db-setup/remove-anon.sh
  backend/db-setup/requirements.txt
  backend/db-setup/reset-db.sql
  backend/db-setup/restore-db.sh
  backend/db-setup/snapshot-db.sh
  backend/run.sh
  docker-compose.yml
  package.json
  start.sh
Due: none

Include word `test` and patient name in aria label for test card close buttons
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Refactor pxp api resonse to return testResult and update tests
  .gitignore
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/SupportedDiseaseTestResult.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

Remove comments
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

Fix more tests to expect testResult
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

remove create-sample-data profile
  backend/src/main/resources/application-azure-training.yaml
Due: none

remove create-sample-data profile (#4128)
  backend/src/main/resources/application-azure-training.yaml
Due: none

Update tests, duh
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

Fix markup for test card submit button when disabled (#4121)
  frontend/src/app/commonComponents/Button/Button.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDevicesForm.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/DownloadResultsCsvModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultCorrectionModal.test.tsx.snap
Due: prettier, eslint

Revert "remove create-sample-data profile (#4128)"
  backend/src/main/resources/application-azure-training.yaml
  backend/src/main/resources/application-create-sample-data.yaml
Due: none

Revert "remove create-sample-data profile (#4128)" (#4129)
  backend/src/main/resources/application-azure-training.yaml
  backend/src/main/resources/application-create-sample-data.yaml
Due: none

uncomment sample data config
  backend/src/main/resources/application-create-sample-data.yaml
Due: none

uncomment create sample data config (#4130)
  backend/src/main/resources/application-create-sample-data.yaml
Due: none

Single-patient search query accepts argument to return archived patients (defaults to `false`)
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

Add aria-label to tooltip custom buttons (#4019)
  frontend/src/app/commonComponents/TextWithTooltip.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

Update mocks to expect `includeArchivedPatients` param
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-patient-search.test.tsx
  frontend/src/app/testResults/mocks/queries.mock.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Improve ARIA labeling of test card "close" buttons (#4127)
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

add main landmark to self reg page
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  frontend/src/patientApp/selfRegistration/SelfRegistration.tsx
Due: spotless, prettier, eslint

Add aria-label to tooltip custom buttons (#4019) (#4132)
  frontend/src/app/commonComponents/TextWithTooltip.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

George/3958 pxp api response (#4126)
  .gitignore
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/SupportedDiseaseTestResult.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

update .env samples, fix config file reference, add other cypress env vars
  .env.cypress.remote.sample
  .env.cypress.sample
  cypress/README.md
  cypress/package.json
Due: none

add console statement for claims
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/OrganizationExtractor.java
Due: spotless

update organization role claims for dev2-4
  backend/src/main/resources/application-okta-dev2.yaml
  backend/src/main/resources/application-okta-dev3.yaml
  backend/src/main/resources/application-okta-dev4.yaml
Due: none

remove debugging statement
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/OrganizationExtractor.java
Due: spotless

add main landmark to self reg page (#4134)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  frontend/src/patientApp/selfRegistration/SelfRegistration.tsx
Due: spotless, prettier, eslint

Update Dockerfile
  nginx/Dockerfile
Due: none

Update Dockerfile.nginx.compose
  frontend/cypress/support/nginx/Dockerfile.nginx.compose
Due: none

add aria described by to the button
  frontend/src/patientApp/timeOfTest/TermsOfService.tsx
Due: prettier, eslint

add index checking and label change
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

align input fields
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
  frontend/src/app/patients/ManagePatients.scss
Due: prettier, eslint, stylelint

Update dev2, dev3, dev4 to properly fetch Okta groups (#4136)
  backend/src/main/resources/application-okta-dev2.yaml
  backend/src/main/resources/application-okta-dev3.yaml
  backend/src/main/resources/application-okta-dev4.yaml
Due: none

add aria described by to the button (#4138)
  frontend/src/patientApp/timeOfTest/TermsOfService.tsx
Due: prettier, eslint

update readme
  cypress/README.md
Due: none

dashboard to use results table instead of column (#4049)
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

update okta to latest version
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
