Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add test to ensure elements have aria-hidden when modal is active
  frontend/src/app/commonComponents/Page/Page.test.tsx
Due: prettier, eslint

Bump to address CVE-2022-22968.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Pin spring-beans and associated relatives to 5.3.19. (#4217)
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

add button tests
  frontend/src/app/commonComponents/Button/Button.test.tsx
Due: prettier, eslint

Improve app insights exception tracking (#4215)
  frontend/src/app/App.tsx
  frontend/src/index.tsx
Due: prettier, eslint

Bump okta-spring-boot-starter from 2.0.0 to 2.1.6
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

DeviceTypeForm refactor (#3995)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
  frontend/src/app/Settings/Facility/FacilityFormContainer.test.tsx
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

update error messages (#4193)
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/lang/en.ts
Due: prettier, eslint

updating the scope per a conversation with report stream (#4200)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/TokenAuthentication.java
  backend/src/main/resources/application.yaml
  backend/src/test/resources/application-default.yaml
Due: spotless

put sign up steps in a list (#4209)
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

Change self reg "Other information" to "Housing and work" (#4152)
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

add skipnav link to Page element (#4191)
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

set focus on fields with errors for org signup (#4205)
  frontend/src/app/commonComponents/DatePicker.tsx
  frontend/src/app/commonComponents/Dropdown.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.test.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

fix patient self-reg static site link (#4208)
  frontend/src/app/Settings/ManageSelfRegistrationLinks.tsx
Due: prettier, eslint

Multiplex refactor - backend (#4194)
  .gitignore
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/MultiplexResultInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/queries/add-multiplex-result-mutation
  backend/src/test/resources/queries/edit-queue-item-multiplex-result-mutation
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Include correction test events in admin dashboard (#4198)
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
Due: spotless

Refactor multiplex frontend changes (#4202)
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/constants/index.tsx
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/operations.graphql
  frontend/src/app/testResults/CovidResultInputForm.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/constants.ts
  frontend/src/app/testResults/types.d.ts
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/generated/graphql.tsx
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/TestResult.stories.tsx
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
Due: prettier, eslint

add additional accessibility properties to icon in the header (#4190)
  frontend/src/app/commonComponents/Header.tsx
Due: prettier, eslint

Remove obsolete mulitplex backend code and tests (#4204)
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/DiseaseResult.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/queries/add-test-result-multiplex-mutation
  backend/src/test/resources/queries/edit-queue-item-multiplex
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

remove alt text for flag (#4192)
  frontend/src/app/commonComponents/USAGovBanner.tsx
Due: prettier, eslint

add card tests
  frontend/src/app/commonComponents/Card/Card.test.tsx
Due: prettier, eslint

Add specimen mutation (#4180)
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateSpecimenType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenTypeServiceTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

add a test to ensure that after submitting the consent, they get sent to the personal details form
  frontend/src/app/signUp/IdentityVerification/Consent.test.tsx
Due: prettier, eslint

Make touchpoint button hidden
  frontend/src/app/analytics/TouchpointsButton.tsx
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

update selector for calendar
  frontend/src/app/signUp/SignUpApp.tsx
Due: prettier, eslint

fix linting errors
  frontend/src/app/commonComponents/Button/Button.test.tsx
  frontend/src/app/utils/observeDatePicker.test.ts
Due: prettier, eslint

Implement snyk-recommended security fixes.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
  frontend/package.json
  ops/services/app_service/main.tf
  ops/services/basic_vm/main.tf
  ops/services/metabase/service/main.tf
Due: none

Update frontend packages and tsx.
  frontend/yarn.lock
Due: none

Rework dependencies to remove login loop.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Add snakeyaml upgrade.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

fix code smell
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
Due: prettier, eslint

add test for modal is active
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.test.tsx
Due: prettier, eslint

rename cardProp ariaHidden to isModalActive to better reflect property use
  frontend/src/app/commonComponents/Card/Card.test.tsx
  frontend/src/app/commonComponents/Card/Card.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
Due: prettier, eslint

Implement snyk-recommended security fixes. (#4226)
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
  frontend/package.json
  frontend/yarn.lock
  ops/services/app_service/main.tf
  ops/services/basic_vm/main.tf
  ops/services/metabase/service/main.tf
Due: none

Change behavior of `PersonService::getPatients` method to always return active patients and optionally to include archived patients as well
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/resources/queries/deleted-person-query
Due: spotless

Set `includeArchived` variable in patient search GraphQL calls: test results list allows search of archived patients, conduct test does not
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-patient-search.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/mocks/queries.mock.tsx
Due: prettier, eslint

codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Remove stray commented-out code
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
Due: spotless

Force json-smart to invulnerable version.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

add footer and stick touchpoints button and modal there
  frontend/public/touchpoints.js
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
