Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Unit tests for new correction modal component w/ minor html changes to facilitate that
  frontend/src/app/testResults/TestResultCorrectionModal.scss
  frontend/src/app/testResults/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.tsx
  frontend/src/app/testResults/__snapshots__/TestResultCorrectionModal.test.tsx.snap
Due: prettier, eslint, stylelint

Correct spelling error in environment description.
  README.md
Due: none

more tests
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

updating test to verify the scrolling behavior and highlighting
  frontend/src/app/testQueue/QueueItem.test.tsx
Due: prettier, eslint

code smell
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint

Remove App Service custom domain management from TF
  ops/services/app_service/_data.tf
  ops/services/app_service/main.tf
Due: none

Remove App Service custom domain management from TF (#3649)
  ops/services/app_service/_data.tf
  ops/services/app_service/main.tf
Due: none

Migration to add following columns to `test_order` and `test_event` tables: - `corrected_by` - `corrected_at` - `additional_correction_information`
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Results column changes and responsive widths (#3642)
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint, stylelint

3079: start test from people page (#3579)
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-add-to-queue.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-new-patient-start.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-patient-search.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/scss/PrimeStyles.scss
  frontend/src/stories/testQueue/QueueItem.stories.tsx
Due: prettier, eslint, stylelint

Allow adding supported diseases to devices (#3569)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/supporteddisease/SupportedDiseaseResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/DeviceManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
  backend/src/test/resources/queries/supported-disease-query
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDevicesForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDevicesForm.tsx
  frontend/src/app/supportAdmin/DeviceType/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Add new status properties to exported test events: - Order_result_status - Observation_result_status * This replaces the `Test_order_status` that we currently send to RS
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Expose separate public methods for marking a test as removed or a correction, respectively (for clarity)
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Add unit test for issuing corrected test result
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Remove todo comment; replace with assertion for test date
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Add test corrections unit test; clean up some code smells
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Fix type comparison in unit test
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Oops, forgot to include this file in the last commit
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
Due: spotless

Update a comment to not be misleading
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
Due: spotless

Clean up a couple more code smells
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
Due: spotless

disable open in view
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/resources/application.yaml
Due: spotless

Adds basic support for `additional_correction_information` column on test orders & events - Adds getters and setters to `BaseTestInfo` class
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

everything tentatively working?
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application.yaml
Due: spotless

Adds a correction_reason column to hold correction reason enum value
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Add facility column to results page
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint, stylelint

Add filtering by facility to results page
  frontend/src/app/testResults/DownloadResultsCsvButton.tsx
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

remove superfluous comment
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
Due: spotless

Use `correction_type` for enum column name
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Update graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Lint generated graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Revert "Adds basic support for `additional_correction_information` column on test"
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

Update copy
  frontend/src/app/testResults/DownloadResultsCsvButton.tsx
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

Send user input as correction reason for `OTHER` correction actions
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.tsx
Due: prettier, eslint

Add test correction workflow (backend) (#3616)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

remove dead pxp verify endpoint
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceController.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/ResourceLinks.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

Display correction reason on test card even if it is not an enum member
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Migration to add indices on foreign keys in new results table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Fix formatting issues
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

creating upload table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none
