Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

remove get test result method
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UploadService.java
Due: spotless

add eval linuxbrew command
  .github/workflows/e2eLocal.yml
Due: none

AoE modal closes on esc key (#4307)
  frontend/src/app/testQueue/AoEForm/AoEModalForm.test.tsx
  frontend/src/app/testQueue/AoEForm/AoEModalForm.tsx
  frontend/src/app/testQueue/AoEForm/__snapshots__/AoEModalForm.test.tsx.snap
Due: prettier, eslint

Add patientLink createdAt index (#4298)
  .github/workflows/testDBChangelog.yml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

add eval linuxbrew command (#4322)
  .github/workflows/e2eLocal.yml
Due: none

Rename "All facilities" link text
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
Due: prettier, eslint

remove redundant where clause in findMostRecentByTestOrderIdIn (#4319)
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PatientLinkRepository.java
Due: spotless

replace single result with results set
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpVerifyResponseV2.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  backend/src/test/resources/graphql-test/add-multiplex-result-mutation.graphql
  backend/src/test/resources/graphql-test/add-test-result-mutation.graphql
  backend/src/test/resources/graphql-test/correct-test-result-mutation.graphql
  backend/src/test/resources/graphql-test/edit-queue-item-multiplex-result-mutation.graphql
  backend/src/test/resources/graphql-test/edit-queue-item.graphql
  backend/src/test/resources/graphql-test/person-with-last-test-result-query.graphql
  backend/src/test/resources/graphql-test/test-result-query.graphql
  backend/src/test/resources/graphql-test/test-results-query.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Rename "All facilities" link text (#4321)
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
Due: prettier, eslint

Remove Touchpoints temporarily (#4310)
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

Add group labels to Experian personal details form (#4294)
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/IdentityVerification/utils.ts
Due: prettier, eslint

replace date picker with native input
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

Add TEST_RESULT_UPLOAD_USER role to default demo site admin user
  backend/src/main/resources/application-create-sample-data.yaml
Due: none

add RI
  frontend/src/config/constants.ts
Due: prettier, eslint

remove unused device_type from queue query
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

first draft of multiselect impl
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

Fix error handling
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.scss
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
Due: prettier, eslint, stylelint

add debouncer to date fields
  frontend/src/app/testQueue/addToQueue/useDebounce.ts
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

fix front end tests
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

put wait on specific tests that fail
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

add test for end date before start date
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

Make facility form name attr unique
  cypress/integration/01-organization_sign_up_spec.js
  frontend/src/app/Settings/Facility/Components/FacilityInformation.tsx
  frontend/src/app/Settings/Facility/Components/OrderingProvider.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/utils/text.test.ts
  frontend/src/app/utils/text.ts
Due: prettier, eslint

Fix some device tests
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

set initial state for start and end date to starting string
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

add test for error message
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

clear error messages when clear filter button clicked
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

Add decoded token info to app insights log
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/yarn.lock
Due: prettier, eslint

use getBy instead of findBy
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

remove console logs
  frontend/src/app/Settings/Facility/FacilityForm.tsx
Due: prettier, eslint

Address PR comments
  frontend/src/app/Settings/Facility/Components/FacilityInformation.tsx
  frontend/src/app/Settings/Facility/Components/OrderingProvider.tsx
Due: prettier, eslint

remove comments
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

Fix focus and focus test
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

replace promises with waitFor
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

Fix facility test
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: prettier, eslint

fix linting
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
Due: prettier, eslint

Make facility form name attr unique (#4328)
  cypress/integration/01-organization_sign_up_spec.js
  frontend/src/app/Settings/Facility/Components/FacilityInformation.tsx
  frontend/src/app/Settings/Facility/Components/OrderingProvider.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/utils/text.test.ts
  frontend/src/app/utils/text.ts
Due: prettier, eslint

force fail for testing purposes
  frontend/src/app/App.tsx
Due: prettier, eslint

run lighthouse on demo, not training
  .github/workflows/lighthouse.yml
Due: none
