Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add multipart support to graphql for csv file uploads
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/GraphQlMultipartConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/GraphqlMultipartHandler.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/MultipartGraphQlRequest.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/MultipartVariableMapper.java
Due: spotless

fixed AuditLoggingTest tests
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/HttpRequestDetails.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/AuditLoggingInstrumentation.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingTest.java
Due: spotless

fixed non graphql tests
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/GraphQlMultipartConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolverTest.java
Due: spotless

disbaled PatientUploadTest
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientUploadTest.java
Due: spotless

disabled graphql multipart tests and merged with main
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/GraphQlMultipartConfig.java
  backend/src/test/resources/application-default.yaml
  backend/src/test/resources/graphql-test/add-multiplex-result-mutation.graphql
  backend/src/test/resources/graphql-test/add-test-result-multiplex-mutation.graphql
  backend/src/test/resources/graphql-test/edit-queue-item-multiplex-result-mutation.graphql
  backend/src/test/resources/graphql-test/edit-queue-item-multiplex.graphql
Due: spotless

Add legend to the fieldset for Sign Up (#4241)
  frontend/src/app/signUp/Organization/SignUpGoals.tsx
Due: prettier, eslint

bump up spring version to the latest release
  backend/build.gradle
Due: none

Fix several reported snyk vulnerabilities
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  frontend/package.json
  ops/demo/main.tf
  ops/prod/main.tf
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/services/frontend/main.tf
  ops/stg/main.tf
  ops/training/main.tf
Due: none

Terraform fmt execution. Yarn codegen.
  ops/training/main.tf
Due: none

dep update and cleanup
  .run/Backend.run.xml
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/api/PersonNameResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ApiUserAwareGraphQlContextBuilder.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/config/ApiUserAwareGraphQlContextBuilderTest.java
Due: spotless

Update gradle dependencies and locks.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Update npm package lock for azure function.
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
Due: none

codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

revert frontend changes
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

wip
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

remove checkstyle violation
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/GraphqlMultipartHandler.java
Due: spotless

Reconcile jackson versions to fix build.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

only generate on jar file when building the backend
  backend/build.gradle
Due: none

addressing some sonarcloud feedback
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/User.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/GenericGraphqlException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/datetime/DateTimeScalarCoercion.java
Due: spotless

Revert "Update npm package lock for azure function."
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
Due: none

Revert node-fetch update.
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
Due: none

Another codegen.
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Revert auth_settings add.
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

more sonar feedback
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/GraphqlMultipartHandler.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/MultipartException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/MultipartVariableMapper.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/QueryLoggingInstrumentation.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/RequestAttributesAccessor.java
Due: spotless

Incorporate multiple infrastructure, frontend, and backend snyk findings for remediation.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
  frontend/package.json
  frontend/yarn.lock
  ops/demo/main.tf
  ops/prod/main.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/services/frontend/main.tf
  ops/stg/main.tf
  ops/training/main.tf
Due: none

Terraform formatting and yarn codegen.
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

added a bunch of dataloaders back and cleaned up some sonar issues
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientLinkDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/GraphqlMultipartHandler.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PatientLinkRepository.java
Due: spotless

more sonar feedback
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/GraphqlMultipartHandler.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/MultipartGraphQlRequest.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/UploadScalarType.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/datetime/DateTimeScalar.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/scalars/localdate/LocalDateScalar.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/AuditLoggingInstrumentation.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/GraphQlInterceptor.java
  backend/src/main/java/gov/cdc/usds/simplereport/logging/QueryLoggingInstrumentation.java
Due: spotless

more cleanup
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/api/ExceptionWrappingManager.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/HttpRequestDetails.java
Due: spotless

minor changes
  backend/src/main/java/gov/cdc/usds/simplereport/config/graphqlmultipart/MultipartGraphQlRequest.java
Due: spotless

un deprecate used findLastTestsByPatient query
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
Due: spotless

removed stray comment
  backend/build.gradle
Due: none

more cleanup of comments
  backend/build.gradle
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
