Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

update coverity scan to use node 23
  .github/workflows/coverity.yml
Due: none

Update spacing on COVID AOE form
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

Support timezones for Puerto Rico
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AddressValidationServiceTest.java
Due: spotless

Update smartystreets-javascript-sdk
  frontend/package.json
  frontend/yarn.lock
Due: none

Remove mock resets
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
Due: spotless

Address feedback
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AddressValidationServiceTest.java
Due: spotless

test fiddling
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Update smartystreets tests and jest transforms
  frontend/package.json
  frontend/src/app/utils/smartyStreets.ts
  frontend/src/app/utils/smartyStreetsClients.ts
  frontend/yarn.lock
Due: prettier, eslint

fix ca.uhn.hapi.fhir:org.hl7.fhir.r4 and ca.uhn.hapi.fhir:org.hl7.fhir.utilities vuln
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Add Hepatitis-C support to test card (#8226)
  frontend/src/app/commonComponents/Checkboxes.tsx
  frontend/src/app/commonComponents/__snapshots__/Checkboxes.test.tsx.snap
  frontend/src/app/signUp/Organization/__snapshots__/UnsupportedStateModal.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedHepatitisC.ts
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HepatitisCAoeForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeQuestionComponents/GenderOfSexualPartnersAoe.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeQuestionComponents/PregnancyAoe.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeUtils.test.ts
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeUtils.ts
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testQueue/testCardTestConstants.ts
  frontend/src/app/testResults/constants.ts
  frontend/src/app/utils/disease.ts
  frontend/src/patientApp/timeOfTest/constants.ts
Due: prettier, eslint

Revert "Update smartystreets tests and jest transforms"
  frontend/package.json
  frontend/src/app/utils/smartyStreets.ts
  frontend/src/app/utils/smartyStreetsClients.ts
  frontend/yarn.lock
Due: prettier, eslint

Update jest config
  frontend/package.json
Due: none

Remove mock resets (#8251)
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
Due: spotless

Update smartystreets-javascript-sdk (#8250)
  frontend/package.json
  frontend/yarn.lock
Due: none

queue tweaks
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
Due: spotless

Update how we save and log org claims on whoami calls
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoggedInAuthorizationService.java
Due: spotless

Support timezones for Puerto Rico (#8225)
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AddressValidationServiceTest.java
Due: spotless

fix ca.uhn.hapi.fhir:org.hl7.fhir.r4 and ca.uhn.hapi.fhir:org.hl7.fhir.utilities vuln (#8252)
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Add Hep C result guidance and details
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/HepatitisCResultGuidance.test.tsx.snap
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/utils/testResults.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

Show Hep C guidance for non-positive results too
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/HepatitisCResultGuidance.test.tsx.snap
  frontend/src/app/utils/testResults.tsx
Due: prettier, eslint

Refactor disease result keys for sonar reduced complexity
  frontend/src/app/commonComponents/TestResultsList.tsx
Due: prettier, eslint

Fix Hep C guidance copy text
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/HepatitisCResultGuidance.test.tsx.snap
  frontend/src/lang/en.ts
Due: prettier, eslint

Remove lowercasing in feature flag mock
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
Due: prettier, eslint

Results page and PXP support for Hepatitis C (#8249)
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/HepatitisCResultGuidance.test.tsx.snap
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/utils/testResults.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

Update Hepatitis C in database
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Change Hepatitis-C to Hepatitis C
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/HepatitisCResultGuidance.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedHepatitisC.ts
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/testCardTestConstants.ts
  frontend/src/app/testResults/constants.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

Rename Hepatitis-C to Hepatitis C (#8255)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/HepatitisCResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/HepatitisCResultGuidance.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedHepatitisC.ts
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/testCardTestConstants.ts
  frontend/src/app/testResults/constants.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

Make SensitiveTopicsTooltipModal more composable
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HepatitisCAoeForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeQuestionComponents/GenderOfSexualPartnersAoe.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeUtils.ts
Due: prettier, eslint

model supports multiple providers and default provider
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiFacility.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpVerifyResponseV2.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Facility.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/FacilityBuilder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/FacilityRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Update how we save and log org claims on whoami calls (#8254)
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoggedInAuthorizationService.java
Due: spotless

Add Hepatitis C support for bulk upload
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

Add patient gender identity to bulk upload
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-all-fields.csv
Due: spotless

Make SensitiveTopicsTooltipModal more composable (#8256)
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HepatitisCAoeForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeQuestionComponents/GenderOfSexualPartnersAoe.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeUtils.ts
Due: prettier, eslint

update node version files
  .nvmrc
  frontend/.nvmrc
Due: none

builds but doesn't run
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Add Hepatitis C support for bulk upload (#8269)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

Add patient gender identity to bulk upload (#8270)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-all-fields.csv
Due: spotless

grant metabase access to facility providers table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

bulk upload results e2e scafolding
  cypress/e2e/02a-bulk_upload_patient.cy.js
  cypress/e2e/11-bulk_upload_results.cy.js
Due: none

Set node version to 23.1
  .github/workflows/checkGraphql.yml
  .github/workflows/chromatic.yml
  .github/workflows/coverity.yml
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
  .github/workflows/maintenance.yml
  .github/workflows/test.yml
  .nvmrc
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/package.json
Due: none
