Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add a comment
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

add a verbose to tests
  .github/workflows/test.yml
Due: none

yml file errors
  .github/workflows/test.yml
Due: none

removed -info to decrease test time
  .github/workflows/test.yml
Due: none

edited to verify tests
  .github/workflows/test.yml
Due: none

linting issues
  .github/workflows/test.yml
Due: none

edited a comment to re-run github actions
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

re running with a changed test
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removed test to address oom
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removed test to address oom part2
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removed test to address oom part3
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removed test to address oom part4
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removed test to address oom part5
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removed test to address oom part6
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removed test to address oom part7
  .github/workflows/test.yml
Due: none

adding cascading
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Condition.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
Due: spotless

removed test to address oom part8
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removed test to address oom part9
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

change request header to response header
  ops/prod/app_gateway_url_redirects.tf
Due: none

put all tests back into the specimenService test
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

removing comment
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
Due: spotless

Add stepper to lab form
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/ReviewFormSection.tsx
  frontend/src/app/universalReporting/SpecimenFormSection.tsx
Due: prettier, eslint

fixing test failures
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
Due: spotless

running specimen with a bigger heap
  .github/workflows/test.yml
Due: none

revert
  .github/workflows/test.yml
Due: none

testing and updated context
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultTestConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
Due: spotless

added fhir context provider
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirContextProvider.java
Due: spotless

add model
  backend/src/main/java/gov/cdc/usds/simplereport/api/featureflags/FeatureFlagsController.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/FacilityFeatureFlag.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/FacilityFeatureFlagRepository.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/featureflags/FeatureFlagsControllerTest.java
Due: spotless

added all specimen tests to verify they are not causing OOM issues
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

deleted specimen service file
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenServiceTest.java
Due: spotless

add mutation resolver method
  backend/src/main/java/gov/cdc/usds/simplereport/api/featureflags/FeatureFlagsMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/FacilityFeatureFlagRepository.java
  backend/src/main/resources/graphql/admin.graphqls
Due: spotless

dont delete cascade
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

increasing test coverage
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationInitializingServiceTest.java
Due: spotless

Undo accidental removal of `getConditions` from merge conflict
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
Due: spotless

Addressing Failing Tests (#8840)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirContextProvider.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultTestConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
Due: spotless

run gql codegen and fix liquibase config
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Covid / Universal Pipeline parity (#8627)
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/fhir/bundle-integration-testing.json
  backend/src/test/resources/fhir/observationAllAoe.json
  backend/src/test/resources/fhir/observationSymptomatic.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
Due: spotless

address pr comments and lint code
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/FacilityLabTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/FacilityLabTestOrderSpecimen.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/FacilityLabTestOrderRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

fix graphql error and run codegen
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

initial test result download logic added
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/api/TestResultDataController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless
