Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

update the build context for the cypress image
  .github/workflows/buildCypressImage.yml
Due: none

set number of max facilities to 5000
  backend/src/main/resources/graphql/main.graphqls
Due: none

update the build context for the cypress image (#4171)
  .github/workflows/buildCypressImage.yml
Due: none

deploy staging on main
  .github/workflows/deployStg.yml
Due: none

deploy staging on main (#4172)
  .github/workflows/deployStg.yml
Due: none

remove if gates for staging deploy
  .github/workflows/deployStg.yml
Due: none

remove if gates for staging deploy (#4173)
  .github/workflows/deployStg.yml
Due: none

Add ARIA labels to test card timer (#4159)
  frontend/src/app/testQueue/TestTimer.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

add model name to variable exclusion (#4168)
  ops/services/web_application_firewall/main.tf
Due: none

add debug log to enroll voice calls mfa
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

revent || true, a new sonar token has been created and setup for our github actions
  .github/workflows/test.yml
Due: none

Fixing aria label issues for test card (#4151)
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

remove debugging statement
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

revert || true, a new sonar token has been created and setup for our github actions (#4177)
  .github/workflows/test.yml
Due: none

use okta filter to fetch all groups (#4142)
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/dataloader/PatientPrimaryPhoneDataLoader.java
  backend/src/main/resources/graphql/main.graphqls
  cypress/stubs/orgSignUp/mappings/api_v1_users-d2c41957-0331-4c20-a597-7002630980ab.json
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_groups-87a1bd7b-0205-4fc4-b971-3472692d6c5c.json
Due: spotless

Upgrade runtime of azure function.
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

Pin metabase version to v0.44.1.
  ops/services/metabase/service/main.tf
Due: none

add specimen mutation
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateSpecimenType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

add permission to new method
  backend/src/main/java/gov/cdc/usds/simplereport/service/SpecimenTypeService.java
Due: spotless

Parallelize queue successful message deletion (#4154)
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/tsconfig.json
Due: none

Revert "Parallelize queue successful message deletion (#4154)"
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/tsconfig.json
Due: none

add create user tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Revert "Parallelize queue successful message deletion (#4154)" (#4181)
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/package-lock.json
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/tsconfig.json
Due: none

add getAllUsersForOrganization tests
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

fix spacing
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add test for getAllUsersWithStatusForOrganization
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

refactor shared code between getAllUsers with and without status
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

remove empty line
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

change all emails to use @example.com instead of @fraud.com
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

added content-length header
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
Due: none

update generated file
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Bump postgresql 42.4.1 (#4150)
  backend/build.gradle
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Bump spring-boot-starter-thymeleaf from 2.4.2 to 2.7.2 (#4165)
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

correctly use a string instead of a stream
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
Due: none

address comments
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/SpecimenTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateSpecimenType.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenTypeServiceTest.java
Due: spotless

add updateUserPrivilegesTest
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

update create user test to add additional assertions
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Add backend refactor with backwards compatibility for frontend
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/MultiplexResultInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/queries/add-multiplex-result-mutation
  backend/src/test/resources/queries/edit-queue-item-multiplex-result-mutation
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
