Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

move facility access modal to facility access tab
  frontend/src/app/Settings/Users/FacilityAccessTab.tsx
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

added required prop to dropdown components
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.tsx
Due: prettier, eslint

move user heading information to its own component
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

change property type to boolean for isUserActive and isUserSelf
  frontend/src/app/Settings/Users/UserDetail.tsx
  frontend/src/app/Settings/Users/UserInfoTab.tsx
Due: prettier, eslint

move nav into manage user and admin user to simplify
  frontend/src/app/Settings/Users/FacilityAccessTab.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/UserDetailUtils.tsx
  frontend/src/app/Settings/Users/UserInfoTab.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

Fix bug where input on other facility form fields would force focus to device dropdown input
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

Send TestEvent to RS outside transaction (#6307)
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReportTestEventToRSEventListener.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

add aria-live = polite for the results
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

Modified findAll organizations to return list in alphabetical order
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/OrganizationRepository.java
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.tsx
Due: spotless, prettier, eslint

Added filtering with identity verified parameter.
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/OrganizationRepository.java
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.tsx
  frontend/src/app/supportAdmin/ManageFacility/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Fixed snapshot
  frontend/src/app/supportAdmin/ManageFacility/__snapshots__/FacilityInformation.test.tsx.snap
Due: none

Add additional exclusions for metabase inner join strategy.
  ops/services/web_application_firewall/main.tf
Due: none

Add additional exclusions for metabase inner join strategy. (#6339)
  ops/services/web_application_firewall/main.tf
Due: none

Add missing mixin for other theme colors
  frontend/src/scss/settings/_prime-variables.scss
Due: stylelint

add feature flag for rsv
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
Due: spotless

add rsv to accepted loinc list
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FileValidatorConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-rsv-only.csv
Due: spotless

replace map with immutable map
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
Due: spotless

fix header to be plural
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/UserSearch.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

remove feature flag
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/SupportAdminRoutes.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: spotless, prettier, eslint

rename component props methods to "on..." and methods to "handle..."
  frontend/src/app/Settings/Users/FacilityAccessTab.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/UserInfoTab.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
Due: prettier, eslint

remove delete user button when user is deleted
  frontend/src/app/Settings/Users/UserInfoTab.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
Due: prettier, eslint

align error messages left
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

Manage Devices multiselect pills use device model name instead of device name
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

Add Puerto Rico to live jurisdictions
  frontend/src/config/constants.ts
Due: prettier, eslint

Addressed feedback
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.tsx
  frontend/src/app/supportAdmin/ManageFacility/__snapshots__/FacilityInformation.test.tsx.snap
  frontend/src/app/supportAdmin/pageTitles.ts
Due: prettier, eslint

backend work
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/SlackEscalationException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/supportescalation/SupportEscalationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/supportescalation/SlackConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/supportescalation/SlackWebhookService.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/supportadmin/SlackEscalationMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/SlackWebhookServiceTest.java
  backend/src/test/resources/application-default.yaml
  frontend/src/app/supportAdmin/admin.graphql
Due: spotless

tf config
  ops/dev5/_data.tf
  ops/dev5/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/test/_data.tf
  ops/test/api.tf
Due: none

frontend additions
  frontend/src/app/supportAdmin/Escalations/Escalations.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/SupportAdminRoutes.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
  frontend/src/app/supportAdmin/pageTitles.ts
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

clean up logs
  backend/src/main/java/gov/cdc/usds/simplereport/api/supportescalation/SupportEscalationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/supportescalation/SlackConfig.java
Due: spotless

remove throw
  backend/src/main/java/gov/cdc/usds/simplereport/service/supportescalation/SlackWebhookService.java
Due: spotless

add snapshot test
  frontend/src/app/ReportingApp.test.tsx
  frontend/src/app/supportAdmin/Escalations/Escalations.test.tsx
  frontend/src/app/supportAdmin/Escalations/__snapshots__/Escalations.test.tsx.snap
  frontend/src/app/supportAdmin/SupportAdmin.test.tsx
Due: prettier, eslint

remove extra mock
  frontend/src/app/supportAdmin/Escalations/Escalations.test.tsx
Due: prettier, eslint

update snapshots
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: none

fix list tag
  frontend/src/app/supportAdmin/SupportAdmin.tsx
Due: prettier, eslint

update snapshot
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: none

code review feedback
  backend/src/main/java/gov/cdc/usds/simplereport/service/supportescalation/SlackConfigService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/supportescalation/SlackWebhookService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/SlackWebhookServiceTest.java
  frontend/src/app/supportAdmin/Escalations/Escalations.test.tsx
Due: spotless, prettier, eslint

code review feedback
  backend/src/main/java/gov/cdc/usds/simplereport/service/supportescalation/SlackConfigService.java
Due: spotless

update snapshot
  frontend/src/app/supportAdmin/Escalations/__snapshots__/Escalations.test.tsx.snap
Due: none

remove the extra annotation
  backend/src/main/java/gov/cdc/usds/simplereport/service/supportescalation/SlackWebhookService.java
Due: spotless

add a test for the test component
  frontend/src/app/supportAdmin/Escalations/Escalations.test.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
