Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

fix enum values - oops
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/UploadStatus.java
Due: spotless

fixing tests
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Creates docs folder and first adr. (#3719)
  docs/architecture/decisions/flexible-db-migration.md
  frontend/src/app/docs/createReactApp.md
Due: none

graphql codegen
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserPermission.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Change pre-commit hooks to run on local machine (#3711)
  README.md
  lefthook.yml
Due: none

more fixing for the enum
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/UploadStatus.java
Due: spotless

adding data-hub client
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
Due: spotless

add intellij run configuration (#3715)
  .run/Backend Okta.run.xml
  .run/Backend.run.xml
  .run/Frontend with Okta.run.xml
  .run/Frontend.run.xml
  .run/db  down -v.run.xml
  .run/db  down.run.xml
  .run/db + mailhog.run.xml
  .run/db up.run.xml
  .run/storybook.run.xml
  .run/test db down.run.xml
  .run/test db up.run.xml
Due: none

Content updates in the add person flow (#3713)
  frontend/src/app/commonComponents/YesNoNotSureRadioGroup.stories.tsx
  frontend/src/app/commonComponents/YesNoNotSureRadioGroup.test.tsx
  frontend/src/app/commonComponents/YesNoNotSureRadioGroup.tsx
  frontend/src/app/commonComponents/YesNoRadioGroup.test.tsx
  frontend/src/app/constants/constants.d.ts
  frontend/src/app/constants/index.tsx
  frontend/src/app/patients/Components/FacilitySelect.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

okta auth for csv pilot
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataHubClientConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserPermission.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

fixing some things
  backend/src/main/resources/application.yaml
  backend/src/main/resources/graphql/wiring.graphqls
  backend/src/test/resources/application-default.yaml
Due: none

okta auth for csv pilot
  backend/src/main/resources/graphql/main.graphqls
Due: none

testing things and generate graphql.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

correcting some datahub client things
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataHubClientConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
Due: spotless

exception handling for the TestResultMutationResolver
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
Due: spotless

unit test
  backend/src/test/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolverTest.java
Due: spotless

updating rs integration and tests
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestResultUpload.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestResultUploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/UploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/ReportStreamStatus.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/UploadResponse.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/test-upload-test-results.csv
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

creating upload page
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/App.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

db migration - updating upload table columns and types
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

adding db migration tag
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

update azurerm_monitor_scheduled_query_rules_alert.http_2xx_failed_requests to alert based off percentage of failed requests (#3739)
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

Add GraphQL query, resolver, and service methods to retrieve a single test upload record
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/UploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/main/resources/graphql/wiring.graphqls
Due: spotless

Fleshing out backend code generally
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/InvalidBulkTestResultUploadException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/application.yaml
Due: spotless

Fix typo in GraphQL schema
  backend/src/main/resources/graphql/main.graphqls
Due: none

Add route to submission detail view in React app
  frontend/src/app/App.tsx
Due: prettier, eslint

Sketch out first crack at submission detail view component
  frontend/src/app/testResults/submissions/Submission.tsx
Due: prettier, eslint

Add GraphQL query to get submission upload details
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Add unit tests and storybook for Submission React component
  frontend/src/app/testResults/submissions/Submission.stories.tsx
  frontend/src/app/testResults/submissions/Submission.test.tsx
  frontend/src/app/testResults/submissions/operations.graphql
  frontend/src/stories/storyMocks.tsx
Due: prettier, eslint

Implement Submission component for upload detail view (stubbing out GraphQL for now)
  frontend/src/app/testResults/submissions/Submission.tsx
  frontend/src/app/testResults/submissions/Submissions.scss
Due: prettier, eslint, stylelint

Implement client and supporting methods to enable two-legged authentication with the ReportStream Waters API
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataHubClientConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/TokenResponse.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/UploadResponse.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

Use correct response shape from uploadSubmission GraphQL query
  frontend/src/app/testResults/submissions/Submission.tsx
  frontend/src/app/testResults/submissions/operations.graphql
Due: prettier, eslint

Revert "update azurerm_monitor_scheduled_query_rules_alert.http_2xx_failed_requests to alert based off percentage of failed requests (#3739)"
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

Add token authentication service to create signed JWTs, in particular for RS sender tokens
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestResultUploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/UploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TokenAuthenticationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/errors/InvalidRSAPrivateKeyException.java
Due: spotless

Revert "update azurerm_monitor_scheduled_query_rules_alert.http_2xx_failed_requests to alert based off percentage of failed requests (#3739)" (#3763)
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

Minor tweaks to bridge the gap w base branch post-rebase
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/UploadResponse.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/main/resources/graphql/wiring.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

Added test coverage for status service and statusCallback
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/SmsCallbackController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TextMessageSentRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/model/auxiliary/SmsStatusCallbackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusServiceMockitoTest.java
Due: spotless

db migration - updating upload table columns and types (#3762)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Resolve some GraphQL naming diffs post-rebase
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/App.tsx
  frontend/src/app/testResults/submissions/Submission.test.tsx
  frontend/src/app/testResults/submissions/operations.graphql
  frontend/src/generated/graphql.tsx
  frontend/src/stories/storyMocks.tsx
Due: prettier, eslint

remove unnecessary sql statement in rollback
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
