Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Revert "use crypto instead of uuid"
  frontend/src/app/commonComponents/Alert.tsx
  frontend/src/app/commonComponents/SRToastContainer.test.tsx
Due: prettier, eslint

update ui tests
  frontend/src/app/commonComponents/SRToastContainer.test.tsx
  frontend/src/app/commonComponents/__snapshots__/SRToastContainer.test.tsx.snap
Due: prettier, eslint

use crypto instead of uuid
  frontend/src/app/commonComponents/Alert.tsx
  frontend/src/app/commonComponents/SRToastContainer.test.tsx
Due: prettier, eslint

revert aria-label since it fails e2e without it
  frontend/src/app/commonComponents/Alert.tsx
  frontend/src/app/commonComponents/__snapshots__/SRToastContainer.test.tsx.snap
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Convert DataSource into ProxyDataSource and use the selectCount to test n+1
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/datasource/DatasourceProxyBeanPostProcessor.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/datasource/QueryCountService.java
Due: spotless

remove hibernate.query.interceptor.error-level since spring-hibernate-query-utils was removed
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/SimpleReportApplicationTests.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/AccountRequestControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiSmokeTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/DeviceManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/OrganizationFacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientSelfRegistrationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/reportstream/ReportStreamCallbackControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationQueueServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientLinkServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientSelfRegistrationLinkServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/SpecimenTypeServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/SmsServiceTest.java
Due: spotless

Add order test date and specimen collection date to FHIR (#6031)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/JsonTestUtils.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/diagnosticReport.json
  backend/src/test/resources/fhir/serviceRequest.json
  backend/src/test/resources/fhir/specimen.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
Due: spotless

add set properties as final for FeatureFlagsConfig
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/featureflags/FeatureFlagsControllerTest.java
Due: spotless

rename access is denied with access denied
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
Due: spotless

randomize alert ids (#6014)
  frontend/src/app/commonComponents/Alert.tsx
  frontend/src/app/commonComponents/SRToastContainer.test.tsx
  frontend/src/app/commonComponents/__snapshots__/SRToastContainer.test.tsx.snap
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Fixed spec 01
  cypress/e2e/01-organization_sign_up.cy.js
Due: none

update the expected error message on audit failure to remove nested exception
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
Due: spotless

use wiremock-jre8-standalone instead of jre8 because of compatibility issues with anything less than jetty11
  backend/build.gradle
Due: none

Add `source` column to `result_upload_error` table; add field to entity
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ResultUploadError.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/ResultUploadErrorSource.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/FeedbackMessage.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless

Johanna/support admin landing page (#6050)
  cypress/e2e/01-organization_sign_up.cy.js
  frontend/src/app/supportAdmin/SupportAdmin.test.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: prettier, eslint

Update FHIR tests with timezones
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/JsonTestUtils.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/diagnosticReport.json
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
  backend/src/test/resources/fhir/serviceRequest.json
  backend/src/test/resources/fhir/specimen.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
Due: spotless

Revert "Disable touchpoints (#5869)"
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

Revert "Disable touchpoints (#5869)" (#6070)
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/Page/Page.tsx
Due: prettier, eslint

add south dakota
  frontend/src/config/constants.ts
Due: prettier, eslint

Fixed typo
  cypress/e2e/01-organization_sign_up.cy.js
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: prettier, eslint

Implemented fixed to improve date picker experience
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/mocks/queries.mock.tsx
Due: prettier, eslint

add south dakota (#6071)
  frontend/src/config/constants.ts
Due: prettier, eslint

Fixed typo (#6072)
  cypress/e2e/01-organization_sign_up.cy.js
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: prettier, eslint

Implemented fixed to improve date picker experience (#6073)
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/mocks/queries.mock.tsx
Due: prettier, eslint

Add null check when setting RS errors
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

Fill specimen received time with order test date
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/specimen.json
Due: spotless

Add caching test and rename service
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FileValidatorConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/DateTimeUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

Fill date result released with test result date
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/diagnosticReport.json
  backend/src/test/resources/fhir/serviceRequest.json
  backend/src/test/resources/fhir/specimen.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
Due: spotless

Fill blank ordering facility with testing lab
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-blank-fields.csv
Due: spotless

Update caching mock in DateTimeUtilsTest
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/DateTimeUtilsTest.java
Due: spotless

Eliminate redundant null check
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

Remove flaky test for not caching unique addresses
  backend/src/test/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingServiceTest.java
Due: spotless

Add sonarlint fixes
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConvertToSpecimenProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

replace organization query with whoami query
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
Due: none

replace organization query with whoami query
  cypress/e2e/09-multiplex_testing.cy.js
Due: none

account for the flu only devices
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint

remove organization from main.graphqls
  backend/src/main/resources/graphql/main.graphqls
Due: none

add organization query for admin.graphqls
  backend/src/main/resources/graphql/admin.graphqls
Due: none

update organization query to fetch by id
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolverTest.java
  backend/src/test/resources/graphql-test/organization-query.graphql
Due: spotless

Update gradle wrapper version.
  backend/gradle/wrapper/gradle-wrapper.properties
Due: none
