Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/

fix unit test
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
Due: prettier, eslint

adding snomed display
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/ConditionController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Condition.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/ConditionServiceTest.java
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

addressed PR comments
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
Due: prettier-test-data-func, eslint-test-data-func

added test to verify 400 thrown retains the message in queue
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.test.ts
Due: prettier-test-data-func, eslint-test-data-func

update condition if exists
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
Due: spotless

use flag name used by mikes pr
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/application.yaml
Due: spotless

adding snomed name to graphql query
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

handle weird devices
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Update comments about order id
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Add flag for data retention
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application.yaml
  frontend/src/app/analytics/Analytics.test.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: spotless, prettier, eslint

address pr comments
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
  backend/src/test/resources/application-test.yaml
Due: spotless

Refactor annotations on input classes
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
Due: spotless

fix tests
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

removed unusued AIMS OUTBOUND endpoint
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
  ops/services/app_functions/test_data_publisher/functions/config.ts
Due: prettier-test-data-func, eslint-test-data-func

add check for aims bucket name
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
Due: prettier-test-data-func, eslint-test-data-func

add ff
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  frontend/src/app/Settings/Users/UsersSideNav.tsx
Due: spotless, prettier, eslint

add ff to ui
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
Due: prettier, eslint

add function to read env variables on run
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
  ops/services/app_functions/test_data_publisher/functions/config.ts
Due: prettier-test-data-func, eslint-test-data-func

fix test
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
Due: prettier, eslint

logging
  ops/services/app_functions/test_data_publisher/functions/config.ts
Due: prettier-test-data-func, eslint-test-data-func

added back in memoize logic
  ops/services/app_functions/test_data_publisher/functions/config.ts
Due: prettier-test-data-func, eslint-test-data-func

minor improvements and linting
  ops/services/app_functions/test_data_publisher/functions/config.ts
Due: prettier-test-data-func, eslint-test-data-func

test fixing
  backend/src/test/java/gov/cdc/usds/simplereport/service/ConditionServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationInitializingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

modifying condition creation and updates
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
Due: spotless

cleanup
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
Due: spotless, prettier, eslint

increasing test coverage
  backend/src/test/java/gov/cdc/usds/simplereport/service/ConditionServiceTest.java
Due: spotless

Update test correction status
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Fix multiplex inference logic
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Update specimen comment
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Set patient internal and external id
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Fix sonar issues
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Add HL7 queue reporting service
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/TestEventSerializationFailureException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/AzureStorageQueueReportingProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReportToAIMSEventListener.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingServiceTest.java
Due: spotless

Add feature flag for AIMS reporting
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Enable AIMS feature flag for testing
  backend/src/main/resources/application.yaml
Due: none

addressed PR changes
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
Due: prettier-test-data-func, eslint-test-data-func

updated tests
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.test.ts
Due: prettier-test-data-func, eslint-test-data-func

removed aims_message_queue_endpoint from secrets
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/dev2/_data.tf
  ops/dev2/api.tf
  ops/dev3/_data.tf
  ops/dev3/api.tf
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev5/_data.tf
  ops/dev5/api.tf
  ops/dev6/_data.tf
  ops/dev6/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
Due: none

removed redundant console log from config
  ops/services/app_functions/test_data_publisher/functions/config.ts
Due: prettier-test-data-func, eslint-test-data-func

split util and messageProcessor functions into sep files
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/hl7utils.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.test.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.ts
Due: prettier-test-data-func, eslint-test-data-func

top level init of telemetry as this is null
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/telemetry.ts
Due: prettier-test-data-func, eslint-test-data-func
