Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Remove unused disease specific input components
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/__snapshots__/CovidResultInputGroup.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/__snapshots__/MultiplexResultInputGroup.test.tsx.snap
Due: prettier, eslint

update gradle lockfile
  backend/gradle.lockfile
Due: none

add back in hibernate version
  backend/build.gradle
Due: none

update gradle lockfile again
  backend/gradle.lockfile
Due: none

only show results for latest corrected/deleted TestEvent (#6904)
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ResultServiceTest.java
Due: spotless

Elisa/6648 patient unhoused (#6893)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/UnknownAddressUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/UnknownAddressUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
  backend/src/test/resources/patientBulkUpload/alternateValues.csv
Due: spotless

Filter feature disabled test result options
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/TestResultInputGroup.tsx
  frontend/src/app/utils/rsvHelper.ts
Due: prettier, eslint

Refactor test queue into list element
  frontend/src/app/testQueue/TestCard/TestCard.scss
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint, stylelint

Update test card spacing
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/TestResultInputGroup.scss
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/TestResultInputGroup.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint, stylelint

Put empty queue message into li
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint

Update margin on test device row
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

Fix pregnancy tabbing bug
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
Due: prettier, eslint

Update snapshots
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: none

First draft of test results view refactor
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testResults/EmailTestResultModal.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/mocks/queries.mock.tsx
  frontend/src/app/testResults/viewResults/CleanTestResultsList.test.tsx
  frontend/src/app/testResults/viewResults/CleanTestResultsList.tsx
  frontend/src/app/testResults/viewResults/DownloadResultsCsvButton.tsx
  frontend/src/app/testResults/viewResults/DownloadResultsCsvModal.test.tsx
  frontend/src/app/testResults/viewResults/DownloadResultsCsvModal.tsx
  frontend/src/app/testResults/viewResults/ResultsTable.test.tsx
  frontend/src/app/testResults/viewResults/ResultsTable.tsx
  frontend/src/app/testResults/viewResults/TestResultsFilters.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.scss
  frontend/src/app/testResults/viewResults/TestResultsList.test.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/EmailTestResultModal.scss
  frontend/src/app/testResults/viewResults/actionMenuModals/EmailTestResultModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/EmailTestResultModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultCorrectionModal.scss
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultCorrectionModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.scss
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.stories.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultTextModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultTextModal.tsx
  frontend/src/app/testResults/viewResults/utils.ts
  frontend/src/app/utils/testResultCSV.ts
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint, stylelint

Date range filter fields consolidated
  frontend/src/app/testResults/__snapshots__/EmailTestResultModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultCorrectionModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultDetailsModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/testResults/viewResults/TestResultsFilters.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.test.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.tsx
  frontend/src/app/testResults/viewResults/__snapshots__/DownloadResultsCsvModal.test.tsx.snap
  frontend/src/app/testResults/viewResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultCorrectionModal.test.tsx.snap
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultDetailsModal.test.tsx.snap
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: prettier, eslint

Fixed test cases
  frontend/src/app/ReportingApp.test.tsx
  frontend/src/app/testResults/mocks/queries.mock.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/EmailTestResultModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/EmailTestResultModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/EmailTestResultModal.test.tsx.snap
  frontend/src/setupTests.js
Due: prettier, eslint

Fixed unit testing
  frontend/src/app/testResults/viewResults/TestResultsList.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/EmailTestResultModal.test.tsx
Due: prettier, eslint

fix focus bug
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

fix test
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.test.tsx
Due: prettier, eslint

remove comment
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

jk do use userEvent
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.test.tsx
Due: prettier, eslint

Fixed sonar cloud smells
  frontend/src/app/testResults/viewResults/DownloadResultsCsvModal.tsx
  frontend/src/app/testResults/viewResults/ResultsTable.tsx
  frontend/src/app/testResults/viewResults/TestResultsFilters.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultCorrectionModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultTextModal.tsx
Due: prettier, eslint

Fixed unit testing
  frontend/src/app/testResults/viewResults/ResultsTable.tsx
  frontend/src/app/testResults/viewResults/TestResultsFilters.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.test.tsx
  frontend/src/app/testResults/viewResults/utils.ts
Due: prettier, eslint

Regenerated codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

actually fix tests
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

Fixed story and setup apollo mock for storybook
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.stories.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.tsx
  frontend/yarn.lock
Due: prettier, eslint

Small change to not affect the chromatic checks
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.stories.tsx
Due: prettier, eslint

fix focus bug (#6939)
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

reverted mock name change
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
Due: prettier, eslint

Fixed runtime apollo cache warning
  frontend/src/app/testResults/viewResults/actionMenuModals/EmailTestResultModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultCorrectionModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultTextModal.tsx
Due: prettier, eslint

Add HIV test results (#6892)
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedHIV.ts
  frontend/src/app/testQueue/TestCard/TestCard.scss
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/TestResultInputGroup.scss
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/TestResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/__snapshots__/CovidResultInputGroup.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/__snapshots__/MultiplexResultInputGroup.test.tsx.snap
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/utils/rsvHelper.ts
Due: prettier, eslint, stylelint

Addressed feedback
  frontend/src/app/testResults/viewResults/ResultsTable.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultCorrectionModal.test.tsx
Due: prettier, eslint

Updated test cases
  frontend/src/app/testResults/viewResults/ResultsTable.test.tsx
Due: prettier, eslint

wip
  ops/services/app_gateway/main.tf
Due: none
