Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/

reset result value when changing result type
  frontend/src/app/universalReporting/TestDetailFormSubsection.tsx
Due: prettier, eslint

match behavior and copy from Figma
  frontend/src/app/universalReporting/LabResultsFormSection.tsx
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailsFormSubsection.tsx
Due: prettier, eslint

field width updates and time field weirdness fix
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailFormSubsection.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
Due: prettier, eslint

fixing top and bottom margins and header sizes
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailsFormSubsection.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
Due: prettier, eslint

CSS
  frontend/src/app/universalReporting/PatientFormSection.scss
  frontend/src/app/universalReporting/PatientFormSection.tsx
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailFormSubsection.scss
  frontend/src/app/universalReporting/TestDetailFormSubsection.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
  frontend/src/app/universalReporting/universalReporting.scss
Due: prettier, eslint, stylelint

messed up rebase
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
Due: prettier, eslint

match required fields on types
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

clean up logging/todos
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
Due: prettier, eslint

Sonar fix
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingServiceTest.java
Due: spotless

Add alerting for aims uploader job not functioning or erroring (#9101)
  ops/services/alerts/app_service_metrics/exceptions.tf
  ops/services/alerts/app_service_metrics/function_triggers.tf
Due: none

refactor inferMultiplexDeviceTypeDisease
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
Due: spotless

Removing covid pipeline for bulk upload (#9072)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

Removing covid pipeline from Single Entry (#9073)
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReportTestEventToRSEventListener.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  ops/prod/alerts.tf
Due: spotless

Removing Calendly links (#9099)
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsFormContainer.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/utils.tsx
Due: prettier, eslint

More distinct condition display names (#9117)
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/ConditionController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Condition.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/ConditionServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationInitializingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Arin/8953 create fxn app (#9079)
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/dev2/_data.tf
  ops/dev2/api.tf
  ops/dev3/_data.tf
  ops/dev3/api.tf
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev5/_data.tf
  ops/dev5/api.tf
  ops/dev6/_data.tf
  ops/dev6/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/hl7utils.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.test.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.test.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/telemetry.ts
  ops/services/app_functions/test_data_publisher/functions/config.ts
  ops/services/app_functions/test_data_publisher/functions/package.json
  ops/services/app_functions/test_data_publisher/functions/yarn.lock
  ops/services/app_functions/test_data_publisher/infra/_data.tf
  ops/services/app_functions/test_data_publisher/infra/main.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
Due: prettier-test-data-func, eslint-test-data-func

Change copy for patient search on "Report tests" page (#9116)
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application.yaml
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
Due: spotless, prettier, eslint

Add Experian feature flag (#9120)
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application.yaml
  frontend/src/app/signUp/IdentityVerification/NextSteps.test.tsx
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsFormContainer.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: spotless, prettier, eslint

Convert single entry TestEvents to HL7 messages (#9080)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/ProviderReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application-okta-local.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

removed data retention api logic
  backend/src/main/java/gov/cdc/usds/simplereport/api/DataRetentionController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataRetentionService.java
Due: spotless

added variables to all yaml files
  backend/src/main/resources/application-azure-demo.yaml
  backend/src/main/resources/application-azure-dev.yaml
  backend/src/main/resources/application-azure-dev2.yaml
  backend/src/main/resources/application-azure-dev3.yaml
  backend/src/main/resources/application-azure-dev4.yaml
  backend/src/main/resources/application-azure-dev5.yaml
  backend/src/main/resources/application-azure-dev6.yaml
  backend/src/main/resources/application-azure-pentest.yaml
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-azure-stg.yaml
  backend/src/main/resources/application-azure-test.yaml
  backend/src/main/resources/application-azure-training.yaml
Due: none

added updated variables to demo env
  ops/demo/_data.tf
  ops/demo/api.tf
  ops/demo/main.tf
Due: none

snapshots
  frontend/src/app/universalReporting/LabResultsFormSection.test.tsx
Due: prettier, eslint

forgot the actual snapshot
  frontend/src/app/universalReporting/__snapshots__/LabResultsFormSection.test.tsx.snap
Due: none

fix test
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

added updated variables to demo env (#9154)
  ops/demo/_data.tf
  ops/demo/api.tf
  ops/demo/main.tf
Due: none

conditional toast copy (#9130)
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/constants.ts
Due: prettier, eslint

remove updated var from all env except app yaml
  backend/src/main/resources/application-azure-demo.yaml
  backend/src/main/resources/application-azure-dev.yaml
  backend/src/main/resources/application-azure-dev2.yaml
  backend/src/main/resources/application-azure-dev3.yaml
  backend/src/main/resources/application-azure-dev4.yaml
  backend/src/main/resources/application-azure-dev5.yaml
  backend/src/main/resources/application-azure-dev6.yaml
  backend/src/main/resources/application-azure-pentest.yaml
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-azure-stg.yaml
  backend/src/main/resources/application-azure-test.yaml
  backend/src/main/resources/application-azure-training.yaml
Due: none

add more tests
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/GenericResponse.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7Test.java
Due: spotless

comment
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/GenericResponse.java
Due: spotless

mock now()
  frontend/src/app/universalReporting/LabResultsFormSection.test.tsx
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailFormSubsection.tsx
Due: prettier, eslint

fix docs for multiplex fn
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
Due: spotless

add AIMS to pipeline enum
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/Pipeline.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless

add rollback
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Updated date format
  frontend/src/app/analytics/Analytics.test.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

add a few more testcases
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7Test.java
Due: spotless

add more tests for upload service
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless
