Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

adding error handling for patient bulk upload
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
Due: spotless

adjusting try catch location
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
Due: spotless

adding unit test for the malformed patient csv
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/malformed.csv
Due: spotless

add new storage queue for flu and exceptions
  ops/dev/main.tf
  ops/dev2/main.tf
  ops/dev3/main.tf
  ops/dev4/main.tf
  ops/dev5/main.tf
  ops/dev6/main.tf
  ops/dev7/main.tf
  ops/prod/main.tf
  ops/test/main.tf
Due: none

fix country code validation (#4699)
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

fix csv to match new format
  cypress/integration/02-add_patient_spec.js
Due: none

batch save for patients and phone numbers
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
Due: spotless

fix backend linting 1
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
Due: spotless

fix backend linting 2
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
Due: spotless

patient bulk upload gets flexible dates
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

add asdf config file to git ignore
  .gitignore
Due: none

fix import of deleted file
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
Due: spotless

add and make changes for org level query test
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/resources/graphql-test/test-results-with-count-query.graphql
Due: spotless

updating error messaging (#4688)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/CsvProcessingException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/FeedbackMessage.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultFileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/malformed.csv
  backend/src/test/resources/test-results-upload-invalid-format1.csv
  backend/src/test/resources/test-results-upload-invalid-format2.csv
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: spotless, prettier, eslint

remove unnecessary comments
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
Due: spotless

add access error test
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
Due: spotless

move adding patient to list
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
Due: spotless

remove magic number
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
Due: spotless

add indicies to errors
  backend/src/main/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientBulkUploadFileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/invalidValuesAndMissingFieldsInMultipleRows.csv
  backend/src/test/resources/patientBulkUpload/invalidValuesMultipleRows.csv
Due: spotless

cleanup
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
Due: spotless

try request context
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwareCallable.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwarePoolExecutor.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ExecutorConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

extract async service
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwareCallable.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

Update spring-security dependencies to remediate high-severity vulnerability.
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Update loader-utils to remediate vulnerability.
  frontend/package.json
  frontend/yarn.lock
Due: none

fix java linting
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
Due: spotless

try/catch scope
  backend/src/main/java/gov/cdc/usds/simplereport/config/ContextAwareCallable.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
Due: spotless

Update redirect after Okta auth
  frontend/src/app/PrimeErrorBoundary.tsx
  frontend/src/app/commonComponents/ProtectedRoute.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.tsx
  frontend/src/app/uploads/UploadResultsApp.tsx
  frontend/src/app/withAuthenticatedUser/WithAuthenticatedUser.tsx
Due: prettier, eslint

use a permissions context * is this bad?
  frontend/src/app/App.tsx
  frontend/src/app/uploads/UploadResultsApp.tsx
  frontend/src/app/withAuthenticatedUser/WithAuthenticatedUser.tsx
Due: prettier, eslint

add new person constructor and test for phone numbers assignment
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
Due: spotless

clean up code reuse
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
Due: spotless

clean up uneeded backend methods and query mappings from results query consolidation (#4595)
  .gitignore
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/graphql-test/test-results-multiplex-query.graphql
  backend/src/test/resources/graphql-test/test-results-query.graphql
  backend/src/test/resources/graphql-test/test-results-with-count-query.graphql
  frontend/src/app/testResults/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

rename service and repo abbreviations
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

Upgrade runtime of azure function. (#4716)
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

refactor person constructor and deduplicate persons
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceIntegrationTest.java
  backend/src/test/resources/patientBulkUpload/duplicatePatients.csv
Due: spotless

cleanup
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/resources/patientBulkUpload/noPhoneNumbers.csv
Due: spotless

add DOD clia validation
  frontend/src/app/utils/clia.ts
Due: prettier, eslint

add test for no phone type
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceIntegrationTest.java
  backend/src/test/resources/patientBulkUpload/noPhoneNumberTypes.csv
  backend/src/test/resources/patientBulkUpload/noPhoneNumbers.csv
Due: spotless

make sonar happy
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
Due: spotless

Use existing store instead of context
  frontend/src/app/App.test.tsx
  frontend/src/app/App.tsx
  frontend/src/app/uploads/UploadResultsApp.tsx
  frontend/src/app/withAuthenticatedUser/WithAuthenticatedUser.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
