Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add manage user to FeatureFlagsConfig
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
Due: spotless

add specimen name to bulk uploader fhir bundle
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/fhir/bundles-upload-integration-testing.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
Due: spotless

make integration test check for all bundles not just the first one
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
  backend/src/test/resources/fhir/bundles-upload-integration-testing.json
  backend/src/test/resources/fhir/bundles-upload-integration-testing.ndjson
Due: spotless

add tests and update exisiting ones
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/DeviceManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/application-default.yaml
  backend/src/test/resources/fhir/bundles-upload-integration-testing.ndjson
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-specimenType-loinc.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-integration.csv
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-specimenType-loinc.csv
Due: spotless

add find user by email query
  frontend/src/app/supportAdmin/ManageUsers/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Added frontend unit testing
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/__snapshots__/FacilityInformation.test.tsx.snap
Due: spotless, prettier, eslint

Add specimen name to bulk uploader fhir bundle (#6298)
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/DeviceManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/application-default.yaml
  backend/src/test/resources/fhir/bundles-upload-integration-testing.json
  backend/src/test/resources/fhir/bundles-upload-integration-testing.ndjson
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-specimenType-loinc.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-integration.csv
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-specimenType-loinc.csv
Due: spotless

add first iteration of admin manage user
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/SupportAdminRoutes.tsx
  frontend/src/app/supportAdmin/pageTitles.ts
Due: prettier, eslint

Added e2e testing that checks a11y.
  cypress/e2e/11-support-manage-facility.cy.js
Due: none

Add transactional test event listener
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestEventToReportStreamEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestEventToReportStreamEventListener.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

update snapshot to include actual results
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

mock uuid to make snapshot work
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

fix issue to clear found user next time error appears
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
Due: prettier, eslint

Fixes selection for org and facility
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  cypress/e2e/11-support-manage-facility.cy.js
Due: spotless

update db actions to be a GH action
  .github/actions/db-actions/action.yml
  .github/actions/slack-message/action.yml
  .github/workflows/rollbackDB.yml
  .github/workflows/testDBActions.yml
  .github/workflows/testingWorkflow.yml
Due: none

update action call
  .github/actions/db-actions/action.yml
  .github/workflows/rollbackDB.yml
Due: none

fixups
  .github/actions/db-actions/action.yml
  .github/workflows/rollbackDB.yml
  ops/services/container_instances/db_client/image/docker-compose.yml
Due: none

add disease name to flu only loincs in FHIR bundle
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-flu-only.ndjson
Due: spotless

make sonar happy
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
Due: spotless

add validate step to dev6 deploy
  .github/actions/db-actions/action.yml
  .github/workflows/deployDev6.yml
Due: none

cleanup deploy jobs
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployDev2.yml
  .github/workflows/deployDev3.yml
  .github/workflows/deployDev4.yml
  .github/workflows/deployDev5.yml
  .github/workflows/deployDev6.yml
  .github/workflows/deployDev7.yml
  .github/workflows/deployPentest.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
Due: none

add handleEditUserName
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
Due: prettier, eslint

added e2e of facility delete
  cypress/e2e/11-support-manage-facility.cy.js
  cypress/utils/testing-data-utils.js
Due: none

add edit user email handler
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
Due: prettier, eslint

add client-tarball input to build-frontend action
  .github/actions/build-frontend/action.yml
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployDev2.yml
  .github/workflows/deployDev3.yml
  .github/workflows/deployDev4.yml
  .github/workflows/deployDev5.yml
  .github/workflows/deployDev6.yml
  .github/workflows/deployDev7.yml
  .github/workflows/deployPentest.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
Due: none

add reset user password handler
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

add expect to assertions
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
Due: prettier, eslint

rename function
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

add reset user mfa handler
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
Due: prettier, eslint

add disease name to flu only loincs in FHIR bundle (#6302)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-flu-only.ndjson
Due: spotless

separate out rollback, validate and clear checksums jobs
  .github/workflows/liquibaseClearChecksums.yml
  .github/workflows/liquibaseRollback.yml
  .github/workflows/liquibaseValidate.yml
Due: none

correct a misnomer
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

add isDeleted to SettingsUser
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

disable all buttons when disabled
  frontend/src/app/Settings/Users/UserDetail.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

remove unused db columns related to device_specimen_type join table (#6285)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

remove unused result column from testevent and testorder
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

is isActive instead of user.isDeleted to determine if buttons should be disabled
  frontend/src/app/Settings/Users/UserDetail.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint

add user is deleted message in user status section
  frontend/src/app/Settings/Users/UserDetail.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
Due: prettier, eslint

fixed e2e testing
  cypress/e2e/11-support-manage-facility.cy.js
Due: none

Manually purge client containers to prevent TF hiccups. (#6305)
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployDev2.yml
  .github/workflows/deployDev3.yml
  .github/workflows/deployDev4.yml
  .github/workflows/deployDev5.yml
  .github/workflows/deployDev6.yml
  .github/workflows/deployDev7.yml
  .github/workflows/deployPentest.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
Due: none
