Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Improved bash script to send email
  .github/actions/banner-status-notification/action.yml
  .github/workflows/maintenance.yml
Due: none

Mike/5844 tests bulk upload results fhir (#5946)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateGenerator.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/FhirDateTimeUtil.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/UUIDGenerator.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/ZoneIdGenerator.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/JsonTestUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-5000-rows.csv
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
Due: spotless

add a mock to clean up logs
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizationsContainer.test.tsx
Due: prettier, eslint

replace regex with string to ensure exact matching
  frontend/src/app/patients/AddPatient.test.tsx
Due: prettier, eslint

remove act around delete click
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizationsContainer.test.tsx
Due: prettier, eslint

Specify which error message to look for
  frontend/src/app/patients/AddPatient.test.tsx
Due: prettier, eslint

update the names of the input fields for pxp
  cypress/e2e/05-get_result_from_patient_link.cy.js
Due: none

add a waitFor around expect
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizationsContainer.test.tsx
Due: prettier, eslint

Do not set application_stack for production slot, during deploy, we swap it from the staging slot
  ops/services/app_service/main.tf
Due: none

Handle timezones in bulk uploader and Fhir converter
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/errors/InvalidAddressException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/TimezoneInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
Due: spotless

update test to reflect not rounding to start of day
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
Due: none

make email and role optional for add users to current org
  backend/src/main/resources/graphql/main.graphqls
Due: none

also run codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

make organizationExternalId optional in userInput
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Handle timezones in bulk uploader and Fhir converter
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
Due: spotless

Fix intellij auto conversion to * import
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

Check testResultTimeZoneInfo for null
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

use z format for datetimes instead of +0:00
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
Due: spotless

code review feedback * also missed a fix for a test
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
Due: spotless

Refactor facilityForm to use react-hook-form
  cypress/e2e/01-organization_sign_up.cy.js
  frontend/src/app/Settings/Facility/Components/FacilityInformation.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/Settings/Facility/Components/OrderingProvider.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/Settings/Facility/FacilityFormContainer.test.tsx
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
  frontend/src/app/Settings/Facility/facilitySchema.ts
  frontend/src/app/commonComponents/Dropdown.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/utils/address.tsx
  frontend/src/app/utils/clia.test.ts
  frontend/src/app/utils/clia.ts
  frontend/src/config/constants.ts
Due: prettier, eslint

add facility and accessAllFacilities to add user mutation
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
  frontend/src/app/Settings/Users/ManageUsers.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
Due: prettier, eslint

replace || with ??
  frontend/src/app/Settings/Users/ManageUsers.tsx
Due: prettier, eslint

replace || with ??
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
Due: prettier, eslint

run codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Implemented custom hook that uses the sendgrid API
  .github/actions/banner-status-notification/action.yml
  frontend/src/app/Settings/Users/ManageUsersContainer.test.tsx
Due: prettier, eslint

Set focus on errors in PXP dob form (#5968)
  cypress/e2e/05-get_result_from_patient_link.cy.js
  frontend/src/app/commonComponents/DateInput.tsx
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizationsContainer.test.tsx
  frontend/src/patientApp/timeOfTest/DOB.test.tsx
  frontend/src/patientApp/timeOfTest/DOB.tsx
Due: prettier, eslint

Fixed indentation
  .github/actions/banner-status-notification/action.yml
Due: none

Johanna/5833 a11y place focus on new number and email form fields (#5979)
  frontend/src/app/patients/Components/ManageEmails.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.test.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
Due: prettier, eslint

Fixed configuration attribute
  .github/actions/banner-status-notification/action.yml
Due: none

Moved secret access to workflow and added necessary inputs to action
  .github/actions/banner-status-notification/action.yml
  .github/workflows/maintenance.yml
Due: none

added debug
  .github/actions/banner-status-notification/action.yml
Due: none

Added quotes
  .github/actions/banner-status-notification/action.yml
Due: none

Removed spaces
  .github/actions/banner-status-notification/action.yml
Due: none

Added quotes back
  .github/actions/banner-status-notification/action.yml
Due: none

debugging
  .github/actions/banner-status-notification/action.yml
Due: none

Fixed variable access
  .github/actions/banner-status-notification/action.yml
Due: none

added double quotes
  .github/actions/banner-status-notification/action.yml
Due: none

Fixed email to parameter
  .github/actions/banner-status-notification/action.yml
Due: none

Increase timeout for RS key generation. (#5973)
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
Due: none
