Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

fix syphilis guidance test
  frontend/src/app/commonComponents/TestResultGuidance/SyphilisResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/SyphilisResultGuidance.test.tsx.snap
Due: prettier, eslint

remove regex
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

tidy tests
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

updated to run trivy on a push to main
  .github/workflows/trivy.yml
Due: none

update constants
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

add key for guidance elements
  frontend/src/app/commonComponents/TestResultGuidance/ResultsGuidance.tsx
Due: prettier, eslint

Update smartystreets on frontend
  frontend/package.json
Due: none

Update roles and facilities on read (#7856)
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  backend/src/test/resources/application-test.yaml
Due: spotless

Update CSV Result Code Validation (#7937)
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

Add syphilis and flu A&B guidance to pxp and print (#7946)
  frontend/src/app/commonComponents/TestResultGuidance/CovidResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/ResultsGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/SyphilisResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/SyphilisResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/CovidResultGuidance.test.tsx.snap
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/SyphilisResultGuidance.test.tsx.snap
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/testResults/constants.ts
  frontend/src/app/testResults/viewResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.test.tsx
  frontend/src/app/utils/testResults.ts
  frontend/src/app/utils/testResults.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

tfsec to Trivy scanning (#7905)
  .github/workflows/tfsec.yml
  .github/workflows/trivy.yml
  ops/services/container_instances/db_client/image/Dockerfile
Due: none

Prevent site admin ghosting org and roles to be saved
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

Clear roles and facilities in DB for site admins
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

Only save role and facility info for non site admin users
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

Address code smell
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

Prevent saving roles and facilities for site admins ghosting into orgs (#7969)
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

Work in progress debugging
  frontend/src/app/utils/smartyStreets.test.ts
  frontend/src/app/utils/smartyStreetsClients.ts
  frontend/yarn.lock
Due: prettier, eslint

logic app workflow that sends prod resource group alerts to pentest env for testing
  ops/pentest/main.tf
  ops/services/alerts/alert_app/_var.tf
  ops/services/alerts/alert_app/main.tf
Due: none

modified to point to env pentest
  ops/services/alerts/alert_app/_var.tf
  ops/services/alerts/alert_app/main.tf
Due: none

removed old url and uri, added reference to slack gh secret, removed unsupported arguments
  .github/actions/tf-deploy/action.yml
  .github/workflows/deployDev.yml
  ops/pentest/main.tf
  ops/services/alerts/alert_app/main.tf
Due: none

changed hook to a variable
  ops/services/alerts/alert_app/_var.tf
  ops/services/alerts/alert_app/main.tf
Due: none

fixed resource arguments
  ops/services/alerts/alert_app/main.tf
Due: none

Add mutation to clear user roles and facilities
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUserRole.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

varibale reference added for uri
  ops/services/alerts/alert_app/main.tf
Due: none

fixed formatting
  ops/pentest/main.tf
Due: none

formatting
  ops/pentest/main.tf
  ops/services/alerts/alert_app/_var.tf
  ops/services/alerts/alert_app/main.tf
Due: none

bump lockfile version number
  backend/gradle.lockfile
Due: none

add try/catch blocks to methods for getting user info
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

rename method
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Add mutation to clear user roles and facilities (#7978)
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUserRole.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

add test coverage
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

moved webhook to key vault
  .github/actions/tf-deploy/action.yml
  .github/workflows/deployDev.yml
  ops/pentest/_data.tf
  ops/pentest/main.tf
  ops/services/alerts/alert_app/data.tf
Due: none

added app_setting to import existing secret
  ops/pentest/_data.tf
  ops/services/alerts/alert_app/main.tf
Due: none

fixed vault import
  ops/pentest/_data.tf
  ops/pentest/main.tf
  ops/services/alerts/alert_app/_var.tf
  ops/services/alerts/alert_app/data.tf
  ops/services/alerts/alert_app/main.tf
Due: none

removed key varibale
  ops/services/alerts/alert_app/_var.tf
Due: none

test coverage for whoami for invalid facilities user
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseAuthenticatedFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestUserIdentities.java
  backend/src/test/resources/application-test.yaml
Due: spotless

fix demo user tests
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

self nit
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
Due: spotless

clean up test to use demo user
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

created an action group and removed hardcoded values to point to data objects
  ops/services/alerts/alert_app/data.tf
  ops/services/alerts/alert_app/main.tf
Due: none
