Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Revert "strip id token from application insight logs (#5486)" (#5517)
  frontend/src/app/PrimeErrorBoundary.tsx
  frontend/src/app/TelemetryService.ts
  frontend/src/app/telemetry.test.tsx
  frontend/src/app/utils/url.test.ts
  frontend/src/app/utils/url.ts
Due: prettier, eslint

update okta to 10.2.2
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Bulk Upload Fhir Conversion (#5511)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
Due: spotless

Added order control to service requested pair
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Scheduled hourly, not every minute, and use time units instead of cron syntax
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
Due: spotless

get hacky version of obscuring working
  frontend/.env.development
  frontend/src/app/PrimeErrorBoundary.tsx
  frontend/src/app/TelemetryService.ts
  frontend/src/app/facilitySelect/FacilitySelect.tsx
  frontend/src/app/telemetry.test.tsx
Due: prettier, eslint

move match functions to another file and add tests
  frontend/src/app/PrimeErrorBoundary.tsx
  frontend/src/app/TelemetryService.ts
  frontend/src/app/facilitySelect/FacilitySelect.tsx
  frontend/src/app/telemetry.test.tsx
  frontend/src/app/utils/url.test.ts
  frontend/src/app/utils/url.ts
Due: prettier, eslint

remove extra cast
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

simplify sanitation logic
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Update TelemetryService.ts
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

rework filtering and change relevant tests
  frontend/.env.development
  frontend/src/app/telemetry.test.tsx
Due: prettier, eslint

lint
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

rename method
  frontend/src/app/TelemetryService.ts
  frontend/src/app/telemetry.test.tsx
Due: prettier, eslint

Replaced SnomedConcept class for SnomedConceptRecord
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/SnomedConcept.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/SnomedConceptRecord.java
Due: spotless

Make shared bulk upload values consistent
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestUserIdentities.java
  backend/src/test/resources/patientBulkUpload/alternateValues.csv
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: spotless, prettier, eslint

Fix ask, but unknown literal
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

Address PR comments
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: spotless, prettier, eslint

swap out bad regex that broke safari
  frontend/src/app/PrimeErrorBoundary.tsx
  frontend/src/app/utils/url.ts
Due: prettier, eslint

remove extra log
  frontend/src/app/utils/url.ts
Due: prettier, eslint

add back in santization
  frontend/src/app/PrimeErrorBoundary.tsx
Due: prettier, eslint

Fixed snomed code name in fhir bundle (#5513)
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/SnomedConceptRecord.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
Due: spotless

Fixed creation of codeableConcept object
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Updated fhir mock jsons
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/serviceRequest.json
Due: none

Fixed code smell.
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add logging to dev
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/resources/application-okta-dev.yaml
Due: spotless

update to encode string before using api
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

remove encoding from search term
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

encode username only in search term and don't encode for q
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

remove encoding
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

change Collector.toList() to .toList() thx java 17
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

remove logs
  backend/src/main/resources/application-okta-dev.yaml
Due: none

added check in e2e spec to trigger a11y check with better timing.
  cypress/integration/09-multiplex_testing_spec.js
Due: none

Update backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

Make shared bulk upload values consistent (#5509)
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestUserIdentities.java
  backend/src/test/resources/patientBulkUpload/alternateValues.csv
Due: spotless

Small code clean up
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

Remove usage of DeviceType SupportedDiseases from frontend
  frontend/src/app/ReportingApp.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/Settings/Facility/FacilityFormContainer.test.tsx
  frontend/src/app/Settings/Facility/facilitySchema.ts
  frontend/src/app/Settings/types.d.ts
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedCovid.ts
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedMultiplex.ts
  frontend/src/app/supportAdmin/DeviceType/operations.graphql
  frontend/src/app/supportAdmin/DeviceType/types.d.ts
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/mocks/mockSupportedDiseaseCovid.ts
  frontend/src/app/testQueue/mocks/mockSupportedDiseaseMultiplex.ts
  frontend/src/app/testQueue/operations.graphql
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
  frontend/src/app/uploads/DeviceLookup/operations.graphql
  frontend/src/generated/graphql.tsx
  frontend/src/stories/testQueue/QueueItem.stories.tsx
Due: prettier, eslint

drop device test performed loinc code table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Johanna/5504 add order control to bundle (#5529)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/serviceRequest.json
  cypress/integration/09-multiplex_testing_spec.js
Due: spotless

Update lockfile with dependabot changes.
  backend/gradle.lockfile
Due: none

@ConditionalOnProperty annotation not valid on methods - check the feature flag manually in the scheduled sync handler
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
