Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

apply recommended refactors
  frontend/src/app/patients/AddPatient.tsx
Due: prettier, eslint

change 3 test results csv date fields to optional (#4392)
  backend/src/main/java/gov/cdc/usds/simplereport/validators/TestResultFileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultFileValidatorTest.java
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schema.json
Due: spotless

fix button with same id
  frontend/src/app/patients/AddPatient.tsx
Due: prettier, eslint

rename main to div and add flex
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
Due: prettier, eslint

rename main to div and add flex
  frontend/src/app/supportAdmin/AddOrganizationAdmin/AddOrganizationAdminForm.tsx
Due: prettier, eslint

rename main to div and add flex to DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
Due: prettier, eslint

enable dependabot for github actions
  .github/dependabot.yml
Due: none

Missing import
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

rename main to div and add flex to TenantDataAccessForm.tsx
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessForm.tsx
Due: prettier, eslint

rename main to div and add flex to SupportAdmin.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
Due: prettier, eslint

incorporating merethe's and Laura Kerry's feedback
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: prettier, eslint

Add iframe with embedded video * todo: get design guidance on dimensions * todo: wait for Zedd's PR updating the upload schema doc to be merged * todo: update snapshot
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint

admin/standard users can use the bulk test results uploader
  frontend/src/app/App.tsx
  frontend/src/app/Settings/Users/UserRoleSettingsForm.tsx
Due: prettier, eslint

make backend require standard user permission
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

Known good configuration before Metabase rewrite.
  ops/services/app_gateway/main.tf
  ops/services/app_service/main.tf
  ops/services/virtual_network/main.tf
Due: none

Set bigger dimensions
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint

Add metabase to its own rewrite set.
  ops/services/app_gateway/main.tf
Due: none

update tests
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

update the test snapshot
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: none

Better date comparison in unit test
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

update bulk uploader disclaimer
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

fix accessibility on csv uploader screens (#4382)
  frontend/src/app/testResults/HeaderSizeFix.scss
  frontend/src/app/testResults/submissions/Submission.tsx
  frontend/src/app/testResults/submissions/Submissions.test.tsx
  frontend/src/app/testResults/submissions/Submissions.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: prettier, eslint, stylelint

rename main to div and add flex to TestQueue.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

update bulk uploader disclaimer (#4398)
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

rename main to div and add flex to loading portion of TestQueue.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

Complete configuration of metabase and staging on dev3.
  ops/dev/metabase.tf
  ops/dev2/metabase.tf
  ops/dev3/main.tf
  ops/dev3/metabase.tf
  ops/dev4/metabase.tf
  ops/prod/metabase.tf
  ops/services/app_gateway/_var.tf
  ops/services/app_gateway/main.tf
  ops/services/app_service/_output.tf
  ops/services/app_service/main.tf
  ops/services/metabase/service/_var.tf
  ops/services/metabase/service/main.tf
  ops/services/virtual_network/main.tf
  ops/test/metabase.tf
Due: none

Embed tutorial uploader video in CSV template guide (#4397)
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: prettier, eslint

allow youtube video to run on website
  frontend/public/index.html
Due: none

allow youtube video to run on website (#4400)
  frontend/public/index.html
Due: none

add result to the end of the disease name
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
Due: prettier, eslint

remove permission check on the results tabs
  frontend/src/app/App.tsx
  frontend/src/app/testResults/ResultsNavWrapper.test.tsx
  frontend/src/app/testResults/ResultsNavWrapper.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint

Test corrections are re-opened with original submission date (#4361)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

moving swab options to table view with the copy functionality
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.tsx
Due: prettier, eslint

admin/standard users can bulk upload test results (#4396)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  frontend/src/app/App.tsx
  frontend/src/app/Settings/Users/UserRoleSettingsForm.tsx
  frontend/src/app/testResults/ResultsNavWrapper.test.tsx
  frontend/src/app/testResults/ResultsNavWrapper.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: spotless, prettier, eslint

add postcss-normalize to fix webpack error
  frontend/package.json
Due: none

Pin metabase version to v0.44.1. (#4179)
  ops/services/metabase/service/main.tf
Due: none

Make patient name an h2 on test card, adjust results radio header down to h3
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/CovidResultInputForm.tsx
Due: prettier, eslint

update test result bulk upload guide
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.scss
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schema.json
Due: prettier, eslint, stylelint

enable dependabot for github actions (#4395)
  .github/dependabot.yml
Due: none

remove duplicate main on TermsOfService.tsx
  frontend/src/patientApp/timeOfTest/TermsOfService.tsx
Due: prettier, eslint
