Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

`x` is, in fact, an acceptable value for the specimen_type column
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-invalid-values.csv
Due: spotless

Update docker image to not quit automatically. Add storage share.
  ops/dev7/container_instances.tf
  ops/dev7/main.tf
  ops/services/container_instances/db_client/image/Dockerfile
  ops/services/container_instances/db_client/infra/_var.tf
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Add support for storage account access key in container.
  ops/dev7/container_instances.tf
  ops/services/container_instances/db_client/infra/_var.tf
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Add DB client container to all environments.
  ops/demo/container_instances.tf
  ops/demo/main.tf
  ops/dev/container_instances.tf
  ops/dev/main.tf
  ops/dev2/container_instances.tf
  ops/dev2/main.tf
  ops/dev3/container_instances.tf
  ops/dev3/main.tf
  ops/dev4/container_instances.tf
  ops/dev4/main.tf
  ops/dev5/container_instances.tf
  ops/dev5/main.tf
  ops/dev6/container_instances.tf
  ops/dev6/main.tf
  ops/dev7/main.tf
  ops/pentest/container_instances.tf
  ops/pentest/main.tf
  ops/prod/container_instances.tf
  ops/prod/main.tf
  ops/services/container_instances/db_client/infra/db_client.tf
  ops/stg/container_instances.tf
  ops/stg/main.tf
  ops/test/container_instances.tf
  ops/test/main.tf
  ops/training/container_instances.tf
  ops/training/main.tf
Due: none

Terraform fmt.
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Terraform validate.
  ops/demo/main.tf
Due: none

Add Github workflows for all envs.
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployDev2.yml
  .github/workflows/deployDev3.yml
  .github/workflows/deployDev4.yml
  .github/workflows/deployDev5.yml
  .github/workflows/deployDev6.yml
  .github/workflows/deployPentest.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
Due: none

Small translation fixes
  frontend/src/lang/es.ts
Due: prettier, eslint

Fixed small typo
  frontend/src/lang/es.ts
Due: prettier, eslint

Remove unneeded comment.
  ops/services/container_instances/db_client/infra/_var.tf
Due: none

trim leading/trailing spaces for csv validation
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

Update upload guidance for specimen_type column
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

Update snapshot
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: none

make device models with trailing (*) pass the device validation
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
Due: spotless

Update snapshot (again, with correct Node version)
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: none

update provider versions, extract azurerm provider into the _config.tf file pattern
  ops/demo/.terraform.lock.hcl
  ops/demo/persistent/.terraform.lock.hcl
  ops/dev/.terraform.lock.hcl
  ops/dev/persistent/.terraform.lock.hcl
  ops/dev2/.terraform.lock.hcl
  ops/dev2/persistent/.terraform.lock.hcl
  ops/dev3/.terraform.lock.hcl
  ops/dev3/persistent/.terraform.lock.hcl
  ops/dev4/.terraform.lock.hcl
  ops/dev4/persistent/.terraform.lock.hcl
  ops/dev5/.terraform.lock.hcl
  ops/dev5/persistent/.terraform.lock.hcl
  ops/dev6/.terraform.lock.hcl
  ops/dev6/persistent/.terraform.lock.hcl
  ops/dev7/.terraform.lock.hcl
  ops/dev7/persistent/.terraform.lock.hcl
  ops/global/.terraform.lock.hcl
  ops/pentest/.terraform.lock.hcl
  ops/pentest/persistent/.terraform.lock.hcl
  ops/prod/.terraform.lock.hcl
  ops/prod/persistent/.terraform.lock.hcl
  ops/services/app_functions/report_stream_batched_publisher/infra/_config.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/stg/.terraform.lock.hcl
  ops/stg/persistent/.terraform.lock.hcl
  ops/test/.terraform.lock.hcl
  ops/test/persistent/.terraform.lock.hcl
  ops/training/.terraform.lock.hcl
  ops/training/persistent/.terraform.lock.hcl
Due: none

use strip instead of trim
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

update upgradetf.sh script to remove tf lock files at runtime so that versions are consistent
  ops/upgradetf.sh
Due: none

Update lockfile with dependabot changes.
  backend/gradle.lockfile
Due: none

Reduce parameters in organization mutation part 3/3 (#5791)
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolverTest.java
  backend/src/test/resources/graphql-test/facility-create.graphql
  backend/src/test/resources/graphql-test/facility-update.graphql
  backend/src/test/resources/graphql-test/organization-create.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Small translation fixes (#5813)
  frontend/src/lang/es.ts
Due: prettier, eslint

updating testEventId to use Accession Number
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

strip leading/trailing spaces for csv validation (#5816)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

Add caching mechanism for specimen name -> SNOMED map for shared use in CSV and FHIR bulk uploads
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderDeviceValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid.csv
Due: spotless

Remove `TODO` comment
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

rename facility builder and fix constructor
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Facility.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/FacilityBuilder.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/FacilityRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceMigrationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Remove commented-out code in service class files
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

SNOMED regex allows for 15-character codes
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

fix lint
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/FacilityRepositoryTest.java
Due: spotless

Use lowercased specimen names as SNOMED map keys
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderDeviceValidationService.java
Due: spotless

Cache method for SNOMED map returns the right thing lol
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderDeviceValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid.csv
Due: spotless

Remove extraneous debugging variable definition
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

updating testEventId to use Accession Number (#5830)
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

remove null builds
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add back in the non null val
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Device lookup tool only uses one SupportedDiseaseTestPerformed per supported disease in its results
  frontend/src/app/uploads/DeviceLookup/DeviceDetails.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

minimize code complexity
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

add test coverage
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
