Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

status check reflect subapi endpoint (sorry merethe)
  frontend/src/app/DeploySmokeTest.test.tsx
Due: prettier, eslint

dedupe application.yaml
  backend/src/main/resources/application.yaml
Due: none

break out okta endpoint from health check (#7891)
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/OktaHealthIndicator.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/healthcheck/BackendAndDatabaseHealthIndicatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/healthcheck/OktaHealthIndicatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  frontend/deploy-smoke.js
  frontend/src/app/DeploySmokeTest.test.tsx
  frontend/src/app/DeploySmokeTest.tsx
  frontend/src/app/deploySmokeTestTestConstants.ts
Due: spotless, prettier, eslint

bump docker version
  ops/services/metabase/service/main.tf
Due: none

added remaining packages
  backend/build.gradle
  backend/gradle.lockfile
  frontend/package.json
  frontend/yarn.lock
Due: none

updated packages for frontend and backend
  backend/build.gradle
  backend/gradle.lockfile
  frontend/package.json
  frontend/yarn.lock
Due: none

ran yarn add babel-jest to fix error Jest encountered an unexpected token
  frontend/package.json
Due: none

fixed syntax error
  frontend/package.json
Due: none

Fix test event correction constructor
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
Due: spotless

Add custom started at time for test timer
  frontend/src/app/testQueue/TestTimer.test.tsx
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint

Add update timer started at mutation
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/TestTimer.tsx
  frontend/src/app/testQueue/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Add comment for timer reset useEffect
  frontend/src/app/testQueue/TestCard/TestCard.tsx
Due: prettier, eslint

Remove deletion of empty line
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint

updated the dependency axios for smartystreets-javascript-sdk package update
  frontend/package.json
  frontend/yarn.lock
Due: none

added transformIgnorePattern for axios, there is a known issue with the axios upgrade https://github.com/axios/axios/issues/5101
  frontend/package.json
Due: none

add syphilis guidance to pxp and print pages
  frontend/src/app/commonComponents/TestResultGuidance/CovidResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/ResultsGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/SyphilisResultGuidance.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

remove todo
  frontend/src/app/commonComponents/TestResultGuidance/CovidResultGuidance.tsx
Due: prettier, eslint

spanish pxp view should have spanish link
  frontend/src/app/commonComponents/TestResultGuidance/CovidResultGuidance.tsx
Due: prettier, eslint

Remove timer useEffect for refactor
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint

Move scroll useEffect back to original position
  frontend/src/app/testQueue/TestCard/TestCard.tsx
Due: prettier, eslint

Linting fix
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint

bump docker version (#7893)
  ops/services/metabase/service/main.tf
Due: none

add padding on print for all diseases
  frontend/src/app/commonComponents/TestResultGuidance/CovidResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/ResultsGuidance.tsx
Due: prettier, eslint

Add aoe corrections test
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Adjust abnormal flag mapping
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Fix test event survey data after AOE correction (#7904)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

deleted tf sec and replaced it with trivy
  .github/workflows/tfsec.yml
  .github/workflows/trivy.yml
Due: none

fix snapshots
  frontend/src/app/commonComponents/TestResultGuidance/ResultsGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/CovidResultGuidance.test.tsx.snap
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: prettier, eslint

rm obsolete snapshot
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: none

Only add abnormal flag interpretation if value present
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

more test coverage
  frontend/src/app/commonComponents/TestResultGuidance/SyphilisResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/SyphilisResultGuidance.test.tsx.snap
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
Due: prettier, eslint

clean up default param
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/utils/testResults.ts
Due: prettier, eslint

Adjust abnormal flag mapping (#7903)
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Update roles and facilities on read
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

Fix tests
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  backend/src/test/resources/application-test.yaml
Due: spotless

Fix timer reset when result ready
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint

Update gql codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

downgraded smartystreets and its dependencies down to original versions
  frontend/package.json
  frontend/yarn.lock
Due: none

Update gradle lockfile
  backend/gradle.lockfile
Due: none

enable sendgrid
  backend/src/main/resources/application-azure-dev2.yaml
  cypress/support/commands.js
Due: none
