Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Add and employ a GraphQL query called from Cypress to get patient link for a result
  cypress/cypress.config.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
  cypress/utils/request-utils.js
  cypress/utils/testing-data-utils.js
Due: none

fix jacoco config
  backend/build.gradle
Due: none

set fixed date for now on test-queue test
  frontend/src/app/testQueue/TestQueue.test.tsx
Due: prettier, eslint

Use storysource addon
  frontend/.storybook/main.js
Due: prettier, eslint

Initial TestQueueCard
  frontend/src/app/testQueue/TestQueueCard/TestQueueCard.stories.tsx
  frontend/src/app/testQueue/TestQueueCard/TestQueueCard.test.tsx
  frontend/src/app/testQueue/TestQueueCard/TestQueueCard.tsx
  frontend/src/app/testQueue/TestQueueCard/index.tsx
Due: prettier, eslint

Refactor test card and form
  frontend/.storybook/main.js
  frontend/src/app/commonComponents/YesNoRadioGroup.tsx
  frontend/src/app/testQueue/TestCard/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCard/MultiplexResultInputGroup.tsx
  frontend/src/app/testQueue/TestCard/TestCard.scss
  frontend/src/app/testQueue/TestCard/TestCard.stories.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCard/TestForm.tsx
  frontend/src/app/testQueue/TestQueueCard/TestQueueCard.stories.tsx
  frontend/src/app/testQueue/TestQueueCard/TestQueueCard.test.tsx
  frontend/src/app/testQueue/TestQueueCard/TestQueueCard.tsx
  frontend/src/app/testQueue/TestQueueCard/index.tsx
  frontend/src/app/testQueue/TestTimer.scss
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint, stylelint

Use TestCard.scss
  frontend/src/app/testQueue/TestCard/TestCard.tsx
Due: prettier, eslint

Change accordion to collapsible card
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Add submit and validation
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Update symptoms and save form edits
  frontend/src/app/testQueue/TestCard/AoE/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Update card styling
  frontend/src/app/testQueue/TestCard/TestCard.scss
  frontend/src/app/testQueue/TestCard/TestCard.stories.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
Due: prettier, eslint, stylelint

Add Covid AoE form
  frontend/src/app/testQueue/TestCard/AoE/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Revert demo changes to single card
  frontend/src/app/testQueue/TestCard/TestCard.stories.tsx
Due: prettier, eslint

Update card styling, add submit loader, correction alert
  frontend/src/app/testQueue/TestCard/AoE/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCard/MultiplexResultInputGroup.tsx
  frontend/src/app/testQueue/TestCard/TestCard.scss
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.scss
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardSubmitLoader.scss
  frontend/src/app/testQueue/TestCard/TestCardSubmitLoader.tsx
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint, stylelint

Update timer styling
  frontend/src/app/testQueue/TestTimer.scss
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint, stylelint

Update test result radio group style
  frontend/src/app/testQueue/TestCard/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCard/MultiplexResultInputGroup.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
Due: prettier, eslint

Add test date and time validation style
  frontend/src/app/testQueue/TestCard/TestCardForm.scss
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
Due: prettier, eslint, stylelint

Fix error summary display logic
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
Due: prettier, eslint

Add submit modal
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
Due: prettier, eslint

Fix lint warnings in timer
  frontend/src/app/testQueue/TestTimer.scss
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint, stylelint

Add unordered list for error summary
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
Due: prettier, eslint

Revert timer and close button style change
  frontend/src/app/testQueue/TestCard/TestCard.scss
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint, stylelint

Update CovidAoEForm and check if completed
  frontend/src/app/commonComponents/YesNoRadioGroup.test.tsx
  frontend/src/app/commonComponents/YesNoRadioGroup.tsx
  frontend/src/app/testQueue/TestCard/AoE/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Revert explicit null aoe fields
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/AskOnEntrySurvey.java
Due: spotless

Organize disease specific components
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCard/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCard/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCard/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
Due: prettier, eslint

Start test without AOE modal
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/AskOnEntrySurvey.java
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
  frontend/src/patientApp/timeOfTest/constants.ts
Due: spotless, prettier, eslint

Add testCardRefactorEnabled feature flag
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application-azure-prod.yaml
  frontend/src/app/testQueue/TestQueue.tsx
Due: spotless, prettier, eslint

Reposition close button
  frontend/src/app/testQueue/TestCard/TestCard.scss
Due: stylelint

Fix active patient added again after submit
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint

Remove from queue and fix adding from manage patients
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
  frontend/src/app/testQueue/constants.ts
Due: prettier, eslint

Update test timer design
  frontend/src/app/testQueue/TestTimer.scss
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint, stylelint

Save AOE responses
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Cleanup and refactor
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Update tests with timer changes
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/TestTimer.test.tsx
Due: prettier, eslint

Update validation messages
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCard/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
Due: prettier, eslint

Move files and use feature flag on submit loader
  frontend/src/app/testQueue/QueueItemSubmitLoader.scss
  frontend/src/app/testQueue/QueueItemSubmitLoader.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardSubmitLoader.scss
  frontend/src/app/testQueue/TestCard/TestCardSubmitLoader.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.scss
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
Due: prettier, eslint, stylelint

Fix dirty state update and test results comparison
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Add required asterisks
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

Prevent patient re-add after page refresh
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint

Check for active mutations before updates from backend
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint
