Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

dan feedback
  .github/actions/post-deploy-smoke-test/action.yml
  .github/workflows/smokeTestDeployProd.yml
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
  frontend/deploy-smoke.js
  frontend/src/app/DeploySmokeTest.test.tsx
  frontend/src/app/DeploySmokeTest.tsx
  frontend/src/app/HealthChecks.tsx
Due: spotless, prettier, eslint

some other stuff
  .github/workflows/smokeTestDeployManual.yml
  .github/workflows/smokeTestDeployProd.yml
Due: none

remove empty var
  backend/src/main/resources/application.yaml
Due: none

frontend component and script
  frontend/deploy-smoke.js
  frontend/package.json
  frontend/src/app/HealthChecks.tsx
  frontend/src/app/ProdSmokeTest.test.tsx
  frontend/src/app/ProdSmokeTest.tsx
  frontend/yarn.lock
Due: prettier, eslint

remove comment
  frontend/src/app/DeploySmokeTest.tsx
Due: prettier, eslint

backend config
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/SecurityConfiguration.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/healthcheck/BackendAndDatabaseHealthIndicatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
Due: spotless

remove slack comment
  .github/actions/post-deploy-smoke-test/action.yml
Due: none

use base domain env var instead
  .github/actions/post-deploy-smoke-test/action.yml
  .github/workflows/smokeTestDeployProd.yml
Due: none

lol it's friday alright
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/healthcheck/BackendAndDatabaseHealthIndicatorTest.java
Due: spotless

add comment to document workflow
  .github/workflows/deployProd.yml
Due: none

set env var
  .github/workflows/smokeTestDeployProd.yml
Due: none

better comment
  .github/workflows/deployProd.yml
Due: none

string format and equality
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
Due: spotless

move literal to left
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
Due: spotless

use existing status check instead
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/healthcheck/BackendAndDatabaseHealthIndicatorTest.java
Due: spotless

move url to one place
  frontend/deploy-smoke.js
Due: prettier, eslint

Translate RSV to VRS
  frontend/src/lang/es.ts
Due: prettier, eslint

update RSV copy (#7088)
  cypress/e2e/05-get_result_from_patient_link.cy.js
  frontend/src/app/commonComponents/MultiplexResultsGuidance.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/utils/testResults.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

don't hard code node version
  .github/workflows/smokeTestDeployProd.yml
Due: none

Enable RSV and new test card
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-azure-stg.yaml
  backend/src/main/resources/application-azure-training.yaml
Due: none

Enable RSV and new test card (#7116)
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-azure-stg.yaml
  backend/src/main/resources/application-azure-training.yaml
Due: none

add post prod deploy smoke test and alert (#7057)
  .github/actions/post-deploy-smoke-test/action.yml
  .github/workflows/deployProd.yml
  .github/workflows/smokeTestDeployProd.yml
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/SecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/healthcheck/BackendAndDatabaseHealthIndicatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  frontend/deploy-smoke.js
  frontend/package.json
  frontend/src/app/DeploySmokeTest.test.tsx
  frontend/src/app/DeploySmokeTest.tsx
  frontend/src/app/HealthChecks.tsx
  frontend/yarn.lock
Due: spotless, prettier, eslint

Revert "add post prod deploy smoke test and alert (#7057)"
  .github/actions/post-deploy-smoke-test/action.yml
  .github/workflows/deployProd.yml
  .github/workflows/smokeTestDeployProd.yml
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/SecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/healthcheck/BackendAndDatabaseHealthIndicatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  frontend/deploy-smoke.js
  frontend/package.json
  frontend/src/app/DeploySmokeTest.test.tsx
  frontend/src/app/DeploySmokeTest.tsx
  frontend/src/app/HealthChecks.tsx
  frontend/yarn.lock
Due: spotless, prettier, eslint

Revert "add post prod deploy smoke test and alert (#7057)" (#7119)
  .github/actions/post-deploy-smoke-test/action.yml
  .github/workflows/deployProd.yml
  .github/workflows/smokeTestDeployProd.yml
  backend/src/main/java/gov/cdc/usds/simplereport/api/heathcheck/BackendAndDatabaseHealthIndicator.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/SecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/healthcheck/BackendAndDatabaseHealthIndicatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  frontend/deploy-smoke.js
  frontend/package.json
  frontend/src/app/DeploySmokeTest.test.tsx
  frontend/src/app/DeploySmokeTest.tsx
  frontend/src/app/HealthChecks.tsx
  frontend/yarn.lock
Due: spotless, prettier, eslint

clean up hasMultiplexResults function
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
Due: prettier, eslint

Fix default datetime values for test result upload - covid pipeline
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-default-dates.csv
Due: spotless

clean up hasMultiplexResults function (#7120)
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
Due: prettier, eslint

Address daylight savings time in test
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
Due: spotless

feat(db_client): update docker image and probes to check PSQL version, bump version to 2.0.0
  ops/services/container_instances/db_client/image/Dockerfile
  ops/services/container_instances/db_client/image/build_and_push.sh
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

feat: adjust liveness probe initial delay and remove readiness probe in db_client
  ops/services/container_instances/db_client/infra/db_client.tf
Due: none

Fix default datetime values for test result upload - covid pipeline (#7132)
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-default-dates.csv
Due: spotless

fix: adjust ghcrCleanup workflow triggers and properly set package names
  .github/workflows/ghcrCleanup.yml
Due: none

chore: update package names in GitHub Container Registry cleanup workflow
  .github/workflows/ghcrCleanup.yml
Due: none

Use setup and cleanup before hooks
  cypress/e2e/02b-bulk_upload_patient.cy.js
Due: none

chore: update package names in GitHub Container Registry cleanup workflow (#7135)
  .github/workflows/ghcrCleanup.yml
Due: none

Fix issues with breaking changes
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/personSchema.ts
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/IdentityVerification/utils.ts
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
  frontend/src/app/signUp/Organization/utils.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/utils.tsx
  frontend/src/app/utils/yupHelpers.ts
Due: prettier, eslint
