Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

refactor into smaller methods
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

add test for string converstion
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add json test to test event to observation
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
Due: spotless

move model into device name rather than model number
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenTypeTest.java
  backend/src/test/resources/fhir/device.json
Due: spotless

cleanup
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestEventService.java
Due: spotless

provider to fhir (#4907)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Provider.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/ProviderTest.java
  backend/src/test/resources/fhir/practitioner.json
Due: spotless

convert test order to fhir
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add null device type check
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

refactor convertToServiceRequest to take in strings
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add a to fhir method
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestOrderTest.java
  backend/src/test/resources/fhir/serviceRequest.json
Due: spotless

fix codesmell
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

convert test event to diagnostic report
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

refactor to use string and status variable
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add to diagnostic report conversion
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
  backend/src/test/resources/fhir/diagnosticReport.json
Due: spotless

remove log
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestOrderTest.java
Due: spotless

replace 'isEqualTo(null)' with isNull()
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

change device name type to model name
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/device.json
Due: spotless

create practioner and message header
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

replace identifier with id
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Facility.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Provider.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/FacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/ProviderTest.java
  backend/src/test/resources/fhir/organization.json
  backend/src/test/resources/fhir/patient.json
  backend/src/test/resources/fhir/practitioner.json
Due: spotless

add convert to bundle method
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

add id to specimen and device
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenTypeTest.java
  backend/src/test/resources/fhir/device.json
  backend/src/test/resources/fhir/specimen.json
Due: spotless

add id to observation
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
Due: spotless

add id to service request
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestOrderTest.java
  backend/src/test/resources/fhir/serviceRequest.json
Due: spotless

add id to diagnostic report
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
  backend/src/test/resources/fhir/diagnosticReport.json
Due: spotless

replace custom constants with constants from the library
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

create toFhirBundle in testEvent
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
Due: spotless

replace specific class with getClass for class loader
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/FacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/ProviderTest.java
Due: spotless

fixing typos
  frontend/public/touchpoints.js
Due: prettier, eslint

another typo
  cypress/e2e.sh
Due: none

fix inconsistent test during serialization
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingServiceTest.java
Due: spotless

Added story for SingleFileInput component.
  frontend/src/app/commonComponents/SingleFileInput.scss
  frontend/src/app/commonComponents/SingleFileInput.stories.tsx
  frontend/src/app/commonComponents/SingleFileInput.tsx
Due: prettier, eslint, stylelint

Find Okta users by unique login instead of email (#4904)
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Result bulk uploaded migrated to use singleInputFile component
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

declared RouterWithFacilityProps as a global type
  frontend/package.json
  frontend/src/app/Settings/Facility/Components/OrderingProviderList.test.tsx
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.stories.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/stories/OrderingProviderList.stories.tsx
  frontend/yarn.lock
Due: prettier, eslint

Added device type errors check in focus on error logic
  frontend/src/app/Settings/Facility/FacilityForm.tsx
Due: prettier, eslint

Strip invalid whitespace characters from patient/facility data fields (#4854)
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingServiceTest.java
Due: spotless

update expiry to be dynamic
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
Due: none

update expiry (#4934)
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
Due: none

Added unit testing for singleFileInput
  frontend/src/app/commonComponents/SingleFileInput.test.tsx
  frontend/src/app/commonComponents/SingleFileInput.tsx
  frontend/src/app/commonComponents/__snapshots__/SingleFileInput.test.tsx.snap
Due: prettier, eslint

undo some changes from the merge
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
