Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Snyk June 2025 Review (#8946)
  backend/db-setup/Dockerfile
Due: none

fix tests and edge case where there are no facilities
  frontend/src/app/facilitySelect/WithFacility.test.tsx
  frontend/src/app/facilitySelect/WithFacility.tsx
  frontend/src/app/facilitySelect/useRedirectToPilot.tsx
Due: prettier, eslint

remove these
  frontend/src/app/facilitySelect/WithFacility.test.tsx
Due: prettier, eslint

backend/build.gradle
  backend/build.gradle
  backend/gradle.lockfile
Due: none

make name and description optional
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
Due: spotless

updated verification date
  backend/build.gradle
Due: none

add test of successful processing of file with missing optional columns
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-required-only.csv
Due: spotless

getting facility list in advance
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/FacilityCsvExportService.java
Due: spotless

add check to force test file kept up to date * also move helper methods to one spot * single source of truth for required fields for bulk result upload
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

first pass looking for the word agnostic
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConditionAgnosticConvertToDiagnosticReportProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConditionAgnosticConvertToObservationProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConditionAgnosticConvertToPatientProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConditionAgnosticCreateFhirBundleProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/ConditionAgnosticResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FileValidatorConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadConditionAgnosticResultsIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/ConditionAgnosticResultRowTest.java
  backend/src/test/resources/conditionAgnosticUpload/happy-path.csv
  backend/src/test/resources/conditionAgnosticUpload/missing-name.csv
  backend/src/test/resources/fhir/condition-agnostic-bundles-upload-integration-testing.ndjson
  backend/src/test/resources/fhir/condition-agnostic-intentionally-absent-name.ndjson
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/testResults/uploads/AgnosticUploadContainer.test.tsx
  frontend/src/app/testResults/uploads/AgnosticUploadContainer.tsx
  frontend/src/app/testResults/uploads/__snapshots__/AgnosticUploadContainer.test.tsx.snap
  frontend/src/app/testResults/uploads/agnosticSchemaBuilder.ts
  frontend/src/stories/testResults/UploadForm.stories.tsx
Due: spotless, prettier, eslint

remove feature flag
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
Due: none

Potential fix for code scanning alert no. 602: Potential input resource leak
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
Due: spotless

remove feature flag
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
Due: spotless

possible query improvement
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientExportController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/FacilityCsvExportService.java
Due: spotless

adding timing logs
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

adding back all entity graph values
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
Due: spotless

added updated violet/header themes
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/commonComponents/__test__/Header.colors.test.tsx
  frontend/src/app/commonComponents/__test__/__snapshots__/Header.colors.test.tsx.snap
  frontend/src/scss/__test__/theme.test.ts
  frontend/src/scss/settings/_uswds-theme.scss
Due: prettier, eslint, stylelint

linting
  frontend/src/scss/settings/_uswds-theme.scss
Due: stylelint

adding to entitygraph
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
Due: spotless

possible LH fix
  frontend/src/scss/settings/_uswds-theme.scss
Due: stylelint

updating issue templates
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
  .github/ISSUE_TEMPLATE/design_issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new_state_onboarded_to_rs.md
  .github/ISSUE_TEMPLATE/spike.md
  .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/task_accessibility_audit.md
  .github/ISSUE_TEMPLATE/task_on_call.md
  .github/ISSUE_TEMPLATE/universal_pipeline_update.md
  .github/ISSUE_TEMPLATE/user-story.md
Due: none

switching our one '-' usage to be consistent with other templates
  .github/ISSUE_TEMPLATE/user_story.md
Due: none

Update application-azure-dev3.yaml
  backend/src/main/resources/application-azure-dev3.yaml
Due: none

more performant pagination
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

increasing batch size
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

changing batch size
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

high batch size experiment
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

update facility form section
  frontend/src/app/PilotApp.test.tsx
  frontend/src/app/universalReporting/FacilityFormSection.tsx
  frontend/src/app/universalReporting/LabReportForm.test.tsx
  frontend/src/app/universalReporting/LabReportForm.tsx
Due: prettier, eslint

Update chromatic.yml
  .github/workflows/chromatic.yml
Due: none

use project root
  .github/CODEOWNERS
Due: none

batch size 10000
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

trying buffered reader
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

increased batch size
  backend/src/main/java/gov/cdc/usds/simplereport/api/TestResultDataController.java
Due: spotless

increasing timeout
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

add table styles to facility form section
  frontend/src/app/universalReporting/FacilityFormSection.scss
  frontend/src/app/universalReporting/FacilityFormSection.tsx
Due: prettier, eslint, stylelint

controller level timeout
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientExportController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/CsvExportService.java
Due: spotless

fix styles and copy
  frontend/src/app/universalReporting/FacilityFormSection.scss
  frontend/src/app/universalReporting/FacilityFormSection.tsx
Due: prettier, eslint, stylelint

increased batch size addressed PR changes
  backend/src/main/java/gov/cdc/usds/simplereport/api/TestResultDataController.java
  frontend/src/app/Settings/ManageOrganization.tsx
  frontend/src/app/testResults/viewResults/DownloadResultsCsvModal.tsx
  frontend/src/app/utils/file.ts
Due: spotless, prettier, eslint

setting mcv async request timeout
  backend/src/main/resources/application.yaml
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
