Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Add const for bulk upload supported disease copy text
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/config/constants.ts
Due: prettier, eslint

update gender strings
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/utils/gender.test.ts
  frontend/src/app/utils/gender.ts
Due: prettier, eslint

Remove unused feature flags from DB (#7373)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

update gender strings (#7376)
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/utils/gender.test.ts
  frontend/src/app/utils/gender.ts
Due: prettier, eslint

Update sign up copy to non-covid specific (#7372)
  frontend/src/app/signUp/Organization/SignUpGoals.test.tsx
  frontend/src/app/signUp/Organization/SignUpGoals.tsx
Due: prettier, eslint

Update conduct tests empty queue copy (#7371)
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/config/constants.ts
Due: prettier, eslint

Use bulk upload supported diseases const
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/__snapshots__/DiseaseSpecificUploadContainer.test.tsx.snap
Due: prettier, eslint

Add whitespace
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
Due: prettier, eslint

Update snapshot
  frontend/src/app/testResults/uploads/__snapshots__/DiseaseSpecificUploadContainer.test.tsx.snap
Due: none

Add disease arg for dashboard metrics
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  frontend/src/app/analytics/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

remove extra string to UUID and update test accordingly
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/resources/fhir/observationGenderOfSexualPartners.json
Due: spotless

update logic so null is never passed as sexual partners
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

Add HIV result guidance
  frontend/src/app/commonComponents/TestResultGuidance/HivResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/HivResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/ResultsGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/RsvResultGuidance.test.tsx.snap
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.scss
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.stories.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/utils/testResults.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/timeOfTest/TestResult.scss
  frontend/src/patientApp/timeOfTest/TestResult.stories.tsx
Due: prettier, eslint, stylelint

Update copy based on CDC rec
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

update non-binary display string to match ticket
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/test/resources/fhir/observationGenderOfSexualPartners.json
Due: spotless

newline
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
Due: spotless

Add HIV result guidance (#7321)
  frontend/src/app/commonComponents/TestResultGuidance/HivResultGuidance.test.tsx
  frontend/src/app/commonComponents/TestResultGuidance/HivResultGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/ResultsGuidance.tsx
  frontend/src/app/commonComponents/TestResultGuidance/__snapshots__/RsvResultGuidance.test.tsx.snap
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.scss
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.stories.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/utils/testResults.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/timeOfTest/TestResult.scss
  frontend/src/patientApp/timeOfTest/TestResult.stories.tsx
Due: prettier, eslint, stylelint

Add gender of sexual partners to fhir bundle (#7254)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/observationGenderOfSexualPartners.json
Due: spotless

Fix linting issues in test
  frontend/package.json
  frontend/src/app/Settings/Facility/ManageFacilitiesContainer.test.tsx
  frontend/src/app/accountCreation/MfaComplete/MfaComplete.test.tsx
  frontend/src/app/accountCreation/PasswordCreate/PasswordCreate.test.tsx
  frontend/src/app/commonComponents/ChangeUser.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.test.tsx
  frontend/src/app/commonComponents/NewFeatureTag.test.tsx
  frontend/src/app/commonComponents/RadioGroup.test.tsx
  frontend/src/app/facilitySelect/WithFacility.test.tsx
  frontend/src/app/patients/ArchivePersonModal.test.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/signUp/IdentityVerification/Consent.test.tsx
  frontend/src/app/signUp/IdentityVerification/NextSteps.test.tsx
  frontend/src/app/signUp/IdentityVerification/Success.test.tsx
  frontend/src/app/signUp/Organization/SignUpGoals.test.tsx
  frontend/src/app/signUp/SignUpApp.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-new-patient-start.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-patient-search.test.tsx
  frontend/src/app/testResults/submissions/Submission.test.tsx
  frontend/src/app/testResults/uploads/UploadForm.test.tsx
  frontend/src/app/testResults/viewResults/DownloadResultsCsvModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.test.tsx
Due: prettier, eslint

Use bulk upload supported diseases const (#7377)
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/__snapshots__/DiseaseSpecificUploadContainer.test.tsx.snap
Due: prettier, eslint

Update tests
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Use covid disease loinc string
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
Due: spotless

remove within-spec state reliance
  cypress/e2e/01-organization_sign_up.cy.js
  cypress/e2e/02a-bulk_upload_patient.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
  cypress/e2e/07-organization_settings.cy.js
  cypress/e2e/10-support-manage-facility.cy.js
Due: none

everything else
  cypress/cypress.config.js
  cypress/e2e/01-organization_sign_up.cy.js
  cypress/e2e/02a-bulk_upload_patient.cy.js
  cypress/e2e/02b-add_patient.cy.js
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
  cypress/e2e/06-self_registration.cy.js
  cypress/e2e/07-organization_settings.cy.js
  cypress/e2e/08-account_creation.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  cypress/e2e/10-support-manage-facility.cy.js
  cypress/package.json
  cypress/support/commands.js
  cypress/support/e2e.js
  cypress/utils/request-utils.js
  cypress/yarn.lock
Due: none

Mike/7211 dashboard specific condition (#7394)
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  frontend/src/app/analytics/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Add selected condition to analytics dashboard
  frontend/src/app/analytics/Analytics.test.tsx
  frontend/src/app/analytics/Analytics.tsx
  frontend/src/app/utils/disease.ts
Due: prettier, eslint

Remove unused var from test
  frontend/src/app/analytics/Analytics.test.tsx
Due: prettier, eslint

comment all the other specs out
  cypress/e2e/01-organization_sign_up.cy.js
  cypress/e2e/02a-bulk_upload_patient.cy.js
  cypress/e2e/02b-add_patient.cy.js
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
  cypress/e2e/06-self_registration.cy.js
  cypress/e2e/07-organization_settings.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  cypress/e2e/10-support-manage-facility.cy.js
  cypress/support/e2e.js
Due: none

Update reporting app test
  frontend/src/app/ReportingApp.test.tsx
Due: prettier, eslint

feat: add soft delete retention days for vault and remove data for db password
  ops/global/vault_global.tf
  ops/services/postgres_db/main.tf
Due: none

feat: add random password resource for database admin user
  ops/demo/persistent/main.tf
  ops/services/postgres_db/_var.tf
  ops/services/postgres_db/vault.tf
Due: none

feat: rename random_password to administrator_password for clarity in ops environments
  ops/demo/persistent/main.tf
  ops/dev/persistent/main.tf
  ops/dev2/persistent/main.tf
  ops/dev3/persistent/main.tf
  ops/dev4/persistent/main.tf
  ops/dev5/persistent/main.tf
  ops/dev6/persistent/main.tf
  ops/pentest/persistent/main.tf
  ops/prod/persistent/main.tf
  ops/stg/persistent/main.tf
  ops/test/persistent/main.tf
  ops/training/persistent/main.tf
Due: none

style: align assignment of nophi_user_password for code readability
  ops/demo/persistent/main.tf
  ops/dev/persistent/main.tf
  ops/dev2/persistent/main.tf
  ops/dev3/persistent/main.tf
  ops/dev4/persistent/main.tf
  ops/dev5/persistent/main.tf
  ops/dev6/persistent/main.tf
  ops/pentest/persistent/main.tf
  ops/prod/persistent/main.tf
  ops/stg/persistent/main.tf
  ops/test/persistent/main.tf
  ops/training/persistent/main.tf
Due: none

feat(postgres_db): disable password authentication in PostgreSQL flexible server
  ops/services/postgres_db/main.tf
Due: none

feat: add terraform plan output to PR comments
  .github/workflows/terraformChecks.yml
  ops/Makefile
Due: none

feat: enable Azure login and terraform actions in GitHub workflow, update makefile commands
  ops/Makefile
Due: none

feat(postgres_db): add sensitive attribute and jdbc secret for administrator login
  ops/services/postgres_db/_var.tf
  ops/services/postgres_db/vault.tf
Due: none

feat: add required CDC tags to various terraform resources for tracking and compliance
  ops/dev/alerts.tf
  ops/dev/api.tf
  ops/dev/main.tf
  ops/dev/metabase.tf
  ops/dev/persistent/main.tf
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/exceptions.tf
  ops/services/alerts/db_metrics/_var.tf
  ops/services/alerts/db_metrics/main.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/services/app_gateway/_var.tf
  ops/services/app_service/_var.tf
  ops/services/metabase/service/_var.tf
  ops/services/metabase/service/main.tf
  ops/services/postgres_db/vault.tf
Due: none

feat: add GitHub workflow for Terraform key rotation in different environments
  .github/workflows/terraformKeyRotation.yml
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
