Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

set hivBulkUploadEnabled to true in application YAML
  backend/src/main/resources/application.yaml
Due: none

Add testEventId to test result response
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/AddTestResultResponse.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/testQueue/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

chore: remove dev7 (#7229)
  .github/workflows/deployDev.yml
  .github/workflows/liquibaseClearChecksums.yml
  .github/workflows/liquibaseRollback.yml
  .github/workflows/liquibaseValidate.yml
  .github/workflows/slotSwapDevAPI.yml
  .github/workflows/terraformChecks.yml
  .github/workflows/terraformPlan.yml
  backend/src/main/resources/application-azure-dev7.yaml
  backend/src/main/resources/application-okta-dev7.yaml
  backend/src/main/resources/application.yaml
  ops/Makefile
  ops/dev7/.terraform.lock.hcl
  ops/dev7/_config.tf
  ops/dev7/_data.tf
  ops/dev7/_var.tf
  ops/dev7/alerts.tf
  ops/dev7/api.tf
  ops/dev7/container_instances.tf
  ops/dev7/main.tf
  ops/dev7/metabase.tf
  ops/dev7/persistent/.terraform.lock.hcl
  ops/dev7/persistent/_config.tf
  ops/dev7/persistent/_data.tf
  ops/dev7/persistent/_output.tf
  ops/dev7/persistent/main.tf
  ops/dev7/persistent/okta.tf
  ops/services/container_instances/db_client/infra/_var.tf
  ops/services/container_instances/db_liquibase_action/_var.tf
  ops/services/virtual_network/_var.tf
  ops/upgradetf.sh
Due: none

disable flag on prod
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
Due: none

add tests
  frontend/src/app/supportAdmin/SupportAdmin.test.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
  frontend/src/app/testResults/viewResults/TestResultsList.test.tsx
Due: prettier, eslint

tidy snapshots
  frontend/src/app/supportAdmin/SupportAdmin.test.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: prettier, eslint

comments
  frontend/src/app/supportAdmin/SupportAdmin.test.tsx
  frontend/src/app/testResults/viewResults/TestResultsList.test.tsx
Due: prettier, eslint

feat: enable auto-growth for PostgreSQL server storage
  ops/services/postgres_db/main.tf
Due: none

tidy
  backend/src/main/resources/application.yaml
Due: none

update the endpoint to use the new feature flag
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
Due: spotless

feat: Refactor container cleaning workflow and include delay for deleting stubborn images
  .github/workflows/ghcrCleanup.yml
Due: none

refactor: simplify GHCR cleanup workflow configuration
  .github/workflows/ghcrCleanup.yml
Due: none

chore(workflows): remove redundant sleep steps in gcrcCleanup.yml workflow
  .github/workflows/ghcrCleanup.yml
Due: none

chore: reduce sleep duration between package version deletion actions
  .github/workflows/ghcrCleanup.yml
Due: none

Add testEventId to test result response (#7234)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/AddTestResultResponse.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/testQueue/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

chore(ghcrCleanup.yml): change container cleanup frequency to hourly
  .github/workflows/ghcrCleanup.yml
Due: none

feat: Refactor container cleaning workflow and include delay for dele… (#7237)
  .github/workflows/ghcrCleanup.yml
Due: none

Add 2 patients to DIS_ORG on startup
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationInitializingServiceTest.java
Due: spotless

Make specs 4 and 5 independent
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
  cypress/utils/setup-utils.js
  cypress/utils/testing-data-utils.js
Due: none

Rename setup org facility method
  cypress/e2e/02a-bulk_upload_patient.cy.js
  cypress/e2e/02b-add_patient.cy.js
Due: none

fix test logic
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
Due: spotless

Address feedback
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
Due: spotless

pull out test
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
Due: spotless

Move bulk upload HIV beta behind new feature flag (#7231)
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
  frontend/src/app/supportAdmin/SupportAdmin.test.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/SupportAdminRoutes.tsx
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: spotless, prettier, eslint

Bump net.javacrumbs.shedlock:shedlock-spring in /backend (#7239)
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Isolate spec 9
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  cypress/utils/setup-utils.js
Due: none

CLean up import
  cypress/e2e/09-multiplex_testing.cy.js
Due: none

Remove changes to 4, 5, and method rename
  cypress/e2e/02a-bulk_upload_patient.cy.js
  cypress/e2e/02b-add_patient.cy.js
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
  cypress/utils/setup-utils.js
Due: none

Use old setupRunData name on spec 9
  cypress/e2e/09-multiplex_testing.cy.js
Due: none

Abstract setupDevice
  cypress/utils/setup-utils.js
Due: none

Add back RemovePatientFromQueue
  cypress/e2e/09-multiplex_testing.cy.js
Due: none

Fix test
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationInitializingServiceTest.java
Due: spotless

Add 2 patients to DIS_ORG on startup (#7236)
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationInitializingServiceTest.java
Due: spotless

feat: Update GHCR cleanup script to delete tagged versions, keep 100
  .github/workflows/ghcrCleanup.yml
Due: none

feat: update postgres base image to alpine3.17
  backend/db-setup/Dockerfile
Due: none

Make e2e test 9 independent (#7238)
  cypress/e2e/09-multiplex_testing.cy.js
  cypress/utils/setup-utils.js
  cypress/utils/testing-data-utils.js
Due: none

Make specs 4 and 5 independent
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
Due: none

Fix covid device setup util
  cypress/utils/setup-utils.js
Due: none

Default to TestingLab val if no OrderingFacility val for COVID pipeline
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-no-ordering-facility.csv
Due: spotless

create gender identity snomed map
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  package-lock.json
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
