Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

include an optional --overwrite flag if the initial storage blob fails to update during a deploy
  .github/actions/deploy-application/action.yml
Due: none

include an optional --overwrite flag if the initial storage blob fails to update during a deploy (#3550)
  .github/actions/deploy-application/action.yml
Due: none

add new PR templates (#3547)
  .github/backend_pull_request_template.md
  .github/database_pull_request_template.md
  .github/devops_pull_request_template.md
  .github/frontend_pull_request_template.md
Due: none

still mucking around with constructors
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
Due: spotless

remove old addTestResult
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
Due: spotless

move templates to folder
  .github/PULL_REQUEST_TEMPLATE/backend_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/database_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/devops_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/frontend_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

remove dead addTestEvent mutation
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
Due: spotless

remove test-only constructor from TestEvent and refactor associated tests
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

clean up some comments
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

fix code smell related to test order
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
Due: spotless

run codegen for graphQL generated file
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

update results table in database
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

move templates to folder (#3551)
  .github/PULL_REQUEST_TEMPLATE/backend_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/database_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/devops_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/frontend_pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

update results entity with database changes
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
Due: spotless

fix wildcard imports
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
Due: spotless

fix imports
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
Due: spotless

aligning constructors
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
Due: spotless

remove superfluous changes from merge
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/DiseaseResult.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/SupportedDiseaseRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

update test config to account for new bean
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
Due: spotless

updating tests
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/DbTruncator.java
Due: spotless

basic functionality for starting a test from the people page
  frontend/src/app/patients/ManagePatients.tsx
Due: prettier, eslint

fix diseaseService test
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/DbTruncator.java
Due: spotless

Create general pull request template
  .github/pull_request_template.md
Due: none

specifying the schema to be compatible with liquibase core 4.5
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Create general pull request template (#3559)
  .github/pull_request_template.md
Due: none

change repo test
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/SupportedDiseaseRepositoryTest.java
Due: spotless

create base class for non spring tests
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseNonSpringBootTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/IdentityVerificationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/UserAccountCreationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/GraphqlInputsSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/HttpRequestDetailsSerializationTest.java
Due: spotless

fix some code smells
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseNonSpringBootTestConfiguration.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/IdentityVerificationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/UserAccountCreationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/GraphqlInputsSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/HttpRequestDetailsSerializationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
Due: spotless

remove other obsolete files
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/resources/queries/add-test-result-mutation-backwards-compatible
Due: spotless

Remove old addTestResult mutation (#3552)
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/resources/queries/add-test-result-mutation-backwards-compatible
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

clear out some comments
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
Due: spotless

remove unrelated DiseaseResult changes
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/DiseaseResult.java
Due: spotless

make updates to Result model based on test event nullability
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
Due: spotless

update results table in database (#3555)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

bring back some of the changes
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/DiseaseResult.java
Due: spotless

Refactor TestEvent constructors (prep for multiplex) (#3553)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Create backend models for supported disease and results (#3529)
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/SupportedDisease.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SupportedDiseaseRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/ResultRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/SupportedDiseaseRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

testOrder and testEvent read and write to new Results object
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Allow adding supported diseases to device types
  backend/src/main/java/gov/cdc/usds/simplereport/api/supporteddisease/SupportedDiseaseResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/SupportedDiseaseService.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDevicesForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDevicesForm.tsx
  frontend/src/app/supportAdmin/DeviceType/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
