Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

move universal id system into fhir constants
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

add clia as an identifier in organization (#5284)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/organization.json
Due: spotless

add aria invalid to file input
  frontend/src/app/commonComponents/SingleFileInput.test.tsx
  frontend/src/app/commonComponents/SingleFileInput.tsx
  frontend/src/app/commonComponents/__snapshots__/SingleFileInput.test.tsx.snap
Due: prettier, eslint

merge main
  .github/workflows/buildCypressImage.yml
  .github/workflows/buildDatabaseImage.yml
  .github/workflows/buildDockerImages.yml
  .github/workflows/checkForChanges.yml
  .github/workflows/e2eLocal.yml
  .github/workflows/getDockerBranchTag.yml
  cypress/support/index.js
  cypress/test.tmp
  docker-compose.yml
Due: none

set processingId on FHIR
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

address bobans feedback
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

add procesing mode code to bulk upload csv when non P value specified (#5285)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-processingModeCode-D.csv
Due: spotless

set processingId on FHIR (#5286)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

remove variables that are no longer used
  .github/workflows/deployTest.yml
  ops/prod/api.tf
  ops/services/app_service/_var.tf
  ops/stg/api.tf
Due: none

Alis/azure upgrade followup (#5277)
  .github/workflows/deployTest.yml
  ops/global/main.tf
  ops/prod/api.tf
  ops/prod/app_gateway_url_redirects.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/services/app_gateway/_var.tf
  ops/services/app_gateway/main.tf
  ops/services/app_service/_var.tf
  ops/services/app_service/main.tf
  ops/services/bastion_host/_var.tf
  ops/services/bastion_host/main.tf
  ops/services/metabase/service/main.tf
  ops/services/nat_gateway/_var.tf
  ops/services/nat_gateway/main.tf
  ops/stg/api.tf
Due: none

Update e2eLocal.yml
  .github/workflows/e2eLocal.yml
Due: none

Update coverity_scan.yml
  .github/workflows/coverity_scan.yml
Due: none

set file input invalid for upload results
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

set file input invalid for upload patients
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

change disabled color (#5279)
  frontend/src/app/Settings/Users/ManageUsers.scss
Due: stylelint

Remove pagination without results upload history
  frontend/src/app/testResults/submissions/Submissions.test.tsx
  frontend/src/app/testResults/submissions/Submissions.tsx
Due: prettier, eslint

add link to file input on the error message
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

fix typo
  frontend/src/app/testResults/submissions/Submissions.test.tsx
Due: prettier, eslint

move line to fix linting rules
  frontend/src/app/supportAdmin/AddOrganizationAdmin/AddOrganizationAdminFormContainer.test.tsx
Due: prettier, eslint

Remove pagination without results upload history (#5243)
  frontend/src/app/testResults/submissions/Submissions.test.tsx
  frontend/src/app/testResults/submissions/Submissions.tsx
Due: prettier, eslint

fix link to upload input
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

Rough implementation of the token-based migration
  ops/demo/_data.tf
  ops/demo/api.tf
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/dev2/_data.tf
  ops/dev2/api.tf
  ops/dev3/_data.tf
  ops/dev3/api.tf
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev5/_data.tf
  ops/dev5/api.tf
  ops/dev6/_data.tf
  ops/dev6/api.tf
  ops/dev7/_data.tf
  ops/dev7/api.tf
  ops/pentest/_data.tf
  ops/pentest/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/mocks/mock_key_pair.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
  ops/training/_data.tf
  ops/training/api.tf
Due: none

FHIR app function migrated to auth based token
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/mocks/mock_key_pair.ts
Due: none

Fixed terraform formatting
  ops/training/api.tf
Due: none

Reused report stream url already in key vault
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

Boban/5134 focus on errors (#5273)
  frontend/src/app/commonComponents/SingleFileInput.test.tsx
  frontend/src/app/commonComponents/SingleFileInput.tsx
  frontend/src/app/commonComponents/__snapshots__/SingleFileInput.test.tsx.snap
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

add alert for failed runs on batch uploader
  ops/services/alerts/app_service_metrics/main.tf
Due: none

add alert for fail to fire
  ops/services/alerts/app_service_metrics/main.tf
Due: none

Added generation of key pairs for unit testing to be performed on the fly.
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/mocks/mock_key_pair.ts
Due: none

move alerts to app_service_metrics
  ops/dev/alerts.tf
  ops/dev/api.tf
  ops/dev2/alerts.tf
  ops/dev2/api.tf
  ops/dev3/alerts.tf
  ops/dev3/api.tf
  ops/dev4/alerts.tf
  ops/dev4/api.tf
  ops/dev5/alerts.tf
  ops/dev5/api.tf
  ops/dev6/alerts.tf
  ops/dev6/api.tf
  ops/dev7/alerts.tf
  ops/dev7/api.tf
  ops/prod/alerts.tf
  ops/prod/api.tf
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/test/alerts.tf
  ops/test/api.tf
Due: none

format terraform
  ops/dev/api.tf
  ops/dev2/api.tf
  ops/dev3/api.tf
  ops/dev4/api.tf
  ops/dev5/api.tf
  ops/dev6/api.tf
  ops/dev7/api.tf
  ops/prod/api.tf
  ops/test/api.tf
Due: none

fix variable names for new function metrics
  ops/services/alerts/app_service_metrics/main.tf
Due: none

Fixed scope for token
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
Due: none

update action group ids to use loop
  ops/services/alerts/app_service_metrics/main.tf
Due: none

make function id optional and only create alerts if id exists
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

set function id to default null
  ops/services/alerts/app_service_metrics/_var.tf
Due: none

fix equality on count
  ops/services/alerts/app_service_metrics/main.tf
Due: none

test out new trigger flow
  .github/workflows/buildCypressImage.yml
  .github/workflows/buildDatabaseImage.yml
  .github/workflows/buildDockerImages.yml
  .github/workflows/checkForChanges.yml
  .github/workflows/coverity_scan.yml
  .github/workflows/e2eLocal.yml
  .github/workflows/getDockerBranchTag.yml
  docker-compose.cypress.yml
  docker-compose.yml
Due: none

Update gradle wrapper to 8.0.
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.properties
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
