Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Reference the team properly
  .github/dependabot.yml
Due: none

add card to DOB input (#4490)
  frontend/src/patientApp/timeOfTest/DOB.tsx
Due: prettier, eslint

switch bulk results uploader to async (#4489)
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

Add Alis and Rin back as consistent reviewers
  .github/dependabot.yml
Due: none

additional testing
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
Due: prettier, eslint

update gradle lock
  backend/gradle.lockfile
Due: none

Show error text to users on server failure instead of failing silently * also add automation for errors on upload
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

making things suck less
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.test.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.tsx
  frontend/src/app/uploads/DeviceLookup/__snapshots__/DeviceLookupContainer.test.tsx.snap
  frontend/src/app/uploads/DeviceLookup/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

DON'T show error text on initial load
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

formatting and codgen
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.test.tsx
Due: prettier, eslint

Update patient upload to accept a facility id as a request param (#4467)
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/UploadServiceTest.java
  backend/src/test/resources/test-upload-invalid-ethnicity.csv
  backend/src/test/resources/test-upload-invalid-phone-type.csv
  backend/src/test/resources/test-upload-invalid-phone.csv
  backend/src/test/resources/test-upload-invalid-race.csv
  backend/src/test/resources/test-upload-invalid-zipcode.csv
  backend/src/test/resources/test-upload-no-country.csv
  backend/src/test/resources/test-upload-no-ethnicity.csv
  backend/src/test/resources/test-upload-no-phone-type.csv
  backend/src/test/resources/test-upload-no-race.csv
  backend/src/test/resources/test-upload-one-invalid-row.csv
  backend/src/test/resources/test-upload-valid-no-header.csv
  backend/src/test/resources/test-upload.csv
  frontend/src/app/patients/PatientUpload.test.tsx
  frontend/src/app/patients/PatientUpload.tsx
  frontend/src/fileUploadService/FileUploadService.test.ts
  frontend/src/fileUploadService/FileUploadService.ts
Due: spotless, prettier, eslint

update hibernate types to use version 55
  backend/build.gradle
  backend/gradle.lockfile
Due: none

try running lighthouse on a branch
  .github/workflows/lighthouse.yml
Due: none

Try lighthouse action on local
  .github/workflows/e2eLocalWithLighthouse.yml
Due: none

Add lighthouse to e2e
  .github/workflows/e2eLocalWithLighthouse.yml
Due: none

Move the start steps to the Lighthouse action
  .github/workflows/lighthouse.yml
Due: none

update start job
  .github/workflows/lighthouse.yml
Due: none

remove running lighthouse with cypress
  .github/workflows/e2eLocalWithLighthouse.yml
Due: none

fix yaml error
  .github/workflows/lighthouse.yml
Due: none

update lhci cli version
  .github/workflows/lighthouse.yml
Due: none

maybe fix mkcert again
  .github/workflows/lighthouse.yml
Due: none

fix mkcert maybe
  .github/workflows/lighthouse.yml
Due: none

switch lighthouse over to official google chrome action
  .github/workflows/lighthouse.yml
  lighthouserc.yml
Due: none

change the url
  .github/workflows/e2eLocal.yml
  .github/workflows/lighthouse.yml
  lighthouserc.yml
Due: none

more mkcert
  .github/workflows/lighthouse.yml
Due: none

mkcert...
  .github/workflows/lighthouse.yml
Due: none

update server settings
  .github/workflows/lighthouse.yml
  lighthouserc.yml
Due: none

change back url
  lighthouserc.yml
Due: none

fix syntax
  .github/workflows/lighthouse.yml
Due: none

cleanup
  .github/workflows/lighthouse.yml
Due: none

more cleanup
  .github/workflows/lighthouse.yml
Due: none

still a syntax error
  .github/workflows/lighthouse.yml
Due: none

yaml syntax again
  .github/workflows/lighthouse.yml
Due: none

think its fixed now
  .github/workflows/lighthouse.yml
Due: none

rearrange
  .github/workflows/lighthouse.yml
Due: none

yaml syntax :(
  .github/workflows/lighthouse.yml
Due: none

guess we need mkcert there
  .github/workflows/lighthouse.yml
Due: none

fix for running apps in ci with lighthouse
  .github/workflows/lighthouse.yml
  docker-compose.ci.yml
Due: none

remove duplicated mkcert
  .github/workflows/lighthouse.yml
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
