Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Refactor multiplex frontend changes
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/constants/index.tsx
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/operations.graphql
  frontend/src/app/testResults/CovidResultInputForm.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/constants.ts
  frontend/src/app/testResults/types.d.ts
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/generated/graphql.tsx
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/TestResult.stories.tsx
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
Due: prettier, eslint

Do what the last commit message said, but do it right this time
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
Due: spotless

oops, got that wrong
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/application.yaml
  backend/src/test/resources/application-default.yaml
Due: spotless

Change self reg "Other information" to "Housing and work" (#4152)
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

Refactor multiplex frontend changes (#4202)
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/constants/index.tsx
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/operations.graphql
  frontend/src/app/testResults/CovidResultInputForm.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/constants.ts
  frontend/src/app/testResults/types.d.ts
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/generated/graphql.tsx
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/TestResult.stories.tsx
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
Due: prettier, eslint

Remove obsolete backend code and tests
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/DiseaseResult.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/queries/add-test-result-multiplex-mutation
  backend/src/test/resources/queries/edit-queue-item-multiplex
Due: spotless

run codegen for graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

on error add aria described by and invalid properties
  frontend/src/app/commonComponents/Dropdown.tsx
Due: prettier, eslint

put focus on the first aria-invalid item in the document on error.
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

Include correction test events in admin dashboard (#4198)
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
Due: spotless

Remove obsolete mulitplex backend code and tests (#4204)
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/DiseaseResult.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/queries/add-test-result-multiplex-mutation
  backend/src/test/resources/queries/edit-queue-item-multiplex
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

put focus on the first aria-invalid and not aria-hidden item in the document on error.
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.test.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
Due: prettier, eslint

add aria described by and aria invalid to the properties
  frontend/src/app/commonComponents/DatePicker.tsx
Due: prettier, eslint

change the type of the error to be html element
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

fix code smell about casting
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

set focus on fields with errors for org signup (#4205)
  frontend/src/app/commonComponents/DatePicker.tsx
  frontend/src/app/commonComponents/Dropdown.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.test.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

fix patient self-reg static site link
  frontend/src/app/Settings/ManageSelfRegistrationLinks.tsx
Due: prettier, eslint

put sign up steps in a list
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

make verification consent a true header
  frontend/src/app/signUp/IdentityVerification/Consent.tsx
Due: prettier, eslint

updating the scope per a conversation with report stream (#4200)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/TokenAuthentication.java
  backend/src/main/resources/application.yaml
  backend/src/test/resources/application-default.yaml
Due: spotless

fix patient self-reg static site link (#4208)
  frontend/src/app/Settings/ManageSelfRegistrationLinks.tsx
Due: prettier, eslint

put sign up steps in a list (#4209)
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

ignore all exceptions
  .github/workflows/e2eLocal.yml
  .github/workflows/e2eRemote.yml
  cypress/integration/01-organization_sign_up_spec.js
  cypress/support/index.js
  frontend/cypress/stubs/orgSignUp/mappings/api_v1_groups-87a1bd7b-0205-4fc4-b971-3472692d6c5c.json
Due: none

remove old job
  .github/workflows/deployDev2.yml
  .github/workflows/deployDev3.yml
  .github/workflows/deployDev4.yml
Due: none

updating gradle values
  backend/build.gradle
  backend/gradle.properties
Due: none

make verification consent a true header (#4210)
  frontend/src/app/signUp/IdentityVerification/Consent.tsx
Due: prettier, eslint

no-op test to verify integration tests work
  .run/test db down.run.xml
  backend/src/integrationTest/java/gov/cdc/usds/simplereport/SimpleReportApplicationTests.java
  backend/src/integrationTest/resources/application-default.yaml
Due: spotless

testing something in CI, will revert
  .run/test db down.run.xml
  backend/build.gradle
Due: none

Revert "testing something in CI, will revert"
  .run/test db down.run.xml
  backend/build.gradle
Due: none

remove old job (#4211)
  .github/workflows/deployDev2.yml
  .github/workflows/deployDev3.yml
  .github/workflows/deployDev4.yml
Due: none

remove aria-label from indicator and edit list items
  frontend/src/app/commonComponents/StepIndicator.tsx
Due: prettier, eslint

add aria-hidden attribute to elements
  frontend/src/app/commonComponents/Button/Button.tsx
  frontend/src/app/commonComponents/Card/Card.tsx
  frontend/src/app/commonComponents/DatePicker.tsx
  frontend/src/app/commonComponents/StepIndicator.tsx
Due: prettier, eslint

add isModalActive property and pass to related attributes
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
Due: prettier, eslint

add isModalActive property and pass to related elements
  frontend/src/app/commonComponents/Page/Page.tsx
  frontend/src/app/signUp/IdentityVerification/Consent.tsx
Due: prettier, eslint

add observer to date picker element and pass the state to different elements
  frontend/src/app/signUp/SignUpApp.tsx
Due: prettier, eslint

remove aria-label from indicator and edit list items (#4214)
  frontend/src/app/commonComponents/StepIndicator.tsx
Due: prettier, eslint

refactor observe date picker to be more modular
  frontend/src/app/signUp/SignUpApp.tsx
  frontend/src/app/utils/observeDatePicker.test.ts
  frontend/src/app/utils/observeDatePicker.ts
Due: prettier, eslint

add test for not found condition on query selector
  frontend/src/app/utils/observeDatePicker.test.ts
Due: prettier, eslint

Improve app insights exception tracking
  frontend/src/app/App.tsx
  frontend/src/index.tsx
Due: prettier, eslint

Pin spring-beans and associated relatives to 5.3.18.
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none
