Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

remove cyress runs on deploy
  .github/workflows/deployDev4.yml
  .github/workflows/deployTest.yml
Due: none

[bug fix] covid device not sticking in test card (#5667)
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

fix dependency errors
  cypress/Dockerfile
Due: none

remove unnecessary or empty array
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
Due: prettier, eslint

fix dependency issue
  cypress/Dockerfile
Due: none

wip
  cypress/Dockerfile
Due: none

PostgreSQL 14 upgrade (#5514)
  .github/workflows/buildBackendImage.yml
  .github/workflows/buildCypressImage.yml
  .github/workflows/buildDatabaseImage.yml
  .github/workflows/deployTest.yml
  .github/workflows/e2eLocal.yml
  .github/workflows/e2eRemote.yml
  .github/workflows/test.yml
  backend/db-setup/Dockerfile
  ops/services/postgres_db/main.tf
Due: none

pull out create action item list
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
Due: prettier, eslint

update azure-functions-core-tools
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

Revert "update azure-functions-core-tools"
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

update typescript version
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

Revert "update typescript version"
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

restore all mocks after queue item test
  frontend/src/app/testQueue/QueueItem.test.tsx
Due: prettier, eslint

use object define property to set local storage
  frontend/src/app/VersionService.test.tsx
Due: prettier, eslint

updated ts-jest and typescript
  ops/services/app_functions/report_stream_batched_publisher/functions/jest.config.js
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

upgraded rimraf
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

Added inline command to skip node_modules check for tsc
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
Due: none

Upgraded azure-functions-core-tools
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

include include parameter
  ops/services/app_functions/report_stream_batched_publisher/functions/tsconfig.json
Due: none

added command to debug
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
Due: none

upgraded azure function packages
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

Manually update gradle lockfile with dependabot changes.
  backend/gradle.lockfile
Due: none

Reverted all changes in dependencies and removed fucn extension command
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

upgraded dependency azure core tools
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

upgraded Microsoft.Azure.Functions.ExtensionBundle
  ops/services/app_functions/report_stream_batched_publisher/functions/host.json
Due: none

upgraded extensionBndle version
  ops/services/app_functions/report_stream_batched_publisher/functions/host.json
Due: none

updated build:production to use build script directly
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
Due: none

fixed frontend unit test
  frontend/src/app/VersionService.test.tsx
Due: prettier, eslint

updated build:production to use build script directly (#5673)
  frontend/src/app/VersionService.test.tsx
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
Due: prettier, eslint

change key to use email
  frontend/src/app/patients/Components/ManageEmails.tsx
Due: prettier, eslint

change the key to pn for all page list items
  frontend/src/app/commonComponents/Pagination.tsx
Due: prettier, eslint

remove unused ordering provider list
  frontend/src/app/Settings/Facility/Components/OrderingProviderList.test.tsx
  frontend/src/app/Settings/Facility/Components/OrderingProviderList.tsx
  frontend/src/stories/OrderingProviderList.stories.tsx
Due: prettier, eslint

change key to use phonenumber
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
Due: prettier, eslint

use question text to build key
  frontend/src/app/signUp/IdentityVerification/QuestionsForm.tsx
Due: prettier, eslint

Refactored methods in FHIR converter
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConvertToObservationProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConvertToPatientProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/CreateFhirBundleProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

change the key for subheader to use the value of subheader
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint

change the key for description to use the value of description
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint
