Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

replace group
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

replace group type
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

replace user profile
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

I usually write better commit messages than this
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceIntegrationTest.java
Due: spotless

remove DeviceSpecimenType from DeviceTypeService (#5326)
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceSpecimenTypeNewRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/FacilityRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

replace client
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

Fixed scope and code smell.
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/types.d.ts
Due: none

update okta and pagerduty providers in config
  ops/demo/persistent/_config.tf
  ops/dev/persistent/_config.tf
  ops/dev2/persistent/_config.tf
  ops/dev3/persistent/_config.tf
  ops/dev4/persistent/_config.tf
  ops/dev5/persistent/_config.tf
  ops/dev6/persistent/_config.tf
  ops/dev7/persistent/_config.tf
  ops/global/_config.tf
  ops/pentest/persistent/_config.tf
  ops/prod/persistent/_config.tf
  ops/services/okta-app/_config.tf
  ops/services/okta-global/_config.tf
  ops/services/okta-global/main.tf
  ops/services/pagerduty/_config.tf
  ops/stg/persistent/_config.tf
  ops/test/persistent/_config.tf
  ops/training/persistent/_config.tf
Due: none

replace _client.listGroup with groupApi.listGroup
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

replace client with apiclient
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add a todo
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

add application api
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

update the new userbuilder
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

add user api and replace client.listUser calls
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Add org name to pending org action buttons
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
Due: prettier, eslint

move memory into it's own variable
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

use group api to list group users
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

remove application api variable
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

replace single() with get(0)
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

replace user.update with userApi.updateUser
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

replace reset, deactivate, and activate with userApi
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

refactor init devices to create deviceTestPerformedLoincCodes
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTestPerformedLoincCodeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
Due: spotless

update all yaml files
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTestPerformedLoincCodeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application-e2e.yaml
  backend/src/main/resources/application-okta-local.yaml
  backend/src/test/resources/application-default.yaml
Due: spotless

refactor naming and tidy up code
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
Due: spotless

update the yaml files to the new keys for facility and patientRegistration links
  backend/src/test/resources/application-default.yaml
Due: none

clean up
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DeviceTestLengthConverter.java
Due: spotless

remove unused code
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceSpecimenTypeRepository.java
Due: spotless

sonar feedback
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
Due: spotless

remove deviceSpecimenType from deivceType service and fix tests
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/resources/application-default.yaml
Due: spotless

set only configured devices as default
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
Due: spotless

refactored the yaml for better readability
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application-e2e.yaml
  backend/src/main/resources/application-okta-local.yaml
  backend/src/test/resources/application-default.yaml
Due: spotless

tell sonar to not worry about lombok annotation coverage
  backend/lombok.config
Due: none

replace listGroup with userApi.listUserGroups
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

replace removeUser with unassignUserFromGroup
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

replace addToGroup with assignUserToGroup
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

replace user.(un)suspend with userApi.(un)suspend
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add real data and remove unused fields in yaml
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application-e2e.yaml
  backend/src/main/resources/application-okta-local.yaml
  backend/src/test/resources/application-default.yaml
Due: none

Alis/4644 e2e docker builds (#5278)
  .github/workflows/buildDatabaseImage.yml
  .github/workflows/buildDockerImages.yml
  .github/workflows/buildNginxImage.yml
  .github/workflows/checkForChanges.yml
  .github/workflows/coverity_scan.yml
  .github/workflows/e2eLocal.yml
  cypress/support/index.js
  docker-compose.cypress.yml
  docker-compose.yml
Due: none

always build on main
  .github/workflows/buildCypressImage.yml
Due: none
