Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

REMOVE add logs
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

REMOVE update logs
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

move meta to message header (#5377)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
Due: spotless

remove q mapping
  cypress/stubs/orgSignUp/mappings/api_v1_groups-list-groups-q.json
Due: none

function apps for stg
  .github/workflows/terraform_checks.yml
  backend/src/main/resources/application-azure-stg.yaml
  ops/dev2/metabase.tf
  ops/stg/_data.tf
  ops/stg/alerts.tf
  ops/stg/api.tf
  ops/stg/main.tf
  ops/stg/metabase.tf
Due: none

update mapping for q
  cypress/stubs/orgSignUp/mappings/api_v1_groups-01efa298-c85c-44d5-96a3-a5026f9a5118.json
Due: none

remove console logs
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

change the group search q to use queryParameters section
  cypress/stubs/orgSignUp/mappings/api_v1_groups-01efa298-c85c-44d5-96a3-a5026f9a5118.json
Due: none

only send onset date if provided in survey
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

set the url pattern to include a questionmark
  cypress/stubs/orgSignUp/mappings/api_v1_groups-01efa298-c85c-44d5-96a3-a5026f9a5118.json
Due: none

remove extra slash from url pattern
  cypress/stubs/orgSignUp/mappings/api_v1_groups-01efa298-c85c-44d5-96a3-a5026f9a5118.json
Due: none

change url pattern again and hope it works this time
  cypress/stubs/orgSignUp/mappings/api_v1_groups-01efa298-c85c-44d5-96a3-a5026f9a5118.json
Due: none

add a matches statement
  cypress/stubs/orgSignUp/mappings/api_v1_groups-01efa298-c85c-44d5-96a3-a5026f9a5118.json
Due: none

update additional patterns
  cypress/stubs/orgSignUp/mappings/api_v1_groups-01efa298-c85c-44d5-96a3-a5026f9a5118.json
  cypress/stubs/orgSignUp/mappings/api_v1_groups-4c7aeded-3820-4374-8543-715ba6d28bf6.json
  cypress/stubs/orgSignUp/mappings/api_v1_groups-50832ad6-bcf8-4ba9-8a19-90264b5312ff.json
  cypress/stubs/orgSignUp/mappings/api_v1_groups-620031b5-0665-4d54-8427-7bf02e0f9827.json
  cypress/stubs/orgSignUp/mappings/api_v1_groups-a3bca034-6789-4282-9613-05f6c759cd5c.json
Due: none

update password setting to POST
  cypress/stubs/accountCreation/mappings/voiceCall/api_v1_users_00ugnmrroypjbijub4h6-d14dce7c-8cd8-480a-b1a0-454840c22752.json
Due: none

update the remaining mappings for setting password to POST
  cypress/stubs/accountCreation/mappings/email/api_v1_users_00ugnomzln2q84acp4h6-7e80ba76-5ff9-4a1f-8300-fcfc2cf43758.json
  cypress/stubs/accountCreation/mappings/googleAuth/api_v1_users_00ugnjag7ekhoymoa4h6-13639c60-75f8-4cd4-a6cd-b7b7f58a3e68.json
  cypress/stubs/accountCreation/mappings/oktaVerify/api_v1_users_00ugnh0inq8mibnyg4h6-b00b2408-9cc0-4e2a-83bb-56ab13b7a25c.json
  cypress/stubs/accountCreation/mappings/sms/api_v1_users_00ugne0jmx3ztgzyg4h6-7826bb04-9ed0-4b4b-b7b5-fb101d82e3aa.json
Due: none

integrate facilityId into the device lookup link
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schema.json
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

improve coverage
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.test.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

fix device lookup links for localhost
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

change body pattern for account credentials
  cypress/stubs/accountCreation/mappings/email/api_v1_users_00ugnomzln2q84acp4h6-7e80ba76-5ff9-4a1f-8300-fcfc2cf43758.json
  cypress/stubs/accountCreation/mappings/googleAuth/api_v1_users_00ugnjag7ekhoymoa4h6-13639c60-75f8-4cd4-a6cd-b7b7f58a3e68.json
  cypress/stubs/accountCreation/mappings/oktaVerify/api_v1_users_00ugnh0inq8mibnyg4h6-b00b2408-9cc0-4e2a-83bb-56ab13b7a25c.json
  cypress/stubs/accountCreation/mappings/sms/api_v1_users_00ugne0jmx3ztgzyg4h6-7826bb04-9ed0-4b4b-b7b5-fb101d82e3aa.json
  cypress/stubs/accountCreation/mappings/voiceCall/api_v1_users_00ugnmrroypjbijub4h6-d14dce7c-8cd8-480a-b1a0-454840c22752.json
Due: none

update the mapping for the security question
  cypress/stubs/accountCreation/mappings/email/api_v1_users_00ugnomzln2q84acp4h6-883e6c07-098f-4a65-b85e-d58fc4a6f4bc.json
  cypress/stubs/accountCreation/mappings/googleAuth/api_v1_users_00ugnjag7ekhoymoa4h6-23650f1d-0db0-4068-be42-f7a85db4f155.json
  cypress/stubs/accountCreation/mappings/oktaVerify/api_v1_users_00ugnh0inq8mibnyg4h6-09a48b86-d42a-4808-9325-2270dac9746e.json
  cypress/stubs/accountCreation/mappings/sms/api_v1_users_00ugne0jmx3ztgzyg4h6-226f7c02-859b-47f7-996b-de50475f665c.json
  cypress/stubs/accountCreation/mappings/voiceCall/api_v1_users_00ugnmrroypjbijub4h6-41a89199-530d-4d9b-97c1-6d57bd732661.json
Due: none

integrate facilityId into the bulk uploader docs device lookup link (#5378)
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.test.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schema.json
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

azurerm_monitor_metric_alert update (#5369)
  .github/workflows/terraform_checks.yml
  ops/services/alerts/app_service_metrics/main.tf
Due: none

update function_app_memory_alert threshold to be set in bytes
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

update function_app_memory_alert threshold to be set in bytes (#5387)
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

replace question mark with '
  cypress/stubs/accountCreation/mappings/email/api_v1_users_00ugnomzln2q84acp4h6-883e6c07-098f-4a65-b85e-d58fc4a6f4bc.json
  cypress/stubs/accountCreation/mappings/googleAuth/api_v1_users_00ugnjag7ekhoymoa4h6-23650f1d-0db0-4068-be42-f7a85db4f155.json
  cypress/stubs/accountCreation/mappings/oktaVerify/api_v1_users_00ugnh0inq8mibnyg4h6-09a48b86-d42a-4808-9325-2270dac9746e.json
  cypress/stubs/accountCreation/mappings/sms/api_v1_users_00ugne0jmx3ztgzyg4h6-226f7c02-859b-47f7-996b-de50475f665c.json
  cypress/stubs/accountCreation/mappings/voiceCall/api_v1_users_00ugnmrroypjbijub4h6-41a89199-530d-4d9b-97c1-6d57bd732661.json
Due: none

change ' to ? in mapping
  cypress/stubs/accountCreation/mappings/email/api_v1_users_00ugnomzln2q84acp4h6-883e6c07-098f-4a65-b85e-d58fc4a6f4bc.json
  cypress/stubs/accountCreation/mappings/googleAuth/api_v1_users_00ugnjag7ekhoymoa4h6-23650f1d-0db0-4068-be42-f7a85db4f155.json
  cypress/stubs/accountCreation/mappings/oktaVerify/api_v1_users_00ugnh0inq8mibnyg4h6-09a48b86-d42a-4808-9325-2270dac9746e.json
  cypress/stubs/accountCreation/mappings/sms/api_v1_users_00ugne0jmx3ztgzyg4h6-226f7c02-859b-47f7-996b-de50475f665c.json
  cypress/stubs/accountCreation/mappings/voiceCall/api_v1_users_00ugnmrroypjbijub4h6-41a89199-530d-4d9b-97c1-6d57bd732661.json
Due: none

update wiremock
  cypress/support/wiremock/download-wiremock.sh
Due: none

revert wiremock upgrade
  cypress/support/wiremock/download-wiremock.sh
Due: none

change security question
  cypress/integration/07-account_creation_spec.js
  cypress/stubs/accountCreation/mappings/email/api_v1_users_00ugnomzln2q84acp4h6-883e6c07-098f-4a65-b85e-d58fc4a6f4bc.json
  cypress/stubs/accountCreation/mappings/googleAuth/api_v1_users_00ugnjag7ekhoymoa4h6-23650f1d-0db0-4068-be42-f7a85db4f155.json
  cypress/stubs/accountCreation/mappings/oktaVerify/api_v1_users_00ugnh0inq8mibnyg4h6-09a48b86-d42a-4808-9325-2270dac9746e.json
  cypress/stubs/accountCreation/mappings/sms/api_v1_users_00ugne0jmx3ztgzyg4h6-226f7c02-859b-47f7-996b-de50475f665c.json
  cypress/stubs/accountCreation/mappings/voiceCall/api_v1_users_00ugnmrroypjbijub4h6-41a89199-530d-4d9b-97c1-6d57bd732661.json
Due: none

change security question to town for first job
  cypress/integration/07-account_creation_spec.js
  cypress/stubs/accountCreation/mappings/email/api_v1_users_00ugnomzln2q84acp4h6-883e6c07-098f-4a65-b85e-d58fc4a6f4bc.json
  cypress/stubs/accountCreation/mappings/googleAuth/api_v1_users_00ugnjag7ekhoymoa4h6-23650f1d-0db0-4068-be42-f7a85db4f155.json
  cypress/stubs/accountCreation/mappings/oktaVerify/api_v1_users_00ugnh0inq8mibnyg4h6-09a48b86-d42a-4808-9325-2270dac9746e.json
  cypress/stubs/accountCreation/mappings/sms/api_v1_users_00ugne0jmx3ztgzyg4h6-226f7c02-859b-47f7-996b-de50475f665c.json
  cypress/stubs/accountCreation/mappings/voiceCall/api_v1_users_00ugnmrroypjbijub4h6-41a89199-530d-4d9b-97c1-6d57bd732661.json
Due: none

add priority
  cypress/stubs/accountCreation/mappings/email/api_v1_users_00ugnomzln2q84acp4h6-883e6c07-098f-4a65-b85e-d58fc4a6f4bc.json
  cypress/stubs/accountCreation/mappings/googleAuth/api_v1_users_00ugnjag7ekhoymoa4h6-23650f1d-0db0-4068-be42-f7a85db4f155.json
  cypress/stubs/accountCreation/mappings/sms/api_v1_users_00ugne0jmx3ztgzyg4h6-226f7c02-859b-47f7-996b-de50475f665c.json
  cypress/stubs/accountCreation/mappings/voiceCall/api_v1_users_00ugnmrroypjbijub4h6-41a89199-530d-4d9b-97c1-6d57bd732661.json
Due: none

remove wiremock logs
  cypress/plugins/index.js
Due: none

Added logic to the dropdown compoentn sot aria-selected gets set in option elements (#5372)
  frontend/src/app/analytics/Analytics.tsx
  frontend/src/app/commonComponents/Dropdown.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultCorrectionModal.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

Modified StepIndicator component to accept custom heading configuration (#5371)
  frontend/src/app/commonComponents/StepIndicator.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsForm.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

add semantic form tags to form components (#5312)
  frontend/src/app/accountCreation/MfaSelect/MfaSelect.tsx
  frontend/src/app/commonComponents/Card/Card.tsx
  frontend/src/app/commonComponents/Card/CardLogoHeader.tsx
  frontend/src/app/commonComponents/FormGroup.tsx
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsForm.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
  frontend/src/app/signUp/Organization/SignUpGoals.tsx
Due: prettier, eslint

TEST list users by q
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

update User Priveleges get users by q and search
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Sync is basically functional, still need to handle non-SR diseases
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/LIVDResponse.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceIntegrationTest.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
