Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Tweak some Uploads test assertions to reflect changes in copy
  frontend/src/app/testResults/uploads/Uploads.test.tsx
Due: prettier, eslint

Add new text for CONTRIBUTING.md.
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Remove stray comments
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

correcting sonar issues
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: spotless, prettier, eslint

remove debugging statement
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

Clean up styles add hover effect to test results row
  frontend/src/app/patients/ManagePatients.scss
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/scss/App.scss
  frontend/src/scss/components/_link.scss
  frontend/src/scss/components/_table.scss
  frontend/src/scss/settings/_uswds-theme-typography.scss
Due: prettier, eslint, stylelint

Add token creation unit test for TokenAuthentication package
  backend/src/test/java/gov/cdc/usds/simplereport/utils/TokenAuthenticationTest.java
Due: spotless

update azurerm_monitor_scheduled_query_rules_alert.http_2xx_failed_requests to alert based off percentage of failed requests (#3782)
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

Sigh, remove an unused dependency
  backend/src/test/java/gov/cdc/usds/simplereport/utils/TokenAuthenticationTest.java
Due: spotless

Clean up styles add hover effect to test results row
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: none

Minor tweak to trigger sonarcloud
  frontend/src/app/patients/EditPatient.tsx
Due: prettier, eslint

Oops - fixed comparator
  frontend/src/app/patients/EditPatient.tsx
Due: prettier, eslint

Remove unnecessary boolean literal
  frontend/src/app/patients/EditPatient.tsx
Due: prettier, eslint

Bump netty-codec-http:4.1.55 to netty-codec-http@4.1.60+ (#3721)
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Added logic to account forC the twilio masked number
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/SmsCallbackController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TextMessageSentRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/SmsCallbackControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusServiceTest.java
Due: spotless

Fixed lint error.
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusService.java
Due: spotless

Display test detail when clicking patient name on results pg (#3601) (#3753)
  frontend/src/app/patients/ManagePatients.scss
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/scss/App.scss
  frontend/src/scss/components/_link.scss
  frontend/src/scss/components/_table.scss
  frontend/src/scss/settings/_uswds-theme-typography.scss
Due: prettier, eslint, stylelint

bump jackson-* to 2.12.6.1
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Update build.gradle
  backend/build.gradle
Due: none

unforce
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

updating dependencies
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

dependent azure-core 1.27.0 -> 1.28.0
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

updating dependencies again
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

only jackson-databind
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

undo
  backend/build.gradle
Due: none

build locks
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

Send multiplex results to patient experience frontend (#3784)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpVerifyResponseV2.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  frontend/src/patientApp/PxpApiService.ts
Due: spotless, prettier, eslint

Added optional object type.
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusService.java
Due: spotless

Revert "Send multiplex results to patient experience frontend (#3784)"
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpVerifyResponseV2.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  frontend/src/patientApp/PxpApiService.ts
Due: spotless, prettier, eslint

Revert "Send multiplex results to patient experience frontend (#3784)" (#3787)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpVerifyResponseV2.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  frontend/src/patientApp/PxpApiService.ts
Due: spotless, prettier, eslint

Upgrades to testing facilities column in the results page.
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/queries.tsx
Due: prettier, eslint

datahub client integration test
  backend/src/test/java/gov/cdc/usds/simplereport/service/DatahubClientIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/WireMockConfig.java
  backend/src/test/resources/responses/datahub-response.json
Due: spotless

updating datahub / report stream configs
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/test/resources/application-default.yaml
  backend/src/test/resources/responses/datahub-response.json
Due: spotless

Modified getTestResult method to specifically return covid result.
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
Due: spotless

Edit Patient from Conduct tests page redirects back to Conduct tests on save (#3767)
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/EditPatient.tsx
  frontend/src/app/patients/EditPatientContainer.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Added landline error handler (#3750)
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/SmsCallbackController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PhoneNumber.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/SmsStatusCallback.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PhoneNumberRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TextMessageSentRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/SmsCallbackControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/model/auxiliary/SmsStatusCallbackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusServiceTest.java
Due: spotless

The "get single patient" query returns `emails` array in the response
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
Due: prettier, eslint

codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

additional testing
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/Role.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/OrganizationRole.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/UploadResponse.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DatahubClientIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
Due: spotless
