Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add intellij run configuration
  .run/Backend Okta.run.xml
  .run/Backend.run.xml
  .run/Frontend with Okta.run.xml
  .run/Frontend.run.xml
  .run/db  down -v.run.xml
  .run/db  down.run.xml
  .run/db + mailhog.run.xml
  .run/db up.run.xml
  .run/storybook.run.xml
  .run/test db down.run.xml
  .run/test db up.run.xml
Due: none

Creates docs folder and first adr.
  docs/architecture/decisions/0001-flexible-db-migration.md
  frontend/src/app/docs/createReactApp.md
Due: none

graphql codegen
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserPermission.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Content updates in the add person flow (#3713)
  frontend/src/app/commonComponents/YesNoNotSureRadioGroup.stories.tsx
  frontend/src/app/commonComponents/YesNoNotSureRadioGroup.test.tsx
  frontend/src/app/commonComponents/YesNoNotSureRadioGroup.tsx
  frontend/src/app/commonComponents/YesNoRadioGroup.test.tsx
  frontend/src/app/constants/constants.d.ts
  frontend/src/app/constants/index.tsx
  frontend/src/app/patients/Components/FacilitySelect.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

fixing tests
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

update azure netty callers
  backend/build.gradle
Due: none

Added content to the flexible db adr.
  docs/architecture/decisions/0001-flexible-db-migration.md
  docs/architecture/decisions/flexible-db-migration.md
Due: none

Improved formatting of markdown file.
  docs/architecture/decisions/flexible-db-migration.md
Due: none

Update runtimeClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

add intellij run configuration (#3715)
  .run/Backend Okta.run.xml
  .run/Backend.run.xml
  .run/Frontend with Okta.run.xml
  .run/Frontend.run.xml
  .run/db  down -v.run.xml
  .run/db  down.run.xml
  .run/db + mailhog.run.xml
  .run/db up.run.xml
  .run/storybook.run.xml
  .run/test db down.run.xml
  .run/test db up.run.xml
Due: none

Support querying test events with null facility filter for admins only
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

Surface 'All facilities' option in facility filter
  frontend/src/app/testResults/DownloadResultsCsvButton.tsx
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

Add frontend auto
  frontend/src/app/testResults/DownloadResultsCsvButton.tsx
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

Add backend auto and fix TestOrderService auth
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserPermission.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Ran linter
  frontend/src/app/testResults/DownloadResultsCsvButton.tsx
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

Update graphql enum
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserPermission.java
  backend/src/main/resources/graphql/wiring.graphqls
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Move All facilities to top of select
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

Clean up todo
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

Change display name for deleted facilities to include (Archived)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiFacility.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Show archived facilities in facility dropdown for org admins
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/FacilityRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Facility name in CSV download shows Archived for deleted facilities
  frontend/src/app/testResults/DownloadResultsCsvButton.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/operations.graphql
  frontend/src/app/utils/index.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Support patient search in all facilities view
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Update how to enable pre-commit hook
  README.md
Due: none

Creates docs folder and first adr. (#3719)
  docs/architecture/decisions/flexible-db-migration.md
  frontend/src/app/docs/createReactApp.md
Due: none

Add a GraphQL mutation for submitting multiplex results
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/MultiplexTestResult.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/resources/queries/add-test-result-multiplex-mutation
Due: spotless

Fix test
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
Due: spotless

yarn codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Fix weirdness
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

Make saveTestResultToDatabase a public method
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

Add multiplex results view query
  backend/src/main/resources/graphql/main.graphqls
Due: none

Finish building out multiplex read query
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/resources/queries/test-results-multiplex-query
Due: spotless

Instead of using new query, use existing query with new fields
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/resources/queries/test-results-multiplex-query
Due: spotless

Add to test
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
Due: spotless

fix enum values - oops
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/UploadStatus.java
Due: spotless

separate github action test steps out into github action jobs
  .github/workflows/test.yml
Due: none

Implemented sticky heading in the results page.
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/scss/PrimeStyles.scss
Due: prettier, eslint, stylelint

re ordering of helper functions.
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint
