Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

fix import
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
Due: prettier, eslint

bugfix for inconclusive flu only test card submissions (#6241)
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint

Eliminate a few code smells
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

allow admins to get count (#6240)
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

fix invalid results display name
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/fhir/bundles-upload-integration-testing.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-different-results.csv
Due: spotless

fix fhir bundle results display name (#6245)
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/fhir/bundles-upload-integration-testing.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-different-results.csv
Due: spotless

update node-fetch
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

fixup
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.test.ts
Due: none

update minimatch v3 deps (#6237)
  frontend/package.json
  frontend/yarn.lock
Due: none

change string match to isAdmin
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.test.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
  frontend/src/app/Settings/Users/ReactivateUserModal.tsx
Due: prettier, eslint

lint
  frontend/src/app/Settings/Users/ReactivateUserModal.tsx
Due: prettier, eslint

update the bulk uploader guide (#6235)
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

move to operations file
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
  frontend/src/app/Settings/Users/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Revert accidental commission of lock file.
  ops/pentest/persistent/.terraform.lock.hcl
Due: none

Upgrade USWDS 3.0 (#6193)
  frontend/.env
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/accountCreation/MfaComplete/MfaComplete.tsx
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/commonComponents/USAGovBanner.scss
  frontend/src/app/commonComponents/USAGovBanner.tsx
  frontend/src/app/patients/Components/AddPatientsHeader.tsx
  frontend/src/app/patients/EditPatient.tsx
  frontend/src/app/signUp/IdentityVerification/Success.tsx
  frontend/src/app/testQueue/TestQueue.scss
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/submissions/Submission.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/scss/App.scss
  frontend/src/scss/base/_app-layout.scss
  frontend/src/scss/base/_index.scss
  frontend/src/scss/base/_prime-styles.scss
  frontend/src/scss/base/_utilities.scss
  frontend/src/scss/components/_card.scss
  frontend/src/scss/components/_datepicker.scss
  frontend/src/scss/components/_index.scss
  frontend/src/scss/components/_link.scss
  frontend/src/scss/components/_table.scss
  frontend/src/scss/settings/_app-settings.scss
  frontend/src/scss/settings/_index.scss
  frontend/src/scss/settings/_prime-variables.scss
  frontend/src/scss/settings/_uswds-theme-color.scss
  frontend/src/scss/settings/_uswds-theme-components.scss
  frontend/src/scss/settings/_uswds-theme-custom-styles.scss
  frontend/src/scss/settings/_uswds-theme-general.scss
  frontend/src/scss/settings/_uswds-theme-spacing.scss
  frontend/src/scss/settings/_uswds-theme-typography.scss
  frontend/src/scss/settings/_uswds-theme-utilities.scss
  frontend/src/scss/settings/_uswds-theme.scss
  frontend/yarn.lock
Due: prettier, eslint, stylelint

Adding to merge queue triggers required branch protection checks
  .github/workflows/checkGraphql.yml
  .github/workflows/terraformChecks.yml
  .github/workflows/testingWorkflow.yml
Due: none

remove cdn tf objects (#6052)
  ops/demo/main.tf
  ops/prod/main.tf
  ops/stg/main.tf
  ops/training/main.tf
Due: none

modify frontend to call different reactivate handlers based on logged-in user (#6244)
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.test.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
  frontend/src/app/Settings/Users/ReactivateUserModal.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
  frontend/src/app/Settings/Users/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Implemented happy path for delete facility
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application-create-sample-data.yaml
  frontend/src/app/commonComponents/Modal.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacilityContainer.tsx
  frontend/src/app/supportAdmin/ManageFacility/operations.graphql
  frontend/src/app/supportAdmin/PageContainer.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/SupportAdminRoutes.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

remove npm prune
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
Due: none

Update package.json resolutions (#6238)
  frontend/package.json
  frontend/yarn.lock
Due: none

update yarn command to ensure we always have dev packages to run tests and use yarn to remove dev deps before we bundle our zip
  .github/actions/build-reportstream-functions/action.yml
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
Due: none

Adding to merge queue triggers required branch protection checks (#6248)
  .github/workflows/checkGraphql.yml
  .github/workflows/terraformChecks.yml
  .github/workflows/testingWorkflow.yml
Due: none

Expand available search fields in ManageDevices component to include manufacturer and model
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/Settings/Facility/FacilityFormContainer.test.tsx
  frontend/src/app/Settings/types.d.ts
  frontend/src/app/commonComponents/Button/Button.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/useMultiSelectDropdown.ts
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

Rectify critical thymeleaf vulnerability.
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Update pins comment.
  backend/build.gradle
Due: none

Kick off a e2e test (local runs r weird as always
  cypress/e2e/03-add_devices.cy.js
Due: none

Rectify critical thymeleaf vulnerability. (#6250)
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Add required aria props to manage device input component
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

Update node-fetch to close security vulnerability (#6242)
  .github/actions/build-reportstream-functions/action.yml
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/package.json
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

use test order to get device & specimen information for test updates
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Implemented retrieval of user count that have access to only X facility
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/FacilityStats.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

Added stats about user access
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
Due: spotless

Add unit tests for facility form device search method
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/utils/device.test.ts
  frontend/src/app/utils/device.ts
Due: prettier, eslint

Update lockfile with hibernate dependency upgrade.
  backend/gradle.lockfile
Due: none

Attach Application Insights objects to global Log Analytics Workspace (#6219)
  ops/services/monitoring/main.tf
Due: none

remove references to deprecated result from entity and graphql
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

remove unused db columns related to device_specimen_type join table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Update lockfile with twilio dependency upgrade.
  backend/gradle.lockfile
Due: none

upgrade cypress chrome version
  cypress/Dockerfile
Due: none
