Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Added unique query param
  frontend/src/app/commonComponents/MaintenanceBanner.tsx
Due: prettier, eslint

Handle timezones in bulk uploader and Fhir converter (#5985)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConvertToSpecimenProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FileValidatorConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/errors/InvalidAddressException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/TimezoneInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/FhirDateTimeUtil.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/ZoneIdGenerator.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AddressValidationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/JsonTestUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/DateTimeUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/diagnosticReport.json
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
  backend/src/test/resources/fhir/serviceRequest.json
  backend/src/test/resources/fhir/specimen.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-blank-fields.csv
Due: spotless

Added unique query param (#6113)
  frontend/src/app/commonComponents/MaintenanceBanner.tsx
Due: prettier, eslint

Add @RequireGlobalAdminUser on queries and mutations in admin.graphqls (#6112)
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
Due: spotless

renaming some things
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint

Oops, clean up bad reference after unclean merge
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

return null if organization is not found
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolverTest.java
Due: spotless

Track bulk uploader errors (#5971)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ResultUploadError.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestResultUpload.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/ResultUploadErrorSource.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/ResultUploadErrorType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultUploadErrorRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestResultUploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/FeedbackMessage.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  backend/src/test/resources/responses/datahub-error-response.json
Due: spotless

design review
  frontend/src/app/testQueue/QueueItem.scss
Due: stylelint

switching back to using isFluOnly and changing the logic of the function to match
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint

frontend dockerfile
  .github/workflows/buildFrontendImage.yml
  .github/workflows/buildFrontendLighthouseImage.yml
  .github/workflows/testingWorkflow.yml
  docker-compose.ci.yml
  docker-compose.cypress.yml
  docker-compose.yml
  frontend/Dockerfile
Due: none

align usa banner to new SR width (#6103)
  frontend/src/app/commonComponents/USAGovBanner.scss
Due: stylelint

align maintenance alerts
  frontend/src/scss/PrimeStyles.scss
Due: stylelint

Boban/6061 admin organization query (#6107)
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/main/resources/graphql/admin.graphqls
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolverTest.java
  backend/src/test/resources/graphql-test/org-settings-query.graphql
  backend/src/test/resources/graphql-test/organization-query.graphql
  frontend/src/app/Settings/types.d.ts
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

pull max width into variable
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/commonComponents/USAGovBanner.scss
  frontend/src/app/testQueue/TestQueue.scss
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/scss/PrimeStyles.scss
  frontend/src/scss/_utilities.scss
Due: stylelint

pull max width into variable (#6121)
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/commonComponents/USAGovBanner.scss
  frontend/src/app/testQueue/TestQueue.scss
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/scss/PrimeStyles.scss
  frontend/src/scss/_utilities.scss
Due: stylelint

align maintenance alerts (#6120)
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/commonComponents/USAGovBanner.scss
  frontend/src/app/testQueue/TestQueue.scss
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/scss/PrimeStyles.scss
  frontend/src/scss/_utilities.scss
Due: stylelint

account for the flu only devices (#6078)
  frontend/src/app/testQueue/QueueItem.scss
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint, stylelint

Fix formatter for single digit hours
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/DateTimeUtilsTest.java
Due: spotless

Fix formatter for single digit hours (#6123)
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/DateTimeUtilsTest.java
Due: spotless

remove flags for prod
  backend/src/main/resources/application-azure-prod.yaml
Due: none

upgrade to okta sdk 12
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/api/accountrequest/IdentityVerificationController.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/IdentityVerificationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Send FHIR message in prod (#6124)
  backend/src/main/resources/application-azure-prod.yaml
Due: none

fix codsmells for assertThrows to only have one invocation
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

chain on object creation
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

Revert "chain on object creation"
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

remove todo
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

Add exception for result_metadata.effective_type.
  ops/services/web_application_firewall/main.tf
Due: none

remove commit check e2e spec
  cypress/e2e/00-health_check.cy.js
Due: none

add additional test for unknown user status
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthenticationTest.java
Due: spotless

Disable timezone conversion in csv covid pipeline
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

remove commit check e2e spec (#6129)
  cypress/e2e/00-health_check.cy.js
Due: none

Disable timezone conversion in csv covid pipeline (#6130)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

Implemented integration testing
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultTestConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/fhir/bundle-integration-testing.json
  backend/src/test/resources/graphql-test/add-to-queue-with-symptoms.graphql
Due: spotless

Change includeArchived to archivedStatus param
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/ArchivedStatus.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/main/resources/graphql/wiring.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/resources/graphql-test/deleted-person-query.graphql
  cypress/e2e/09-multiplex_testing.cy.js
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-patient-search.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testQueue/addToQueue/operations.graphql
  frontend/src/app/testQueue/operations.graphql
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/mocks/queries.mock.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

fixed deprecated warning
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultTestConfig.java
Due: spotless

change the url pattern to remove CA
  wiremock/stubs/mappings/org/api_v1_groups-01efa298-c85c-44d5-96a3-a5026f9a5118.json
  wiremock/stubs/mappings/org/api_v1_groups-4c7aeded-3820-4374-8543-715ba6d28bf6.json
  wiremock/stubs/mappings/org/api_v1_groups-50832ad6-bcf8-4ba9-8a19-90264b5312ff.json
Due: none

Fixed code smell
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultIntegrationTest.java
Due: spotless
