Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

migrate API's to v2 syntax
  frontend/src/app/testResults/submissions/Submissions.stories.tsx
  frontend/src/stories/storyMocks.tsx
Due: prettier, eslint

configure msw to work with frontend public
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/mockServiceWorker.js
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/yarn.lock
Due: prettier, eslint

Add missing quotes
  .github/workflows/smokeTestDeployDev.yml
Due: none

Update description
  .github/workflows/smokeTestDeployDev.yml
Due: none

Add quotes on routing key
  .github/workflows/smokeTestDeployDev.yml
Due: none

Add missing comma
  .github/actions/pagerduty-alert/action.yml
Due: none

Add explicit quotes in action
  .github/actions/pagerduty-alert/action.yml
Due: none

Remove slack alert step
  .github/workflows/smokeTestDeployDev.yml
Due: none

Add pagerduty alert for prod smoke test
  .github/workflows/smokeTestDeployProd.yml
Due: none

Update dev smoke test with contextual message
  .github/workflows/smokeTestDeployDev.yml
Due: none

Make deploy prod conditional on successful deploy stg
  .github/workflows/deployProd.yml
Due: none

rename var
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeUtils.ts
Due: prettier, eslint

delete old and add new
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
  .github/ISSUE_TEMPLATE/feature_request_betterdata.md
  .github/ISSUE_TEMPLATE/g-e-ticket.md
Due: none

add some more labels
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
Due: none

copy paste
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
Due: none

Update smoke test deploy dev for demo
  .github/workflows/smokeTestDeployDev.yml
Due: none

Update quotes for demo
  .github/workflows/smokeTestDeployDev.yml
Due: none

updated liquibase version
  backend/gradle.lockfile
Due: none

syphilis feature work
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/testUtils/testConstants.ts
Due: prettier, eslint

fix some stuff
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
Due: prettier, eslint

clean up issue templates (#7723)
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
  .github/ISSUE_TEMPLATE/feature_request_betterdata.md
  .github/ISSUE_TEMPLATE/g-e-ticket.md
Due: none

updated liquibase to 4.27.0
  backend/build.gradle
  backend/gradle.lockfile
Due: none

add new label
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/simplereport--state---status-update-.md
Due: none

upgrade libraries
  backend/gradle.lockfile
Due: none

added to build.gradle
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Update `WEBSITE_NODE_DEFAULT_VERSION` to `~20`
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

modified source Compatibility to fix Deprecated Gradle features error
  backend/build.gradle
Due: none

modified to use the java { }
  backend/build.gradle
Due: none

change source version back to original
  backend/build.gradle
Due: none

add org.owasp.encoder and sanitize logs
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/api/accountrequest/AccountRequestController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/idverification/LiveExperianService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

Fix sonarcloud issue
  backend/src/main/java/gov/cdc/usds/simplereport/service/idverification/LiveExperianService.java
Due: spotless

Revert "Bump hashicorp/setup-terraform from 3.0.0 to 3.1.1 (#7687)"
  .github/workflows/terraformChecks.yml
  .github/workflows/terraformPlan.yml
Due: none

add new label (#7729)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/simplereport--state---status-update-.md
Due: none

Persist auth updates to api_user_facility table (#7703)
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  backend/src/test/resources/graphql-test/add-user-to-current-org.graphql
Due: spotless

add @typescript-eslint/no-unused-vars rule
  frontend/package.json
Due: none

Update formatting in pagerduty action
  .github/actions/pagerduty-alert/action.yml
Due: none

Move smoke tests to deploy workflows
  .github/workflows/deployDev.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/smokeTestDeployDev.yml
  .github/workflows/smokeTestDeployProd.yml
Due: none

Set frontend smoke test to false for testing
  frontend/src/app/DeploySmokeTest.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
