Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

spotless:
  run: ./gradlew spotlessApply && git add {staged_files}

prettier:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

stylelint:
  run: ./node_modules/.bin/stylelint  --fix {staged_files} && git add {staged_files}

prettier-rs-func:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint-rs-func:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

prettier-test-data-func:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint-test-data-func:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

adding indexes and filtering on pii_deleted
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PatientAnswersRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PhoneNumberRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ReportStreamResponseRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultUploadErrorRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestResultUploadRepository.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless

updating tests
  frontend/src/app/commonComponents/DataRetentionModal.test.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint

upgrade to 3.4
  backend/build.gradle
  backend/gradle.lockfile
  backend/gradle/wrapper/gradle-wrapper.properties
Due: none

adding transactional timeout 2 hours
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataRetentionService.java
  backend/src/main/resources/application.yaml
Due: spotless

rename controller and service
  backend/src/main/java/gov/cdc/usds/simplereport/api/DataRetention/DeletePiiController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeletePiiService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeletePiiServiceTest.java
Due: spotless

update to 3.4
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataSourceConfiguration.java
Due: spotless

update gradle in dockerfiles
  backend/Dockerfile.db-liquibase-action
  backend/Dockerfile.prod
Due: none

4 hour timeout
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeletePiiService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestEventService.java
  backend/src/main/resources/application.yaml
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev4/metabase.tf
Due: spotless

cleanup
  ops/dev4/_data.tf
Due: none

Delete PII older than 30 days (#9225)
  backend/src/main/java/gov/cdc/usds/simplereport/api/DataRetention/DeletePiiController.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PatientAnswers.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PhoneNumber.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ReportStreamResponse.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ResultUploadError.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestResultUpload.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PatientAnswersRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PersonRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PhoneNumberRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ReportStreamResponseRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultUploadErrorRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestResultUploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeletePiiService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestEventService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeletePiiServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

updating verbage
  frontend/src/app/commonComponents/DataRetentionModal.tsx
Due: prettier, eslint

updating data retention messaging, removing banners (#9252)
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.scss
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/commonComponents/DataRetentionModal.test.tsx
  frontend/src/app/commonComponents/DataRetentionModal.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testResults/ResultsNavWrapper.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint, stylelint

wip
  backend/build.gradle
  backend/gradle.lockfile
Due: none

remove comments
  backend/build.gradle
Due: none

upgrade to 3.5.7
  backend/build.gradle
  backend/gradle.lockfile
Due: none

updating person and test_event metabase views
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

updating person and test_event metabase views (#9258)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Add missing telecom use code for phones in XTN-2
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Update MSH-3 Sending Application and MSH-4 Sending Facility
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Constants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/HL7Properties.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
Due: spotless

fix tests
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeletePiiServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseCacheServiceTest.java
Due: spotless

setting data retention limits enabled to true
  backend/src/main/resources/application.yaml
Due: none

fixing test
  cypress/e2e/04-covid_only_tests.cy.js
Due: none

fix tests
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/SubmitTestResultTestConfig.java
Due: spotless

fix: backend/db-setup/Dockerfile to reduce vulnerabilities (#9196)
  backend/db-setup/Dockerfile
Due: none

Setting data retention limits enabled to true (#9259)
  backend/src/main/resources/application.yaml
  cypress/e2e/04-covid_only_tests.cy.js
Due: none

Update to Node24 (#9197)
  .github/workflows/checkGraphql.yml
  .github/workflows/chromatic.yml
  .github/workflows/coverity.yml
  .github/workflows/deployDemo.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/deployTest.yml
  .github/workflows/deployTraining.yml
  .github/workflows/maintenance.yml
  .github/workflows/test.yml
  .nvmrc
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Due: none

Update bulk uploader and associated docs to indicate sex is an optional field (#9198)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-required-only.csv
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/DiseaseSpecificUploadContainer.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/__snapshots__/DiseaseSpecificUploadContainer.test.tsx.snap
  frontend/src/app/testResults/uploads/specificSchemaBuilder.ts
Due: spotless, prettier, eslint

updating snapshot (last time?)
  frontend/src/app/universalReporting/LabReportForm.test.tsx
  frontend/src/app/universalReporting/__snapshots__/LabReportForm.test.tsx.snap
Due: prettier, eslint

Align Lab Report step of reporting form with designs (#9153)
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/LoincController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/LabRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/LoincService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/universalreporting/LoincServiceTest.java
  frontend/src/app/universalReporting/LabReportForm.scss
  frontend/src/app/universalReporting/LabReportForm.test.tsx
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/LabResultsFormSection.test.tsx
  frontend/src/app/universalReporting/LabResultsFormSection.tsx
  frontend/src/app/universalReporting/PatientFormSection.scss
  frontend/src/app/universalReporting/PatientFormSection.tsx
  frontend/src/app/universalReporting/SpecimenFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailFormSubsection.scss
  frontend/src/app/universalReporting/TestDetailFormSubsection.tsx
  frontend/src/app/universalReporting/TestDetailsFormSubsection.tsx
  frontend/src/app/universalReporting/TestOrderFormSection.tsx
  frontend/src/app/universalReporting/TestOrderFormSubsection.tsx
  frontend/src/app/universalReporting/__snapshots__/LabReportForm.test.tsx.snap
  frontend/src/app/universalReporting/__snapshots__/LabResultsFormSection.test.tsx.snap
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/app/universalReporting/universalReporting.scss
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint, stylelint

update gradle to 9.2.0
  backend/Dockerfile.db-liquibase-action
  backend/Dockerfile.prod
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
Due: none

Revert "update gradle to 9.2.0"
  backend/Dockerfile.db-liquibase-action
  backend/Dockerfile.prod
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
Due: none

gradle 8.14.3
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradlew
  backend/gradlew.bat
Due: none

Fix FHS, BHS, phone type, batch date
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7Test.java
Due: spotless

Update batch date and sending app info
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7Test.java
Due: spotless

Remove milliseconds per STLT request
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/DateTimeUtilsTest.java
Due: spotless

Add AIMS testing service
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/AimsController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AimsTestingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/aphl/AimsDeviceSpecimen.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/aphl/AimsJurisdiction.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/aphl/AimsTestingRequestBody.java
Due: spotless

Add bruno for STLT testing
  devtools/bruno/SimpleReport/STLT Testing.bru
  devtools/bruno/SimpleReport/bruno.json
  devtools/bruno/SimpleReport/environments/Local.bru
Due: none

9.2.0
  backend/Dockerfile.db-liquibase-action
  backend/Dockerfile.prod
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
Due: none

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
