Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add spec six
  cypress/e2e/06-self_registration.cy.js
Due: none

remove extra arg
  cypress/e2e/06-self_registration.cy.js
Due: none

Make e2e spec 4 and 5 rerunnable (#7251)
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
  cypress/utils/setup-utils.js
Due: none

feat: Update GHCR cleanup script to delete tagged versions, keep 100 (#7249)
  .github/workflows/ghcrCleanup.yml
Due: none

more mapping functions and convert AOE to observations function
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
Due: spotless

add sexual partner observations to convertToAOEObservations
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

chore(Dockerfile): comment out pgxnclient and postgresql_anonymizer installations
  backend/db-setup/Dockerfile
Due: none

replace eslint-plugin-graphql with @graphql-eslint/eslint-plugin due to deprecation
  frontend/package.json
  frontend/yarn.lock
Due: none

bump the other storybook packages
  frontend/package.json
  frontend/yarn.lock
Due: none

switch cleanup method runs
  cypress/e2e/04-covid_only_tests.cy.js
Due: none

add spec 5 too
  cypress/e2e/05-get_result_from_patient_link.cy.js
Due: none

switch cleanup method in cypress cleanup hook (#7276)
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/05-get_result_from_patient_link.cy.js
Due: none

make spec6 rerunnable (#7153)
  cypress/e2e/06-self_registration.cy.js
Due: none

Default to TestingLab val if no OrderingFacility val for COVID pipeline (#7252)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-no-ordering-facility.csv
Due: spotless

Update to redux 5.0.1
  frontend/package.json
  frontend/yarn.lock
Due: none

Update typing in useSelectedFacility
  frontend/src/app/facilitySelect/useSelectedFacility.ts
Due: prettier, eslint

Define DeepPartial type
  frontend/src/app/Settings/ManageOrganization.test.tsx
Due: prettier, eslint

add testing json file
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/resources/fhir/observationGenderOfSexualPartners.json
Due: spotless

wip, don't judge me
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/ConvertToObservationProps.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/diagnosticReport.json
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-specimenType-loinc.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
Due: spotless

chore(db-setup): remove commented out commands in Dockerfile
  backend/db-setup/Dockerfile
Due: none

Make e2e spec 3 rerunnable
  cypress/cypress.config.js
  cypress/e2e/03-add_devices.cy.js
  cypress/utils/setup-utils.js
  frontend/src/app/Settings/Facility/ManageFacilities.tsx
Due: prettier, eslint

all tests passing
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-comments.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
Due: spotless

Make e2e spec 10 rerunnable
  cypress/e2e/10-support-manage-facility.cy.js
  cypress/utils/setup-utils.js
Due: none

Add cleanup after hook
  cypress/e2e/10-support-manage-facility.cy.js
Due: none

Refactor test for unnecessary api calls
  cypress/e2e/10-support-manage-facility.cy.js
  cypress/utils/setup-utils.js
Due: none

Remove unused imports
  cypress/e2e/10-support-manage-facility.cy.js
Due: none

Make e2e spec 10 rerunnable (#7292)
  cypress/e2e/10-support-manage-facility.cy.js
  cypress/utils/setup-utils.js
Due: none

add after hook for cleanup
  cypress/e2e/03-add_devices.cy.js
Due: none

PR feedback
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

refactor method signature - sonar issue
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

chore(github-actions): update github action versions for local github actions
  .github/actions/build-and-push/action.yml
  .github/actions/build-db-client-container/action.yml
  .github/actions/build-frontend/action.yml
  .github/actions/db-actions/action.yml
  .github/actions/docker-buildx/action.yml
  .github/actions/slack-message/action.yml
  .github/workflows/checkGraphql.yml
  .github/workflows/coverity.yml
  .github/workflows/smokeTestDeployProd.yml
  .github/workflows/test.yml
Due: none

fix: use dynamic path for client tarball in GitHub action
  .github/actions/build-frontend/action.yml
Due: none

chore: upgrade download-artifact action to version 4
  .github/actions/deploy-application/action.yml
Due: none

feat: update Spring Boot web starter and JSON dependencies
  backend/build.gradle
  backend/gradle.lockfile
Due: none

chore: upgrade Spring Boot version and update dependencies
  backend/build.gradle
  backend/gradle.lockfile
Due: none

chore: update project dependencies and their versions
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Update postgres base image to alpine3.17 (#7250)
  backend/db-setup/Dockerfile
Due: none

add observation test
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/observationGenderOfSexualPartners.json
Due: spotless

mapping clean up
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
Due: spotless

change testing vals
  backend/src/test/resources/fhir/observationGenderOfSexualPartners.json
Due: none
