Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      root: "backend/"
      glob: "*.java"
      run: docker run --rm -v ${PWD}:/app/backend prime-simplereport_backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker run --rm -v ${PWD}:/app/frontend prime-simplereport_frontend sh -c "npx prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker run --rm -v ${PWD}:/app/frontend -v $(dirname $PWD)/backend/src/main/resources/graphql:/app/backend/src/main/resources/graphql prime-simplereport_frontend sh -c "npx eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker run --rm -v ${PWD}:/app/frontend prime-simplereport_frontend sh -c "npx stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

clean up some unused changes
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/SmsServiceTest.java
  ops/test/_data.tf
Due: spotless

add debug log
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
Due: spotless

add Twilio properties back
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/TwilioProperties.java
Due: spotless

update application.yaml to read secret
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/TwilioProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
  backend/src/main/resources/application.yaml
Due: spotless

editing modals and test updates
  frontend/cypress/integration/01-organization_sign_up_spec.js
  frontend/src/app/Settings/Users/DeleteUserModal.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizationsContainer.test.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/modals/ConfirmOrgVerificationModal.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
Due: prettier, eslint

add messaging_sid to app_settings
  ops/demo/api.tf
  ops/dev/api.tf
  ops/pentest/api.tf
  ops/prod/api.tf
  ops/stg/api.tf
  ops/test/api.tf
  ops/training/api.tf
Due: none

remove debugging statement
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
Due: spotless

Make some requested changes
  README.md
  backend/Dockerfile.prod
  frontend/.dockerignore
  frontend/.gitignore
Due: none

isolate env vars to e2e job
  .github/actions/run-e2e-checks/action.yml
  .github/workflows/deployDev.yml
  frontend/cypress.json
  frontend/yarn.lock
Due: none

Add node modules to frontend image and use GitHub container registry
  .github/workflows/buildBackendImage.yml
  .github/workflows/buildFrontendImage.yml
  .github/workflows/buildNginxImage.yml
  README.md
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  lefthook.yml
  nginx/Dockerfile
  start.sh
Due: none

Wrong root for spotlessApply in lefthook.yml
  lefthook.yml
Due: none

Remove twilio vars from .env.sample
  .env.sample
Due: none

Remove .yarnrc
  frontend/.gitignore
  frontend/.yarnrc
Due: none

Simplify lefthook.yml
  lefthook.yml
Due: none

Add yarn scripts to root for unit tests in docker
  .gitignore
  README.md
  package.json
Due: none

Add node_modules to .dockerignore; add flag for git discovery in mounted volumes
  docker-compose.yml
  frontend/.dockerignore
Due: none

Fix frontend tests to run in docker
  frontend/src/app/accountCreation/AccountCreationApiService.test.ts
  frontend/src/app/signUp/SignUpApi.test.ts
  frontend/src/patientApp/PxpApiService.test.ts
  lefthook.yml
  package.json
Due: prettier, eslint

fix e2e test selectors
  frontend/cypress/integration/01-organization_sign_up_spec.js
  frontend/src/app/supportAdmin/PendingOrganizations/modals/ConfirmOrgVerificationModal.tsx
Due: prettier, eslint

add supported diseases table and populate it
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

add rollbacks and tags
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

fix some formatting
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Migration - make `report_stream_response.test_event_internal_id` nullable
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

remove audit information from disease table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Change Twilio to use a messaging service instead of from number (#3449)
  backend/src/main/java/gov/cdc/usds/simplereport/config/TwilioDisabledConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/SmsProviderWrapper.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/SmsService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TwilioWrapper.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/sms/SmsServiceTest.java
  ops/demo/_data.tf
  ops/demo/api.tf
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/pentest/_data.tf
  ops/pentest/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
  ops/training/_data.tf
  ops/training/api.tf
Due: spotless

Disable touchpoints for now
  frontend/public/index.html
Due: none

Make `testEventInternalId` optional on ReportStreamCallbackResponse model
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ReportStreamCallbackRequest.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ReportStreamResponse.java
Due: spotless

Disable touchpoints for now (#3471)
  frontend/public/index.html
Due: none

add device-disease join table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

fix pluralization
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

rebase
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

fix one last plural
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Fix workflows with correct contexts
  .github/workflows/buildBackendImage.yml
  .github/workflows/buildFrontendImage.yml
  .github/workflows/buildNginxImage.yml
Due: none

grant nophi user access to device-disease table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

fix syntax on rollback
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

add cascading drops
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none
