Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add browserslist 4.16.5
  frontend/package.json
  frontend/yarn.lock
Due: none

map versions <4.16.5
  frontend/yarn.lock
Due: none

Added landline error handler
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/SmsCallbackController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PhoneNumber.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/SmsStatusCallback.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/PhoneNumberRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TextMessageSentRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusService.java
Due: spotless

dedup caniuse-lite for cleanliness single db
  frontend/yarn.lock
Due: none

Fixed linter check.
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusService.java
Due: spotless

dedup electron-to-chromium
  frontend/yarn.lock
Due: none

add test for null results
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Update HHS Protect links with Calendly (#3746)
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
  frontend/src/app/signUp/Organization/utils.tsx
Due: prettier, eslint

Removes sonar cloud code smell
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/SmsCallbackController.java
Due: spotless

Removes sonar cloud code smell
  backend/src/main/java/gov/cdc/usds/simplereport/service/sms/TextMessageStatusService.java
Due: spotless

Store results in table, without breaking anything this time (#3748)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/AddTestResultResponse.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/SupportedDisease.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/ResultRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestEventRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/TestOrderRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

dedup glob-parent
  frontend/yarn.lock
Due: none

split security config to remove circular dependencies (#3716)
  backend/src/main/java/gov/cdc/usds/simplereport/config/CorsSecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/DevCorsSecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/DevSecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/OktaLocalSecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/SecurityConfiguration.java
Due: spotless

Expose github token for sonar job (#3749)
  .github/workflows/test.yml
Due: none

yarn codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Revert bad merges
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
Due: spotless

All facilities filter on Result page (#3690)
  README.md
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiFacility.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/PermissionHolder.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserPermission.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/FacilityRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/graphql/main.graphqls
  backend/src/main/resources/graphql/wiring.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/OrganizationFacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/UploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  backend/src/test/resources/queries/facilities-query
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testResults/DownloadResultsCsvButton.tsx
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/operations.graphql
  frontend/src/app/utils/index.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Fix getDiseaseByName
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
Due: spotless

Display test detail when clicking patient name on results pg (#3601)
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

Make requested changes
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/DiseaseResult.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Add architecture diagram to README.md
  README.md
  docs/SR_high_level_architecture.png
Due: none

Fix test queries
  backend/src/test/resources/queries/add-test-result-multiplex-mutation
  backend/src/test/resources/queries/edit-queue-item-multiplex
Due: none

Add architecture diagram to README.md (#3754)
  README.md
  docs/SR_high_level_architecture.png
Due: none

minor fixes based on sonarcloud issues findings (#3708)
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/TestEventRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UploadService.java
Due: spotless

dedup to lodash 4.17.21 (#3743)
  frontend/yarn.lock
Due: none

dedup browserslist (#3744)
  frontend/package.json
  frontend/yarn.lock
Due: none

dedup glob-parent (#3751)
  frontend/yarn.lock
Due: none

fix creating a session for every transaction when specifying an access token
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/DemoAuthenticationConfiguration.java
Due: spotless

fix creating a session for every transaction when specifying an access token (#3759)
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/DemoAuthenticationConfiguration.java
Due: spotless

bump minimist@1.2.6
  frontend/package.json
  frontend/yarn.lock
Due: none

dedup immer to 9.0.12
  frontend/yarn.lock
Due: none

Update yarn.lock
  frontend/yarn.lock
Due: none

update azurerm_monitor_scheduled_query_rules_alert.http_2xx_failed_requests to alert based off percentage of failed requests
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

bump minimist@1.2.6 (#3760)
  frontend/package.json
  frontend/yarn.lock
Due: none

make tag and id name the same
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

creating upload page
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/App.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

adding data-hub client
  backend/build.gradle
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataHubClientConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BulkTestResultUpload.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/UploadResponse.java
Due: spotless

test result bulk upload - wip
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BulkTestResultUpload.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/UploadStatus.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/UploadRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/FeedbackMessage.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/UploadResponse.java
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

test result bulk upload - wip
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
Due: spotless
