Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

org form rework
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

use recommended userEvent setup pattern
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.test.tsx
Due: prettier, eslint

fix accessibility violations and refactor tests
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.test.tsx
Due: prettier, eslint

refactor using truss
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.tsx
Due: prettier, eslint

temporarily wrap things in act
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.test.tsx
Due: prettier, eslint

add tests
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.test.tsx
Due: prettier, eslint

scope down unnecessary changes
  frontend/src/app/supportAdmin/ManageFacility/FacilityInformation.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.test.tsx
  frontend/src/app/supportAdmin/ManageFacility/ManageFacility.tsx
Due: prettier, eslint

fix mocks
  frontend/src/app/supportAdmin/ManageFacility/FacilitySelectFilter.test.tsx
Due: prettier, eslint

set notify network status change to true so loading appears when page is actually loading
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint

move gql alias to before each hook
  cypress/e2e/11-support-manage-facility.cy.js
Due: none

switch selector
  cypress/e2e/11-support-manage-facility.cy.js
Due: none

rework e2e to work with combo box
  cypress/e2e/11-support-manage-facility.cy.js
Due: none

Revert "set notify network status change to true so loading appears when page is actually loading"
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint

remove debounce from updating device
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

add a finally
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

remove useless then
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

fix org signup form error focus issue
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

don't fetch loggedInUser
  frontend/src/app/Settings/Users/ManageUsers.tsx
Due: prettier, eslint

always return the next user if the deleted user is at the top of the list.
  frontend/src/app/Settings/Users/ManageUsers.tsx
Due: prettier, eslint

remove logged in user popup and search results on focus out (#6460)
  frontend/src/app/commonComponents/ComponentVisible.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
  frontend/src/app/utils/hooks.tsx
Due: prettier, eslint

Rough implementation of manage user access
  frontend/package.json
  frontend/src/app/Settings/Users/CreateUserForm.tsx
  frontend/src/app/Settings/Users/DeleteUserModal.tsx
  frontend/src/app/Settings/Users/EditUserEmailModal.tsx
  frontend/src/app/Settings/Users/EditUserNameModal.tsx
  frontend/src/app/Settings/Users/ResetUserMfaModal.tsx
  frontend/src/app/Settings/Users/ResetUserPasswordModal.tsx
  frontend/src/app/Settings/Users/UserDetailUtils.tsx
  frontend/src/app/Settings/Users/UserFacilitiesSettings.tsx
  frontend/src/app/Settings/Users/UserInfoTab.tsx
  frontend/src/app/Settings/Users/UserRoleSettingsForm.tsx
  frontend/src/app/commonComponents/Checkboxes.tsx
  frontend/src/app/commonComponents/UserDetails/ReactivateUserModal.tsx
  frontend/src/app/commonComponents/UserDetails/ResendActivationEmailModal.tsx
  frontend/src/app/commonComponents/UserDetails/SpecialStatusNotice.tsx
  frontend/src/app/commonComponents/UserDetails/UndeleteUserModal.tsx
  frontend/src/app/commonComponents/UserDetails/UserHeading.tsx
  frontend/src/app/commonComponents/UserDetails/UserOrganizationFormField.tsx
  frontend/src/app/commonComponents/UserDetails/UserRoleFormField.tsx
  frontend/src/app/supportAdmin/AddOrganizationAdmin/AddOrganizationAdminForm.tsx
  frontend/src/app/supportAdmin/Components/OrganizationComboDropdown.tsx
  frontend/src/app/supportAdmin/ManageFacility/operations.graphql
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/UserAccessTab.tsx
  frontend/src/app/supportAdmin/ManageUsers/operations.graphql
  frontend/src/generated/graphql.tsx
  frontend/src/scss/base/_prime-styles.scss
  frontend/yarn.lock
Due: prettier, eslint, stylelint

removed comment
  frontend/src/app/Settings/Users/UserFacilitiesSettings.tsx
  frontend/src/app/supportAdmin/AddOrganizationAdmin/AddOrganizationAdminForm.tsx
Due: prettier, eslint

add rsv row to supported disease
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Happy path working
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.tsx
  frontend/src/app/supportAdmin/ManageUsers/UserAccessTab.tsx
Due: prettier, eslint

add rsv row to supported disease (#6470)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Fixed admin setup
  frontend/src/app/supportAdmin/ManageUsers/UserAccessTab.tsx
Due: prettier, eslint

naive implementation?
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
Due: spotless

add back in disease get methods
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
Due: spotless

wait for facility queue results to populate
  cypress/e2e/04-conduct_test.cy.js
Due: none

lint and fix tests
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
Due: spotless

replace strings with vars
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
Due: spotless

lint
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
Due: spotless

add comment about when it should be resolved
  cypress/e2e/04-conduct_test.cy.js
Due: none

update lockfile
  backend/gradle.lockfile
Due: none

update FeatureFlagProperties to handle rsv
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
Due: spotless

remove deleted result column from merge
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/BaseTestInfo.java
Due: spotless

fix organizationName
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/OrganizationRepository.java
Due: spotless

pin apache client5 to 5.2.1 until spring 3.1
  backend/build.gradle
  backend/gradle.lockfile
Due: none

fix feature flag properties mock
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
Due: spotless

use google immutablemap
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
Due: spotless
