Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Upgraded react toastify
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/commonComponents/SRToastContainer.scss
  frontend/src/app/commonComponents/__snapshots__/SRToastContainer.test.tsx.snap
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/yarn.lock
Due: prettier, eslint, stylelint

do a full comparison of a patient object
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
Due: spotless

add json ignore on all person methods
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
Due: spotless

refactor static util methods and constants into own class
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
Due: spotless

make unknowns use the null code system
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
Due: spotless

set nullCodeSystem as transiet
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
Due: spotless

Fixed storybook setup
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
Due: prettier, eslint

Fixed eslint check
  frontend/.storybook/main.js
Due: prettier, eslint

Close connection when complete.
  backend/src/test/java/gov/cdc/usds/simplereport/service/ReminderServiceTest.java
Due: spotless

increase total database connections available
  backend/db-setup/db-tuning.sql
  backend/src/test/resources/application-default.yaml
  docker-compose.yml
Due: none

Increase maximum DB connections.
  .github/workflows/test.yml
Due: none

Move options to somewhere else.
  .github/workflows/test.yml
Due: none

Swap PGOPTIONS to command.
  .github/workflows/test.yml
Due: none

Add max_connections in command.
  .github/workflows/test.yml
Due: none

Change command syntax.
  .github/workflows/test.yml
Due: none

Move max_connections.
  .github/workflows/test.yml
Due: none

Do more things.
  .github/workflows/test.yml
  backend/db-setup/reset-db.sql
Due: none

More stuff.
  .github/workflows/test.yml
Due: none

Remove typo. Rin is tired.
  .github/workflows/test.yml
Due: none

Modify db setup scripts as central location for increasing number of connections.
  .github/workflows/test.yml
  backend/db-setup/db-tuning.sql
  docker-compose.yml
Due: none

Add the ALTER SYSTEM call.
  backend/db-setup/reset-db.sql
Due: none

fix human name for null values
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/PersonName.java
Due: spotless

update build wiremock to make individual runs of TestResultUploadServiceTest work
  backend/build.gradle
Due: none

fix birthdate check on person test
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
Due: spotless

Upgraded apollo client
  frontend/package.json
  frontend/yarn.lock
Due: none

deleted backup file
  frontend/package.json.BACKUP
Due: none

Close connection when complete. (#4844)
  backend/src/test/java/gov/cdc/usds/simplereport/service/ReminderServiceTest.java
Due: spotless

Fixed testResultList test file
  frontend/src/app/testResults/TestResultsList.test.tsx
Due: prettier, eslint

fix code smells
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/FhirUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/PersonNameTest.java
Due: spotless

add additional test coverage
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PhoneNumberTest.java
Due: spotless

implement email notification for patient bulk upload
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/email/EmailProviderTemplate.java
  backend/src/main/resources/application-azure-dev5.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/email/EmailServiceTest.java
Due: spotless

move patient into resource folder
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
  backend/src/test/resources/fhir/patient.json
Due: spotless

Fixed e2e spec 06 and refactores error alert logic to make sure it triggers when error information is available.
  cypress/integration/06-organization_settings.js
  frontend/src/app/Settings/Facility/ManageFacilitiesContainer.test.tsx
  frontend/src/app/Settings/ManageOrganization.tsx
Due: prettier, eslint

Fixed eslint formatting
  frontend/src/app/Settings/ManageOrganization.tsx
Due: prettier, eslint

rename fhir utils to mapping constants
  backend/src/main/java/gov/cdc/usds/simplereport/api/MappingConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PersonUtils.java
Due: spotless

displaying correct error when editing a patient with no city
  frontend/src/app/patients/EditPatient.tsx
Due: prettier, eslint

handle 400 errors (#4823)
  ops/dev/main.tf
  ops/dev2/main.tf
  ops/dev3/main.tf
  ops/dev4/main.tf
  ops/dev5/main.tf
  ops/dev6/main.tf
  ops/dev7/main.tf
  ops/prod/main.tf
  ops/services/alerts/app_service_metrics/main.tf
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/test/main.tf
Due: none

Refactored react modal conditional display that is not longer supported
  frontend/package.json
  frontend/src/app/testQueue/AoEForm/AoEModalForm.test.tsx
  frontend/src/app/testQueue/AoEForm/AoEModalForm.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
  frontend/yarn.lock
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
