Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

spotless:
  run: ./gradlew spotlessApply && git add {staged_files}

prettier:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

stylelint:
  run: ./node_modules/.bin/stylelint  --fix {staged_files} && git add {staged_files}

prettier-rs-func:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint-rs-func:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

prettier-test-data-func:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint-test-data-func:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

Enable HL7 queue on lower dev environments
  backend/src/main/resources/application-azure-dev.yaml
  backend/src/main/resources/application-azure-dev2.yaml
  backend/src/main/resources/application-azure-dev3.yaml
  backend/src/main/resources/application-azure-dev4.yaml
  backend/src/main/resources/application-azure-dev5.yaml
  backend/src/main/resources/application-azure-dev6.yaml
Due: none

Fix test after rebase
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Add service test
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingServiceTest.java
Due: spotless

Sonar fix
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingServiceTest.java
Due: spotless

isolate uswds color tokens to file
  frontend/src/app/Settings/Users/ManageUsers.scss
  frontend/src/app/commonComponents/ActionsMenu.scss
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.scss
  frontend/src/app/commonComponents/Pagination.scss
  frontend/src/app/commonComponents/SRToastContainer.scss
  frontend/src/app/commonComponents/SingleFileInput.scss
  frontend/src/app/testQueue/TestTimer.scss
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.scss
  frontend/src/scss/base/_design-system2.scss
  frontend/src/scss/settings/_index.scss
  frontend/src/scss/settings/_prime-variables.scss
  frontend/src/scss/settings/_uswds-theme.scss
  frontend/src/scss/settings/_uswds-tokens.scss
Due: stylelint

Add HL7 queue reporting service
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/TestEventSerializationFailureException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/AzureStorageQueueReportingProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReportToAIMSEventListener.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingServiceTest.java
Due: spotless

Add feature flag for AIMS reporting
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Support sending to both RS and AIMS
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Fix default processing mode code
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingService.java
Due: spotless

Update hl7 queue config to boolean
  backend/src/main/java/gov/cdc/usds/simplereport/properties/AzureStorageQueueReportingProperties.java
Due: spotless

Add trace log for successfully adding to queue
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingService.java
Due: spotless

Update processing mode code default in universal report service
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
Due: spotless

Revert "Fix default processing mode code"
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueHL7ReportingService.java
Due: spotless

Revert "Update processing mode code default in universal report service"
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
Due: spotless

fix self registration tests
  frontend/__mocks__/imageMock.js
  frontend/package.json
  frontend/src/patientApp/selfRegistration/SelfRegistration.test.tsx
Due: prettier, eslint

fix frontend tests
  frontend/__mocks__/imageMock.js
  frontend/package.json
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
  frontend/src/app/commonComponents/USAGovBanner.tsx
  frontend/src/app/commonComponents/__snapshots__/Header.test.tsx.snap
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
  frontend/src/app/testResults/viewResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

add img alt in banner
  frontend/src/app/commonComponents/USAGovBanner.tsx
Due: prettier, eslint

fix colors on patient portal
  frontend/src/patientApp/LanguageToggler.tsx
  frontend/src/patientApp/PatientHeader.scss
  frontend/src/patientApp/PatientHeader.tsx
Due: prettier, eslint, stylelint

update snapshot
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: none

clean up comments
  frontend/public/touchpoints.css
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/commonComponents/USAGovBanner.tsx
  frontend/src/scss/base/_design-system.scss
  frontend/src/scss/base/_prime-styles.scss
Due: prettier, eslint, stylelint

add test for usagovbanner
  frontend/src/app/commonComponents/USAGovBanner.test.tsx
Due: prettier, eslint

comment
  frontend/src/scss/base/_design-system.scss
Due: stylelint

Refactor AIMS uploading
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/AimsUploadException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AimsService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/S3UploadResponse.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

fix: backend/db-setup/Dockerfile to reduce vulnerabilities
  backend/db-setup/Dockerfile
Due: none

Update to Node24
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/package.json
Due: none

rename biological_sex field and make it optional
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  frontend/src/app/testResults/uploads/specificSchemaBuilder.ts
Due: spotless, prettier, eslint

fix backend tests
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
  backend/src/test/resources/patientBulkUpload/alternateValues.csv
  backend/src/test/resources/patientBulkUpload/validRequiredOnly.csv
Due: spotless

fix filevalidator tests
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/emptyRow.csv
  backend/src/test/resources/patientBulkUpload/missingHeaders.csv
Due: spotless

fix patientuploadrowtest
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
Due: spotless

Upgrade Spring Boot from 3.3.6 to 3.4.10
  backend/build.gradle
Due: none

Fix jackson-core 2.18.4 Gradle cache corruption by overriding Jackson BOM to 2.17.2
  backend/build.gradle
Due: none

Upgrade Spring Boot from 3.4.10 to 3.5.6
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Fix Liquibase API compatibility for Spring Boot 3.5.6
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataSourceConfiguration.java
Due: spotless

Fix Liquibase API and Spring Cloud compatibility for Spring Boot 3.5.6
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataSourceConfiguration.java
Due: spotless

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
