Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

remove duplicate invalid format test
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-invalid-format1.csv
  backend/src/test/resources/testResultUpload/test-results-upload-invalid-format2.csv
Due: spotless

Fixed security policy tag
  frontend/vite.config.ts
Due: prettier, eslint

move test result row file validator to top
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
Due: spotless

Fix code lookup page header
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
Due: prettier, eslint

integration test wip
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/DemoAuthenticationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/PatientBulkUploadIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
Due: spotless

add scroll to top for csv doc page and code lookup page
  frontend/src/app/commonComponents/ScrollToTopOnMount.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
Due: prettier, eslint

Update tests
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.test.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.test.tsx
Due: prettier, eslint

fix obsolete snapshot
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/uploads/DeviceLookup/DeviceLookupContainer.test.tsx
Due: prettier, eslint

reverted back react version
  frontend/package.json
  frontend/src/app/VersionService.tsx
  frontend/src/index.tsx
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier, eslint

refactor tests with multiplex additions
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Added preview mode for local development
  frontend/package.json
Due: none

rename the fhir queue again
  ops/dev/main.tf
  ops/dev2/main.tf
  ops/dev3/main.tf
  ops/dev4/main.tf
  ops/dev5/main.tf
  ops/dev6/main.tf
  ops/dev7/main.tf
  ops/prod/main.tf
  ops/test/main.tf
Due: none

Removed a11y rule exceptions from spec 03 (#4754)
  cypress/integration/03-conduct_test_spec.js
Due: none

readd missing test
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Added logic to remove table when no data needs to be presented to the user in pending organizations
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
Due: prettier, eslint

Implemented fix following the pattern in managepatients.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
Due: prettier, eslint

reorder tests and rename tests
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
Due: spotless

Make device lookup card same size as other pages
  frontend/src/app/uploads/DeviceLookup/DeviceLookup.tsx
Due: prettier, eslint

Fix header order (accessibility)
  frontend/src/app/uploads/DeviceLookup/DeviceDetails.tsx
Due: prettier, eslint

make change to get result correction flow working
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

tests still failing, but different fails
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/PatientBulkUploadIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
Due: spotless

fix hardcoded broken links in schema
  frontend/src/app/testResults/uploads/schema.json
Due: none

Oops update snapshot
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: none

add fhir structure dependency
  backend/build.gradle
Due: none

WIP patient
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Person.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonTest.java
Due: spotless

remove public modifier
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

make valid file parameterized test
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
Due: spotless

add indices check on remaining methods
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
Due: spotless

Fixed a11y errors in spec 01 (#4737)
  cypress/integration/01-organization_sign_up_spec.js
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/supportAdmin/Components/OrganizationComboDropdown.tsx
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/TenantDataAccess/TenantDataAccessForm.tsx
Due: prettier, eslint

use only one assert
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

move file row object into model folder
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/fileRow/FileRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/fileRow/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/fileRow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FileValidatorConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

rename package name to follow sonarqube standards
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/FileRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FileValidatorConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/TestResultRowTest.java
Due: spotless

write lock for fhir
  backend/gradle.lockfile
Due: none

add to fhir method
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/PersonName.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/PersonNameTest.java
Due: spotless

add to fhir method with mobile support
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PhoneNumber.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PhoneNumberTest.java
Due: spotless

add landline support
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PhoneNumber.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PhoneNumberTest.java
Due: spotless

add invalid test and reformat
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/PhoneNumber.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PhoneNumberTest.java
Due: spotless

make default creation method more readable
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

tests wip
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/BaseMultiThreadFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/PatientBulkUploadIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
Due: spotless

rename assert function and make it static
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/auxiliary/PersonNameTest.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
