Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Fixed linter error.
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Fixed code smells.
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint

Added feature flag REACT_MULTIPLEX_ENABLED
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
Due: prettier, eslint

Added multiplex flag in frontend test cases for QueueItem
  frontend/src/app/testQueue/QueueItem.test.tsx
Due: prettier, eslint

Add request-specific exclusions.
  ops/services/web_application_firewall/main.tf
Due: none

More specific exclusions.
  ops/services/web_application_firewall/main.tf
Due: none

Terraform format.
  ops/services/web_application_firewall/main.tf
Due: none

Reinstate previous exception list.
  ops/services/web_application_firewall/main.tf
Due: none

Terraform validity corrections.
  ops/services/web_application_firewall/main.tf
Due: none

remove debugging statement
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

start handling multiplex results
  frontend/src/app/testResults/TestResultDetailsModal.tsx
Due: prettier, eslint

add multiplex rows to view details pages
  frontend/src/app/testResults/TestResultDetailsModal.tsx
Due: prettier, eslint

remove indentation on symptom onset row
  frontend/src/app/testResults/TestResultDetailsModal.tsx
Due: prettier, eslint

update tests
  frontend/src/app/testResults/TestResultDetailsModal.test.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/__snapshots__/TestResultDetailsModal.test.tsx.snap
Due: prettier, eslint

regenerate graphql.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

remove unnecessary type assertion
  frontend/src/app/testResults/TestResultDetailsModal.tsx
Due: prettier, eslint

add naive feature flag changes
  frontend/src/app/testResults/TestResultDetailsModal.test.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
Due: prettier, eslint

Turn on multiplex flag
  frontend/.env
Due: none

Content review of contribution guidelines (#3896)
  CONTRIBUTING.md
Due: none

Content review of code of conduct (#3897)
  code-of-conduct.md
Due: none

Add a backfill for removed and corrected test events (#3861)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Add CSV uploader exclusion. Add additional rule exclusion.
  ops/services/web_application_firewall/main.tf
Due: none

Added modifications based on PR feedback.
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
Due: prettier, eslint

Updated label SARS-CoV-2 to COVID-19 in test result card for e2e test
  frontend/cypress/integration/03-conduct_test_spec.js
Due: prettier, eslint

Additional WAF refinements to reduce false positives (#3904)
  ops/services/web_application_firewall/main.tf
Due: none

Fixes UX aligment.
  frontend/src/app/testQueue/QueueItem.scss
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint, stylelint

Fix status in upload list table
  frontend/src/app/testResults/submissions/Submissions.tsx
Due: prettier, eslint

Update GraphQL `Role` enum to include all expected values - namely, TEST_RESULT_UPLOAD_USER
  backend/src/main/resources/graphql/wiring.graphqls
  frontend/src/app/permissions.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

fix corrections for multiplex
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  frontend/.env.development
Due: spotless

remove some code smells from the backend
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

Fixed grid dimensions for tablet vertical.
  frontend/src/app/testQueue/QueueItem.scss
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint, stylelint

Add throttling to the editQueue call.
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

Handled linter errors.
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

additional language mapping
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
Due: spotless

add backend tests for multiplex mutations
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

add documentation section to the checklist
  .github/pull_request_template.md
Due: none

Fixed unit testing and added coverage for the multiplexResultsForm
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
Due: prettier, eslint

fix submissions paging
  frontend/src/app/App.tsx
  frontend/src/app/testResults/submissions/Submissions.tsx
Due: prettier, eslint

oops, missed the unit tests
  frontend/src/app/testResults/submissions/Submission.test.tsx
  frontend/src/app/testResults/submissions/Submissions.test.tsx
Due: prettier, eslint

Make capitalization consistent with other columns
  frontend/src/app/testResults/submissions/Submissions.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
