Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Fix padding, width consistency on results top sub-nav
  frontend/src/app/testResults/ResultsNav.tsx
  frontend/src/app/testResults/ResultsNavWrapper.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/submissions/Submissions.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/CsvUploadGuide.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/scss/PrimeStyles.scss
Due: prettier, eslint, stylelint

snapshots
  frontend/src/app/testResults/__snapshots__/ResultsNav.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: none

Add snapshot test for CsvUploadGuide
  frontend/src/app/testResults/uploads/CsvUploadGuide.test.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvUploadGuide.test.tsx.snap
Due: prettier, eslint

Add snapshot test for CsvSchemaDocumentation component
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.test.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: prettier, eslint

update id field to match label
  frontend/src/app/patients/Components/PersonForm.tsx
Due: prettier, eslint

update id field to match label (#3937)
  frontend/src/app/patients/Components/PersonForm.tsx
Due: prettier, eslint

Update copy for printable multiplex results (#3493)
  frontend/cypress/integration/04-get_result_from_patient_link_spec.js
  frontend/src/app/commonComponents/CovidResultGuidance.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.scss
  frontend/src/app/testResults/TestResultPrintModal.stories.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/TestResultPrintModal.tsx
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/testResults/operations.graphql
  frontend/src/generated/graphql.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/TestResult.scss
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint, stylelint

address comment
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
Due: prettier, eslint

Fix print modal stories
  frontend/src/app/testResults/TestResultPrintModal.stories.tsx
Due: prettier, eslint

Update copy for pxp multiplex results (#3494)
  frontend/src/app/commonComponents/CovidResultGuidance.tsx
  frontend/src/app/commonComponents/MultiplexResultsGuidance.tsx
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/commonComponents/types.d.ts
  frontend/src/app/constants/index.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-add-to-queue.test.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.stories.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/TestResultDetailsModal.test.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.stories.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/TestResultPrintModal.tsx
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/testResults/types.d.ts
  frontend/src/app/utils/testResultCSV.ts
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/TestResult.stories.tsx
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

Add firewall_policy_id to demo.
  ops/demo/main.tf
Due: none

Terraform fmt.
  ops/demo/main.tf
Due: none

Update frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

add optional chaining to TestResultDetailsModal
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.tsx
Due: prettier, eslint

Submission detail view UI changes * add results nav component * update copy and date formatting * remove loading card and use text loading message
  frontend/src/app/App.tsx
  frontend/src/app/testResults/submissions/Submission.tsx
Due: prettier, eslint

Added optional chaining to avoid null pointer exceptions at runtime.
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
  frontend/src/app/utils/testResultCSV.ts
Due: prettier, eslint

Added optional chaining to results details modal to handle null pointer exception.
  frontend/src/app/testResults/TestResultDetailsModal.tsx
Due: prettier, eslint

Apply suggestions from code review
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

Remove upload guide as redundant
  frontend/src/app/App.tsx
  frontend/src/app/testResults/uploads/CsvUploadGuide.test.tsx
  frontend/src/app/testResults/uploads/CsvUploadGuide.tsx
Due: prettier, eslint

Update schema documentation links & title to reflect that it is meant to be a full upload guide
  frontend/src/app/App.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint

Update copy for printable multiplex results (#3493) (#3920)
  frontend/cypress/integration/04-get_result_from_patient_link_spec.js
  frontend/src/app/commonComponents/CovidResultGuidance.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.scss
  frontend/src/app/testResults/TestResultPrintModal.stories.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/TestResultPrintModal.tsx
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/testResults/operations.graphql
  frontend/src/generated/graphql.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/TestResult.scss
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint, stylelint

Update snapshots
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/__snapshots__/CsvUploadGuide.test.tsx.snap
Due: prettier, eslint

Johanna/result table nullpointer fix (#3940)
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
  frontend/src/app/utils/testResultCSV.ts
Due: prettier, eslint

remove some imports that slipped through merge
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/patientApp/PxpApiService.ts
Due: prettier, eslint

update snapshot
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: none

Added copy to manage devices area in adming view.
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

removed bottom margin as bottom component already had it.
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

Change back link copy
  frontend/src/app/testResults/submissions/Submission.tsx
Due: prettier, eslint

Update frontend test
  frontend/src/app/testResults/submissions/Submission.test.tsx
Due: prettier, eslint

Increased top padding for new copy.
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

Added copy to manage devices area in admin view (#3948)
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

Try not switching pages while clearing local storage
  frontend/cypress/integration/08-save_and_start_test_spec.js
Due: prettier, eslint

More fixing navigating during local storage reload
  frontend/cypress/integration/08-save_and_start_test_spec.js
Due: prettier, eslint

Update copy for pxp multiplex results (#3494) (#3924)
  frontend/src/app/commonComponents/CovidResultGuidance.tsx
  frontend/src/app/commonComponents/MultiplexResultsGuidance.tsx
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/commonComponents/types.d.ts
  frontend/src/app/constants/index.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch-add-to-queue.test.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.stories.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
  frontend/src/app/testResults/CovidResultInputForm.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
  frontend/src/app/testResults/TestResultCorrectionModal.test.tsx
  frontend/src/app/testResults/TestResultDetailsModal.test.tsx
  frontend/src/app/testResults/TestResultDetailsModal.tsx
  frontend/src/app/testResults/TestResultPrintModal.stories.tsx
  frontend/src/app/testResults/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/TestResultPrintModal.tsx
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
  frontend/src/app/testResults/types.d.ts
  frontend/src/app/utils/testResultCSV.ts
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/TestResult.stories.tsx
  frontend/src/patientApp/timeOfTest/TestResult.test.tsx
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

Some README changes
  README.md
Due: none

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Due: none

* Added anchor link to "preparing upload" section of CSV guide * Removed the `Updated` line in CSV guide as it is not updated automatically * Bolded the link to the spreadsheet upload guide
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: prettier, eslint

Update frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint

snapshots
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: prettier, eslint

Add period to end of sentence on CSV upload screen; add return link to CSV upload guide
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
Due: prettier, eslint
