Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

rename variables
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderService.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderHelperTest.java
Due: spotless

Add tooltip aria-label in org sign up
  frontend/src/app/commonComponents/TextWithTooltip.scss
  frontend/src/app/commonComponents/TextWithTooltip.tsx
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint, stylelint

add test ordered loinc to device type disease
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceTypeDisease.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

populate test data for test ordered loinc code
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application-e2e.yaml
  backend/src/main/resources/application-okta-local.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderHelperTest.java
  backend/src/test/resources/application-default.yaml
Due: spotless

adding unit tests
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/CsvToFhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/CsvToFhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
Due: spotless

add test ordered loinc to graphql input and type
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/SupportedDiseaseTestPerformedInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

create new device_disease_loinc_code table (#5417)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

add testkit/equipment id to single-entry covid pipeline (#5406)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
Due: spotless

enable test deploys (#5410)
  .github/workflows/deployTest.yml
Due: none

pre-PR cleanup
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/CsvToFhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  frontend/src/app/testResults/uploads/Uploads.test.tsx
  frontend/src/app/testResults/uploads/Uploads.tsx
  frontend/src/fileUploadService/FileUploadService.ts
Due: spotless, prettier, eslint

Revert "add testkit/equipment id to single-entry covid pipeline (#5406)"
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
Due: spotless

Revert "enable test deploys (#5410)"
  .github/workflows/deployTest.yml
Due: none

Revert "create new device_disease_loinc_code table (#5417)"
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

regenerate codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

some more cleanup
  frontend/src/fileUploadService/FileUploadService.test.ts
Due: prettier, eslint

last bit of cleanup hopefully
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

removing todo
  backend/src/main/java/gov/cdc/usds/simplereport/utils/CsvToFhirConverter.java
Due: spotless

Added page titles
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
  frontend/src/app/Settings/Facility/ManageFacilitiesContainer.tsx
  frontend/src/app/Settings/ManageOrganizationContainer.tsx
  frontend/src/app/Settings/ManageSelfRegistrationLinksContainer.tsx
  frontend/src/app/Settings/Settings.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
  frontend/src/app/Settings/Users/UsersSideNav.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

updating requestor
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

updating test until we figure out where the ordering facility goes
  backend/src/test/java/gov/cdc/usds/simplereport/utils/CsvToFhirConverterTest.java
Due: spotless

add effective date to diagnostic report
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/diagnosticReport.json
Due: spotless

uncomment FhirConverterTest
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Added test coverage
  frontend/src/app/Settings/Users/ManageUsersContainer.test.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
Due: prettier, eslint

address sonars feedback
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/SpecimenTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceIntegrationTest.java
Due: spotless

fix imports
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Fixes focus triggering while typing
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
Due: prettier, eslint

reformat json
  backend/src/test/resources/fhir/observationNoAoeAnswer.json
  backend/src/test/resources/fhir/observationNoSymptoms.json
  backend/src/test/resources/fhir/observationSymptomatic.json
Due: none

reformat json cont
  backend/src/test/resources/fhir/bundle.json
Due: none

chaining
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

use loincs for observation id
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

oops update tests
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/observationNoAoeAnswer.json
  backend/src/test/resources/fhir/observationNoSymptoms.json
  backend/src/test/resources/fhir/observationSymptomatic.json
Due: none

add aoe to test data
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Added page titles to settings and dashboard (#5422)
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
  frontend/src/app/Settings/Facility/ManageFacilitiesContainer.tsx
  frontend/src/app/Settings/ManageOrganizationContainer.tsx
  frontend/src/app/Settings/ManageSelfRegistrationLinksContainer.tsx
  frontend/src/app/Settings/Settings.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.test.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
  frontend/src/app/Settings/Users/UsersSideNav.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

Refactor to pass down ref object to inside multiselect
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
Due: prettier, eslint

add effective date to diagnostic report (#5423)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/diagnosticReport.json
Due: spotless

Fixed focus of multiselect on esc
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
Due: prettier, eslint

move loincs to constants
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

Add AoE answers to FHIR bundle (#5411)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/observationNoAoeAnswer.json
  backend/src/test/resources/fhir/observationNoSymptoms.json
  backend/src/test/resources/fhir/observationSymptomatic.json
Due: spotless
