Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Fix dirty state update and test results comparison
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/TestCardFormReducer.tsx
Due: prettier, eslint

Update validation messages
  frontend/src/app/testQueue/TestCard/TestCardForm.tsx
  frontend/src/app/testQueue/TestCard/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCard/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
Due: prettier, eslint

Update tests with timer changes
  frontend/src/app/testQueue/QueueItem.test.tsx
  frontend/src/app/testQueue/TestTimer.test.tsx
Due: prettier, eslint

Move files and use feature flag on submit loader
  frontend/src/app/testQueue/QueueItemSubmitLoader.scss
  frontend/src/app/testQueue/QueueItemSubmitLoader.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/TestCardSubmitLoader.scss
  frontend/src/app/testQueue/TestCard/TestCardSubmitLoader.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.scss
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
Due: prettier, eslint, stylelint

Add required asterisks
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

Prevent patient re-add after page refresh
  frontend/src/app/testQueue/TestQueue.tsx
Due: prettier, eslint

Fix fade out transition on test card
  frontend/src/app/testQueue/TestCard/TestCard.tsx
Due: prettier, eslint

Check for active mutations before updates from backend
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

Remove useMemo on options hooks with complex object dependencies
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
Due: prettier, eslint

WIP test card frontend tests
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
Due: prettier, eslint

Scroll to active patient and update test
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
Due: prettier, eslint

Update test snapshots for new timer
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: none

Update test for handling deleted device
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/constants.ts
Due: prettier, eslint

Revert "Use storysource addon"
  frontend/.storybook/main.js
Due: prettier, eslint

Fix eslint import order
  frontend/src/app/testQueue/QueueItemSubmitLoader.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

fix snap
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application-azure-prod.yaml
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/QueueItem.test.tsx.snap
Due: spotless

fixed frontend test and fixed crash when sysmptomOnSet date was set
  frontend/src/app/commonComponents/TextInput.tsx
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
Due: prettier, eslint

update snapshots
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: none

fix linting
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

address sonar feedback
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/app/testQueue/constants.ts
  frontend/src/app/testResults/CovidResultInputForm.tsx
Due: prettier, eslint

follow up fix
  frontend/src/app/testQueue/constants.ts
Due: prettier, eslint

add MultiplexResultInputGroup tests
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/__snapshots__/MultiplexResultInputGroup.test.tsx.snap
Due: prettier, eslint

add CovidResultInputGroup tests
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/__snapshots__/CovidResultInputGroup.test.tsx.snap
Due: prettier, eslint

clean console.log
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

refactor all userEvents to use the user.setup object in testcard.test.tsx
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
Due: prettier, eslint

added more test coverage
  frontend/package.json
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.test.tsx
Due: prettier, eslint

Hide AOE for flu only devices
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedFlu.ts
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedMultiplex.ts
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
Due: prettier, eslint

disable new test card in e2e and improve testing
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.test.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/__snapshots__/MultiplexResultInputGroup.test.tsx.snap
Due: prettier, eslint

turn off new test card in stg demo training and e2e
  backend/src/main/resources/application-azure-demo.yaml
  backend/src/main/resources/application-azure-stg.yaml
  backend/src/main/resources/application-azure-training.yaml
  backend/src/main/resources/application-e2e.yaml
Due: none

more direct ignore coverage
  frontend/package.json
Due: none

update snapshot
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
Due: none

add more coverage and fix error message logic
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/MultiplexResultInputGroup.tsx
Due: prettier, eslint

add more test coverage
  frontend/src/app/testQueue/TestQueue.test.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint

update snaps
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: none

Revert storybook react-docgen config
  frontend/.storybook/main.js
Due: prettier, eslint

Cleanup comments and unused variables
  frontend/src/app/testQueue/TestCard/TestCard.stories.tsx
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
Due: prettier, eslint

Move modals to individual files
  frontend/src/app/testQueue/TestCard/CloseTestCardModal.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestCardForm/IncompleteAOEWarningModal.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
Due: prettier, eslint

Use covid AOE for devices w/o disease info
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
Due: prettier, eslint

Fix AOE symptoms boolean quote bug
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
Due: prettier, eslint

Fix track AOE test and snapshots
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint
