Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Add `submission_id` column to `upload` and `result_upload_error` tables to correlate errors w overall submissions
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ResultUploadError.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestResultUpload.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless

Update TestResultUpload constructor invocations in BE test files
  backend/src/test/java/gov/cdc/usds/simplereport/api/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

align usa banner to new SR width
  frontend/src/app/commonComponents/USAGovBanner.scss
Due: stylelint

remove cdn tf objects
  ops/demo/main.tf
  ops/prod/main.tf
  ops/stg/main.tf
  ops/training/main.tf
Due: none

Transform zoned datetimes for covid csv pipeline
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/DateTimeUtils.java
Due: spotless

use whoami query to get organization in manage facilities container
  frontend/src/app/Settings/Facility/ManageFacilitiesContainer.test.tsx
  frontend/src/app/Settings/Facility/ManageFacilitiesContainer.tsx
  frontend/src/app/Settings/Facility/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

replace organization query with data retrieved from whoami
  frontend/src/app/Settings/Facility/operations.graphql
  frontend/src/app/Settings/ManageOrganization.test.tsx
  frontend/src/app/Settings/ManageOrganizationContainer.tsx
  frontend/src/app/Settings/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

add assertion to expect to fix codesmell
  frontend/src/app/Settings/ManageOrganization.test.tsx
Due: prettier, eslint

it took me forever to find this
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint

replace form data object with a single object
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
  frontend/src/app/Settings/ManageOrganization.tsx
  frontend/src/app/Settings/ManageOrganizationContainer.tsx
  frontend/src/app/Settings/types.d.ts
Due: prettier, eslint

move admin set organization and set organization mutations into operations.graphql
  frontend/src/app/Settings/ManageOrganization.test.tsx
  frontend/src/app/Settings/ManageOrganizationContainer.tsx
  frontend/src/app/Settings/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

update e2e tests to use whoAmI query
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
Due: none

Use offset datetime string format
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

rename wait for query to match new operation name
  cypress/e2e/07-organization_settings.cy.js
Due: none

use organization
  frontend/src/app/Settings/ManageOrganization.tsx
  frontend/src/app/Settings/ManageOrganizationContainer.tsx
  frontend/src/app/Settings/types.d.ts
Due: prettier, eslint

rename types.d.ts to types.ts
  frontend/src/app/Settings/types.ts
Due: prettier, eslint

adding some tests
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
Due: prettier, eslint

fix codesmell
  frontend/src/app/Settings/types.ts
Due: prettier, eslint

Replace organization query with whoami query (#6109)
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/07-organization_settings.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  frontend/src/app/Settings/Facility/FacilityFormContainer.tsx
  frontend/src/app/Settings/Facility/ManageFacilitiesContainer.test.tsx
  frontend/src/app/Settings/Facility/ManageFacilitiesContainer.tsx
  frontend/src/app/Settings/Facility/operations.graphql
  frontend/src/app/Settings/ManageOrganization.test.tsx
  frontend/src/app/Settings/ManageOrganization.tsx
  frontend/src/app/Settings/ManageOrganizationContainer.tsx
  frontend/src/app/Settings/operations.graphql
  frontend/src/app/Settings/types.ts
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

run codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

update case for preloaded libraries
  ops/services/postgres_db/main.tf
Due: none

Convert result upload error type enum values to snake case
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/ResultUploadErrorSource.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless

replace another place where base organization query was used
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/resources/graphql-test/org-settings-query.graphql
Due: spotless

update case for preloaded libraries (#6111)
  ops/services/postgres_db/main.tf
Due: none

add intellij config for running e2e
  .run/Local e2e.run.xml
  cypress/e2e/07-organization_settings.cy.js
  cypress/package.json
Due: none

clean up
  backend/Dockerfile
  backend/run.sh
  cypress/cypress.config.js
  cypress/e2e.sh
  cypress/e2e/08-account_creation.cy.js
  cypress/package.json
  cypress/support/commands.js
  cypress/support/e2e.js
  lighthouse.sh
Due: none

add config for headless run locally
  .run/e2e local headless.run.xml
  .run/e2e local open.run.xml
  cypress/package.json
  docker-compose.cypress.yml
Due: none

run containers with non root user
  backend/Dockerfile
  frontend/Dockerfile
  wiremock/Dockerfile
Due: none

switch to official wiremock image
  .env.cypress.sample
  .github/workflows/buildFrontendImage.yml
  .github/workflows/buildWiremockImage.yml
  .github/workflows/e2eLocal.yml
  .github/workflows/lighthouse.yml
  .github/workflows/testingWorkflow.yml
  backend/src/main/resources/application-e2e.yaml
  cypress/README.md
  cypress/support/commands.js
  docker-compose.cypress.yml
  docker-compose.yml
  nginx/default.conf
  wiremock/Dockerfile
Due: none

install mkcert from source
  nginx/Dockerfile
  nginx/default.conf
Due: none

revert the wiremock port to 8088
  .env.cypress.sample
  .github/workflows/buildFrontendImage.yml
  .github/workflows/e2eLocal.yml
  backend/src/main/resources/application-e2e.yaml
  cypress/README.md
  cypress/support/commands.js
  docker-compose.yml
  nginx/default.conf
Due: none

add wiremock setting
  docker-compose.yml
Due: none

remove too general exclusions from dockeringmore file
  .dockerignore
  backend/Dockerfile
Due: none

add back wiremock nginc config
  nginx/default.conf
Due: none

revert private flag
  frontend/package.json
Due: none

add require global admin annotation on resendToReportStream and pendingOrganizations
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolver.java
Due: spotless

switch type file back to a module
  frontend/src/app/Settings/types.d.ts
Due: prettier, eslint

add require global admin annotation on markPendingOrganizationAsDeleted and editPendingOrganization
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolver.java
Due: spotless
