Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

woops
  backend/src/main/resources/application-azure-dev2.yaml
Due: none

Handle null timerStartedAt number
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint

Add test order service timer test
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Add test card timer test
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
Due: prettier, eslint

Add queue mutation resolver test
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
Due: spotless

Add null test for test card timer
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
Due: prettier, eslint

Update TestOrderServiceTest
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Fix comment on reset logic
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint

Add illegal gql exception to update test timer
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

fix: upgrade multiple dependencies with Snyk
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: upgrade @apollo/client from 3.8.3 to 3.10.6
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: upgrade i18next from 23.5.1 to 23.11.5
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: upgrade react-router-dom from 6.19.0 to 6.24.0
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: upgrade react-hook-form from 7.45.4 to 7.52.0
  frontend/package.json
  frontend/yarn.lock
Due: none

turn on hiv
  backend/src/main/resources/application-azure-prod.yaml
Due: none

turn on hiv (#7936)
  backend/src/main/resources/application-azure-prod.yaml
Due: none

Update DB on update user name and email
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

bedrock logic
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

update bedrock logic
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

Add timer started at to backend
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
Due: spotless

Ensure single invocation
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Remove explicit truthy cast
  frontend/src/app/testQueue/TestTimer.tsx
Due: prettier, eslint

Synchronize test timers for all users (#7896)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiTestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/TestCard.tsx
  frontend/src/app/testQueue/TestTimer.test.tsx
  frontend/src/app/testQueue/TestTimer.tsx
  frontend/src/app/testQueue/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

clen up logic
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

tidy
  backend/src/main/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtils.java
Due: spotless

removed axios ignore and moved axios and babel-jest under devDependencies
  frontend/package.json
Due: none

Enable sendgrid on dev5
  backend/src/main/resources/application-azure-dev5.yaml
Due: none

refactor guidance
  frontend/src/app/commonComponents/TestResultGuidance/ResultsGuidance.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultDetailsModal.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.tsx
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

Snyk July Review (#7895)
  backend/build.gradle
  backend/gradle.lockfile
  frontend/package.json
  frontend/yarn.lock
Due: none

support Flu A&B copy in result view
  frontend/src/app/commonComponents/TestResultsList.tsx
  frontend/src/app/testResults/constants.ts
  frontend/src/app/utils/testResults.test.ts
  frontend/src/app/utils/testResults.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

don't show 0 if guidance is empty
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.tsx
  frontend/src/patientApp/timeOfTest/TestResult.tsx
Due: prettier, eslint

add test for no guidance
  frontend/src/app/testResults/viewResults/actionMenuModals/TestResultPrintModal.test.tsx
  frontend/src/app/testResults/viewResults/actionMenuModals/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: prettier, eslint

update snapshot
  frontend/src/app/testResults/viewResults/__snapshots__/TestResultsList.test.tsx.snap
Due: none

add tests
  backend/src/test/java/gov/cdc/usds/simplereport/validators/CsvValidatorUtilsTest.java
Due: spotless

added a User to Dockerfile and gave user permissions to complete actions
  .github/workflows/trivy.yml
  ops/services/container_instances/db_client/image/Dockerfile
Due: none

use guidance components instead of functions
  frontend/src/app/utils/testResults.test.tsx
  frontend/src/app/utils/testResults.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
