Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

spotless:
  run: ./gradlew spotlessApply && git add {staged_files}

prettier:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

stylelint:
  run: ./node_modules/.bin/stylelint  --fix {staged_files} && git add {staged_files}

prettier-rs-func:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint-rs-func:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

prettier-test-data-func:
  run: ./node_modules/.bin/prettier  --write {staged_files} && git add {staged_files}

eslint-test-data-func:
  run: ./node_modules/.bin/eslint  --fix {staged_files} && git add {staged_files}

skip to error message
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application.yaml
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: spotless, prettier, eslint

Move import
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

add flag to config
  backend/src/main/resources/application.yaml
Due: none

fix tests
  frontend/src/app/signUp/IdentityVerification/NextSteps.test.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsFormContainer.test.tsx
Due: prettier, eslint

fix test
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

added updated tests to message Processor
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.test.ts
Due: prettier-test-data-func, eslint-test-data-func

linting
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.test.ts
Due: prettier-test-data-func, eslint-test-data-func

Add warning if input date is out of retention range
  frontend/src/app/analytics/Analytics.test.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

fix and add test
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

fix test
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
Due: spotless

renamed tests and linting
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.test.ts
Due: prettier-test-data-func, eslint-test-data-func

disable dataRetentionDisabled flag in prod
  backend/src/main/resources/application.yaml
Due: none

javadoc comment to differentiate display and snomedName
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Condition.java
Due: spotless

removing mock http response
  backend/src/test/java/gov/cdc/usds/simplereport/service/ConditionServiceTest.java
Due: spotless

More distinct condition display names (#9117)
  backend/src/main/java/gov/cdc/usds/simplereport/api/reporting/ConditionController.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Condition.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ConditionService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/service/ConditionServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationInitializingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

wip
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/testResults/viewResults/DownloadResultsCsvButton.tsx
  frontend/src/scss/base/_prime-styles.scss
  frontend/src/scss/settings/_prime-variables.scss
  frontend/src/scss/settings/_uswds-theme.scss
Due: prettier, eslint, stylelint

Support sending to both RS and AIMS
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

Enable HL7 queue on lower dev environments
  backend/src/main/resources/application-azure-dev.yaml
  backend/src/main/resources/application-azure-dev2.yaml
  backend/src/main/resources/application-azure-dev3.yaml
  backend/src/main/resources/application-azure-dev4.yaml
  backend/src/main/resources/application-azure-dev5.yaml
  backend/src/main/resources/application-azure-dev6.yaml
Due: none

Enable AIMS reporting for non-prod
  backend/src/main/resources/application.yaml
Due: none

rename ff to identityVerificationEnabled
  backend/src/main/resources/application.yaml
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

rename flag
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application.yaml
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
Due: spotless, prettier, eslint

fix copy
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
Due: prettier, eslint

Arin/8953 create fxn app (#9079)
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/dev2/_data.tf
  ops/dev2/api.tf
  ops/dev3/_data.tf
  ops/dev3/api.tf
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev5/_data.tf
  ops/dev5/api.tf
  ops/dev6/_data.tf
  ops/dev6/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/hl7utils.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.test.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.test.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/messageProcessor.ts
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/telemetry.ts
  ops/services/app_functions/test_data_publisher/functions/config.ts
  ops/services/app_functions/test_data_publisher/functions/package.json
  ops/services/app_functions/test_data_publisher/functions/yarn.lock
  ops/services/app_functions/test_data_publisher/infra/_data.tf
  ops/services/app_functions/test_data_publisher/infra/main.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
Due: prettier-test-data-func, eslint-test-data-func

fix tests
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
Due: spotless, prettier, eslint

Change copy for patient search on "Report tests" page (#9116)
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application.yaml
  frontend/src/app/testQueue/addToQueue/SearchResults.test.tsx
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
Due: spotless, prettier, eslint

Add Experian feature flag (#9120)
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application.yaml
  frontend/src/app/signUp/IdentityVerification/NextSteps.test.tsx
  frontend/src/app/signUp/IdentityVerification/NextSteps.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsFormContainer.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: spotless, prettier, eslint

Populate XAD-8 for county
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Populate tribal citizenship as text
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Populate callback phone number with provider info
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
Due: spotless

Add validation decorators
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
Due: spotless

Add builders, order id, correction status, ordering facility
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/ProviderReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Convert single entry to HL7
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Add missing sample data code
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/application-okta-local.yaml
Due: none

Add aims processing mode code
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
  backend/src/main/resources/application-azure-prod.yaml
Due: spotless

Update HL7 message order and inferred loinc
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/MultiplexUtils.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

Only populate specimen site if not blank
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Update test details logic
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Update comments about order id
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
Due: spotless

Refactor annotations on input classes
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
Due: spotless

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
