Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

wip
  ops/services/app_gateway/main.tf
Due: none

simplify variants
  frontend/src/app/designSystem/ComboBox/ComboBox.stories.tsx
Due: prettier, eslint

delete commment
  frontend/src/app/designSystem/ComboBox/ComboBox.stories.tsx
Due: prettier, eslint

updated link to download the csv template
  frontend/src/app/testResults/uploads/AgnosticUploadContainer.tsx
Due: prettier, eslint

add genderOfSexualPartners aoe question support to backend
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/AskOnEntrySurvey.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  frontend/src/app/testQueue/AskOnEntryTag.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/patientApp/timeOfTest/constants.ts
Due: spotless, prettier, eslint

add graphql resolver
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultDataResolver.java
Due: spotless

add more test coverage
  backend/src/test/resources/graphql-test/update-time-of-test-questions.graphql
Due: none

update graphql codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

add more test coverage
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/resources/graphql-test/queue-dates-query.graphql
  backend/src/test/resources/graphql-test/update-time-of-test-questions.graphql
Due: spotless

add more coverage
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/resources/graphql-test/test-results-with-count-multiplex-query.graphql
Due: spotless

clean up
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

clean up
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/AskOnEntrySurvey.java
  backend/src/main/resources/application.yaml
Due: spotless

add back lazy loading to test
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
Due: spotless

Updated snapshot
  frontend/src/app/testResults/uploads/__snapshots__/AgnosticUploadContainer.test.tsx.snap
Due: none

add genderOfSexualPartners aoe question support to backend (#6896)
  backend/src/main/java/gov/cdc/usds/simplereport/api/Translators.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/QueueMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/AskOnEntrySurvey.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
  backend/src/test/resources/graphql-test/queue-dates-query.graphql
  backend/src/test/resources/graphql-test/test-results-with-count-multiplex-query.graphql
  backend/src/test/resources/graphql-test/update-time-of-test-questions.graphql
  frontend/src/app/testQueue/AskOnEntryTag.tsx
  frontend/src/app/testQueue/TestQueue.tsx
  frontend/src/generated/graphql.tsx
  frontend/src/patientApp/timeOfTest/constants.ts
Due: spotless, prettier, eslint

Add HIV AOE support
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/addToQueue/operations.graphql
  frontend/src/app/testQueue/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Update tests
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
Due: prettier, eslint

Add conditional logic for HIV AOE
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
Due: prettier, eslint

Remove unused variables
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
Due: prettier, eslint

Update snapshot
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
Due: none

Updated snapshot
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
Due: prettier, eslint

Add tests for TestCardForm.utils
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.test.tsx
Due: prettier, eslint

Send all test events to universal pipeline
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReportTestEventToRSEventListener.java
Due: spotless

add new value to bundle
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
Due: spotless

fix tests
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/bundles-upload-integration-testing.ndjson
  backend/src/test/resources/fhir/specimen.json
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-comments.ndjson
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-flu-only.ndjson
  backend/src/test/resources/testResultUpload/fhir-for-csv-with-specimenType-loinc.ndjson
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.json
  backend/src/test/resources/testResultUpload/test-results-upload-valid-as-fhir.ndjson
Due: spotless

Set bulk results upload default timezone to ordering provider addr
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-dates-no-timezone.csv
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/specificSchemaBuilder.ts
Due: spotless, prettier, eslint

hook up new query wiring
  backend/src/main/java/gov/cdc/usds/simplereport/api/organization/OrganizationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/resources/graphql/admin.graphqls
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

get happy path working
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
Due: spotless

add in error handling for not found cases
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/NonexistentOrgException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
Due: spotless

add tests
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
Due: spotless

lint
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Disable patient bulk upload btn when no file present in Chrome
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

Update tests
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

apply correct behavior for defaults
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

genericize expected list of ids
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
Due: spotless

fix code smell assignment
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

codesmell
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
Due: spotless

Allow covid only for fhir reporting service
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingServiceTest.java
Due: spotless

Set bulk results upload default timezone to ordering provider addr (#6961)
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-dates-no-timezone.csv
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/specificSchemaBuilder.ts
Due: spotless, prettier, eslint
