Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

remove objects.tostring
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

remove toFhir in device specimen type
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenType.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/DeviceSpecimenTypeTest.java
Due: spotless

move corrected status into own helper method
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

remove objects.toString
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

Created util method for focus on error logic
  frontend/src/App.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/accountCreation/MfaPhoneVerify/MfaPhoneVerify.test.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
  frontend/src/app/utils/formValidation.test.tsx
  frontend/src/app/utils/formValidation.ts
Due: prettier, eslint

use test correction status for observation status
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
Due: spotless

remove toFhir method in testEvent for observation
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
Due: spotless

test event to diagnostic report (#4927)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
  backend/src/test/resources/fhir/diagnosticReport.json
Due: spotless

Unpin log4j from manually-selected version. (#4863)
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Removed loading mask check in favor of not adding a delay
  frontend/src/app/patients/AddPatient.test.tsx
Due: prettier, eslint

test order to fhir service request (#4926)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestOrderTest.java
  backend/src/test/resources/fhir/serviceRequest.json
Due: spotless

make phone number type required
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/emptyRow.csv
  backend/src/test/resources/patientBulkUpload/extraColumns.csv
  backend/src/test/resources/patientBulkUpload/invalidValuesAndMissingFieldsInMultipleRows.csv
  backend/src/test/resources/patientBulkUpload/missingOptionalFields.csv
  backend/src/test/resources/patientBulkUpload/missingRequiredFields.csv
  backend/src/test/resources/patientBulkUpload/noPhoneNumberTypes.csv
Due: spotless

update alert to alert if more than 1 percent of requests have errors and we have more than 24
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/main.tf
Due: none

update PatientUploadRowTest
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
Due: spotless

Try absolute paths for cypress plugin functions
  cypress/plugins/index.js
Due: none

update toast copy
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
Due: prettier, eslint

update e2e
  cypress/integration/02-add_patient_spec.js
Due: none

Refactor BaseGraphQlTest into BaseAuthenticatedFullStackTest (#4873)
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseAuthenticatedFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
Due: spotless

Make phone number type required for patient bulk upload (#4944)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/PatientUploadRow.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/PatientUploadRowTest.java
  backend/src/test/resources/patientBulkUpload/emptyRow.csv
  backend/src/test/resources/patientBulkUpload/extraColumns.csv
  backend/src/test/resources/patientBulkUpload/invalidValuesAndMissingFieldsInMultipleRows.csv
  backend/src/test/resources/patientBulkUpload/missingOptionalFields.csv
  backend/src/test/resources/patientBulkUpload/missingRequiredFields.csv
  backend/src/test/resources/patientBulkUpload/noPhoneNumberTypes.csv
Due: spotless

accessibility fix for button links
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

update snapshot
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
Due: none

check demo repository before security context for auth in non-Okta environments
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
Due: spotless

update contains check
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
Due: spotless

add exception for unit tests
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
Due: spotless

fix toast message
  frontend/src/app/testQueue/constants.ts
Due: prettier, eslint

fix style check
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
Due: spotless

update e2e test
  cypress/integration/03-conduct_test_spec.js
Due: none

result to fhir observation (#4924)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
Due: spotless

fix duplicat constant
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
Due: spotless

create dummy fhir reporting service
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/properties/AzureStorageQueueReportingProperties.java
  backend/src/main/resources/application.yaml
Due: spotless

Copy updates for patient bulk upload (#4948)
  cypress/integration/02-add_patient_spec.js
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
Due: prettier, eslint

add fhir reporting service
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingService.java
Due: spotless

Fixed indices not having spaces between commas
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
Due: prettier, eslint

Content fix for result submission toast (#4952)
  cypress/integration/03-conduct_test_spec.js
  frontend/src/app/testQueue/constants.ts
Due: prettier, eslint

device specimen type to fhir (#4906)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/device.json
  backend/src/test/resources/fhir/specimen.json
Due: spotless

Added indices to unit test scenario that checks error table
  frontend/src/app/patients/UploadPatients.test.tsx
Due: prettier, eslint

remove the facility_device_specimen_type table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

remove toFhir from testOrder
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestOrderTest.java
Due: spotless

move toDiagnosticReport out of test event
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
Due: spotless

move createFhirBundle out of test event
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestEvent.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/TestEventTest.java
Due: spotless
