Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

handle archived users with active okta profiles
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

linting
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
  frontend/src/app/signUp/Organization/utils.tsx
Due: prettier, eslint

Address feedback changes
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

Throw helpful err msg when creating user w/ existing email
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  frontend/src/app/Settings/Users/CreateUserForm.tsx
  frontend/src/app/utils/__snapshots__/srGraphQLErrorMessage.test.tsx.snap
  frontend/src/app/utils/srGraphQLErrorMessage.test.tsx
  frontend/src/app/utils/srGraphQLErrorMessage.tsx
Due: spotless, prettier, eslint

fix cypress ally issues (#5177)
  cypress/integration/09-multiplex_testing_spec.js
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeReminderMessage.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: prettier, eslint

change many to one back to default
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceTestPerformedLoincCode.java
Due: spotless

add method to find by device type internal ids
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTestPerformedLoincCodeRepository.java
Due: spotless

test
  cypress/mytest.tmp
Due: none

another test
  cypress/anothertest.tmp
Due: none

add dataloader for device test performed
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderService.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataResolver.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderHelperTest.java
Due: spotless

Remove supported disease field resolver
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetestperformedloinccode/DeviceTestPerformedLoincCodeDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/supporteddisease/SupportedDiseaseDataLoaderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/supporteddisease/SupportedDiseaseDataLoaderServiceTest.java
Due: spotless

update github workflow to build when cypress directory has changes
  .github/workflows/e2eLocal.yml
Due: none

remove test files
  .github/workflows/e2eLocal.yml
  cypress/anothertest.tmp
  cypress/mytest.tmp
Due: none

additional unit tests
  frontend/src/app/signUp/Organization/OrganizationForm.test.tsx
  frontend/src/app/signUp/Organization/UnsupportedStateModal.test.tsx
Due: prettier, eslint

oops
  frontend/src/app/signUp/Organization/UnsupportedStateModal.test.tsx
Due: prettier, eslint

Revert "v1.22.19"
  frontend/package.json
Due: none

Shorten function app prefix.
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
Due: none

add disable to Select
  frontend/src/app/commonComponents/Select.tsx
Due: prettier, eslint

add support disease test performed together on device form
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: prettier, eslint

if supported diseases (old) is found then populate new with that
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: prettier, eslint

if no disease is selected, then assume covid
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
Due: prettier, eslint

on device creation add a disease by default
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
Due: prettier, eslint

add test for delete supported disease row
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
Due: prettier, eslint

rename map to found
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderService.java
Due: spotless

add json ignore to device type
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceTestPerformedLoincCode.java
Due: spotless

fix e2e tests
  cypress/integration/09-multiplex_testing_spec.js
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
Due: prettier, eslint

Johanna/5113 create new function app fhir test events (#5121)
  lefthook.yml
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/function.json
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/rs-response.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

add device test performed loinc code to graphql device (#5139)
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderService.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/SupportedDiseaseTestPerformedInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceTestPerformedLoincCode.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/SupportedDisease.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTestPerformedLoincCodeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderHelperTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
  frontend/src/app/supportAdmin/DeviceType/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Fixed fhir queue name to follow naming convention of current covid queues
  ops/dev/main.tf
  ops/dev2/main.tf
  ops/dev3/main.tf
  ops/dev4/main.tf
  ops/dev5/main.tf
  ops/dev6/main.tf
  ops/dev7/main.tf
  ops/prod/main.tf
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/infra/_var.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/test/main.tf
Due: none

test
  .github/workflows/buildCypressImage.yml
  .github/workflows/e2eLocal.yml
  docker-compose.cypress.yml
Due: none

change device type to UUID
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderService.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceTestPerformedLoincCode.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTestPerformedLoincCodeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeDataLoaderHelperTest.java
Due: spotless

fix e2e tests
  cypress/integration/09-multiplex_testing_spec.js
Due: none

replace map with ifPresent to fix new code smell
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
Due: spotless

Added new env variables for the report stream pipeline token to publish FHIR test events
  ops/demo/_data.tf
  ops/demo/api.tf
  ops/dev/_data.tf
  ops/dev/api.tf
  ops/dev2/_data.tf
  ops/dev2/api.tf
  ops/dev3/_data.tf
  ops/dev3/api.tf
  ops/dev4/_data.tf
  ops/dev4/api.tf
  ops/dev5/_data.tf
  ops/dev5/api.tf
  ops/dev6/_data.tf
  ops/dev6/api.tf
  ops/dev7/_data.tf
  ops/dev7/api.tf
  ops/pentest/_data.tf
  ops/pentest/api.tf
  ops/prod/_data.tf
  ops/prod/api.tf
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
  ops/services/app_functions/report_stream_batched_publisher/infra/_data.tf
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
  ops/stg/_data.tf
  ops/stg/api.tf
  ops/test/_data.tf
  ops/test/api.tf
  ops/training/_data.tf
  ops/training/api.tf
Due: none

remove json ignore and change join column to normal column
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/DeviceTestPerformedLoincCode.java
Due: spotless

set role to button
  frontend/src/app/commonComponents/SingleFileInput.tsx
Due: prettier, eslint

handle archived users with active okta profiles (#5181)
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

Revert "handle archived users with active okta profiles (#5181)"
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

Revert "handle archived users with active okta profiles (#5181)" (#5197)
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

update snapshots
  frontend/src/app/commonComponents/__snapshots__/SingleFileInput.test.tsx.snap
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
Due: none
