Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

clear session on reassign
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Hide RSV from test card in queue (#6545)
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/utils/rsvHelper.test.ts
  frontend/src/app/utils/rsvHelper.ts
Due: prettier, eslint

boban feedback
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
Due: spotless

rename variable
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

WIP: unknown address functioning
  frontend/src/app/constants/constants.d.ts
  frontend/src/app/patients/AddPatient.tsx
  frontend/src/app/patients/Components/ManageEmails.test.tsx
  frontend/src/app/patients/Components/ManagePhoneNumbers.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/EditPatient.tsx
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/patients/personSchema.test.ts
  frontend/src/app/patients/personSchema.ts
Due: prettier, eslint

add user session test
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

upgrade all the storybook packages
  frontend/package.json
  frontend/yarn.lock
Due: none

remove string
  backend/src/main/java/gov/cdc/usds/simplereport/service/DataHubClient.java
Due: spotless

remove querystring dependencies
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/testResults/CleanTestResultsList.tsx
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

lint
  frontend/src/app/patients/EditPatient.test.tsx
Due: prettier, eslint

update react package
  frontend/package.json
  frontend/yarn.lock
Due: none

upgrade all storybook packages to 7.4.2 (#6576)
  frontend/package.json
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/testResults/CleanTestResultsList.tsx
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/yarn.lock
Due: prettier, eslint

fix assertion order
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationQueueServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/email/EmailServiceTest.java
Due: spotless

merge tests together into parameterized test
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
Due: spotless

replace assert size.IsEqualTo with assert hasSize
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

remove public in front of test class
  backend/src/test/java/gov/cdc/usds/simplereport/api/FlexibleDateScalarTypeTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/FeatureFlagTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/model/PatientEmailsHolderTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/MultiplexUtilsTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/OrderingProviderRequiredValidatorTest.java
Due: spotless

remove public qualifer
  backend/src/test/java/gov/cdc/usds/simplereport/SimpleReportApplicationTests.java
Due: spotless

chain assertions
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/PatientLinkRepositoryTest.java
Due: spotless

added unit testing and fixed race condition
  frontend/src/app/commonComponents/UserDetails/UserOrganizationFormField.tsx
  frontend/src/app/supportAdmin/ManageUsers/AdminManageUser.test.tsx
  frontend/src/app/supportAdmin/ManageUsers/operationMocks.ts
Due: prettier, eslint

feat: add ARM support to backend build and test workflows
  .github/actions/build-docker-image/action.yml
  .github/workflows/buildDockerImages.yml
  .github/workflows/testingWorkflow.yml
  backend/Dockerfile
  nginx/Dockerfile
Due: none

refactor: streamline github actions for docker images build
  .github/actions/build-docker-image/action.yml
  .github/workflows/buildDockerImages.yml
  .github/workflows/testingWorkflow.yml
Due: none

feat: update default platforms and remove fallback in matrix for workflows
  .github/workflows/testingWorkflow.yml
Due: none

feat: optimize testing workflow by individualizing change checks based on component
  .github/workflows/testingWorkflow.yml
Due: none

feat: add conditional checks to build docker images workflow
  .github/workflows/buildDockerImages.yml
  .github/workflows/testingWorkflow.yml
Due: none

fix(github-actions): correct platform input parsing in testing workflows
  .github/workflows/testingWorkflow.yml
Due: none

style: normalize use of single quotes in .github/workflows/testingWorkflow.yml
  .github/workflows/testingWorkflow.yml
Due: none

feat: set default build platforms to linux/amd64 in environment variables
  .github/workflows/testingWorkflow.yml
Due: none

feat: update workflow for multi-platform docker builds
  .github/workflows/testingWorkflow.yml
Due: none

fix: correct platform variable reference in GitHub workflow configuration
  .github/workflows/testingWorkflow.yml
Due: none

chore: remove default linux/amd64 build platform from testing workflow
  .github/workflows/testingWorkflow.yml
Due: none

chore: remove individual docker build github workflows
  .github/workflows/buildBackendImage.yml
  .github/workflows/buildCypressImage.yml
  .github/workflows/buildDatabaseImage.yml
  .github/workflows/buildDockerImages.yml
  .github/workflows/buildFrontendImage.yml
  .github/workflows/buildFrontendLighthouseImage.yml
  .github/workflows/buildNginxImage.yml
  .github/workflows/testingWorkflow.yml
Due: none

refactor: simplify GitHub Actions workflow through matrix use and result checking
  .github/workflows/testingWorkflow.yml
Due: none

feat: modify matrix strategy in testing workflow to include platform input
  .github/workflows/testingWorkflow.yml
Due: none

parameterize tests
  backend/src/test/java/gov/cdc/usds/simplereport/api/TranslatorTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/UserAccountCreationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/model/PersonSerializationTest.java
Due: spotless

add rsv to livd table sync (#6544)
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeController.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/SupportedDiseaseTestPerformedInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/DryRunException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceIntegrationTest.java
Due: spotless

Add skeleton structure for returning Results by facility & organization
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/ResultResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

seed new endpoint
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/application.yaml
Due: spotless

add upload type to document title
  frontend/src/app/testResults/uploads/UploadForm.tsx
Due: prettier, eslint

make uploadGuideLocation required
  frontend/src/app/testResults/uploads/AgnosticUploadContainer.tsx
  frontend/src/app/testResults/uploads/UploadForm.tsx
Due: prettier, eslint

Fixed half nested component issues.
  frontend/src/app/commonComponents/Pagination.tsx
  frontend/src/app/commonComponents/StepIndicator.tsx
  frontend/src/app/commonComponents/TextWithTooltip.tsx
  frontend/src/app/patients/AddPatient.tsx
Due: prettier, eslint

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
