Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Annotate TF-managed origins. (#3585)
  ops/prod/persistent/okta.tf
  ops/stg/persistent/okta.tf
Due: none

Add facility name and phone number to date of birth verification page (#3574)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpTestResultUnauthenticatedResponse.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceController.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/ResourceLinks.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  frontend/cypress/integration/04-get_result_from_patient_link_spec.js
  frontend/src/app/commonComponents/DateInput.tsx
  frontend/src/app/utils/date.ts
  frontend/src/app/utils/text.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/PxpApiService.ts
  frontend/src/patientApp/timeOfTest/DOB.test.tsx
  frontend/src/patientApp/timeOfTest/DOB.tsx
Due: spotless, prettier, eslint

add new feature link to app nav
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/__test__/Header.test.tsx
  frontend/src/scss/PrimeStyles.scss
Due: prettier, eslint, stylelint

Add alert for DB connection exhaustion (#3577)
  ops/demo/alerts.tf
  ops/demo/persistent/_output.tf
  ops/dev/alerts.tf
  ops/dev/persistent/_output.tf
  ops/pentest/persistent/_output.tf
  ops/prod/alerts.tf
  ops/prod/persistent/_output.tf
  ops/services/alerts/app_service_metrics/_var.tf
  ops/services/alerts/app_service_metrics/data.tf
  ops/services/alerts/app_service_metrics/database.tf
  ops/services/alerts/app_service_metrics/exceptions.tf
  ops/services/alerts/app_service_metrics/main.tf
  ops/stg/alerts.tf
  ops/stg/persistent/_output.tf
  ops/test/alerts.tf
  ops/test/persistent/_output.tf
  ops/training/alerts.tf
  ops/training/persistent/_output.tf
Due: none

Undo main.graphqls formatting changes
  backend/src/main/resources/graphql/main.graphqls
Due: none

More formatting fixes
  backend/src/main/resources/graphql/main.graphqls
Due: none

Move stg App Service Plan to V3
  ops/stg/api.tf
Due: none

Move stg App Service Plan to V3 (#3589)
  ops/stg/api.tf
Due: none

Revert "Move stg App Service Plan to V3 (#3589)"
  ops/stg/api.tf
Due: none

Fix hard-coding of stg App Service Plan location
  ops/services/app_service/main.tf
  ops/stg/api.tf
Due: none

Fix terraform fmt
  ops/services/app_service/main.tf
Due: none

Add new status properties to exported test events: - Order_result_status - Observation_result_status * This replaces the `Test_order_status` that we currently send to RS
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/TestEventExport.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

Fix hard-coding of stg App Service Plan location (#3592)
  ops/services/app_service/main.tf
  ops/stg/api.tf
Due: none

Change DOB verification screen header
  frontend/src/app/utils/date.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
  frontend/src/patientApp/timeOfTest/DOB.test.tsx
  frontend/src/patientApp/timeOfTest/DOB.tsx
Due: prettier, eslint

Revert App Service Plan changes
  ops/services/app_service/main.tf
  ops/stg/api.tf
Due: none

Revert App Service Plan changes (#3594)
  ops/services/app_service/main.tf
  ops/stg/api.tf
Due: none

Fix e2e tests, translate DOB verification header
  frontend/cypress/integration/04-get_result_from_patient_link_spec.js
  frontend/src/lang/es.ts
Due: prettier, eslint

Update TOS date
  frontend/src/patientApp/timeOfTest/ToS.tsx
Due: prettier, eslint

Update validation error text
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

Put smarty keys back in sample file
  .env.sample
Due: none

Make supported disease field on device type forms actually functional
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDevicesForm.tsx
  frontend/src/app/supportAdmin/DeviceType/operations.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Fix tests
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.test.tsx
  frontend/src/app/supportAdmin/DeviceType/ManageDevicesForm.test.tsx
Due: prettier, eslint

Fix backend tests
  backend/src/main/java/gov/cdc/usds/simplereport/config/InitialSetupProperties.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/DeviceManagementTest.java
  backend/src/test/resources/application-default.yaml
  backend/src/test/resources/queries/supported-disease-query
Due: spotless

Fix backend tests for real
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

add test case to AddPatient auto
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/patients/AddPatient.test.tsx
Due: prettier, eslint

Fix ugly error on ZIP and state fields * when switching from another country back to US, yup surfaces non-user-friendly error about null values if user leaves zip or state empty
  frontend/src/app/patients/Components/PersonForm.tsx
Due: prettier, eslint

Remove stg from CI
  .github/workflows/deployStg.yml
  .github/workflows/terraform_checks.yml
Due: none

Update Spanish error copy * also ran linter
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/generated/graphql.tsx
  frontend/src/lang/es.ts
Due: prettier, eslint

Remove stg from CI (#3608)
  .github/workflows/deployStg.yml
  .github/workflows/terraform_checks.yml
Due: none

Revert unwanted change to generated graphql file
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Increase max width of Results table
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint, stylelint

Update snapshot
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: none

Make suggested changes
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
Due: spotless

clean up linkouts and test
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/__test__/Header.test.tsx
Due: prettier, eslint

Increase max width of Results table (#3612)
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint, stylelint

Remove symptoms column from results table
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint

yarn codegen
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Zip for state validation on patient profile (#3597)
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.tsx
  frontend/src/app/patients/AddPatient.test.tsx
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/utils/smartyStreets.ts
  frontend/src/lang/en.ts
  frontend/src/lang/es.ts
Due: prettier, eslint

refactoring to remove the graphql query from the patient page
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testQueue/QueueItem.tsx
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
Due: prettier, eslint

fixing a bug
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint
