Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

whitespace adjustment
  backend/src/main/resources/application-dev.yaml
  backend/src/main/resources/application.yaml
Due: none

implmenting emma's feedback
  frontend/src/app/testResults/submissions/Submissions.tsx
Due: prettier, eslint

updating dev datahub config
  backend/src/main/resources/application-dev.yaml
Due: none

add csv bulk result permission
  frontend/src/app/App.tsx
  frontend/src/app/permissions.tsx
Due: prettier, eslint

fixed loading indicator causing whole page to flash
  frontend/src/app/testResults/submissions/Submissions.tsx
Due: prettier, eslint

updated test
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
Due: spotless

cleanup
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpVerifyResponseV2.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/auxiliary/SupportedDiseaseTestResult.java
  backend/src/main/resources/application-dev.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

pxp working; adding tests
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/pxp/PxpVerifyResponseV2.java
  backend/src/main/resources/application-dev.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  frontend/src/patientApp/PxpApiService.ts
Due: spotless, prettier, eslint

comment out test
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

Clean up code
  frontend/src/app/testResults/TestResultPrintModal.stories.tsx
Due: prettier, eslint

add bulk results submissions tab (#3859)
  frontend/src/app/App.tsx
  frontend/src/app/permissions.tsx
  frontend/src/app/testResults/submissions/Submissions.stories.tsx
  frontend/src/app/testResults/submissions/Submissions.test.tsx
  frontend/src/app/testResults/submissions/Submissions.tsx
  frontend/src/app/testResults/submissions/operations.graphql
  frontend/src/generated/graphql.tsx
  frontend/src/stories/storyMocks.tsx
Due: prettier, eslint

upgrade to spring 2.6.6
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/src/main/java/gov/cdc/usds/simplereport/api/ApiUserContextHolder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/CurrentOrganizationRolesContextHolder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/CurrentTenantDataAccessContextHolder.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/directives/RequiredPermissionsDirectiveWiring.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlSchemaDirectiveConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/OktaLocalCorsSecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/OktaLocalSecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/SecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/TenantDataAccessFilter.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AddressValidationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TenantDataAccessService.java
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseNonSpringBootTestConfiguration.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/IdentityVerificationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/UserAccountCreationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/AuditLoggingFailuresTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/OrganizationFacilityTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/model/TestEventExportIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/BaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
Due: spotless

update to 2.6.7
  backend/build.gradle
Due: none

revert verbose logging
  backend/build.gradle
Due: none

reverted the open-in-view filter, to be addressed on its own
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/resources/application.yaml
Due: spotless

add dirties context to BaseGraphqlTest
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/resources/application-default.yaml
Due: spotless

trying truncate spring session after each test
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataSourceConfiguration.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/DbTruncator.java
Due: spotless

remove enable_lazy_load_no_trans flag
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/resources/application.yaml
Due: spotless

remove any checksum now that main has the correct migration
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

use PostgreSqlJdbcIndexedSessionRepositoryCustomizer
  backend/build.gradle
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataSourceConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/resources/application.yaml
Due: spotless

remove unused methods
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
Due: spotless

exclude unsafe dependencies
  backend/build.gradle
Due: none

minimizing edit from main
  backend/src/main/java/gov/cdc/usds/simplereport/config/DataSourceConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/OktaLocalCorsSecurityConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/BaseGraphqlTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/DbTruncator.java
  backend/src/test/resources/application-default.yaml
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/DemoAuthenticationConfiguration.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestUserIdentities.java
Due: spotless

set authenticated
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/DemoAuthenticationConfiguration.java
Due: spotless

implmenting sonar code smell feedback
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
Due: spotless

truncate spring session table
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/DbTruncator.java
Due: spotless

set jdbc save mode
  backend/src/main/resources/application.yaml
Due: none

updated dependencies
  backend/build.gradle
Due: none

upgrade to latest spring
  backend/build.gradle
Due: none

fun with Java streams! and making sure that removing a correct test creates the right number of Results
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

multiplex pxp test finally passes
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

update gradle lockfiles
  backend/build.gradle
  backend/gradle.lockfile
  backend/gradle/dependency-locks/compileClasspath.lockfile
  backend/gradle/dependency-locks/runtimeClasspath.lockfile
Due: none

fix test
  backend/src/test/java/gov/cdc/usds/simplereport/api/pxp/PatientExperienceControllerTest.java
Due: spotless

Add debug logging
  frontend/cypress/integration/02-add_patient_spec.js
  frontend/cypress/integration/08-save_and_start_test_spec.js
  frontend/cypress/plugins/index.js
Due: prettier, eslint

Define TestResult type
  frontend/src/app/testResults/TestResultPrintModal.tsx
Due: prettier, eslint

Add timeout for e2e tests
  .github/workflows/e2e.yml
Due: none

Attempt to archive cypress screenshots on timeout
  .github/workflows/e2e.yml
Due: none

Add missing bracket to submissions GraphQL query
  frontend/src/app/testResults/submissions/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint
