Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Added user information and stripped query params from page names.
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Changes access of properties
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Setting account as empty in the user context
  frontend/src/app/ReportingApp.tsx
Due: prettier, eslint

Added appInsights object in dependency array.
  frontend/src/app/ReportingApp.tsx
Due: prettier, eslint

Refactored matching checks to detect page view events
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Removed url clean up as the pages are being tracked correctly
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Added filtering for static files
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Fixed property paths
  frontend/src/app/TelemetryService.ts
Due: prettier, eslint

Track plid in patient experience
  frontend/src/app/TelemetryService.ts
  frontend/src/app/telemetry.test.tsx
  frontend/src/patientApp/PatientApp.test.tsx
  frontend/src/patientApp/PatientApp.tsx
Due: prettier, eslint

Remove pxp tracking event
  frontend/src/patientApp/PatientApp.tsx
Due: prettier, eslint

always build on main
  .github/workflows/buildCypressImage.yml
Due: none

Add org name to pending org action buttons (#5332)
  frontend/src/app/supportAdmin/PendingOrganizations/PendingOrganizations.tsx
Due: prettier, eslint

change form tags in some common components where relevant
  frontend/src/app/commonComponents/Card/Card.tsx
  frontend/src/app/commonComponents/Card/CardLogoHeader.tsx
  frontend/src/app/commonComponents/FormGroup.tsx
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/signUp/IdentityVerification/PersonalDetailsForm.tsx
  frontend/src/app/signUp/IdentityVerification/QuestionsForm.tsx
  frontend/src/app/signUp/Organization/OrganizationForm.tsx
Due: prettier, eslint

update snapshots
  frontend/src/app/patients/__snapshots__/EditPatient.test.tsx.snap
  frontend/src/app/patients/__snapshots__/UploadPatients.test.tsx.snap
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: none

make radio groups not forms by default
  frontend/src/app/accountCreation/MfaSelect/MfaSelect.tsx
  frontend/src/app/commonComponents/RadioGroup.tsx
  frontend/src/app/patients/UploadPatients.tsx
  frontend/src/app/signUp/Organization/SignUpGoals.tsx
Due: prettier, eslint

replace user reset password with userapi reset password
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

remove change to mfa screen?
  frontend/src/app/accountCreation/MfaSelect/MfaSelect.tsx
Due: prettier, eslint

replace user reactivate with userapi reactivate
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

use applicationApi assignGroupToApplication insted of createApplicationGroupAssignment
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

use group api to delete groups
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

add user api to live okta authentication
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthenticationTest.java
Due: spotless

add user factor api getFactor
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthenticationTest.java
Due: spotless

use userFactorApi to get factors instead of from user
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthenticationTest.java
Due: spotless

use new PasswordCredential object
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

use RecoveryQuestionCredential object
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

use new SmsUserFactor
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

update enrollFactor to use userFactorApi
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

instantiate factors using new
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

use userApi to update user
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

use userFactorApi to activate factor
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

remove empty line
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
Due: spotless

replace user status
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

update constructor to remove userAPI and factorAPI
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthenticationTest.java
Due: spotless

exclude sl4j from okta sdk
  backend/build.gradle
  backend/gradle.lockfile
Due: none

remove mock list iterator
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

fix reset UserPassword to use correct method
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
Due: spotless

mock the getId method for deletefacility
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
