Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Fix checkboxes disabled bug
  frontend/src/app/commonComponents/Checkboxes.test.ts
  frontend/src/app/commonComponents/Checkboxes.test.tsx
  frontend/src/app/commonComponents/Checkboxes.tsx
  frontend/src/app/commonComponents/__snapshots__/Checkboxes.test.tsx.snap
Due: prettier, eslint

add adtional values to supportedDiseasesFormData type
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
Due: prettier, eslint

add input fields to front end
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DiseaseInformation.tsx
Due: prettier, eslint

update input field
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DiseaseInformation.tsx
Due: prettier, eslint

set values and update graphQL
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DiseaseInformation.tsx
  frontend/src/app/supportAdmin/DeviceType/operations.graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

update tests
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DiseaseInformation.tsx
Due: prettier, eslint

update snapshots
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
Due: none

assert exception on one method invocation
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
Due: spotless

give ben demo user a valid role
  backend/src/main/resources/application-create-sample-data.yaml
Due: none

use lombok getters and setters when possible
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
Due: spotless

Add separator and styling
  frontend/src/app/Settings/Users/UserInfoTab.scss
  frontend/src/app/Settings/Users/UserInfoTab.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
  frontend/src/app/supportAdmin/Components/SeparatorLine.scss
  frontend/src/app/supportAdmin/Components/SeparatorLine.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DiseaseInformation.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
Due: prettier, eslint, stylelint

put back getter to add override annotation
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
Due: spotless

modified sonar command and and sonar property
  .github/workflows/test.yml
  backend/build.gradle
Due: none

Remove @ts-ignore and type correctly
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
Due: prettier, eslint

Persist role updates and add audit columns to ApiUserRole and ApiUserFacility (#7828)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUserFacility.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUserRole.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
Due: spotless

removed wildcard from property sonar.java.binaries
  backend/build.gradle
Due: none

Fix checkboxes disabled bug (#7831)
  frontend/src/app/commonComponents/Checkboxes.test.ts
  frontend/src/app/commonComponents/Checkboxes.test.tsx
  frontend/src/app/commonComponents/Checkboxes.tsx
  frontend/src/app/commonComponents/__snapshots__/Checkboxes.test.tsx.snap
Due: prettier, eslint

moved wildcard in binaries path
  backend/build.gradle
Due: none

added java to path
  backend/build.gradle
Due: none

turned on sonar verbose and modified java binaries path
  backend/build.gradle
Due: none

Add LOINC description fields on add/edit device page (#7795)
  frontend/src/app/Settings/Users/UserInfoTab.scss
  frontend/src/app/Settings/Users/UserInfoTab.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
  frontend/src/app/supportAdmin/Components/SeparatorLine.scss
  frontend/src/app/supportAdmin/Components/SeparatorLine.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.tsx
  frontend/src/app/supportAdmin/DeviceType/DiseaseInformation.tsx
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceForm.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/DeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/__snapshots__/ManageDeviceTypeFormContainer.test.tsx.snap
  frontend/src/app/supportAdmin/DeviceType/operations.graphql
  frontend/src/app/supportAdmin/ManageUsers/__snapshots__/AdminManageUser.test.tsx.snap
  frontend/src/generated/graphql.tsx
Due: prettier, eslint, stylelint

turned off sonar verbose
  backend/build.gradle
Due: none

Improve smoke testing lower dev deploys (#7706)
  .github/actions/pagerduty-alert/action.yml
  .github/workflows/smokeTestDeployDev.yml
  frontend/deploy-smoke.js
Due: prettier, eslint

add facilities to api user class (#7709)
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/ApiUser.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: spotless

syphilis card support pt 3 (#7674)
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeUtils.test.ts
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeUtils.ts
  frontend/src/app/testQueue/TestCardForm/testUtils/submissionMocks.ts
  frontend/src/app/testQueue/TestCardForm/testUtils/testConstants.ts
  frontend/src/app/testQueue/TestCardForm/utils.ts
Due: prettier, eslint

clean up issue templates (#7723)
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
  .github/ISSUE_TEMPLATE/feature_request_betterdata.md
  .github/ISSUE_TEMPLATE/g-e-ticket.md
Due: none

add new label (#7729)
  .github/ISSUE_TEMPLATE/accessibility.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/dependency_upgrade.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/simplereport--state---status-update-.md
Due: none

Persist auth updates to api_user_facility table (#7703)
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/QueueManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/TestResultTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/organization/OrganizationMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataFactory.java
  backend/src/test/resources/graphql-test/add-user-to-current-org.graphql
Due: spotless

Add OTC CLIA to validator (#7747)
  frontend/src/app/utils/clia.test.ts
  frontend/src/app/utils/clia.ts
Due: prettier, eslint

Add org.owasp.encoder (#7731)
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/api/accountrequest/AccountRequestController.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/idverification/LiveExperianService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
Due: spotless

syphilis card support pt 4 (#7713)
  cypress/e2e/04-covid_only_tests.cy.js
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardFormReducer.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/aoeUtils.ts
  frontend/src/app/testQueue/TestCardForm/testUtils/submissionMocks.ts
  frontend/src/app/testQueue/TestCardForm/testUtils/testConstants.ts
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/patientApp/timeOfTest/constants.test.ts
  frontend/src/patientApp/timeOfTest/constants.ts
Due: prettier, eslint

fix: nginx/Dockerfile to reduce vulnerabilities (#7748)
  nginx/Dockerfile
Due: none

Improve post deploy smoke testing workflows (#7710)
  .github/actions/pagerduty-alert/action.yml
  .github/actions/post-deploy-smoke-test/action.yml
  .github/workflows/deployDev.yml
  .github/workflows/deployProd.yml
  .github/workflows/deployStg.yml
  .github/workflows/smokeTestDeployDev.yml
  .github/workflows/smokeTestDeployProd.yml
  frontend/deploy-smoke.js
Due: prettier, eslint

"Start Test" button should always be available (#7728)
  frontend/src/app/patients/Components/PersonForm.tsx
  frontend/src/app/patients/EditPatient.test.tsx
  frontend/src/app/patients/EditPatient.tsx
Due: prettier, eslint

Bob/7436 syphilis card support pt 5 (#7764)
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.utils.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/testUtils/submissionMocks.ts
  frontend/src/app/testQueue/TestCardForm/testUtils/testConstants.ts
Due: prettier, eslint

Bob and bobby/7768 fix checkbox multiselect bug (#7771)
  cypress/e2e/04-covid_only_tests.cy.js
  frontend/src/app/Settings/Users/UserFacilitiesSettings.tsx
  frontend/src/app/Settings/Users/UserFacilitiesSettingsForm.tsx
  frontend/src/app/commonComponents/Checkboxes.tsx
  frontend/src/app/signUp/Organization/__snapshots__/UnsupportedStateModal.test.tsx.snap
  frontend/src/app/testQueue/TestCard/TestCard.test.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCard/testMocks.ts
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/CovidAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/testUtils/submissionMocks.ts
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
  frontend/src/app/testQueue/addToQueue/SearchResults.tsx
Due: prettier, eslint

Add waiting delay on smoke test (#7770)
  .github/workflows/deployProd.yml
  frontend/deploy-smoke.js
Due: prettier, eslint

Snyk May Review (#7702)
  backend/build.gradle
  backend/gradle.lockfile
Due: none

Add info icon modals to indicate additional context is available (#7765)
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
  frontend/src/app/commonComponents/TextWithTooltipButton.tsx
  frontend/src/app/testQueue/TestCard/__snapshots__/TestCard.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/TestCardForm.test.tsx
  frontend/src/app/testQueue/TestCardForm/TestCardForm.tsx
  frontend/src/app/testQueue/TestCardForm/WhereResultsAreSentModal.tsx
  frontend/src/app/testQueue/TestCardForm/__snapshots__/TestCardForm.test.tsx.snap
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/HIVAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SensitiveTopicsTooltipModal.tsx
  frontend/src/app/testQueue/TestCardForm/diseaseSpecificComponents/SyphilisAoEForm.tsx
  frontend/src/app/testQueue/TestCardForm/testUtils/testConstants.ts
  frontend/src/app/testQueue/__snapshots__/TestQueue.test.tsx.snap
Due: prettier, eslint
