Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint, prettier-rs-func, eslint-rs-func, prettier-test-data-func, eslint-test-data-func

Path conditions:
  spotless: any of: *.java and ^backend/
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
  prettier-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  eslint-rs-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/report_stream_batched_publisher/functions/
  prettier-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/
  eslint-test-data-func: any of: *.{js,ts,jsx,tsx} and ^ops/services/app_functions/test_data_publisher/functions/

moved modal to dashboard page
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

form-data dependency update for synk
  cypress/package.json
  cypress/yarn.lock
  frontend/package.json
  frontend/yarn.lock
  package.json
Due: none

reverted modal
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

lint
  frontend/src/app/analytics/Analytics.tsx
Due: prettier, eslint

move modal to facility with facility selected
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/facilitySelect/WithFacility.tsx
Due: prettier, eslint

remove renamed function tests job
  .github/workflows/test.yml
Due: none

force true added to click actions
  cypress/e2e/01-organization_sign_up.cy.js
  cypress/e2e/02a-bulk_upload_patient.cy.js
  cypress/e2e/02b-add_patient.cy.js
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/07-organization_settings.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  cypress/e2e/10-support-manage-facility.cy.js
Due: none

Revert "force true added to click actions"
  cypress/e2e/01-organization_sign_up.cy.js
  cypress/e2e/02a-bulk_upload_patient.cy.js
  cypress/e2e/02b-add_patient.cy.js
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/04-covid_only_tests.cy.js
  cypress/e2e/07-organization_settings.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  cypress/e2e/10-support-manage-facility.cy.js
Due: none

added logic to handle closing modal to ensure passing tests
  cypress/support/commands.js
  cypress/support/e2e.js
Due: none

don't run modal on cypress tests
  frontend/src/app/commonComponents/DataRetentionModal.tsx
Due: prettier, eslint

remove cypress config changes
  cypress/support/commands.js
  cypress/support/e2e.js
Due: none

Arin/8988 data retention change modal (#9036)
  frontend/src/app/ReportingApp.test.tsx
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.scss
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/commonComponents/DataRetentionModal.scss
  frontend/src/app/commonComponents/DataRetentionModal.test.tsx
  frontend/src/app/commonComponents/DataRetentionModal.tsx
  frontend/src/app/facilitySelect/WithFacility.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/testResults/ResultsNavWrapper.test.tsx
  frontend/src/app/testResults/ResultsNavWrapper.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint, stylelint

remove renamed function tests job (#9055)
  .github/workflows/test.yml
Due: none

Add validation decorators
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
Due: spotless

Add builders, order id, correction status, ordering facility
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/ProviderReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/TestDetailsInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/UniversalReportService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/HL7ConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/FacilityReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/PatientReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/ProviderReportInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/universalreporting/SpecimenInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
Due: spotless

wip
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
Due: spotless

try chromatic job
  frontend/.storybook/main.js
  frontend/package.json
  frontend/yarn.lock
Due: prettier, eslint

Remove generation of the metadata
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

clean up comments
  frontend/.storybook/main.js
Due: prettier, eslint

define mock class
  frontend/src/stories/__mocks__/appInsights.ts
Due: prettier, eslint

bump apollo client addon to compatible version
  frontend/package.json
  frontend/yarn.lock
Due: none

wip
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
Due: spotless

design basically done
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/PatientFormSection.scss
  frontend/src/app/universalReporting/PatientFormSection.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint, stylelint

getting rid of button disabling validation
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/PatientFormSection.tsx
Due: prettier, eslint

temporarily always save Chromatic logs
  .github/workflows/chromatic.yml
Due: none

form-data dependency update for synk (#9046)
  cypress/package.json
  cypress/yarn.lock
  frontend/package.json
  frontend/yarn.lock
  package.json
Due: none

Revert "temporarily always save Chromatic logs"
  .github/workflows/chromatic.yml
Due: none

adding test
  frontend/src/app/universalReporting/LabReportForm.test.tsx
  frontend/src/app/universalReporting/PatientFormSection.tsx
Due: prettier, eslint

cleanup
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/PatientFormSection.tsx
Due: prettier, eslint

updating generated graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

add properties to retention banner custom event
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/commonComponents/DataRetentionModal.tsx
Due: prettier, eslint

update snapshots
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: none

convert file header/batch header segments
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/HL7Converter.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToHL7.java
Due: spotless

design feedback and fixing patientid
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/app/universalReporting/LabReportForm.scss
  frontend/src/app/universalReporting/LabReportForm.tsx
  frontend/src/app/universalReporting/LabReportFormUtils.tsx
  frontend/src/app/universalReporting/PatientFormSection.scss
  frontend/src/app/universalReporting/PatientFormSection.tsx
  frontend/src/app/universalReporting/ReviewFormSection.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint, stylelint

Add properties to data retention banner custom event (#9063)
  frontend/src/app/commonComponents/DataRetentionLimitsBanner.tsx
  frontend/src/app/commonComponents/DataRetentionModal.tsx
  frontend/src/app/testResults/__snapshots__/ResultsNavWrapper.test.tsx.snap
Due: prettier, eslint

added logic to read from s3,parse messageID,format messageName for send
  ops/services/app_functions/test_data_publisher/functions/SendToAIMS/index.ts
  ops/services/app_functions/test_data_publisher/functions/config.ts
Due: prettier-test-data-func, eslint-test-data-func

removing covid pipeline for bulk upload, adjusting tests
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/integration/UploadTestResultsIntegrationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

increased test coverage
  frontend/src/app/universalReporting/LabReportForm.test.tsx
Due: prettier, eslint
