Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

add lombok.config to Dockerfile.prod
  backend/Dockerfile.prod
  backend/lombok.config
Due: none

remove admin check in a few more places
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/patients/Components/AddPatientsHeader.test.tsx
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/patients/ManagePatientsContainer.tsx
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

remove unnecessary 'else' render
  frontend/src/app/patients/ManagePatients.tsx
Due: prettier, eslint

update gradle locks
  backend/gradle.lockfile
Due: none

Added e2e testing for multiplex flows
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/DeviceTypeRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeService.java
  backend/src/main/resources/graphql/admin.graphqls
  cypress/integration/09-multiplex_testing_spec.js
  cypress/utils/graphql-test-utils.js
Due: spotless

added auth headers to cy.requests
  cypress/integration/09-multiplex_testing_spec.js
Due: none

Revert "updating snapshots, whitespace diff"
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: none

add specimen_type_id and device_type_id to test_event_no_phi_view
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Add helper methods for FhirConverterTest to TestDataBuilder (#4981)
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
  backend/src/test/resources/fhir/serviceRequest.json
Due: spotless

add rollback
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

pass loading var from hook call into props
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
Due: prettier, eslint

Added test coverage
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/DeviceManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceTest.java
Due: spotless

changed authorization header
  cypress/integration/09-multiplex_testing_spec.js
Due: none

regenerated graphql.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Enable patient bulk upload (#5051)
  frontend/src/app/ReportingApp.tsx
  frontend/src/app/patients/Components/AddPatientsHeader.test.tsx
  frontend/src/app/patients/Components/AddPatientsHeader.tsx
  frontend/src/app/patients/ManagePatients.test.tsx
  frontend/src/app/patients/ManagePatients.tsx
  frontend/src/app/patients/ManagePatientsContainer.tsx
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

Added cy command to make post requests
  cypress/integration/09-multiplex_testing_spec.js
  cypress/support/commands.js
  cypress/utils/request-utils.js
Due: none

pass loading var from hook call into props (#5059)
  frontend/src/app/testQueue/addToQueue/AddToQueueSearch.tsx
Due: prettier, eslint

nits
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
Due: spotless

try waiting a little longer for the toast
  frontend/src/app/testQueue/QueueItem.test.tsx
Due: prettier, eslint

update logs in async service to include patient count
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

only submit non-covid only events to fhir queue
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/AzureStorageQueueTestEventReportingService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/AzureStorageQueueFhirReportingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/TestDataBuilder.java
Due: spotless

update logs in patient bulk upload async service to include patient count (#5063)
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsync.java
Due: spotless

Removed unused import
  cypress/integration/09-multiplex_testing_spec.js
Due: none

Removed unused dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

Refactored flaky parts of the test
  cypress/integration/09-multiplex_testing_spec.js
Due: none

only log when profile is not prod
  backend/src/main/java/gov/cdc/usds/simplereport/config/AzureTestEventReportingQueueConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/BeanProfiles.java
Due: spotless

fix failing test
  backend/src/test/java/gov/cdc/usds/simplereport/api/testresult/TestResultMutationResolverTest.java
Due: spotless

Refactored logic to account for multiple tests in the queue scenario
  cypress/integration/09-multiplex_testing_spec.js
Due: none

5007/fhir cleanup (#5049)
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConstants.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/converter/FhirConverter.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/converter/FhirConverterTest.java
  backend/src/test/resources/fhir/bundle.json
  backend/src/test/resources/fhir/observationCorrection.json
  backend/src/test/resources/fhir/observationCovid.json
  backend/src/test/resources/fhir/observationFlu.json
  backend/src/test/resources/fhir/organization.json
  backend/src/test/resources/fhir/patient.json
  backend/src/test/resources/fhir/practitioner.json
Due: spotless

use address in data builder
  backend/src/test/java/gov/cdc/usds/simplereport/api/BaseAuthenticatedFullStackTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/FacilityRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/db/repository/PersonRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

add specimen_type_id and device_type_id to test_event_no_phi_view (#5058)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Renamed new cypress variable
  .env.cypress.remote.sample
  .env.cypress.sample
  cypress/.env.e2e.sample
  cypress/utils/request-utils.js
Due: none

Removed unused dependencies (#5066)
  frontend/package.json
  frontend/yarn.lock
Due: none

revert change of local date.parse to include 0 before the month and day
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
Due: spotless

add additional logging about patient bulk upload errors
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/FeedbackMessage.java
Due: spotless

Setup of new cypress variable cypress_backend_url
  .github/workflows/deployTest.yml
  .github/workflows/e2eLocal.yml
  .github/workflows/e2eRemote.yml
  cypress/README.md
  cypress/utils/request-utils.js
  docker-compose.cypress.yml
Due: none

Set variable value as static
  docker-compose.cypress.yml
Due: none

Use Shedlock for account reminder emails (#4891)
  backend/build.gradle
  backend/gradle.lockfile
  backend/src/main/java/gov/cdc/usds/simplereport/SimpleReportApplication.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/ShedlockConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/AdvisoryLockManager.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/OrganizationQueueRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ReminderService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ScheduledTasksService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ReminderServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ScheduledTasksServiceTest.java
Due: spotless

add additional logging about patient bulk upload errors (#5068)
  backend/src/main/java/gov/cdc/usds/simplereport/service/PatientBulkUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/reportstream/FeedbackMessage.java
Due: spotless

update lockfile
  backend/gradle.lockfile
Due: none
