Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

fix bug where results stay underminded after unselected
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

fix bug where results stay underminded after unselected (#5635)
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

move response to bottom of page
  frontend/src/app/supportAdmin/HIVUpload/HivUploadForm.tsx
Due: prettier, eslint

add a PreAuthorize to check feature flag
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
Due: spotless

remove old test
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
Due: spotless

add additional coverage in test
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
Due: spotless

remove $ from error file too large
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

Node version upgraded (#5633)
  ops/services/app_functions/report_stream_batched_publisher/infra/main.tf
Due: none

add test for empty file
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

fix the assertions for error messages
  frontend/src/app/patients/UploadPatients.test.tsx
Due: prettier, eslint

add assertions for error message
  frontend/src/app/patients/UploadPatients.test.tsx
  frontend/src/app/patients/UploadPatients.tsx
Due: prettier, eslint

add condition to use the correct row number if number of columns is wrong
  backend/src/main/java/gov/cdc/usds/simplereport/validators/FileValidator.java
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/missingColumns.csv
Due: spotless

replace collect(Collectors.toList()) with .toList()
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
Due: spotless

admin hiv csv upload and basic endpoint (#5634)
  backend/src/main/java/gov/cdc/usds/simplereport/api/uploads/FileUploadController.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/WebConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/application-prod.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/api/featureflags/FeatureFlagsControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/uploads/FileUploadControllerTest.java
  frontend/src/app/supportAdmin/HIVUpload/HivUploadForm.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/SupportAdminRoutes.tsx
  frontend/src/fileUploadService/FileUploadService.test.ts
  frontend/src/fileUploadService/FileUploadService.ts
Due: spotless, prettier, eslint

update malformed.csv to include an additional row of missing column to remove additional test
  backend/src/test/java/gov/cdc/usds/simplereport/validators/FileValidatorTest.java
  backend/src/test/resources/patientBulkUpload/malformed.csv
  backend/src/test/resources/patientBulkUpload/missingColumns.csv
Due: spotless

move the feature flag to the correct prod config
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-prod.yaml
Due: none

Added unit testing
  backend/src/test/java/gov/cdc/usds/simplereport/SimpleReportApplicationTests.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

move the feature flag to the correct prod config (#5652)
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application-prod.yaml
Due: none

Fixed code smell
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

Fix code smells second attempt
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

switch to assertThrows
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
Due: spotless

make Results table test_order_id nullable
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

remove multiplex results when switching to a non multiplex device
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  frontend/src/app/testQueue/QueueItem.tsx
Due: spotless, prettier, eslint

remove commented out code
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
Due: spotless

fix tests
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

fix corrections workflow
  backend/src/main/java/gov/cdc/usds/simplereport/api/queue/ApiTestOrderDataResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/TestOrder.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ResultRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

fix test removal
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

fixing corrections again
  backend/src/main/java/gov/cdc/usds/simplereport/db/model/Result.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

fix tests
  backend/src/main/resources/application-create-sample-data.yaml
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

revert create sample data profile to prod
  backend/src/main/resources/application-create-sample-data.yaml
Due: none

removed commented out code
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

make Results table test_order_id nullable (#5654)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Added assertions to unit testing (#5653)
  backend/src/test/java/gov/cdc/usds/simplereport/SimpleReportApplicationTests.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

remove ui cached non-covid results when switching to a non multiplex device
  frontend/src/app/testQueue/QueueItem.tsx
Due: prettier, eslint

pull out userStatusText to it's own function
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

fix backward compat bug
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

renamed method for better readability
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
Due: spotless

extract user status and name info
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

pull out userInfo and facility access tab
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint

pull out status text into it's own function
  frontend/src/app/Settings/Users/UserDetail.tsx
Due: prettier, eslint
