Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

spotless:
  run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}

prettier:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}

eslint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}

stylelint:
  run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Remove abbr underline in usa-form-group
  frontend/src/scss/base/_prime-styles.scss
Due: stylelint

Clean up code smells
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
Due: spotless

fix code smell
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
Due: spotless

update comment
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
Due: spotless

Update abbr text decoration override
  frontend/src/scss/base/_prime-styles.scss
Due: stylelint

add frontend changes
  frontend/src/app/Settings/Users/ManageUsersContainer.tsx
  frontend/src/app/Settings/Users/ReactivateUserModal.tsx
Due: prettier, eslint

fix linting warnings
  frontend/src/app/commonComponents/YesNoNotSureRadioGroup.stories.tsx
  frontend/src/stories/DatePicker.stories.tsx
  frontend/src/stories/StepIndicator.stories.tsx
Due: prettier, eslint

Fix failing FE unit tests - Namely, multiselect dropdown could have orphan <li> element in some cases
  frontend/src/app/Settings/Facility/Components/ManageDevices.scss
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint, stylelint

Do not show `no results found` message outside of dropdown body
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

run more linting
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/dataHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/FHIRTestEventReporter/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/QueueBatchedReportStreamUploader/lib.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/ReportStreamExceptionHandler/index.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/queueHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.test.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/reportingHandlers.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/common/types.d.ts
  ops/services/app_functions/report_stream_batched_publisher/functions/config.ts
Due: none

lint
  frontend/src/app/Settings/Users/ReactivateUserModal.tsx
Due: prettier, eslint

lint stories
  frontend/src/app/commonComponents/YesNoNotSureRadioGroup.stories.tsx
  frontend/src/stories/DatePicker.stories.tsx
  frontend/src/stories/StepIndicator.stories.tsx
Due: prettier, eslint

resolution for node-fetch (#6233)
  frontend/package.json
  frontend/yarn.lock
Due: none

update minimatch v3 deps
  frontend/package.json
  frontend/yarn.lock
Due: none

update resolutions
  frontend/package.json
  frontend/yarn.lock
Due: none

fix test
  frontend/src/app/supportAdmin/DeviceType/DeviceForm.test.tsx
Due: prettier, eslint

run codegen
  frontend/yarn.lock
Due: none

First iteration on the manage facility page
  backend/src/main/resources/application-create-sample-data.yaml
  frontend/src/app/supportAdmin/ManageFacility/ManageFacilityContainer.tsx
  frontend/src/app/supportAdmin/ManageFacility/operations.graphql
  frontend/src/app/supportAdmin/PageContainer.tsx
  frontend/src/app/supportAdmin/SupportAdmin.tsx
  frontend/src/app/supportAdmin/SupportAdminRoutes.tsx
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

Fix lint error
  frontend/src/app/supportAdmin/ManageFacility/ManageFacilityContainer.tsx
Due: prettier, eslint

Add annotation to access org
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
Due: spotless

add orgId to testResultsCount query
  backend/src/main/java/gov/cdc/usds/simplereport/api/testresult/TestResultResolver.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

Minor display issues: keep device dropdown column widths fixed regardless of content size
  frontend/src/app/Settings/Facility/Components/ManageDevices.scss
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint, stylelint

add parameter for orgID and call permissions check
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestOrderService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestOrderServiceTest.java
Due: spotless

bugfix for inconclusive flu only test card submissions
  frontend/src/app/testResults/MultiplexResultInputForm.test.tsx
  frontend/src/app/testResults/MultiplexResultInputForm.tsx
Due: prettier, eslint

update json5 to non vulnerable version (#6234)
  ops/services/app_functions/report_stream_batched_publisher/functions/yarn.lock
Due: none

Allow site admins to archive and get patients and counts (#6212)
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/patient/PatientResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/AuthorizationConfiguration.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/authorization/UserAuthorizationVerifier.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/PersonService.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/PatientManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/patient/PatientResolverTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/OrganizationServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PatientBulkUploadServiceAsyncTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/PersonServiceTest.java
  backend/src/test/resources/graphql-test/delete-person.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

add tests
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
  frontend/src/app/Settings/Users/ManageUsersContainer.test.tsx
  frontend/src/app/Settings/Users/ReactivateUserModal.tsx
  frontend/src/app/Settings/Users/__snapshots__/ManageUsersContainer.test.tsx.snap
Due: prettier, eslint

add clone deep
  frontend/src/app/Settings/Users/ManageUsers.test.tsx
Due: prettier, eslint

Johanna/6158 retrieve user by email (#6199)
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/User.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/OktaAccountUserException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/RestrictedAccessUserException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ApiUserRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/PartialOktaUser.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/UserInfo.java
  backend/src/main/resources/graphql/main.graphqls
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/resources/graphql-test/user-query.graphql
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

lint
  frontend/src/app/Settings/Users/ManageUsersContainer.test.tsx
Due: prettier, eslint

graphql
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

add margin between description lines
  frontend/src/app/testResults/uploads/CsvSchemaDocumentation.tsx
Due: prettier, eslint

flip race values and text
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

update tests
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: none

more formatting changes
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

update the bulk uploader guide
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: prettier, eslint

update frontend snapshot
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
Due: none

Snapshots (had wrong local Node version)
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: none

Path conditions:
  spotless: any of: *.java
  prettier: any of: *.{js,ts,jsx,tsx} and ^frontend/
  eslint: any of: *.{js,ts,jsx,tsx} and ^frontend/
  stylelint: any of: *.scss and ^frontend/
