Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

Revert "Revert "upgrade storybook react""
  frontend/package.json
  frontend/yarn.lock
Due: none

Revert "Revert "Revert "upgrade storybook react"""
  frontend/package.json
  frontend/yarn.lock
Due: none

update several storybook packages
  frontend/package.json
  frontend/yarn.lock
Due: none

Added some test coverage
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

Added unit testing for successful scenario
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

missed one more string
  cypress/e2e/03-add_devices.cy.js
Due: none

Add Metabase user read access to result_upload_error table (#6155)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Fix card display in device mgmt dropdown
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

Added unit tesitng
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/resources/graphql-test/user-by-email-query.graphql
Due: spotless

adding test ordered code to bulk upload api (#6166)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhirTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-all-fields.csv
  backend/src/test/resources/testResultUpload/test-results-upload-aoe.csv
  backend/src/test/resources/testResultUpload/test-results-upload-valid.csv
  frontend/src/app/testResults/uploads/__snapshots__/CsvSchemaDocumentation.test.tsx.snap
  frontend/src/app/testResults/uploads/schemaBuilder.ts
Due: spotless, prettier, eslint

addess sonar feedback
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/EmptyCsvException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

add support to flu only files
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/EmptyCsvException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
Due: spotless

filter out non-covid results from bulk uploader csv
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-flu-results.csv
Due: spotless

cleanup EmptyCsvException
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/EmptyCsvException.java
Due: spotless

correct test file
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-flu-results.csv
Due: none

fix isDeleted field resolver to use keyword 'get'
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiFacility.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/OrganizationFacilityTest.java
Due: spotless

uprgade storybook react to 7
  frontend/package.json
  frontend/yarn.lock
Due: none

switch facility titles back and use ampersand
  cypress/e2e/03-add_devices.cy.js
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/supportAdmin/pageTitles.ts
Due: prettier, eslint

snapshot update
  frontend/src/app/supportAdmin/__snapshots__/SupportAdmin.test.tsx.snap
Due: none

Added unit testing
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
  backend/src/test/resources/graphql-test/user-by-email-query.graphql
  backend/src/test/resources/graphql-test/user-query.graphql
Due: spotless

Added more unit test
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/ApiUserManagementTest.java
  backend/src/test/resources/graphql-test/user-query.graphql
Due: spotless

address sonar feedback
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
Due: spotless

fix isDeleted field resolver to use keyword 'get' (#6210)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiFacility.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/graphql/OrganizationFacilityTest.java
Due: spotless

Do not open device management dropdown on click - too big!
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

Adding device management dropdown item removes element from dropdown list
  frontend/src/app/commonComponents/MultiSelect/MultiSelect.tsx
Due: prettier, eslint

build out method and resolver endpoints
  backend/src/main/java/gov/cdc/usds/simplereport/api/apiuser/UserMutationResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: spotless, prettier, eslint

filter out non-covid results from bulk uploader csv (#6192)
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/EmptyCsvException.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/filerow/TestResultRow.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/java/gov/cdc/usds/simplereport/utils/BulkUploadResultsToFhir.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ResultsUploaderCachingServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/TestResultUploadServiceTest.java
  backend/src/test/resources/testResultUpload/test-results-upload-valid-with-flu-results.csv
Due: spotless

saving all results and setting a db tag for the migration
  backend/src/main/java/gov/cdc/usds/simplereport/service/TestResultUploadService.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/resources/responses/datahub-error-response.json
Due: spotless

Added logic to fix searching by email regardless of letter case and adding oktaAccountException when user does not belong to any groups.
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/OktaAccountUserException.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/GraphQlConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/db/repository/ApiUserRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

Fiddle-faddle with some unit tests
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/FacilityForm.test.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/supportAdmin/DeviceType/types.d.ts
  frontend/src/app/testResults/__snapshots__/TestResultPrintModal.test.tsx.snap
Due: prettier, eslint

Un-comment code removed for testing
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

Oops, linter took an out import I needed...
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
Due: prettier, eslint

service tests
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

mark as deprecated
  backend/src/main/resources/graphql/main.graphqls
Due: none

codegen after deprecation flag
  backend/src/main/resources/graphql/main.graphqls
  frontend/src/generated/graphql.tsx
Due: prettier, eslint

fix import
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

typo
  backend/src/main/resources/graphql/main.graphqls
Due: none

remove empty semi
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

extra line
  frontend/src/generated/graphql.tsx
Due: prettier, eslint
