Repository CDCgov/prime-simplereport: changes, and which lefthook commands are due for each by the changed paths.
All: spotless, prettier, eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    spotless:
      glob: "*.java"
      run: docker compose run --rm backend sh -c "gradle spotlessApply" && git add {staged_files}
    prettier:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/prettier --config /app/frontend/package.json --write {staged_files}" && git add {staged_files}
    eslint:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/eslint --config /app/frontend/package.json --resolve-plugins-relative-to /app/frontend --fix {staged_files}" && git add {staged_files}
    stylelint:
      root: "frontend/"
      glob: "*.scss"
      run: docker compose -f ../docker-compose.yml run --rm frontend sh -c "/app/frontend/node_modules/.bin/stylelint --config /app/frontend/.stylelintrc.json --config-basedir /app/frontend --fix {staged_files}" && git add {staged_files}

move results count outside of h1
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint, stylelint

remove extra letter
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint

follow the pattern done in #5908
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
Due: prettier, eslint, stylelint

update snapshot
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: none

install prettier and run it
  cypress/.eslintrc.json
  cypress/README.md
  cypress/cypress.config.js
  cypress/e2e/01-organization_sign_up.cy.js
  cypress/e2e/02-add_patient.cy.js
  cypress/e2e/02b-bulk_upload_patient.cy.js
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/04-conduct_test.cy.js
  cypress/e2e/06-self_registration.cy.js
  cypress/e2e/07-organization_settings.cy.js
  cypress/e2e/08-account_creation.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  cypress/e2e/10-save_and_start_covid_test.cy.js
  cypress/e2e/11-support-manage-facility.cy.js
  cypress/package.json
  cypress/support/commands.js
  cypress/support/e2e.js
  cypress/utils/graphql-test-utils.js
  cypress/utils/request-utils.js
  cypress/utils/testing-data-utils.js
  cypress/yarn.lock
Due: none

add caching and RSV to the disease service (#6472)
  backend/src/main/java/gov/cdc/usds/simplereport/api/supporteddisease/SupportedDiseaseResolver.java
  backend/src/main/java/gov/cdc/usds/simplereport/config/CachingConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseCacheService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DiseaseService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseCacheServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DiseaseServiceTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/test_util/SliceTestConfiguration.java
  frontend/src/app/supportAdmin/DeviceType/ManageDeviceTypeFormContainer.tsx
Due: spotless, prettier, eslint

Remove test result count from header (#6508)
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
Due: prettier, eslint, stylelint

replace okta's model imports
  backend/src/main/java/gov/cdc/usds/simplereport/api/accountrequest/IdentityVerificationController.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/ApiUserWithStatus.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/User.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/DemoOktaAuthentication.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthentication.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaConfig.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/OktaRepository.java
  backend/src/main/java/gov/cdc/usds/simplereport/idp/repository/PartialOktaUser.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/ApiUserService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/OrganizationInitializingService.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/model/UserInfo.java
  backend/src/test/java/gov/cdc/usds/simplereport/api/IdentityVerificationControllerTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/DemoOktaAuthenticationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/authentication/LiveOktaAuthenticationTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/DemoOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/idp/repository/LiveOktaRepositoryTest.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/ApiUserServiceTest.java
Due: spotless

use same variable for both sdk-api and sdk-impl
  backend/build.gradle
  backend/gradle.lockfile
Due: none

install prettier and run it (#6509)
  cypress/.eslintrc.json
  cypress/README.md
  cypress/cypress.config.js
  cypress/e2e/01-organization_sign_up.cy.js
  cypress/e2e/02-add_patient.cy.js
  cypress/e2e/02b-bulk_upload_patient.cy.js
  cypress/e2e/03-add_devices.cy.js
  cypress/e2e/04-conduct_test.cy.js
  cypress/e2e/06-self_registration.cy.js
  cypress/e2e/07-organization_settings.cy.js
  cypress/e2e/08-account_creation.cy.js
  cypress/e2e/09-multiplex_testing.cy.js
  cypress/e2e/10-save_and_start_covid_test.cy.js
  cypress/e2e/11-support-manage-facility.cy.js
  cypress/package.json
  cypress/support/commands.js
  cypress/support/e2e.js
  cypress/utils/graphql-test-utils.js
  cypress/utils/request-utils.js
  cypress/utils/testing-data-utils.js
  cypress/yarn.lock
Due: none

remove unnecessary import
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.test.tsx
Due: prettier, eslint

everything else
  frontend/src/app/commonComponents/ComboBox.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientFilters.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/testUtils.ts
Due: prettier, eslint

remove debug log
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.tsx
Due: prettier, eslint

add better expect to helper method
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.tsx
Due: prettier, eslint

move some stuff around
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientFilters.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/testUtils.ts
Due: prettier, eslint

tweak import setup
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.test.tsx
Due: prettier, eslint

review tweaks
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientFilters.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.tsx
Due: prettier, eslint

add missing query loading check
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.tsx
Due: prettier, eslint

Refactor results table - each multiplex result on own row (#6494)
  frontend/src/app/testResults/TestResultsList.scss
  frontend/src/app/testResults/TestResultsList.test.tsx
  frontend/src/app/testResults/TestResultsList.tsx
  frontend/src/app/testResults/__snapshots__/TestResultsList.test.tsx.snap
  frontend/src/app/testResults/resultsTable/ResultsTable.test.tsx
  frontend/src/app/testResults/resultsTable/ResultsTable.tsx
  frontend/src/app/testResults/types.d.ts
Due: prettier, eslint, stylelint

Facility device management multiselect fixes (#6507)
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/commonComponents/MultiSelect/MultiSelectDropdown/MultiSelectDropdown.tsx
  frontend/src/app/uploads/DeviceLookup/DeviceSearchResults.tsx
Due: prettier, eslint

move mock check after element
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.tsx
Due: prettier, eslint

add backend rsv feature flag
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
  backend/src/main/resources/application-azure-prod.yaml
  backend/src/main/resources/application.yaml
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: spotless, prettier, eslint

add test
  frontend/src/app/Settings/Facility/Components/ManageDevices.test.tsx
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
  frontend/src/app/Settings/Facility/Components/RSVFiltering.test.ts
  frontend/src/app/supportAdmin/DeviceType/mocks/mockSupportedDiseaseTestPerformedCovid.ts
Due: prettier, eslint

lint
  backend/src/main/java/gov/cdc/usds/simplereport/config/FeatureFlagsConfig.java
Due: spotless

add null check
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

lint
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

fix sonar suggestion
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

Fix nav header accessibility issues
  frontend/src/app/commonComponents/ChangeUser.tsx
  frontend/src/app/commonComponents/Dropdown.tsx
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/commonComponents/Header.test.tsx
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/__snapshots__/Header.test.tsx.snap
Due: prettier, eslint, stylelint

Bob/6393 replace unarchive dropdowns with combos (#6504)
  frontend/src/app/commonComponents/ComboBox.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatient.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientFilters.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientFilters.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.test.tsx
  frontend/src/app/supportAdmin/UnarchivePatients/UnarchivePatientInformation.tsx
Due: prettier, eslint

add notes to person table
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none

Fix nav header accessibility issues (#6538)
  frontend/src/app/commonComponents/ChangeUser.tsx
  frontend/src/app/commonComponents/Dropdown.tsx
  frontend/src/app/commonComponents/Header.scss
  frontend/src/app/commonComponents/Header.test.tsx
  frontend/src/app/commonComponents/Header.tsx
  frontend/src/app/commonComponents/__snapshots__/Header.test.tsx.snap
Due: prettier, eslint, stylelint

remove redundant case
  backend/src/main/resources/application.yaml
  frontend/src/app/Settings/Facility/Components/ManageDevices.tsx
Due: prettier, eslint

add toString to types used during sync
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/CreateDeviceType.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/SupportedDiseaseTestPerformedInput.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/UpdateDeviceType.java
Due: spotless

add dry run to sync
  backend/src/main/java/gov/cdc/usds/simplereport/api/devicetype/DeviceTypeController.java
  backend/src/main/java/gov/cdc/usds/simplereport/api/model/errors/DryRunException.java
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceIntegrationTest.java
Due: spotless

add rsv to sync
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
  backend/src/test/java/gov/cdc/usds/simplereport/service/DeviceTypeServiceIntegrationTest.java
Due: spotless

refactor syncDevice to own method
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
Due: spotless

refactor createDevice to own method
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
Due: spotless

refactor additional method to add to specimenIdsByDevice
  backend/src/main/java/gov/cdc/usds/simplereport/service/DeviceTypeSyncService.java
Due: spotless

add notes to person table (#6540)
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Due: none
